[2018-06-22 22:54] #1062 closed

[2018-06-22 22:54] gkasprow commented on #1065
It's quite possible i.e. due to amount of SSO (simultaneously switching outputs) that at certain moment there is voltage peak on one of the supply rails, clock signal, termination voltage, etc.
So triggering in precise time would help a lot to track down the reason of this crash.

[2018-06-22 22:56] mfe5003 commented on #1078
I rolled back the artiq package to match the kasli-master gateware and I can now read/write to the device.
For reference I just had to run:
`conda install artiq=4.0.dev=805+gitd0f6123f`
where 805+gitd0f6123f is the build string for the gateware.

Thanks for the hand holding while I get started. Hopefully with a basic working system I can figure out my own problems in the future.

[2018-06-22 22:58] hartytp commented on #1065
A fourth crash log: https://hastebin.com/qikexuguwu.go

Crash disassembly
[code]

runtime
[code]

So, same again.

[2018-06-22 22:59] hartytp commented on #1065
@gkasprow okay, what I'm seeing looks deterministic. So, you can take the fork of ARTIQ I linked to above and flash that, as well as the startup Kernel I posted. Check that you see the same crashes as me. Then add a line in ARTIQ that pulses a TTL before each mem test. That gives you your trigger.

[2018-06-22 22:59] whitequark commented on #1065
But you don't crash in the same place. You provided four crash logs, and there are three different crash addresses in them. Yes, they are on the same *bit*, but that's just because of the illegal instruction encodings in or1k.

[2018-06-22 23:00] whitequark commented on #1065
@gkasprow Are you able to trigger on arbitrary DRAM read and observe data?

[2018-06-22 23:05] gkasprow commented on #1065
This is tricky, but I can use i.e. SDRAM read signal as a trigger but cannot say which address is currently being written. I have only four 1GHz active probes and one 5GHz active probe. And the scope has only 4 inputs. I have also logic analyzers but connecting the probes would kill the SI.
 I can touch the data line as well. Can you generate a sequence of isolated writes and reads which cause tro

[2018-06-22 23:05] hartytp commented on #1065
So, before it crashes, I do 28 successful mem tests (ignoring the ones during boot). That's about 2 million reads + writes to RAM. The fact that we observe 0 errors during that time shows that this corruption must be a very low probability event. If it's due to noise then I would expect it to follow a normal distribution (unless it's strongly correlated with what the microprocessor is doing). So,

[2018-06-22 23:06] gkasprow commented on #1065
I can generate trigger based on sequence of input signals, but this is still not enough to isolate certain address read/write. For this purpose I'd need some logic that toggles IO line.

[2018-06-22 23:10] gkasprow commented on #1065
@hartytp does the memory test use walking zero/walking 1, 0xAA/0x55 or some random sequences?
Writing and reading consecutive numbers does not test the memory sufficiently.
Is memory cell reading executed just after write or in another memory access cycle ?

[2018-06-23 00:37] #1056 closed

[2018-06-23 00:51] #1078 closed

[2018-06-23 00:56] #1079 closed

[2018-06-23 01:00] sbourdeauducq commented on #1065
@gkasprow
1. Are you able to reproduce the crashes on your board?
2. What was the FPGA doing when you tested the supplies?

[2018-06-23 01:15] sbourdeauducq commented on #1080
Have you tried ``--without-sawg``? I suspect that the corruption runs deeper than just the SDRAM.

[2018-06-23 04:14] sbourdeauducq commented on #1065
Here's another tool:
https://gist.github.com/sbourdeauducq/97b19e164e653a3ea0b96fd83468e160
Still, I couldn't find any smoking guns. Either the CRC remains constant, or the board crashes all of a sudden (from the crash-kernel).

[2018-06-23 06:06] sbourdeauducq commented on #1065
I did get one memory corruption event reported while running the crash-kernel, by running the CRC in a loop (no 1s delay) and with 1/10 the size, so that it runs faster and it increases the chance of catching an error before the board freezes.
[code]
[hangs]
Cannot see any CRC errors without running the crash-kernel.

[2018-06-23 07:01] hartytp commented on #1080
Okay. I'll try that and your blinker next to see if we can find some issue with a simpler logic block that we can focus on instead of debugging complex jesd/memory issues.

[2018-06-23 07:04] sbourdeauducq commented on #998
The Sayma DRTIO master, after adding SAWG/JESD, now also exhibits this bug.
Is the correlation with #1065 only a coincidence?

[2018-06-23 07:07] hartytp commented on #1065
Okay. Next steps imho are to move the sawg onto a separate CD with reset controlled by a kernel csr. Will then see if enabling/disabling it during the kernel fixes the issue.

Otherwise will look at the blinker test.

[2018-06-23 07:08] hartytp commented on #1065
Final test I can think if would be to try reproducing this without the rtm...

[2018-06-23 07:31] sbourdeauducq commented on #998
Reverting commit 83428961ad3dd74c5aa58859da035630c2fc06cf makes the bug disappear on the master (and stops the crash-kernel from crashing). So, it really looks like this and #1065 are linked.

[2018-06-23 08:05] hartytp commented on #1065
@gkasprow

Writing and reading consecutive numbers does not test the memory sufficiently.
Is memory cell reading executed just after write or in another memory access cycle ?

Yes. See https://github.com/hartytp/artiq/blob/mem_test/artiq/firmware/libboard_artiq/mem_test.rs for what I'm doing.

@gkasprow Please can you let us know the answers to @sbourdeauducq's questions here? https://github.com/m

[2018-06-23 08:52] hartytp commented on #1065
okay, I modified my code to move the SAWG onto a separate CD, whose RESET can be controlled by Kernels. Running the "crash kernel" with the SAWG in reset does not crash.

[2018-06-23 09:08] sbourdeauducq commented on #1065
Do you see the #998 bug?

[2018-06-23 09:15] hartytp commented on #1065
Haven't looked. I'm seeing what happens if I enable the SAWG in the Kernel. If you have time, can you try running my code and see if you get the same result (no crash with SAWG disabled)?

If enabling the SAWG from the Kernel causes a crash then we have what we're after. @gkasprow can pulse a TTL when the SAWG is enabled and use that to trigger a scope. He can then check for SI/PI issues related t

[2018-06-23 09:17] hartytp commented on #1080
One data point here: running with the SAWG held in reset, I don't see the "crash kernel" crash. But, I do see a bunch of errors during init (JESD PRBS, can't determine SYSREF margin at FPGA)

[2018-06-23 09:18] hartytp commented on #1080
Note to self: try this with a no-sawg build. It would be interesting to see if there is a difference between no SAWG and SAWG in reset. If there is, then this seems much more like a vivado issue than a hardware issue.

[2018-06-23 09:21] gkasprow commented on #1065
@sbourdeauducq at the moment I cannot run the SAWG because both boards started having PRBS errors during initialisation.

[2018-06-23 09:36] sbourdeauducq commented on #1065
Well, then your PI test doesn't say much, we only have problems when JESD/SAWG are running.

[2018-06-23 09:56] hartytp commented on #1065
@gkasprow The SAWG still runs even when there are JESD errors. Look at the logs I've posted, they all have JESD errors but, so long as the board boots up fully and you can run the kernel, I don't think that's a problem.

[2018-06-23 09:58] hartytp commented on #1065
Running this kernel:
[code]

I see the following: [sawg_en.txt](https://github.com/m-labs/artiq/files/2129821/sawg_en.txt)

So, it's pretty clear that enabling the SAWG almost immediately trashes Sayma. @gkasprow see if you can reproduce that (not worrying about the JESD errors). If you can, then put a TTL pulse when the SAWG is enabled and try triggering off that.

[2018-06-23 10:02] hartytp commented on #1065
@sbourdeauducq what would it take to get the SAWG running on a kintex ultrascale eval board? I would feel *much* more confident that this is likely a HW issue if you could show that a design of comparable complexity runs correctly on an ultrascale eval board.

e.g. remember the DRAM issues we had with the AMC only? You were quite quick to insist that those had to be PI/SI issues. But, when @jorden

[2018-06-23 10:32] gkasprow commented on #1065
@hartytp Creotech guys will do that. They are currently reviewing EEM modules prior mass production.
Some bugs with Ethernet PHY were identified by Adrian from Creotech. Filip found several issues already before Sayma production.  We always do design review but there are things that can be overlooked even if several people look at this. I can also ask guys from CERN to have a look at Sayma design.

[2018-06-23 10:42] sbourdeauducq commented on #1065
DDR4 mostly, and resurrecting the FMC clocking code.

That's not a different story. There *was* something trashing the whole system that looked similar to PI/SI problems. And it may well be actual PI/SI in the end; i.e. the HMC7043 buffer disable might have been just kicking the can down the road, and the FPGA should have been able to tolerate the noise just like is should be able to run the full

[2018-06-23 10:48] hartytp commented on #1065
@gkasprow it would be good to find someone who has used ultrascale fpga and knows their "features"

[2018-06-24 14:06] sbourdeauducq commented on #1065
Confirmed that the HK board doesn't crash when the crash-kernel is run with the SAWG is held in reset, and crashes when releasing it.

Cleaned-up SAWG reset control patch:
https://gist.github.com/sbourdeauducq/183d9e09fb725eef39b723d8ccd0089a

syscall:
[code]

[2018-06-25 09:03] hartytp commented on #1080
I rebuilt the current master without SAWG and still see this: https://hastebin.com/fafokucoqa.sql

I have never seen this until recently (around the time that slave loading was added), but it's been in 100% of my recent builds.

@sbourdeauducq do you see this issue on your board?

[2018-06-25 09:04] sbourdeauducq commented on #1080
No I don't.

[2018-06-25 09:08] sbourdeauducq commented on #1080
One change that is likely to have exposed this bug is this:
https://github.com/m-labs/artiq/commit/de7d64d482dcd51755be93040562896528670b68
Try reverting this commit, it is not required for anything other than the DRTIO master with local DACs.

[2018-06-25 09:11] hartytp commented on #1080
I'm currently building with: f9910ab2428e79d39061cd58971a19b77523e389

[2018-06-25 09:13] sbourdeauducq commented on #1080
https://github.com/m-labs/artiq/commit/de7d64d482dcd51755be93040562896528670b68 can be easily reverted on top of master. It's a very simple change (disable the other 7043 clock output - not required in theory but let's be paranoid - and change dac_refclk back to 0). The sysref phase doesn't have an impact on PRBS.

[2018-06-25 09:31] hartytp commented on #1080
https://github.com/m-labs/artiq/commit/f9910ab2428e79d39061cd58971a19b77523e389 works: https://hastebin.com/erulazasek.go

[2018-06-25 11:51] hartytp commented on #1080
Running current master with https://github.com/m-labs/artiq/commit/de7d64d482dcd51755be93040562896528670b68 reverted does indeed work.

[2018-06-25 13:21] sbourdeauducq commented on #1080
@gkasprow @enjoy-digital any idea why that happens? The GTH quad imbalance is the same in both cases, and within spec.

[2018-06-25 14:35] hartytp commented on #1065
Looking at blinker (https://github.com/m-labs/artiq/issues/1065#issuecomment-397783970) using microscope. Looks absolutely fine to me. Just flashes away slowly...

[2018-06-25 14:37] sbourdeauducq commented on #1065
Try with the HMC7043 held in reset.

[2018-06-25 14:44] hartytp commented on #1065
NB running this from the Standalone build of Sayma using the current master with microscope probes and a "blink" counter added.

[2018-06-25 14:57] enjoy-digital commented on #1080
Do you have the same behaviour if you only keep https://github.com/m-labs/artiq/commit/de7d64d482dcd51755be93040562896528670b68 but disable the GTP_CLK1 output of HMC7043?

Could it be related to the fact that we now have two reference clocks active and still using QPLLXREFCLKSEL=0b001? (Table 2-8 of UG576)

[2018-06-25 15:15] sbourdeauducq commented on #1080
The ARTIQ code is not using the QPLL. Should it?

[2018-06-25 15:20] hartytp commented on #1065
I haven't tried that yet, but I can confirm that it sits happily at 0 until the HMC7043 is enabled in firmware. So, I don't see any evidence of a problem here.

[2018-06-25 15:25] jbqubit commented on #1065
I sent UMD Sayma boards back to WUT on Thursday. They're now in customs in Warsaw. Slated for delivery to Technosystem Tuesday afternoon.

[2018-06-25 15:26] enjoy-digital commented on #1080
Ah sorry we are using CPLL. Then maybe check CPLLREFCLKSEL & https://github.com/m-labs/jesd204b/blob/master/jesd204b/phy/gth.py#L260. Should we connect GTREFCLK1 and set  CPLLREFCLKSEL to 2?

[2018-06-25 15:32] sbourdeauducq commented on #1080
How would that help?

[2018-06-25 15:37] sbourdeauducq commented on #1080
" a single external reference clock with multiple transceivers connected to multiple Quads. The user design connects the IBUDFS_GTE3 output (O) to the ***GTREFCLK0*** ports of the GTHE3/4_COMMON and GTHE3/4_CHANNEL primitives for the GTH transceiver.
In this case, the Xilinx implementation tools make the necessary adjustments to the  north/south routing as well as pin swapping necessary to route t

[2018-06-25 15:38] hartytp commented on #1080
@sbourdeauducq do you still want me to do this? I'm a bit short on time atm...

[2018-06-25 15:41] sbourdeauducq commented on #1080
No, that's unlikely to help. The other clock is either unrouted or routed to the other quad for DRTIO. And GTREFCLK0 is the correct setting as per the transceiver user guide I quoted above.

[2018-06-25 15:57] hartytp commented on #1065
@sbourdeauducq Holding the HMC7043 in reset breaks all kinds of things, and I don't want to spend time digging through and commenting them all out unless it's really important.

With the HMC7043 in reset and the firmware stalled at aligning  SYSREF the microscope probe sits happily at `0` . Every minute or so, the value toggles between 0 and 1, presumably due to noise on the undriven clock pin.

N

[2018-06-25 16:01] sbourdeauducq commented on #1065
As I mentioned, the test I had done was based on the DRTIO master, which did not use the 7043. The new master I added today also doesn't use the 7043. I don't think it's really important (I think the source of the issues is PI), but it looked like the noise on the 7043 clock isn't completely gone.

[2018-06-25 18:46] hartytp commented on #1080
@gkasprow remind me, did you try turning the HMC7043 GTP_CLK{1,2} outputs back to LVPECL? Did that help the PRBS errors?

[2018-06-25 19:04] hartytp commented on #1065
@sbourdeauducq if you're worried about noise on the HMC7043 outputs then there is exactly one appropriate way of investigating: stick a fast scope on the UFL test points which we added for exactly this reason. Trying to infer noise issues from observations of microscope probes is going to lead to madness and hours of lost time.

I've done that on my board. As documented elsewhere, my observation w

[2018-06-25 19:07] hartytp commented on #1065
NB if you don't actively drive a clock input then it's well within its rights to free oscillate at any frequency it likes. This is quite common, and can be very sensitive to PVT. If you clock logic from a floating enabled clock input then you could see anything, I don't think there is much you can infer from that observation.

[2018-06-25 19:12] hartytp commented on #1065
This isn't my field at all, so my intuitions are poorly calibrated, but I'm curious nonetheless. What is the basis for this claim?

As far as I see it, a noisy clock at the wrong frequency shouldn't cause issues. But, clocking logic at a couple of GHz when it's only designed to run at a couple of hundred MHz seems quite likely to cause issues. For one thing, think how different the power consumpti

[2018-06-25 20:49] philipkent commented on #888
@dhslichter We will be moving to ARTIQ 3 soon and we're planning on having to setup a development environment to compile gatewares with the expanded FIFO depths.  Would it make sense to update the FIFO depth's in the pre-compiled gatewares in the nist_qc2 conda package for ARTIQ 3 to be at least 1024 sense that seems to be what everyone is using?

[2018-06-25 21:01] dhslichter commented on #888
Yes, I think that sounds sensible.  There are separate input and output FIFOs, and I would suggest that we would make better use of the resources available if we make the input FIFOs relatively small (say 128 or 256) except on a few special channels, when we make them much deeper (16k or so).  Then we can hopefully fit 1024 on each output, which would be nice.  @r-srinivas @dtcallcock any strong f

[2018-06-25 23:36] r-srinivas commented on #888
I think 1024 is what we have now and that seems to work for most of our
experiments. This is what I have from our notes from almost 2 years ago.

Ofifo_depth for 39 ttl channels

block_ram_tile_util_percentage (%)

ramb36_fifo_util_percentage

(%)

ramb18_util_percentage (%)

64 (default)

34.38

23.82

10.56

1024

43.82

33.26

10.56

2048

61.35

50.79

10.56

4096

92.02

77.08

14.94

On Mon,

[2018-06-25 23:41] r-srinivas commented on #888
I think 1024 is what we have now and that seems to work for most of our
experiments. This is what I have from our notes from almost 2 years ago.

| ofifo depth for 39 ttl Channels | block_ram_tile_util_percentage (%) | ramb36_fifo_util_percentage (%) | ramb18_util_percentage (%) |
|---------------------------------|------------------------------------|---------------------------------|------------

[2018-06-26 00:35] sbourdeauducq commented on #1065
In modern FPGAs everything (IOs, clocking elements, programmable interconnect) is buffered, so if we see the LED blinking too fast, then likely the whole clock net inside the FPGA is toggling full-scale with a frequency that is too high. This is even more true when using differential inputs that contain a fast comparator. If we are worried about HMC7043 full-scale noise corrupting the FPGA, then w

[2018-06-26 05:30] sbourdeauducq commented on #1065
OK I think I found the problem.

The boards are stuffed with a -1C (not -1LI) FPGA that requires 0.95V VCCINT.

The schematics has two problems:
* it says VCCINT should be 0.9V (instead of 0.95V)
* the resistor values set the voltage regulator to ~1V

On the board where I was running the tests on (and where the crash-kernel crashes), the XADC measures VCCINT to be 0.9V. After doing some GitHub iss

[2018-06-26 05:58] jordens commented on #1065
R243 and R244 near the top right of ic33. On florent's board there was a 18k parallel to r244 when I had it AFAICT.

[2018-06-26 07:06] sbourdeauducq commented on #1065
@gkasprow Please help me locate the voltage-setting resistors. The two resistors that @jordens mentions are 3.3K and 2K, which is consistent with https://github.com/sinara-hw/sinara/issues/209#issuecomment-332620991. But there is an additional 10-ohm resistor in series with them on the other side of the board, which is not on the schematics. What is going on?

[2018-06-26 08:31] hartytp commented on #1065
@sbourdeauducq good catch. OpenOCD tells me that VCCint is 0.915V for my AMC FPGA.

I was surprised how tight the tolerance on VccInt is (0.922 to 0.979). So, that's somewhat out of spec.

@gkasprow once you confirm what the situation is here, I'll also fix that on my board.

Related: I think it's still worth trying to get CERN/Xilinx/A.N.Other to do a design review of Sayma AMC. But, before we ca

[2018-06-26 10:06] marmeladapk commented on #1080
@hartytp I did help with clock amplitude but not with PRBS errors.

[2018-06-26 10:12] hartytp commented on #1080
@marmeladapk that's what I thought, thanks for confirming. It was a long shot, but I wondered if this was some SI issue related to the low clock amplitudes using LVDS outputs in combination with 200R LVPECL bias resistors. If you've tested that then I won't bother looking at it again.

[2018-06-26 10:21] kesht123 opened #1081 "RTIO sequence errors when setting multiple outputs and collecting inputs"
I am running the following experiment with gateware and software at commit 60b2221, and looking at the SERDES TTL signals 1092 and ttl_g8 on a scope. Our target is based off the kc705 NIST clock with some additional TTLs
[code]
The pmt is a TTLInOut, the rest are TTLOut. Running this experiment generates 29 copies of "firmware.runtime.rtio_mgt:RTIO sequence error involving channel 52" (channel 52

[2018-06-26 10:22] sbourdeauducq commented on #1081
What ARTIQ version?

[2018-06-26 10:28] sbourdeauducq commented on #1081
Try setting ``enable_spread`` to ``False`` in gateware/rtio/sed.

[2018-06-26 10:48] sbourdeauducq commented on #1061
I've disabled the overclocking in the BIOS on ``build.lab.m-labs.hk`` so it should be stable now. We should move the builds to that faster machine.

[2018-06-26 10:59] jordens commented on #1061
I suspect this particular issue is from a large number of packages (in our conda channels, previous builds on disk, or in conda-forge). Might not even be CPU bound.

[2018-06-26 11:06] sbourdeauducq commented on #1061
Yes, we should look at that too. But the new machine also has SSD.

[2018-06-26 13:05] kesht123 commented on #1081
In gateware/rtio/sed/core.py, line 15, I changed the default ``enable_spread`` argument to ``False`` in the ``__init__`` of the ``SED`` class. I rebuilt the gateware and flashed it to the core device. Running the same script as above I see the same RTIO sequence errors

[2018-06-26 15:41] gkasprow commented on #1065
What is surprising that in original design there was 0.95V, which I changed to 0.9V.
There was 3k3+3k3 in the feedback that was changed to 5k1 later on.

[2018-06-26 16:05] sbourdeauducq commented on #1065
3k3+3k3 doesn't give 0.95V either, or does it?
What about that 10 ohm resistor? The board doesn't match the schematics.

[2018-06-26 16:11] gkasprow commented on #1065
You are right, it gave roughly 1V.
I did the modification, but before one does it, several steps are very recommended. This is essential circuit, and every soldering issue may cause FPGA damage.
First, before any modification of VCCINT, please remove two big 0R resistors on the board bottom. This will disconnect the FPGA core from SMPS.
then add 120k 0402 resistor in parallel to R251
![obraz](http

[2018-06-26 16:14] gkasprow commented on #1065
10R resistor serves another purpose. If one wants to stabilise the voltage at the FPGA terminals, R508 needs to be installed. Then this 10R would be shorted by trace resistance. This needs to be tested (stability) so I don't recommend  touching this part at the moment.

[2018-06-26 16:16] sbourdeauducq commented on #1065
Xilinx does not seem to recommend powering the FPGA without VCCINT (and the power sequencing will still enable the other supplies when those resistors are removed). Are you sure this is OK?

[2018-06-26 16:18] gkasprow commented on #1065
Yep, short pins 1 and 4 of the Exar programmer. This will disable the Exar Enable pin.
However wrong sequence won't break the FPGA, the leakage current may be higher.

[2018-06-26 16:22] sbourdeauducq commented on #1065
The 120k resistor will either give 1.02V (3.3k+3.3k) or 0.94V (3.3k+2k), or am I doing the computation wrong?

Anyway I already removed R243 and R244 on one of my boards to measure them and try to understand what is going on with the power supply. I intend to replace them with 3.3K and 2.7K, and keep R251 at 10K. Is that OK?

I do not understand what the 10R resistor is about. The schematics in Gi

[2018-06-26 16:26] sbourdeauducq commented on #1065
Also, can you confirm the position of R243 and R244 on the board? I'd like to doublecheck.

[2018-06-26 17:17] jbqubit commented on #1065
"VDRINT is data retention VCCINT voltage (below which configuration data might be lost) 0.82 V"

[2018-06-26 20:08] gkasprow commented on #1065
The resistors on your boards were modified to produce 0.91V supply. The sum of them gives roughly 5.1k.
So with current configuration addding 120k does the job.
You can of course leave the 10k and modify R243 and 244 to get 6k and achieve slightly more than 0.95V but within the limit.

[2018-06-26 20:09] gkasprow commented on #1065
![obraz](https://user-images.githubusercontent.com/4325054/41936508-a64a931c-798d-11e8-86f0-9d6a3688e9a2.png)

[2018-06-26 20:10] gkasprow commented on #1065
![obraz](https://user-images.githubusercontent.com/4325054/41936521-adfdb6e8-798d-11e8-8080-8702746481bc.png)

[2018-06-27 09:43] marmeladapk commented on #1065
When running idle kernel:

[code]

after crash I get <0,89 V on VCCINT - measured both by XADC and using multimeter. After restart VCCINT is normal during bootup and when Sayma hangs it drops.

[2018-06-27 11:00] marmeladapk commented on #1065
I recreated this on another Sayma.

[2018-06-27 12:15] gkasprow commented on #1065
Let me explain why there is such strange feedback loop in the VCCINT design.
![obraz](https://user-images.githubusercontent.com/4325054/41972914-9e5d0c4e-7a13-11e8-9126-0d9aecc51af6.png)
R508 can be mounted to compensate DC drop on the traces.
I did simulation of the power delivery to make sure it does not exceed 50mV at 10A and to not exceed current density of 50A/mm2.
In current setup with  loca

[2018-06-27 12:17] gkasprow commented on #1065
I installed R508 (short circuit) and it looks like it helps. The voltage at the FPGA is 0.925, the VMON show 0.91. So suggest to increase the output voltage by 25mV.

[2018-06-27 12:33] gkasprow commented on #1065
On two AMC boards memory errors disappeared.

[2018-06-27 12:35] marmeladapk commented on #1065
And crashes. Idle kernel I posted earlier run over 10 minutes without any hiccups.

[2018-06-27 12:52] jordens commented on #1065
Even with DCAP, isn't there enough compensation (i.e. AC feedback) happening through C293+C430 anyway?

[2018-06-27 13:49] gkasprow commented on #1065
yes, it has local compensationAC  loop and DC feedback loop.

[2018-06-27 23:00] gkasprow commented on #1065
Here is R508, on bottom side under the DC/DC converter, close to these two big 0R resistors
![obraz](https://user-images.githubusercontent.com/4325054/42004092-a452d74a-7a6e-11e8-9985-5d342770472e.png)

[2018-06-28 08:37] hartytp commented on #1065
@gkasprow note that the silk screen for R315 is in the wrong place then.

[2018-06-28 08:44] hartytp commented on #1065
@gkasprow can you confirm that the rework required to get the proper 0.95Vccint is:
- on the modified boards, check that R243 + R244 = 5k1 https://github.com/m-labs/artiq/issues/1065#issuecomment-400445415
- add 120k 0402 resistor in parallel to R251 https://github.com/m-labs/artiq/issues/1065#issuecomment-400370607
- populate R508 with 0R https://github.com/m-labs/artiq/issues/1065#issuecomment-4

[2018-06-28 09:09] sbourdeauducq commented on #1065
I had measured 3.3k and 2k, which gives 5.3k.

[2018-06-28 09:31] sbourdeauducq commented on #1065
No more crash after:
* setting R243 + R244 to 4.7K + 1K (not the best values, but I had enough waiting for the right ones to arrive)
* short-circuiting R508 - this *is* required, it crashed and VCCINT dropped before I did that. Note that this modification prevents safely testing the converter with the FPGA disconnected.

Also note that measuring R243 and R244 requires desoldering them.

Eventually

[2018-06-28 09:31] #1065 closed

[2018-06-28 10:57] hartytp commented on #1080
I still see this error after fixing the Vccint supply (I measure 0.951V at the 0R power resistors): https://hastebin.com/hevawerodo.sql

I believe that @marmeladapk also found that the Vccint rework did not help the PRBS errors...

[2018-06-28 11:00] hartytp commented on #1065
Whoo!
- running the "crash kernel" as my startup kernel
- using 4.0.dev+1205.g81188294
- after the rework (0.951V at the 0R power resistors)

This has run for quite a while without issue, when it used to crash 100% of the time almost immediately.

Great catch on this one @sbourdeauducq

[2018-06-28 11:21] marmeladapk commented on #1080
Yes, today I got these errors once.

[2018-06-28 11:41] jordens commented on #1065
Shorting R508 does not affect testing with R315 and R316 open. R507 takes care of that.

[2018-06-28 11:48] sbourdeauducq commented on #1065
Well, in the worst case when the feedback loop is open, you get VCCINT connected to 12V through 10R - doesn't sound very safe to me.

[2018-06-28 12:16] jordens commented on #1065
The worst case would be with the feedback loop open and R315/R316 placed. But if they are not placed, the resistor protects the FPGA just fine. It fails open after limiting the VCCINT current to <1.2A during its short but fulfilled life. You won't be seeing 12V there.

[2018-06-28 12:20] sbourdeauducq commented on #1065
VCCINT current can be as low as 998mA (see "Quiescent VCCINT supply current" in the datasheet). Then the FPGA could get 2V - probably less than that, since likely the current increases with VCCINT, but that still exceeds the absolute maximum of 1.1V by a large margin.

[2018-06-28 12:55] jordens commented on #1065
If you are worried the resistor might survive  longer than the FPGA does in tests where you can't ensure feedback loop closure, then you should definitely depopulate R507 together with R315 and R316.

[2018-06-28 16:43] hartytp opened #1083 "Sayma: SYSREF alignment problems"
gory details: https://irclog.whitequark.org/m-labs/2018-06-28

Summary:
- The sysref alignment scans aren't working properly.
- It seems as if the HMC7043 phases aren't adjusting correctly, even though a separate test with a scope verified proper operation.
- this patch adds eye scans to the boot: https://hastebin.com/ewexibeguz.js
- result should look like this from @sbourdeauducq's board: https:

[2018-06-28 16:59] marmeladapk commented on #1083
@hartytp I'll try to test this today remotely, but tommorow and next week I won't have external clock reference for RTM.

[2018-06-28 17:37] hartytp commented on #1083
Thanks @marmeladapk (although I'm not sure how much you can do on this without an external clock).

The thing we need to know is whether these phase jumps occur on the HMC7043 outputs, or if there is some issue inside the FPGA. As far as I can tell, it's the latter, but I may be wrong. If you can reproduce this and do some probing, that would be a massive help -- beyond testing this with that comm

[2018-06-28 18:05] hartytp commented on #1083
One other comment: it's worth getting an eye scan with https://github.com/m-labs/artiq/blob/0483b8d14cbaa4b53d6f5f830b964445b3cb185d/artiq/gateware/jesd204_tools.py#L111

replaced with
[code]

That allows us to simplify the example and check there isn't some issue with the RTIO counter.

[2018-06-28 19:57] marmeladapk commented on #1083
Ok, applied patch linked in op against 0483b8d, board produced this beefy (almost 1 MB) [log](https://wutwaw-my.sharepoint.com/:u:/g/personal/252842_pw_edu_pl/ETm1_0-tuh1Eo3HAwsbk5LwBco5P4uyEIHQokL6fN2RS7Q?e=0UnYrN).

[2018-06-28 20:01] drewrisinger opened #1084 "Docs: "Positive Slack" not defined in RTIO.rst"
# Summary
The [RTIO doc](https://github.com/m-labs/artiq/blob/master/doc/manual/rtio.rst) is missing a definition for **"positive slack"**, though the term is used. Negative slack is defined on line 167.

# Proposed Change
**Suggested definition:** *(i.e. set timeline cursor `now` greater than the current wall clock `rtio_counter`)*
This definition should be added to Line 169 of [RTIO doc](https:/

[2018-06-28 20:20] marmeladapk commented on #1083
@hartytp Building with de7d64d reverted against 0483b8d. Check [here](https://github.com/marmeladapk/artiq/tree/sysref_alignment) if these are the changes you intended me to make.

[2018-06-28 21:08] jordens commented on #1084
But it says (in L118) `RTIO slack is the difference between timeline cursor and wall clock time (now - rtio_counter).` right when slack is mentioned the first time. That directly implies that positive slack is equivalent to `now > rtio_counter`. You are correct, this is a crucial concept. What do you propose?

[2018-06-29 00:57] sbourdeauducq commented on #1080
@gkasprow Can you check SI and jitter on GTP_CLK1 and GTP_CLK2 on a board that exhibits this problem? And generally investigate this?

[2018-06-29 02:24] sbourdeauducq opened #1085 "core device DHCP support"
Support assignment of the core device IP address by DHCP.
See also https://github.com/m-labs/artiq/issues/955

[2018-06-29 02:29] sbourdeauducq commented on #1060
The RTM gateware is the same for all variants.

[2018-06-29 02:32] sbourdeauducq commented on #1007
@whitequark ping

[2018-06-29 06:41] hartytp commented on #1083
Hmm...that looks okay AFAICT. And, you don't get any alignment errors.

Will have a more detailed look at this all on Monday.

[2018-06-29 06:44] sbourdeauducq commented on #1083
The results on my board are not deterministic, it just "works most of the time".... maybe run it a few times.

[2018-06-29 07:31] sbourdeauducq commented on #1083
@hartytp Note that due to the combination of the analog and 1/2 CLKIN digital delay (which is made necessary by the limited range of the analog delay), some "taps" are not 25ps.

[2018-06-29 07:43] hartytp commented on #1083
Okay, I didn't realise that.

Do you see any of the bad eye scans that I see? Here "Bad" = hysteresis between the eye scan and the value we measure at the "default phase" after the scan, or slips moving the transition by significantly more than 34 taps.

[2018-06-29 07:43] hartytp commented on #1083
Yes. But should be very close to 34 taps.

[2018-06-29 08:49] gkasprow commented on #1080
I have a few more ideas to verify.
The same board exibits DDR memory errors - some chips are not working, I mean during eye scans, two chips do not have any openings. But the same board with Xilinx memory controller and tester works fine. So it is not broken connection between FPGA and memory.
Yet another board has problem with one DDR memory chip. It used to work some time ago...
What's interesti

[2018-06-29 09:05] sbourdeauducq commented on #1060
That's about the ARTIQ variant, not hardware versions.

[2018-06-29 09:10] gkasprow commented on #1060
OK, but to get rid of confusion when next HW releases arrives, we should check the board ID before loading ARTIQ.

[2018-06-29 09:10] sbourdeauducq commented on #1080
This doesn't sound related to me:
1. transceiver IOs and clocks are very different than the fabric IOs and clocks (they even have separate power supplies).
2. DDR works correctly on Tom's board that exhibits this error.

[2018-06-29 09:13] sbourdeauducq commented on #1060
Alternatively: avoid breaking compatibility, or deprecate the current set of boards - they have plenty of bugs and fragile reworks anyway.

[2018-06-29 09:39] marmeladapk commented on #1080
@gkasprow These PRBS errors are there no matter which AMC I use.

[2018-06-29 10:03] hartytp commented on #1060
Let's depreciate them. Maintaining software support for old boards gets very expensive and isn't worth it for a handful of quite hacked prototypes.

[2018-06-29 10:05] hartytp commented on #1080
They are there every time on my board :( I can send it back to you if that helps?

[2018-06-29 10:19] gkasprow commented on #1060
I mean protection feature that won't enable loading i.e. old firmware to new boards. Then user will get clear message instead of frustration that something does not work.

[2018-06-30 16:25] dnadlinger opened #1086 "compiler: Include callee name in `rpc.*` llvm::Values"
When debugging compiler issues in complex code, RPC receive loops can sometimes be a bit annoying to tell apart in IR dumps. Including the line number of the call or the (unqualified) name of the callee in label/value names would help readability.

(This is obviously not user-facing, and strictly a quality-of-life enhancement.)

[2018-06-30 17:46] sbourdeauducq commented on #562
No.

[2018-06-30 17:46] #562 closed

[2018-06-30 18:50] klickverbot opened #1088 "compiler asserts trying to emit attribute writeback for function pointer lists"
As per title – workaround for the symptoms:

[code]

(Again, apologies for lack of test case.)

[2018-07-01 15:12] dnadlinger opened #1089 "compiler: eval_kernel() to create kernel function from string"
With the lack of generics support in the compiler (while requiring an unique set of inferred types per class), the option to brute-force one's way through metaprogramming situations by generating the code for `@kernel` functions in string form would be useful.

There currently doesn't seem a way to do that (apart from possibly generating files on the fly) because `inspect.getsource` only works for

[2018-07-02 07:40] sbourdeauducq commented on #1081
Here is a minimized repro:
[code]

Note the most important changes:
* inputs are not required, toggling a TTL instead is sufficient
* removal of the loop, one iteration is sufficient

@kesht123 Can you try to minimize it to this level next time?

[2018-07-02 07:59] enjoy-digital commented on #1001
I still need to look at that. But this only used for the high-speed phy and we are currently using low-spee phy.

[2018-07-02 08:00] sbourdeauducq commented on #1081
This is not a bug, the core is behaving as expected.
Look at how SED lanes get allocated (the core needs to get a new lane every time the timestamp of an event is not strictly increasing):

[code]

You can do two things to fix this problem in your setup:
* increase the number of SED lanes in your gateware to 16, or
* rewrite the kernel to reduce the number of lane changes, e.g.:
[code]

For the se

[2018-07-02 08:08] #1081 closed

[2018-07-02 08:13] hartytp commented on #794
@sbourdeauducq What's the plan for testing this at the full 2.4GHz DAC clock? It seems worth checking that works reliably before we move onto Sayma v2.0 in case there are any changes we decide to make to the hw.

[2018-07-02 08:15] hartytp commented on #1001
@enjoy-digital remind me though, the plan is to move back to the high-speed phy for hw v2.0, right?

Is it worth adding some termination resistors on to the boards so that we can use the high-speed phy again with a supported IO standard?

[2018-07-02 08:17] jordens commented on #1081
A possible extension to SED would be to also have a sorting network at the cpu side that would make smarter lane choices instead of just advancing, to achieve better packing. I.e. it could choose the lane that has the largest timestamp queued that still meets strict monotonicity.

[2018-07-02 08:18] sbourdeauducq commented on #1081
That would increase RTIO latency further.

[2018-07-02 08:29] sbourdeauducq commented on #1081
But we want to optimize the former, don't we?

[2018-07-02 08:30] enjoy-digital commented on #1001
@hartytp: i'm not the one deciding, but if we can use LVDS on v2.0, yes we should use high-speed phy.

[2018-07-02 08:33] hartytp commented on #1001
okay. Well, @sbourdeauducq let me know what you want to do about this then.

[2018-07-02 08:42] sbourdeauducq commented on #1001
@enjoy-digital How does the low-speed PHY meet timing? Assume that with low bit rates and fast flip-flops, the chance of not meeting setup/hold is small?

[2018-07-02 08:44] jordens commented on #1081
The gateware latency? As long as it's orders of magnitude less than the RTIO API and CPU latency then I'd happily get better lane utilization at the expense of a couple cycles of gateware latency.

[2018-07-02 09:05] sbourdeauducq commented on #1001
I don't think faster programming of the DAC/HMC SPI etc. is that important and worth the trouble of reworking all boards (since otherwise, the master gateware would only work with some).
We should just add the resistors on the next board revision and switch to LVDS then.

[2018-07-02 09:30] hartytp commented on #1055
Don't know.

Have you tried reading the phases statuses bit on your board?

[2018-07-02 09:31] enjoy-digital commented on #1001
@sbourdeauducq: yes, we are:
1) Shifting clock sent by Master to the Slave by 180°.
2) Master outputs on rising edge, Slave samples on its rising-edge (falling-edge at Master).
3) Slave outputs on its rising edge (falling-edge at Master), Master samples on its rising-edge.

[2018-07-02 09:37] hartytp commented on #1001
We should just add the resistors on the next board revision and switch to LVDS then.

No, it's not that important.

Just a matter of making sure we do as much testing as possible before sending Sayma v2.0 off to manufacture. We had a lot of serwb issues before, so it would be nice to see it working robustly at full speed on all boards before we consider it finished.

[2018-07-02 10:00] hartytp commented on #1083
@sbourdeauducq ping...

[2018-07-02 10:21] gkasprow commented on #1001
At the moment 0201 resistors can be added between vias under the FPGA. But this is surgical operation under microscope.

[2018-07-02 10:36] hartytp commented on #1083
Updated to the latest ARTIQ and applied @sbourdeauducq's patch. Here is a log of eye scans over a few reboots: https://drive.google.com/open?id=1XISSM9aPlzmweKNJxhf10-zSkfHIoZAQ

This definitely shows some issues. e.g. look at the way the first trace jumps from a transition here `[    26.579247s]  INFO(board_artiq::hmc830_7043::hmc7043): 124: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]` to all 0s in a single s

[2018-07-02 11:56] hartytp commented on #1083
After reverting de7d64d482dcd51755be93040562896528670b68 I no longer see this: https://drive.google.com/open?id=1fYrKuaXlRAZLdYwOmTLM0nqOYlmeDFoc (NB should have left more time between reboots in my script).

So, it seems likely that this is a symptom of the same issue that's breaking JESD when the GTP_CLK2 is used.

@gkasprow did you have a chance to look at SI on the GTP_CLK1/2 AMC FPGA inputs y

[2018-07-02 12:07] sbourdeauducq commented on #1083
Output the clock as seen by the FPGA (output ``ODIV2`` of the ``IBUFDS_GTE3`` in jesd204_tools) on on another FPGA output pin (e.g. the SMA), connect it to a scope and check for problems.

[2018-07-02 12:11] hartytp commented on #1083
@sbourdeauducq or @marmeladapk can you have a go at that, please?

[2018-07-02 12:46] hartytp commented on #1083
@marmeladapk no problem, thanks for letting me know.

@gkasprow when will you be able to check the SI for the GTP_CLK{1,2} AMC inputs?

[2018-07-02 13:13] klickverbot opened #1090 "dashboard: Trying to delete dataset subtree shouldn't silently do nothing"
On current master (16b917be5d2d4052c9a655a1591b83497e05c212, Qt 5.6.2), trying to delete an entire subtree in the Datasets dock using the context menu silently does nothing.

While I'm not sure whether it makes sense to support that, it should either do what is expected (delete all the child keys, possibly after a prompt), or not be offered as an option.

[2018-07-02 19:57] philipkent opened #1091 "artiq_flash command not found"
On linux 64 bit, after creating a conda environment via `conda create -n artiq-3.6 artiq-kc705-nist_qc2=3.6
` the `artiq_flash` command is not found

    source activate artiq-3.6
    (artiq-3.6) philip@sophus:~/scripts$ artiq_flash -t kc705 -m nist_qc2
    artiq_flash: command not found

[2018-07-02 20:50] SBuercklin commented on #89
I'm running into a similar issue now where I can't get the GUI to update despite the experiment updating.

I created new master repository, `~/artiq_master/repository`, run `git init -bare` in the repository folder, and add the `artiq_client scan-repository --async` hook. Then I create new work repo, `~/artiq_work`, then `git init` in `~/artiq_work` and create the appropriate remote into the maste

[2018-07-02 20:51] philipkent opened #1092 "binaries directory does not exist in main artiq package"
On windows 64 bit, after creating a conda environment using the artiq-kc705-nist_qc2 package via  `conda create -n artiq-main artiq-kc705-nist_qc2` no binaries directory is created which causes  `artiq_flash` commands to fail:

     (artiq-main) C:\Users\pdk1>artiq_flash -t kc705 -m nist_qc2  -f flash_storage.img storage start
     Binaries directory 'c:\users\pdk1\work\artiq\artiq-dev\artiq\artiq

[2018-07-02 20:55] philipkent commented on #1091
This also happens if you create an environment from the "main" channel with `conda create -n artiq-main artiq-kc705-nist_qc2` which installs version 3.6 as well.

[2018-07-02 23:08] philipkent opened #1093 "seconds_to_mu is not bound to anything error in v3.6"
On Windows, 64 bit, ARTIQ 3.6, the following experiment fails to compile stating that 'seconds_to_mu' is not bound to anything

[code]

The exact error given by ARTIQ is:
[code]

seconds_to_mu also appears to not work in a host method.  The experiment below throws the exception
[code]

[code]

[2018-07-02 23:17] philipkent commented on #1093
@klickverbot thank you.

[2018-07-02 23:17] #1093 closed

[2018-07-03 01:10] sbourdeauducq commented on #89
Click 'Recompute all arguments' in the panel that appears after you open the experiment. NB, this is a different issue.

[2018-07-03 01:17] sbourdeauducq commented on #1091
duplicate of https://github.com/m-labs/artiq/issues/984

[2018-07-03 01:17] #1091 closed

[2018-07-03 01:19] sbourdeauducq commented on #1092
Where is it created instead?

[2018-07-03 09:41] sbourdeauducq commented on #1083
Can this be narrowed down further, i.e. just use the IBUFDS_GTE2 as a clock buffer to the fabric, remove transceivers and all JESD204 stuff, and simplify the SYSREF logic into the minimum code that would demonstrate a problem?

[2018-07-03 09:46] hartytp commented on #1083
Yes, that could be done. If you send me a patch that does it them I'm happy to test.

Alternatively, we could look at the PRBN issues first, as that removes any uncertainty over the HMC7043...

[2018-07-03 09:53] hartytp commented on #1083
I'm also happy to post you the non-working board if you want to investigate this locally.

[2018-07-03 10:05] hartytp commented on #1083
@sbourdeauducq It would probably be worthwhile to look at https://github.com/m-labs/artiq/issues/1055 before spending more time on this. If the phases statuses bit behaves differently on the working and non-working bits, then that would be a smoking gun that would be easier to track down...

[2018-07-03 11:35] sbourdeauducq commented on #1083
PRBS is a lot more complicated than a minimized repro of this issue.

[2018-07-03 15:26] hartytp commented on #1083
Fine, however you want to approach it. I'll leave it to you. But, this is a high priority issue for me since it currently prevents me from using Sayma at all.

[2018-07-03 16:34] philipkent commented on #1092
It looks like it just wasn't created at all.  I only have a single directory containing the kc705 gateware at artiq-main/lib/python3.5/site-packages/artiq/binaries/kc705-nist_qc2/.  Seems like the artiq package and it's dependencies weren't installed.

[2018-07-03 16:49] sbourdeauducq commented on #1092
Ok. Is there a problem other than the artiq package not getting installed? Are things working correctly after installing the artiq package manually?

[2018-07-03 20:45] philipkent commented on #1092
Yes, everything works correctly after installing the artiq package manually.

[2018-07-03 21:42] mfe5003 opened #1094 "urukul profile support"
I have an Urukul ad9910 and I can set the output for profile 0 only.
Looking at `coredevice/ad9910.py`, I can obviously see where I would need to change the profile register address to populate other profiles (`coredevice/suservo.py` already implements this I assume).

What I don't see though is an API call for changing the profile pins to actually change the profile in either coredevice.

I can c

[2018-07-03 22:03] jordens commented on #1094
You should be able to change them much faster at the current spi clock speed. The number should be around 2 us.
Refer to the schematics for the wiring of the profile pins. They are controlled through the cpld and accessible there.

[2018-07-03 22:03] #1094 closed

[2018-07-03 23:01] sbourdeauducq commented on #1092
So, it's #984.

[2018-07-03 23:01] #1092 closed

[2018-07-04 00:44] mfe5003 commented on #1094
I am trying to follow the logic for the RF switch TTL and it looks like for the channel 0 switch the signal just gets processed directly in the CPLD 1:1 based on the input signal.
So I  am guessing that in order to use the profiles I will need to edit the CPLD logic.

It seems like that should be [here](https://github.com/sinara-hw/sinara/tree/master/ARTIQ_ALTIUM/EEMs/Urukul/CPLD_code) but I don't

[2018-07-04 05:57] jordens commented on #1094
Yes. The profile lines are bits 8-10. See `urukul_cfg()`

[2018-07-04 12:24] jordens commented on #1094
And the urukul cpld gateware is at https://github.com/quartiq/urukul

[2018-07-04 14:39] LabVIEWfan opened #1095 "Dashboard doesn't get informations from Zotino"
Hello,

We use a Kasli-tester setup, so including Kasli and Zotino, with a recent commit (16b917be).

The dashboard recognizes the Zotino module from the device database and displays the 32 channels, but their values are never updated (everything is fixed at 0.000%). Everything works well when setting the voltages via a EnvExperiment, as well as reading the voltages via the read_reg() function.

[2018-07-04 16:44] sbourdeauducq commented on #1055
Also 0x00.

[2018-07-04 17:02] sbourdeauducq commented on #1080
@gkasprow Any update on the clock measurements? I know Tom measured them after they went through the FPGA, but I'd like to double-check.

[2018-07-04 17:20] sbourdeauducq commented on #1095
Are other monitoring features e.g
 TTL working correctly?

[2018-07-04 18:11] LabVIEWfan commented on #1095
All the TTL are working correctly through both the EnvExperiment and the dashboard.

[2018-07-04 18:21] hartytp commented on #1055
Thanks for checking that.

So, either we're not using this bit correctly or the phases aren't settling properly.

[2018-07-04 21:41] jordens commented on #1085
https://github.com/m-labs/smoltcp/issues/63 and https://github.com/m-labs/smoltcp/pull/186

[2018-07-05 06:28] prasath-d opened #1096 "Urukul AD9910 ref clk mismatch"
I am using Urukul with kasli, and there is a mismatch in the ref clk value in **ptb** and **tester** variants.
In **tester** variant, the clock frequency seems not right. The output frequency is **setfreq/1.25**.

In PTB variant
[code]
In tester variant,
[code]
How to change it?

[2018-07-05 06:42] jordens commented on #1096
Please provide some context. What is your reference clock, how is the board populated, how is it connected, and what's the reference frequency? See the documentation for info on the fields and arguments.

[2018-07-05 06:59] enjoy-digital commented on #1055
What's are you writing to register 0x71? Are you setting bit 4, 2 & 1?

[2018-07-05 07:10] sbourdeauducq commented on #1055
Well, you have the code... we're not touching 0x71.

[2018-07-05 07:34] hartytp commented on #1080
@gkasprow what's the timeline for looking at the SI for the two GTP_CLK{1,2} inputs on the AMC FPGA, as well as the SYSREF input?

[2018-07-05 07:41] prasath-d commented on #1096
Kasli is flashed with Tester variant.
Urukul DDS is connected to EEM1 and EEM0, DIO in EEM5, Sampler in EEM3,2.
Before flashing Tester variant, The clock frequency of Urukul was 1GHz and after flashing tester variant, it seems to have a clock frequency of 800MHz.
For ex: Setting 300MHz in Urukul Channel shows 240MHz as an output frequency, which is 300/1.25

[2018-07-05 07:58] jordens commented on #1096
How is the clocking circuitry on the board populated, how is it connected? How do you actually want to clock it?

[2018-07-05 08:21] prasath-d commented on #1096
The Clock to the Urukul is managed by Kasli and I didn't populate anything other than EEM connectors.
Did I understand your question properly?

[2018-07-05 09:52] sbourdeauducq commented on #1080
@hartytp Also: it it only the standalone target that is affected by this crazy problem? What happens with masterdac and satellite?

[2018-07-05 16:33] jordens commented on #1096
Are you using the on board 100 MHz oscillator or the kasli 125 MHz clock via mmcx? See the schematic for the clocking circuit and the board population.

[2018-07-05 22:13] philipkent opened #1097 "Unable to building target binaries using the artiq-dev package on Linux"
On Ubuntu, 64 bit, Artiq version 3.6, I am trying to compile the nist_qc2 gateware using the artiq-dev package following the instructions here:

https://m-labs.hk/artiq/manual-release-3/developing.html

When I try to build the target binaries using `python3 -m artiq.gateware.targets.kc705_dds -H nist_qc2` I get the following compilation error:

[code]

The output of rustc --explain E0633 is:

[cod

[2018-07-05 22:20] philipkent commented on #1097
If it helps, I am on the release-3 branch of the artiq source from github.  After creating the artiq-dev conda environment using:

[code]

I added the artiq source tree to the environment path using

[code]

[2018-07-05 22:32] philipkent commented on #1097
The ultimate goal of this is to expand the output FIFO depth to 1024 which we need to avoid underflow errors when the FIFO fills up.

[2018-07-06 00:49] sbourdeauducq commented on #1097
Wrong rustc version. Check that conda installs the one specified in the release-3 artiq-dev meta.yaml.

[2018-07-06 07:42] jordens commented on #1096
Then you should change `"refclk": 125e6`. That's documented.

[2018-07-06 07:42] #1096 closed

[2018-07-06 07:50] prasath-d commented on #1096
Reflash needed?

[2018-07-06 07:52] jordens commented on #1096
No

[2018-07-06 08:55] prasath-d commented on #1096
Works!!! Thank you

[2018-07-06 10:13] jordens opened #1098 "build and deploy docs earlier"
Currently #1007 is preventing up-to-date docs from being published while the packages are published.

[2018-07-06 21:07] philipkent commented on #1097
We were able to build the target binaries by manually installing the artiq-dev package and specifying the version using:  `conda create -n artiq-dev artiq-dev=3.6`.  It looks like using the conda/artiq-dev.yaml file from the release-3 branch installs the 4.0 version of the artiq-dev package by default.

[2018-07-07 01:34] sbourdeauducq commented on #1097
Yes, it does. The latest release-3 branch is different from the 3.6 release; and you should use matching ARTIQ source code and artiq-dev/rustc version.

[2018-07-07 01:34] #1097 closed

[2018-07-07 03:49] davidcarne commented on #1055
So, I've been taking a bit of a look at this. @sbourdeauducq successfully nerd-sniped me on it.

The exact reseeding behaviour is complex, poorly documented, and in some cases, contradictory. The current codebase leaves the "RF reseeder" (reg 3, bit 5) enabled as is the default, which means the [SYSREF FSM is stuck in reset](https://ez.analog.com/thread/93998-hmc7043-sysref-fsm-state-question) erg

[2018-07-07 08:10] sbourdeauducq commented on #1055
In accordance with the datasheet, those pins are AC-coupled on the board, so it is unclear to me how to connect them to a constant 0. Do those forum posts have the answer?

[2018-07-08 08:14] #1098 closed

[2018-07-08 21:22] hartytp commented on #1055
Where do you see that? AFAICT, it's fine to tie them low by pulling P to GND and N to 3V3. Just make sure to set the biasing and termination appropriately (i.e. no biasing, no termination). See the clock input network section of the data sheet (which says that inputs are "typically AC coupled" not "must be AC coupled).

[2018-07-08 21:41] hartytp commented on #1055
One thing to be careful about is that sometimes these input stages have diodes to limit the maximum differential input signal. So, it's worth making sure that any DC pull ups/downs are via 10k resistors to limit any currents (you can measure the voltage drop to check if any diodes are conducting), If you do that, you might as well enable the common-mode voltage setting resistors to ensure that you

[2018-07-09 01:03] sbourdeauducq commented on #1055
![screenshot_2018-07-09 hmc7043 rev b - hmc7043 pdf](https://user-images.githubusercontent.com/720864/42426028-e8887974-8356-11e8-814e-3b4cfd09865c.png)

[2018-07-09 01:31] sbourdeauducq commented on #1055
So we can work the other way: use documented termination resistor settings (e.g. 100 ohm), then one resistor to 3.3V one one pin, and one to GND on the other, with values that produce the correct voltages at the two ends of the termination resistor. Bonus, we can simply use a DMM to check that the termination settings of this horrible HMC7043 are correct. Considering how obscure this is again, it

[2018-07-09 01:41] sbourdeauducq commented on #1080
@gkasprow
1. Have you tested SI on GTP_CLK1 and GTP_CLK2?
2. Are there any significant hardware differences between the two clocks?
3. Is this problem caused by the RTM side or the AMC side?

[2018-07-09 03:01] sbourdeauducq commented on #795
The code is there and somewhat works intermittently, but I cannot do anything until https://github.com/sinara-hw/sinara/issues/567 is resolved.

[2018-07-09 08:46] hartytp commented on #1055
My understanding is that the anticipated "normal" use for this IC is to have a series of pulses on the RF sync input (indeed, it even says that this is only the "normal" usage in the text I quoted). Then AC coupling works best as it ensures that the signal swing is around the optimal CM voltage to give low jitter (remember it has to have low enough jitter to work up to be sampled of a several GHz

[2018-07-09 08:50] hartytp commented on #1055
@sbourdeauducq also, note that [here](https://ez.analog.com/thread/93030-the-problems-of-hmc7043) an ADI guy says that the RFSYNCIN **should** be dc-coupled...

[2018-07-09 08:53] hartytp commented on #1055
Input buffer modes: https://ez.analog.com/message/296858-hmc7043-input-buffer-mode

[2018-07-09 09:03] hartytp commented on #1055
@sbourdeauducq we should also definitely check the SYSREF FSM state during init. Looking at the reseeder request description on the data sheet:

[2018-07-09 09:15] hartytp commented on #1055
I looks like we should also explicitly disable the SYSREF timer once we've finished synchronisation. https://ez.analog.com/message/302525-hmc7043-subharmonics

[2018-07-09 09:37] sbourdeauducq commented on #1055
We're not using the analog delay (which is noisy anyway) on the high-frequency clocks such as the DAC sample clocks. It is only used on the lower-frequency SYSREF channels.
We're not using any of this SYSREF/FSM/RFSYNCIN logic so the best way to deal with it is to disable it as much as possible.

[2018-07-09 10:07] sbourdeauducq opened #1099 "restore core device network transfer rates"
This was reduced between b81b20caf8361c13f091ad85dcee31dd37d11d72 (good) and 3b61b7c30b08d4393ac09bd8f1ea46af1ebf15c8 (bad).

Corresponding builds:
http://buildbot.m-labs.hk/builders/artiq/builds/2349
http://buildbot.m-labs.hk/builders/artiq/builds/2352

Revert 423929a1 once fixed.

[2018-07-09 10:10] sbourdeauducq commented on #1007
After this gets fixed, we should add a device unittest for this. The clock generator loopback test is not a good one, and I made it pass in d2c8e62cb71fea888af1d71f3d9e953840b6cdb4 to stop polluting the CI results, which had been going on for way too long @whitequark.

[2018-07-09 10:13] jordens commented on #1099
also c.f. #686 for tracking various aspects of coredevice performance

[2018-07-09 10:13] jordens commented on #1007
also c.f. #686 for tracking various aspects of coredevice performance

[2018-07-09 10:42] sbourdeauducq commented on #1099
A simple thing you could do is identify what exactly caused the slowdown between the two commits I posted, and submit a PR.

[2018-07-09 11:57] sbourdeauducq commented on #1057
All three now seem to pass timing with Vivado 2018.2 and b0a47ddc + 83c83547 on MiSoC.

[2018-07-09 16:48] dhslichter opened #1100 "FPGA refuses connection"
Running artiq 3.6 with a KC705 at NIST, we get errors every ~10-20 minutes where communication between core device and PC fails and the current kernel is ejected.  Usually the next experiment submitted is OK.  Today it's gone farther and will not receive new kernels.  Rebooting the FPGA fixes the issue.  Traceback below:

[code]

[2018-07-09 16:49] sbourdeauducq commented on #1100
Anything in the board log/UART?

[2018-07-09 16:52] jbqubit commented on #1055
It might be worth opening an Analog Devices service request on this. They may be willing to do a design review of HMC7043 as used on Sayma.

[2018-07-09 16:58] jbqubit commented on #1080
@hartytp Is your board still showing PRBS errors?

[2018-07-09 17:06] jordens commented on #1100
Sounds like https://github.com/m-labs/artiq/issues/986 . doesn't look like it was cherry-picked for release-3

[2018-07-09 17:12] jbqubit commented on #644
I'll give it a try. Thanks!

[2018-07-09 17:16] sbourdeauducq commented on #1100
It was cherry-picked (9589decd54), but the fix also contained a LLVM update and caused https://github.com/m-labs/artiq/issues/1007. There has been no release since.

[2018-07-09 18:57] hartytp commented on #1080
@jbqubit I don't think there have been any relevant commits since I last tested, so presumably yes.

So far I've only tested with the "standalone" variant. I plan to test with a different variant when I have time, although I don't expect it to make a difference.

[2018-07-09 21:15] dhslichter commented on #1100
@sbourdeauducq haven't looked at the board log or UART, will do so when the event repeats.  Does this need to wait for a release until #1007 is addressed or can it come out earlier?

[2018-07-09 23:39] dhslichter commented on #1100
Another traceback, for reference.  This has not caused a total crash requiring an FPGA reboot, just killed the currently running kernel, exiting with the error message below:
[code]

Last few minutes of the corelog record downloaded here:

[code]

[2018-07-09 23:54] sbourdeauducq commented on #1100
You can try a release-3 dev package.

[2018-07-10 09:30] sbourdeauducq commented on #727
@enjoy-digital Any idea why that happens? If I remember correctly, this bug was also on the KC705, so it's not a Sayma issue.

[2018-07-10 16:15] drewrisinger opened #1102 "Proposal: Make verbosity arguments mutually exclusive"
Wanted to discuss, trivial implementation.

[Current implementation of artiq.tools.verbosity_args()](https://github.com/m-labs/artiq/blob/f8ceea20d07776f3c7f3c6b97d6f23bfc5ebd451/artiq/tools.py#L109) allows setting both "--quiet/-q" and "--verbose/-v" options. **argparse** allows creating [mutually exclusive argument groups](https://docs.python.org/3/library/argparse.html#mutual-exclusion), which

[2018-07-10 16:51] jordens commented on #1102
Thanks for the report.
Why do you want to do this? I.e. is this a feature request or a bug report and what's the feature/bug?
And if you split the single controlled quantity verbosity into two separate top level groups with different titles, that would make this less readable IMO.
Having `-q` and `-v` accumulate with opposite sign has [well defined semantics](https://github.com/m-labs/artiq/blob/f

[2018-07-10 17:50] drewrisinger commented on #1102
I think the advantage of this is it provides cleaner parsing of the input and prevents users from doing anything too funky on command line. Semantics of logging level would still remain the same.

It would still be in a single group (the verbosity group, just wouldn't be named "verbosity") and this prevents users from doing some confusing syntax like `-vv -q` which is functionally identical to `-v

[2018-07-10 18:03] jordens commented on #1102
You can `ArgumentParser().add_argument_group("verbosity").add_mutually_exclusive_group()`. That makes me happy. Want to spin a PR?

[2018-07-10 19:14] hartytp commented on #1045
Actually, I take that back: lack of bounds checking in ARTIQ is quite an annoying issue, which negatively affects the user experience (can be an easy way of wasting time with obscure bugs).

If we only add bounds checking to SI to mu conversion functions (and hence to SI `set` methods which call them) then the small speed penalty should be acceptable (these functions are generally not called when

[2018-07-10 19:54] jbqubit commented on #1045
Amen! As @hartytp suggests I think this would greatly improve the user experience.

[2018-07-10 20:49] jbqubit commented on #794
@gkasprow Please test on the Sayma hardware you have.

[2018-07-10 21:34] hartytp commented on #794
@jbqubit let's try and prioritize things.

IMO https://github.com/sinara-hw/sinara/issues/567 should be the top Sayma priority because (a) it's making it hard for @sbourdeauducq to work on Sayma and (b) it seems like it's probably a relatively straightforwards hardware issue that can be solved quickly, unlike the other issues which involve complex parts of the software stack.

Once that's done we

[2018-07-10 22:08] dhslichter commented on #1100
Another corelog dump, in case it is useful @whitequark.  I started it from a bit before when the error occurred.

[code]

[2018-07-11 01:01] sbourdeauducq commented on #1102
One advantage of the current behavior is, if you're running an artiq tool from a script, you can tune the verbosity level again by adding -v/-q to any of those flags that the script may already have used.

[2018-07-11 01:11] whitequark commented on #1100
This looks like the culprit:
[code]
There have been some fixes upstream in smoltcp, I'll port ARTIQ to a newer version of it.

[2018-07-11 01:17] whitequark commented on #1086
There should be debug information in IR and LLVM should extract line numbers from that. If it doesn't I think there's some option that does it, we might need to expose it in llvmlite though.

[2018-07-11 01:18] whitequark commented on #1088
Function pointer lists should be explicitly skipped, just like functions currently are. I'll take a look.

[2018-07-11 01:20] whitequark commented on #1089
Implementing genericism through eval seems quite depressing. We already implement monomorphization (it's required for handling Python inheritance; superclass methods are polymorphic on the self argument), so why not simply expose it? To aid inference, polymorphic methods will require an explicit type annotation, something like:
[code]

[2018-07-11 01:33] sbourdeauducq commented on #794
He has not received the buggy board yet, so it makes sense to do other things in the meantime. And I agree that the other bugs should be fixed before looking at synchronization at the DAC outputs.

I'll let @gkasprow handle the RFSYNCIN biasing issues, and David seems to be making good progress with ADI forum archaeology and tests on the HK board.

That one should be high priority as it is blockin

[2018-07-11 01:37] sbourdeauducq commented on #1080
@hartytp Does it make sense that you get a board that doesn't behave crazy like that, for running your experiment?
Right now the situation on my side is:
* 1 set of boards that has extreme 3.3V problems and is not affected by this; on the way to WUT
* 1 set of boards that has more moderate 3.3V problems, also not affected by this, and which I'm keeping for now so that e.g. HMC7043 work is not comp

[2018-07-11 08:15] hartytp commented on #1080
Could do. That way I can play with/test out some of the more advanced features that we haven't looked at yet.

However, I'd generally prefer to prioritize getting the basics rock solid. Relying on "golden" boards that happen to work can be quite fragile; just because they don't exhibit the problems now doesn't mean they won't develop them soon.

[2018-07-11 08:16] hartytp commented on #794
Aah, I didn't realize he was doing more work on that. That's great then, I'll leave it to him.

[2018-07-11 08:37] jordens commented on #1102
That's also why I like it the way it is. I'd only make it mutually exclusive if it really causes confusion.

[2018-07-11 11:46] #1055 closed

[2018-07-11 12:28] hartytp commented on #1055
Thanks.

[2018-07-12 04:39] sbourdeauducq commented on #1083
@hartytp Can you test again with the latest code?

[2018-07-12 04:40] sbourdeauducq commented on #794
Looking good with the latest code.

[2018-07-12 09:16] hartytp commented on #1083
@gkasprow I just tried to test the latest firmware, but my AMC has developed an issue. When I power it on, I hear a hum and only the 12V0 and 0V9 LEDs come on. The 0V9 LED is flashing and the current from the PSU is bouncing between a couple of hundred mA and close to 0A.

Any ideas what could be wrong, or should I send this back to you (I'm shipping other boards to TechnoSystems right now, so cou

[2018-07-12 09:31] sbourdeauducq commented on #1083
Please discuss this bug in the hardware tracker.

[2018-07-12 14:19] jbqubit commented on #1083
@sbourdeauducq https://github.com/m-labs/artiq/issues/1055 is now closed. Please return to this issue. Have you located an oscilloscope scope to do basic tests like this in HK?

[2018-07-12 16:13] jbqubit commented on #1080
@sbourdeauducq do you see this issue on your board with any of variants?

[2018-07-12 16:16] jbqubit commented on #794
As I understand it...

- sinara-hw/sinara#567 might have a simple patch for HK board
- #1055 is closed!
- #1080 is the last one hanging. This is in the hands of M-Labs, right?

[2018-07-12 16:19] hartytp commented on #794
Isn't closed yet. Hopefully it's fixed by the HMC7043 changes, but I would like to test this on my board before we close.

[2018-07-12 16:59] sbourdeauducq commented on #1083
Things are working correctly on the hk board.

[2018-07-12 16:59] sbourdeauducq commented on #1080
As pointed out earlier, no.

[2018-07-12 17:02] sbourdeauducq commented on #794
We're out of debugging budget, we cannot reproduce it, and it looks like a hardware issue or some obscure xilinx bug.

[2018-07-13 12:41] enjoy-digital commented on #727
I would need to investigate. I'll try to see if i'm able to reproduce it on the reduced designs with my boards.

[2018-07-13 12:56] sbourdeauducq commented on #727
Maybe talking to AD (e.g. forums) would go a long way. Could you post there?

[2018-07-15 06:57] sbourdeauducq commented on #1102
@drewrisinger Unless you insist, we'll keep the current behavior.

[2018-07-15 06:57] #1102 closed

[2018-07-15 07:17] sbourdeauducq commented on #1095
Did you create a ``artiq.gateware.rtio.phy.ad53xx_monitor.AD53XXMonitor`` in the gateware?

[2018-07-15 08:11] #1095 closed

[2018-07-15 09:40] #1010 closed

[2018-07-15 09:40] #1059 closed

[2018-07-15 09:40] #1060 closed

[2018-07-16 09:31] sbourdeauducq commented on #795
@gkasprow Can you expedite the rework, testing, and shipment of the replacement Sayma?

[2018-07-16 11:40] gkasprow commented on #795
I'm solvinge #475 . It was caused by at least 3 independent factors. 2 were found and fixed, the last one I'm trying to identify but I think I'm very close.

[2018-07-16 12:04] sbourdeauducq commented on #795
The microtca mess is annoying but it's not blocking other people's developments and experiments, unlike this.

[2018-07-16 15:43] gkasprow commented on #795
I solved the issue. I will ship one Sayma AMC ASAP.

[2018-07-16 20:42] jonaskeller commented on #838
I just tried again, and this time it seems reproducible (but this might be "luck").

I'm running artiq 3.6 py_42+git3e7cdaa5, nist_qc2 gateware, Windows 7 64bit

The recipe is
1. reset the FPGA while the dashboard is running
2. run this experiment:

        from artiq.experiment import *

        class DashboardCrash(EnvExperiment):
            '''cause dashboard crash'''

            def build(se

[2018-07-16 21:18] gkasprow commented on #795
sure.

[2018-07-16 23:12] philipkent opened #1107 "Setting a dataset in a try/except block on the core device fails to compile in 3.6"
In Artiq 3.6, the following experiment gives an LLVM IR parsing error when a dataset is being set inside a try/except block.  This prevents datasets from being set on the core inside blocks that use exception handling.

[code]

The kernel method will compile if the set_dataset call is moved outside the try/except block.  For instance, the following experiment compiles and runs correctly.
[code]

T

[2018-07-17 13:17] sbourdeauducq commented on #1061
That was due to the 26GB of trash in ``/var/lib/buildbot/slaves/debian-stretch-amd64-2/miniconda/conda-bld``. I deleted it and it now "conda build output" takes a more reasonable time. We should clean up that folder regularly.

[2018-07-17 13:17] #1061 closed

[2018-07-17 22:48] philipkent opened #1108 "Copying pointer to entry in 2D-array gives a compilation error"
In artiq 3.6, the following gives a compilation error due to the line `j = i` where the local pointer i is being copied to j.

[code]

The above gives an AssertionError error:
[code]

Compilation succeeds if the `j=i` section is removed.  For example, the below code compiles just fine.

[code]

[2018-07-17 23:06] philipkent commented on #1108
ok, tx.

[2018-07-17 23:51] philipkent opened #1109 "RPC arguments specified by name are always True"
In artiq 3.6, when the name of a boolean argument to an RPC method is specified a True value is always passed.  For example, the following prints True, True, False, True.

[code]

[2018-07-18 02:32] sbourdeauducq commented on #817
Done, needs testing.

[2018-07-19 07:17] sbourdeauducq commented on #817
This works except for the FMC card line direction control.
@gkasprow Are there different versions of that card with different permutations of the shift register outputs, by any chance? Is this correct: https://github.com/m-labs/artiq/blob/fe93a454d68b6e6db697c0c0c6f550ec95bbb691/artiq/coredevice/fmcdio_vhdci_eem.py#L9

The code loads the shift register MSB first:
https://github.com/m-labs/artiq/bl

[2018-07-19 07:48] sbourdeauducq commented on #817
Thanks. The code I linked was correct, but I was doing something daft in my test kernel. Things are working correctly now.

[2018-07-19 07:48] #817 closed

[2018-07-19 11:08] sbourdeauducq commented on #1080
@gkasprow Can you remember to do those tests? https://github.com/m-labs/artiq/issues/1080#issuecomment-403336469

@enjoy-digital The GTH instance in the JESD204 core does not contain all the parameters and ports of the primitive. This would be fine if Xilinx transceivers did not suck, but they do have a track record of idiotic behavior if anything in their plethora of obscure parameters is not set

[2018-07-19 11:12] sbourdeauducq commented on #1080
Also @gkasprow were boards assembled with different silicon revisions of the Ultrascale FPGA?

[2018-07-19 11:30] gkasprow commented on #1080
All FPGAs were purchased at the same time, from same batch so should have same revision.

[2018-07-19 11:37] gkasprow commented on #1080
@sbourdeauducq I remember, but @marmeladapk is on holidays till the end of month.
If it is really urgent, I will need bitfile that enables right clocks on HMC that can load from Vivado and observe the signals

[2018-07-19 11:41] sbourdeauducq commented on #1080
Simplest is probably that you flash ARTIQ into the board. Do you need binaries?

[2018-07-19 12:09] enjoy-digital commented on #1080
@sbourdeauducq: i'll try to do that next week.

[2018-07-19 14:01] gkasprow commented on #1080
@sbourdeauducq Stupid question: how to program the FLASH (under Windows), but not only part for FPGA but also firmware?
I need to create FLASH config file where I have bitstream and also can load data file with certain start address. I assume there are RTM bit and ARTIQ software at certain offsets. Or you can just send me the FLASH image (bit, bin or rbt file) containing all the binaries.
Unfortun

[2018-07-19 14:04] sbourdeauducq commented on #1080
Install the artiq conda package, set up Zadig (http://m-labs.hk/artiq/manual-master/installing.html?highlight=zadig#configuring-openocd), then run ``artiq_flash -t sayma --srcbuild artiq_sayma`` (with ``artiq_sayma`` the name of the folder in the archive I linked).
Old ARTIQ versions do not configure both HMC7043 GTP outputs anyway.

[2018-07-19 15:45] vmsch opened #1110 "Irregular delays when handling Novogorny sample output"
Processing of output values of the Novogorny sample() function requires long delays, that considerably slow down the effective sample rate.
For example, saving the sample() output in a class attribute requires 10x as long as saving it in a local variable.
However, passing a local array of dimension >1 filled with sample() outputs as an argument to an asynchronous rpc function also causes RTIO unde

[2018-07-19 16:12] gkasprow commented on #1080
well, i have some problems:
conda create -n artiq-main artiq-sayma_amc-standalone
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - artiq-sayma_amc-standalone
  - artiq==4.0.dev=py_420+git3eb882b6

Current channels:

  - http://conda.anaconda.org/m-labs/label/main/win-64
  - http://conda.anaconda.org/m-labs/label/main/noarch

[2018-07-19 16:31] sbourdeauducq commented on #1080
The ``artiq`` package. Not ``artiq-sayma_amc-standalone``.

[2018-07-19 19:32] gkasprow commented on #1080
OK, success. At least from tools point of view.

[2018-07-19 20:17] TheCakeIsAPi opened #1111 "Documentation error"
In the manual at [https://m-labs.hk/artiq/manual-master/installing.html](https://m-labs.hk/artiq/manual-master/installing.html) under "Configuring the Core Device" the instructions read:
`$ artiq_coreconfig write -f idle_kernel idle.elf`
and
`$ artiq_coreconfig write -s rtio_clock i  # internal clock (default)`
`$ artiq_coreconfig write -s rtio_clock e  # external clock`
as well as several others.

[2018-07-19 23:49] klickverbot opened #1113 "TTL[In]Out methods using *_previous_timestamp are incompatible with DMA"
(Failing) test case here: https://github.com/m-labs/artiq/pull/1112

This is the loopback test, but with the output events (including the TTL counter sensitivity settings) generated via DMA. `count()` after the sequence returns incorrect values.

Another test case with debug output, where exactly the same sequence without DMA works without issues: https://gist.github.com/klickverbot/b274840ce8e237

[2018-07-20 03:59] #1111 closed

[2018-07-20 10:37] sbourdeauducq commented on #1080
@enjoy-digital May also make sense to add some transceiver diagnostics, e.g. to check if the QPLL/CPLL locks. Right now AFAICT the JESD code will continue to proceed with an unlocked PLL.
If the CPLL doesn't lock, then we know we don't have to look further in the transceiver settings.

[2018-07-20 10:42] sbourdeauducq commented on #1080
@enjoy-digital Also, are you initializing the transceiver (including CPLL reset) *after* the HMC7043 is fully initialized?

[2018-07-20 11:31] sbourdeauducq commented on #1080
Also, as you can see I am asking Greg to do some hardware tests in parallel. this project has been dragging on for way too long and we cannot wait for things. Please run the wizard, send the XCI file to Xilinx, and update your code asap.

[2018-07-20 11:35] sbourdeauducq commented on #1080
@gkaprow Do you have a problematic board without major power supply or other bugs? are you sending one to HK?

[2018-07-20 13:57] gkasprow commented on #1080
@sbourdeauducq I'm sending you two board-sets + SFP-SATA converter
One is perfectly fine, second has some issues with SDRAM - it does not pass test, but with Xilinx IP core it works fine - no single error in one hour run. I have two boards with same symptoms so please have a look. What is interesting the problem occurs on 3 DDR chips only and only with writes. The levelling window is simply zero w

[2018-07-20 14:02] sbourdeauducq commented on #1080
Okay, one by one. Can you locate a board that has this PRBS bug and no others?

[2018-07-20 17:15] sbourdeauducq commented on #1113
What about the analyser, anything suspicious there? The raw records should contain the gate events.

[2018-07-20 21:50] jonaskeller opened #1114 "mutate_dataset() fails to find broadcasted datasets"
Using 3.6 py_42+git3e7cdaa5 on Windows 7.

Despite the fact that the dataset `test` exists and is broadcasted, the experiment below triggers this exception:
https://github.com/m-labs/artiq/blob/17665c7271fcb16482f5bdf999a9e8e149042c20/artiq/master/worker_db.py#L215

    from artiq.experiment import *

    class mutateDatasetTest(EnvExperiment):
        '''mutate dataset test'''
        def build(s

[2018-07-21 07:52] sbourdeauducq commented on #1080
@enjoy-digital Thanks for updating the GTH with all the wizard parameters and testing on KCU105. I tested the new code on the HK board and didn't see regressions, so I committed it.

@gkasprow/@hartytp Please test the latest code on a board that used to have this problem.

[2018-07-21 13:18] jordens commented on #1113
Maybe invalidate `i_previous_timestamp` in `count()` (and elsewhere) to prevent it being used wrong in the DMA case and describe how to manually compute it and set it when doing `count()` ing a DMA gate. Or change the TTL api to enforce returning the gate closure time from `gate()` and require using that in `count()` (and elsewhere).

[2018-07-21 17:35] jordens commented on #1113
I'd like to have `sync_mu(t_mu)` as a method of the core device though. It's a frequent pattern.

[2018-07-24 04:09] KaifengC commented on #1012
@philipkent so what's the meaning for `core_dds::dds_channel_count`  and `first_dds_bus_channel` ? Since I've got the same error, could I ask how did you solve your problem?

[2018-07-24 06:06] sbourdeauducq commented on #1012
@KaifengC I thought you were using ARTIQ 4? it doesn't have this parameter anymore.

[2018-07-24 08:38] KaifengC commented on #1012
No, In fact we have a system running aritq 3.6 these days. It worked after I changed the `dds_channel_count`. But I'm still curious about the meaning of these two parameters.

BTW, I also see a `dds_bus_count` and don't know what did this mean?

[2018-07-24 09:03] gkasprow commented on #1080
It seems the failing supply was caused by too high inrush current caused by P12V FMC power switch. This caused voltage drop that disabled Exar chip. After I applied the inrush current protection in 3 places on the board, the supply works fine.

[2018-07-24 09:06] sbourdeauducq commented on #1080
@gkasprow OK so please compile the latest ARTIQ code (including the recent jesd204 commits) and check if this bug is still there; or send the board back to Tom. Giving it a quick test yourself would be faster, as if it doesn't work, I can follow up immediately with Xilinx support and the latest code that has the XCI etc. that they want. Otherwise this gets blocked on shipping.

[2018-07-24 09:34] sbourdeauducq commented on #1012
It's for systems that have a lot of DDS channels, and are using more than one bus for the AD9914s.

[2018-07-24 10:09] sbourdeauducq commented on #595
Done and seems to work except:
* the FPGA receives a 2048x1024 picture instead of the expected 1024x1024 for some reason. Each pixel appears to be received twice.
* the collected ROI outputs appear reasonable, but I have not checked them against the camera picture received over USB.

@jordens Can you review the code, and also look into these two points? Since you can get physical access to the cam

[2018-07-24 10:41] gkasprow commented on #595
Maybe you sample each bit twice, i.e. by using DDR buffer

[2018-07-24 10:57] jordens commented on #595
A couple things now. I'll do a detailed review later:

* I think
[code]
* The `WaitResolution` state should be removed. The camera is generally not used as a video camera, it's not delivering frames all the time, we can't block on that.
* If that's 2048 rows it's probably due to the frame transfer area. If it's 2048 columns, that's weird. Are you saying the same pixel **values** are received twice

[2018-07-24 10:59] sbourdeauducq commented on #595
It won't block, it just waits and then displays whatever values are there after a fixed time.

Yes.

[2018-07-24 16:03] sbourdeauducq opened #1116 "config.rs compact() does not compact"
from David:

[2018-07-24 19:53] philipkent commented on #1012
@KaifengC I am not 100% sure on the meaning of each argument, but looking at artiq/coredevice/dds.py it looks like setting a dds is ultimately performed by the `core_dds` device's `program` method (line 351).  There is an array named `self.continuous_phase_comp` in that method that needs to be accessed by a relative bus index instead of it's absolute channel number.

[code]

So I think `first_dds_

[2018-07-24 20:53] philipkent opened #1117 "Artiq 3.6, using an 80,000 element array in a kernel method never returns"
Is there a limit to the size of an array that can be used in a kernel method?  I have an experiment that is running in Artiq 3.6, on Windows 64 bit that creates an array, set's it's first element to zero on the kernel, but then never returns from the kernel method:

The experiment I'm running is:
[code]
Which never prints 'done' and the experiment stays running in the schedule window of the dashbo

[2018-07-24 21:02] philipkent commented on #1117
If I change `self.data` to a numpy array, that fixes it and the kernel method does return.

[code]
Should numpy arrays always be used instead of vanilla python arrays?

[2018-07-25 12:16] gkasprow commented on #1080
@marmeladapk compiled it for me. I wanted to test it today but at the WUT there is a power outage so I'm not sure if I manage.

[2018-07-25 20:20] hartytp commented on #1080
@gkasprow @sbourdeauducq if it's quicker, feel free to send the board back to me and I'll do the tests

[2018-07-26 03:41] sbourdeauducq commented on #1116
This should also remove all traces of entries that have been removed with ``remove()`` - the current patch does not do that.

[2018-07-26 10:40] gkasprow commented on #1080
@sbourdeauducq I have all is needed to check the clock SI.

[2018-07-26 11:31] gkasprow commented on #1080
I probed signals on the BGA vias. Both _N and _P look the same
The GTP CLK2:
![tek00143](https://user-images.githubusercontent.com/4325054/43259877-157f949c-90d8-11e8-8711-5ac211a4e8ad.png)

GTP CLK1:
![tek00145](https://user-images.githubusercontent.com/4325054/43259890-1e712494-90d8-11e8-82da-65dcf5538eaa.png)

[2018-07-26 11:31] sbourdeauducq commented on #1080
@gkasprow
1. Is that a board that exhibits the bug?
2. What ARTIQ and JESD core versions are you using? Is that with the latest code that has the new transceiver settings?
3. Why is there a difference?
4. Do you think that the lower amplitude of GTP_CLK2 or other SI issues can cause the problem?

[2018-07-26 11:34] gkasprow commented on #1080
The amplitude is still 1Vpp, so it is much more than needed.
Gateware ident 4.0.dev+1286.g015c592a;standalone
I don't see JESD errors, will try with other boards.

the log
    13.741993s]  INFO(board_artiq::hmc830_7043::hmc7043): aligning SYSREF with RTIO...
[    13.754925s]  INFO(board_artiq::hmc830_7043::hmc7043):   ...done (0/33 slips)
[    13.764582s]  INFO(board_artiq::hmc830_7043::hmc7043):

[2018-07-26 11:35] sbourdeauducq commented on #1080
Is that with Tom's board that used to have the bug?
What about my other questions?

[2018-07-26 11:41] gkasprow commented on #1080
Tom's board is on a way to his lab. He will get it tomorrow.
On another board it also works fine, and the GTPCLK1 has higher amplitude.

[2018-07-26 11:42] gkasprow commented on #1080
I will try it on my last board but have to apply some fix

[2018-07-26 11:42] sbourdeauducq commented on #1080
@gkasprow Please test **only** on boards that are confirmed to exhibit this bug, i.e.
1. ARTIQ versions (and corresponding JESD core versions) prior to 015c592a fail PRBS test, **and**
2. Reverting https://github.com/m-labs/artiq/commit/de7d64d482dcd51755be93040562896528670b68 makes the bug disappear

Otherwise we cannot know if we fixed this.

[2018-07-26 11:43] sbourdeauducq commented on #1080
I am still surprised by the amplitude difference. Also, lower amplitude may mean higher jitter...

[2018-07-26 11:44] marmeladapk commented on #1080
@sbourdeauducq

Artiq: 015c592, jesd204b: 546c824, Misoc: 57ebe11, Migen: bef9dea

[2018-07-26 11:48] gkasprow commented on #1080
no PRBS errors on the third board I have.

[2018-07-26 11:48] sbourdeauducq commented on #1080
That doesn't mean much; please pay attention to this message: https://github.com/m-labs/artiq/issues/1080#issuecomment-408069309

[2018-07-26 11:56] gkasprow commented on #1080
I'm not sure which board had such issue. It could be one that I posted to you.
I'm sure Tom has one that shown PRBS errors.

[2018-07-26 11:58] gkasprow commented on #1080
On all 3 boards GTP CLK2 has higher amplitude than GTP CLK1. I'll dig into it.

[2018-07-26 12:01] marmeladapk commented on #1080
@gkasprow I have some older builds backed up, you can flash them if you want.

[2018-07-26 12:02] sbourdeauducq commented on #1080
I had asked you several times before to check this. I just explained again how to do it: https://github.com/m-labs/artiq/issues/1080#issuecomment-408069309

Your previous messages said that GTP_CLK**1** had higher amplitude.

[2018-07-26 12:04] gkasprow commented on #1080
@sbourdeauducq I can flash previous version and check. @marmeladapk can you generate version that had the PRBS issue so I could flash 3 boards and test?
You are right, GTP_CLK1 has higher amplitude.

[2018-07-26 12:14] gkasprow commented on #1080
There is something bizzare. I measure 1Vpp on pin 37 of HMC (CLK1) and almost 2Vpp on pin 20 (CLK2) of HMC chip.
Then I measure 2Vpp on A1/B1(CLK1) of RTM connector and 1Vpp on A5/B5 (CLK2) of RTM
Then I measure 1Vpp on BGA P5/P6 (CLK2) and 2Vpp on BGA V5/V6 (CLK1)
Doesn't make much sense...

[2018-07-26 12:35] sbourdeauducq commented on #1080
You can build without SAWG, it has no impact.

[2018-07-26 12:50] gkasprow commented on #1080
I've just re-checked with Michal and the same signal that has 1Vpp on transmitter side, has 2Vpp on receiver side and the signal that has 2Vpp on transmitter side has 1Vpp on receiver side. Makes no sense...

[2018-07-26 12:53] gkasprow commented on #1080
I checked with multimeter, the trace starts at the HMC chip capacitor and goes to the FPGA. It looks like there was termination missing...

[2018-07-26 13:17] gkasprow commented on #1080
I checked with Ohmmeter before the HMC starts and resistance is higher than a few kOhms so it means that termination did not start calibration yet. After the HMC starts, I measure   40Ohm/70Ohm on CLK2 and 98/96Ohm on CLK1. Since the multimeter uses integrating converter, it does not care about 1Vpp RF signal on it. Difference between measurements with changed leads is caused by some DC offset.

[2018-07-26 13:18] gkasprow commented on #1080
So it looks like CLK2 has some troubles with impedance calibration... I will reset the HMC and measure R again.

[2018-07-26 14:06] marmeladapk commented on #1080
@sbourdeauducq I want to revert de7d64d. Which pair of those two parameters should I choose? Both are different than what's in de7d64d.

[code]

[2018-07-26 14:08] gkasprow commented on #1080
No PRBS errors so far, but I get:

[    11.277999s]  INFO(board_artiq::ad9154):   margins: -67 +2
[    11.283469s] ERROR(board_artiq::ad9154): SYSREF margins are too small

[    13.533295s]  INFO(runtime::kern_hwreq): resetting RTIO
[    13.538238s] ERROR(runtime::rtio_mgt): RTIO sequence error involving channel 8

[2018-07-26 14:09] marmeladapk commented on #1080
/\ That's with 7b75026

[2018-07-26 14:11] gkasprow commented on #1080
on another board-set

2.522308s]  INFO(board_artiq::ad9154): AD9154-0 found
[    12.537461s]  INFO(board_artiq::ad9154): AD9154-0 initializing...
[    12.550404s]  INFO(board_artiq::ad9154):   ...done
[    12.632343s]  WARN(board_artiq::ad9154): AD9154-0 config attempt #1 failed (bad SYNC)
[    12.649173s]  INFO(board_artiq::ad9154): AD9154-0 initializing...
[    12.662077s]  INFO(board_artiq::ad9

[2018-07-26 14:13] gkasprow commented on #1080
on third board:

  13.613172s]  INFO(board_artiq::ad9154): AD9154-0 found
[    13.628325s]  INFO(board_artiq::ad9154): AD9154-0 initializing...
[    13.641341s]  INFO(board_artiq::ad9154):   ...done
[    13.715225s]  INFO(board_artiq::ad9154): AD9154-0 running PRBS test...
[    14.721602s]  INFO(board_artiq::ad9154):   ...passed
[    14.725262s]  INFO(board_artiq::ad9154): AD9154-0 running STPL te

[2018-07-26 14:14] sbourdeauducq commented on #1080
It doesn't matter; those don't affect the PRBS test, only inter-DAC sync.

[2018-07-27 08:04] sbourdeauducq commented on #1080
@gkasprow You are still not doing this test, so I gave it a try with the boards I received today, and which happen to exhibit this bug.
The problem appears to be triggered by the **RTM** side.

As a side note, since all the boards I received are broken in one way or another, I still cannot test inter-board synchronization, unless I do it with Kasli+Urukul on the other end...

[2018-07-27 08:09] sbourdeauducq commented on #1080
Additionally, there is a lot of DRTIO data corruption when using the RTM that has this bug with the satellite gateware.

[2018-07-27 08:19] gkasprow commented on #1080
@sbourdeauducq I shipped you 2 sets of boards - one AMC that has troubles with SDRAM, another AMC is working fine and 2x RTM.
On all my boards I do not see PRBS errors, I swapped the boards (I have 4 RTMs) and result is the same.

Do you have any idea why termination resistance is much lower at GTP2 clock input?

[2018-07-27 09:59] sbourdeauducq commented on #1080
Well, it seems to be a combination of AMC+RTM, some have the problems, but the problematic RTM didn't cause the bug with a third AMC I tried. Which would make sense if it's due to termination problems at the FPGA and process-dependent drive variations of the HMC7043...

[2018-07-27 12:05] hartytp commented on #1080
@sbourdeauducq I've got my AMC back now, so can do tests if that's helpful. But, it sounds like it might be better to wait for Xilinx to get back about the termination issues first?

[2018-07-27 20:10] jbqubit commented on #1080
Please be specific about the problems you see with the boards that just arrived from WUT.

[2018-07-28 07:58] sbourdeauducq opened #1118 "core device zero-configuration networking support"
e.g. with mDNS, DNS-SD, Bonjour. Need to check which one is the best supported on Linux and Windows.

Along with DHCP (https://github.com/m-labs/artiq/issues/1085) it would allow plugging a core device into the network and in most cases having it work immediately without editing the device database.

[2018-07-28 08:39] jordens commented on #1118
* #955 for the MAC

[2018-07-28 08:52] jordens commented on #1118
I suspect the modern discovery protocols won't be that easy to get working in realistic environments and across platforms.
* Also #355 for actually relieving a lot of the device db editing needs

[2018-08-01 06:31] jordens commented on #1110
Thanks for the report. To triage:

* Does this also occur with Sampler?
* Your measurement strategy (that `dt`) is broken. You want to do `t0 = now_mu()`. Otherwise you are wrongly counting whatever the slack was before calling `sample()`.
* What's the problem with your second code snippet? As documented, `sample()` eats all slack. On the second invocation you are bound to get an underflow because

[2018-08-01 06:33] jordens commented on #1117
I would generally use arrays. But it shouldn't hang like that. Is there anything on the UART?

[2018-08-01 06:38] jordens commented on #1114
I think the point is that you can't mutate a dataset that you have not created yourself. Allowing that would make the semantics of the dataset in the archive ambiguous. If that's not clear from the documentation it should be explained there.

[2018-08-01 10:49] hartytp commented on #1080
@sbourdeauducq just flashed my AMC with latest ARTIQ... PRBS issue is still present https://hastebin.com/ovexatodob.sql

[2018-08-01 11:09] gkasprow commented on #1080
@sbourdeauducq the CLK1 and CLK2 has different DC components. This is the same on all 4 boards. So it looks like the clock input configuration is different.

[2018-08-01 11:29] gkasprow commented on #1080
I'm compiling IBERT tester IP that uses both CLK0 from bank 226 and CLK0 from bank 227. Will see how it affects either CLK termination resistance and DC component.

[2018-08-01 15:05] gkasprow commented on #1080
With Xilinx IP core the GTP_CLK1 has DC level of 0.75V.
I'm compiling now version that uses CLK2.

[2018-08-01 16:10] whitequark commented on #1117
It almost certainly hangs in the type inferencer, which has to typecheck the entire 80000 elements. And yes, numpy arrays are preferred in kernels for this reason.

[2018-08-01 16:27] #1116 closed

[2018-08-01 16:36] jonaskeller commented on #1114
Ok, thanks for clarifying. If there's a reason for this behavior, I guess I will work it around with something like

    def mutate_broadcasted_dataset(self, key, index, value, persist=True, save=True):
        try:
            self.mutate_dataset(key, index, value)
        except KeyError:
            temp = self.get_dataset(key)
            self.set_dataset(key, temp, broadcast=True, persist=per

[2018-08-01 17:09] jonaskeller opened #1119 "Type inference breaks inheritance"
Using artiq 3.6 py_42+git3e7cdaa5 on Windows 7 64bit

Mixing instances of a class and its descendant upsets the compiler's type inference. My naive notion is that it's always safe to assume that a descendant provides all the capabilities of its parent (of course, the opposite isn't true, and I wouldn't be surprised if things were more complicated altogether here).

Is this behavior intentional? An

[2018-08-01 20:35] jonaskeller commented on #1119
Thanks for the explanation. So is there a way to tell the compiler explicitly that upcasting is ok for, e.g. the items in a list?

[2018-08-02 08:34] jordens opened #1120 "grabber: log resolution changes"
To aid setting up the ROIs and inferring frame size/pixel layout, the runtime grabber task should log resolution changes. Offering them through RTIO seems not very useful since once the frame size is know, it is already too late to adjust the ROIs.

[2018-08-02 08:35] jordens opened #1121 "grabber: add an example experiment"

[2018-08-02 10:50] jordens commented on #595
Pixel doubling presumably to meet min f requirement.

[2018-08-02 10:50] #595 closed

[2018-08-02 15:07] jordens opened #1123 "emtpy "raise" panics kernel cpu"
[code]

[code]

It should not panic but abort with a traceback.

Normal python outputs:

[code]

[2018-08-03 09:14] sbourdeauducq opened #1124 "Sayma SDRAM breaks with some bitstreams on some boards"
Symptom when that happens: ``Memory test failed (294860/4458496 words incorrect)``

VCCINT rework applied and voltage at regulator output measured at 0.96V. Voltage measured by XADC 0.948V.

Some boards never have this problem.

Does not appear to be triggered by SAWG (building with SAWG can trigger the problem, but sometimes the problematic board runs fine with another bitstream build that has th

[2018-08-03 14:09] whitequark commented on #1119
Currently not. The reason this isn't implemented is because as of 3.5, Python didn't have a typecast operator. In Python 3.6 there is the `var: type = value`, but it's not currently implemented in the compiler or in the parser.

[2018-08-03 14:17] sbourdeauducq commented on #1119
Python 3.6 is also not supported by the packaging (https://github.com/m-labs/artiq/issues/652).

[2018-08-03 14:34] jordens opened #1125 "kasli: connection reset under certain configuration"
* Netgear GS110TP
  * port1: upstream switch, untagged, vlan1
  * port8: linux computer, tagged vlan4, untagged vlan1
  * port9: kasli, untagged vlan4
* Linux machine:
  * untagged "parent" interface (`eth0`), DHCP
  * tagged vlan interface (`eth0.4`), static IP

Works just fine except that Kasli resets the connection after 1-30 seconds.
Might be a keepalive being lost.

[kasli-reset.dump.zip](htt

[2018-08-03 14:35] whitequark commented on #1125
Could be related to https://github.com/m-labs/smoltcp/pull/253#issuecomment-408696866.

[2018-08-03 15:07] sbourdeauducq commented on #998
Removing quash channels as below also does not prevent the bug.
[code]

[2018-08-03 15:31] sbourdeauducq commented on #998
There is no bug - I forgot that SAWG uses latency compensation extensively.

The actual timestamps during one reset can be obtained with:
[code]

which produces this output - it fits in the available lanes:

[code]

[2018-08-03 15:31] #998 closed

[2018-08-05 20:05] jbqubit opened #1126 "pmt readout slow"
Something blocks for 135 ms on occasion in this experiment. Commenting out ```self.pmt.count()``` prevents this blocking.

[code]

[2018-08-05 23:03] sbourdeauducq commented on #1126
How do you measure the "block"?

[2018-08-06 10:08] hartytp commented on #1080
https://hastebin.com/zuciveyoge.sql

Built with a fresh conda environment with latest artiq-dev. Still see PBRS errors.

[2018-08-06 10:12] hartytp commented on #1080
Other thoughts:
1. I guess that since misoc doesn't have a JESD Rx stack, we can't replace the RTM with Greg's loop back adapter and do a PRBS test that way, can we?
2. Is it worth Greg looking at the JESD lines with a scope?

[2018-08-06 10:21] sbourdeauducq opened #1127 "Sayma intermittent STPL test failure"
[code]

[code]

[code]

[2018-08-06 10:42] sbourdeauducq commented on #1080
Maybe. I don't have better suggestions.

[2018-08-06 11:07] gkasprow commented on #1080
What is GTX TX level right now?

[2018-08-07 01:29] sbourdeauducq commented on #1080
I'm not sure what you mean by TX level. All the transceiver parameters are here:
https://github.com/m-labs/jesd204b/blob/master/jesd204b/phy/gth.py#L226
The corresponding files from the Xilinx wizard are here:
https://github.com/m-labs/jesd204b/tree/master/xci/gth

[2018-08-07 01:52] jbqubit commented on #1126
``artiq_coreanalyzer`` and watching LED flashing.

 If ``c = self.pmt.count()`` is replaced by `` c = i `` the long delays go away.

[2018-08-07 02:02] sbourdeauducq commented on #1126
Really? Isn't the LED a RTIO device?
Is there anything in the log? What ARTIQ version?

[2018-08-07 02:05] jbqubit commented on #1126
Nothing unusual in the log. 4.0.dev+1298.ge4d48a78;opticlock

[2018-08-07 02:09] sbourdeauducq commented on #1126
Could be the compiler getting slow for some reason; try using the usual Python profiling tools, and minimizing it by removing the core device interaction (e.g. like ``artiq_compile``).

[2018-08-07 02:22] KaifengC opened #1128 "Broadcast slow for large datas in `set_dataset()`"
Consider this example:

[code]
If you adding an `image` applet you will find the `test.image` is refreshing very slow (slower than 0.1 s).
This will be much more clear if you increase `size`. The applet would keep updating long after `terminate request`.

So is there a limit on the `broadcast` speed? Is it possible to speed it up?

[2018-08-07 02:30] jbqubit commented on #1126
See attached .vcd.
[rtio.vcd.zip](https://github.com/m-labs/artiq/files/2264734/rtio.vcd.zip)

[2018-08-07 02:42] jbqubit commented on #1126
Compiler only runs once per call to ``artiq_run``. How can that be the cause?

[2018-08-07 02:43] sbourdeauducq commented on #1126
No, it runs every time you call a kernel from outside a kernel.

[2018-08-07 04:26] sbourdeauducq opened #1129 "HMC7043 cycle slip breaks DAC sync"
Using the HMC7043 cycle slip feature intermittently causes breakage of the DAC synchronization, which is manifested by a 53.33ns slip between the two DAC chip outputs.

The magnitude of the slip is always 53.33ns and the slip can be in either direction.

53.33ns corresponds to 8 cycles of the 150MHz clock.

Those phase slips are used for synchronizing DACs to the RTIO timestamp counter. If only 8

[2018-08-07 05:50] enjoy-digital commented on #1080
@gkasprow: the settings you are looking for are here: https://github.com/m-labs/jesd204b/blob/master/jesd204b/phy/gth.py#L205 and can be controlled by the firmware. That would be interesting that someone with a failing board do some tests similar to what you did: https://github.com/sinara-hw/sinara/issues/216#issuecomment-331890583

[2018-08-07 05:53] #1123 closed

[2018-08-07 06:28] hartytp commented on #1080
@gkasprow can you remind me, do you have any boards that show these ARTIQ PRBS errors? There isn't any point debugging on boards that don't show them.

[2018-08-07 06:30] hartytp commented on #1080
Here is my thinking on this:

if this is some issue with the input buffer not functioning properly then there should be no proper clock inside the FPGA. The appropriate test for that seems to be to repeat my previous measurement where I routed the FPGA clock from CLK2 on another output. @gkasprow can you repeat that test (I'm happy to send you binaries for it)?

If that clock looks good, we know t

[2018-08-07 06:31] hartytp commented on #1080
If it's not the input buffer, then it's got to be something like the routing of the clock to the transceiver, transceiver settings, JESD stack, etc. I think that to chase that down, we really need to look at the JESD lanes with a fast probe. @gkasprow can you have a look at that, please? Maybe trigger your scope from the HMC7043 output.

[2018-08-07 06:39] sbourdeauducq commented on #1080
I would be careful with such assumptions. There are two paths in the IBUFGDS_GTE3, one that drives the transceiver, and one that drives the fabric - the transceiver is pretty separated from the rest of the FPGA. We do not know how those two path are done in the silicon.

[2018-08-07 06:45] hartytp commented on #1080
Yes. But at least this way we know that the input stage is good as I assume that's common. Anything after it needs to be looked at separately by looking on the transceiver pin.

@sbourdeauducq Can we replace the jesd core with a simple pattern generator for Greg's test?

[2018-08-07 06:48] #1109 closed

[2018-08-07 07:05] enjoy-digital commented on #1080
@hartytp: you can generate a square wave with linerate/40 frequency: https://github.com/m-labs/jesd204b/blob/master/jesd204b/phy/gth.py#L688

[2018-08-07 07:05] sbourdeauducq commented on #1127
Running this loop never shows a STPL failure if there wasn't one in the first iteration:
[code]

Running this, on the other hand, ends with a STPL failure:
[code]

So, it seems that something in the PRBS test upsets the DAC or the JESD core.

[2018-08-07 07:07] #1107 closed

[2018-08-07 07:10] sbourdeauducq commented on #1127
@enjoy-digital Have you checked that the JESD core exits PRBS mode cleanly?

[2018-08-07 07:16] sbourdeauducq commented on #1127
This loop also ends with a STPL failure, so it seems the problem would be in the JESD core and not the DAC:
[code]

[2018-08-07 07:33] sbourdeauducq commented on #1127
This also causes STPL failure eventually, though it takes a lot of iterations.
[code]
Note: ``dac_cfg_retry`` toggles ``jesd_enable``.

[2018-08-07 07:41] enjoy-digital commented on #1127
@sbourdeauducq: that's probably better to restart the jesd after a prbs test indeed. (spi reset and jesd core reset as you are doing).

[2018-08-07 07:45] sbourdeauducq commented on #1127
(Re)starting the JESD still causes some STPL errors as demonstrated here: https://github.com/m-labs/artiq/issues/1127#issuecomment-410962822 so this is not even a workaround.

Why is it "probably better" to "restart" the JESD?

This loop also doesn't cause a STPL error, so it does seem like there are some issues with the "enable" and "prbs" controls of the JESD core:
[code]
(compare with https://g

[2018-08-07 07:57] gkasprow commented on #1080
Yes, I have failing board.

[2018-08-07 08:02] enjoy-digital commented on #1127
I'm not saying it's a workaround. I just don't know how the DAC is exiting the PRBS mode, so don't know is STPL is supposed to work after that.  On the JESD core, exiting the PRBS mode should be clean, since it does not really impact the core itself, we are just injecting prbs datas when PRBS is enabled and then get back to JESD core datas when disabled. I only see this that can impact the JESD co

[2018-08-07 08:04] sbourdeauducq commented on #1127
There was no PRBS when I did this: https://github.com/m-labs/artiq/issues/1127#issuecomment-410962822 - and it still caused the STPL problem.

[2018-08-07 08:15] enjoy-digital commented on #1127
Then this is not related to PRBS. Next step is then to see if when STPL error is reported, DAC is outputing valid data or not.

[2018-08-07 08:16] sbourdeauducq commented on #1127
It is more frequent after PRBS.

[2018-08-07 08:19] hartytp commented on #1080
@sbourdeauducq are you okay to generate binaries for Greg, or do you need me to?

I think we need two sets: one which produces a square wave on the JESD lines, and one which does the normal DAC init. Both should also output the JESD MGTREFCLK on an SMA.

In parallel, I'll do some tests of my own, as discussed with @sbourdeauducq, but I can't do that straight away.

[2018-08-07 08:19] enjoy-digital commented on #1127
Then regarding https://github.com/m-labs/artiq/issues/1127#issuecomment-410970073, please do STPL test before PRBS (but not logical since we want to check the lower layers first), or add a reset after the PRBS test.

[2018-08-07 08:20] hartytp commented on #1080
@gkasprow how many boards do you have? how many exhibit PRBS issues? If not all boards exhibit this, does it depend on the AMC or the RTM, or some combination of the two (i.e. can you run the tests with different combinations of AMC and RTMs). Also, on the boards that fail, do they always fail? Or, are there some which only fail sometimes?

[2018-08-07 08:27] sbourdeauducq commented on #1127
Again, that won't solve all problems: DAC init + STPL alone already breaks (but more infrequently) - https://github.com/m-labs/artiq/issues/1127#issuecomment-410965924

Also it would be good to understand what is actually going on instead of doing voodoo programming.

[2018-08-07 08:28] hartytp commented on #1080
Okay, that's interesting. It would be good to get Greg to verify this, as he has more boards.

1. It is more evidence that this isn't damage to the AMC, which is good!
2. It suggests that this may not be an issue with the AMC only, but rather some interaction between the AMC and RTM (DAC configuration? PI issues only present with the RTM)
3. It suggests that Greg's IBERT tests using a loopback ada

[2018-08-07 08:29] gkasprow commented on #1080
AFAIR it was RTM that causes the PRBS problem. I will check it today. I'm formally on holidays until end of September (overdue leave) but without everyday dose of electronics life gets boring.

[2018-08-07 08:32] hartytp commented on #1080
Okay, thanks for letting me know that. I don't want to bother you on your (very well earned) holiday.

I don't think we can track this issue down without Greg in the lab (need fast probes to look at the JESD lanes, which i don't have). So, do we need to take a hiatus on this issue until you get back from holiday?

@sbourdeauducq is there any way of using Sayma as a DRTIO slave using only CLK1?

[2018-08-07 08:33] sbourdeauducq commented on #1080
I initially thought it was the RTM too, but I plugged a problematic RTM on another AMC, and the problem stopped...

[2018-08-07 08:38] hartytp commented on #1080
So, only particular AMC + RTM combinations?

[2018-08-07 08:40] sbourdeauducq commented on #1080
In theory, CLK1 can drive both the DRTIO quad and the JESD quads, and CLK1 and CLK2 have the same settings in the HMC7043 - so yes. But the IBUFGDS_GTE3 code in JESD and DRTIO needs rewriting for that. Also, I suspect driving a single quad with the DRTIO clock might perhaps give better DRTIO synchronization results.

[2018-08-07 08:41] hartytp commented on #1080
ACK. Well, let me know how you want to handle this. But, if Greg's not in the lab every day, this might be hard to debug.

[2018-08-07 08:42] sbourdeauducq commented on #1080
I can send you a CLK1-only patch for you to test.

[2018-08-07 08:44] hartytp commented on #1080
Thanks.

Maybe that's the best way forwards for now. Once Greg's back in the lab, we can fix this properly so that production can start on Sayma v2.0

In any case, getting Sayma onto an ion asap would be a good motivation boost for everyone.

[2018-08-07 08:45] gkasprow commented on #1080
I'm going to be in my lab today anyway. Moreover @marmeladapk came back from holidays and can do some tests as well.

[2018-08-07 08:47] hartytp commented on #1080
Okay, we'll let's keep going a little longer then. But, I don't want to take you away from your holidays.

@marmeladapk are you okay to do this https://github.com/m-labs/artiq/issues/1080#issuecomment-410974727 ? If not, I'll generate the binaries. I can give you advice on what needs doing, but it's probably easier if you build them yourself.

[2018-08-07 09:31] enjoy-digital commented on #1127
Where is is voodoo programming in saying?:
1) Decouple issues by putting PRBS out of the loop.
2) Once done, check that STPL issue is not a false positive by also checking that output is corrupted.

With 2): if output is not corrupted, then this is probably related to the STPL test itself. If also corrupted, then related to the JESD initialization itself.

[2018-08-07 09:39] sbourdeauducq commented on #1127
This is fine, but I have issues with that:

[2018-08-07 09:59] enjoy-digital commented on #1127
I'm saying that i don't know if the DAC can work correctly after a PRBS test without reset, so if you want to avoid a reset, then we need to be sure what can be expected from the DAC. (but from my understanding since the DAC will detect the JESD stream is missing when PRBS is sent, i expect it to require another link establishment to get back to JESD data).

[2018-08-07 10:58] #1014 closed

[2018-08-07 11:02] jordens commented on #965
I have seen this (the state being NULL bytes) as well after a blue screen on windows. It would be great if we could work around windows file system limitations by just keeping one previous version of the file around, e.g. the one that was last successfully used to restore the state on dashboard/browser start.

[2018-08-07 11:15] gkasprow commented on #1080
I have 3 AMC and 5 RTMs.
I tested TS190717-4 AMC with all RTMs and only 20171201a RTM has PRBS problems

[2018-08-07 11:15] gkasprow commented on #1080
edit, I have 5 AMCs.

[2018-08-07 11:47] gkasprow commented on #1080
no errors. Now will test 20171201a with all AMCs

[2018-08-07 12:10] gkasprow commented on #1080
I get PRBS errors on all AMC boards paired with this particular RTM board.
Some combinations give just a few errors, some hundreds of them

[2018-08-07 12:18] hartytp commented on #1080
Okay, good!

So, the question is how the RTM affects the PRBS...Clock SI? Some PI issue? An issue with the DACs themselves?

[2018-08-07 12:50] marmeladapk commented on #1080
@hartytp I can do this, could you just point me in the general direction? I didn't follow this discussion closely.

[2018-08-07 12:58] gkasprow commented on #1080
OK, I got it!
The input SMA has short-circuit between hot pin and GND.
With generator the HMC managed to lock and the output signal looked good.
But when I connected to the AMC clock output, the signal disappeared!
Now both from generator and from AMC output HMC locks and PRBS errors don't exist anymore.
[    12.380113s]  INFO(board_artiq::ad9154): AD9154-0 running STPL test...
[    12.386902s]  I

[2018-08-07 12:59] sbourdeauducq commented on #1080
How does this explain the behavior where CLK1 works but CLK2 doesn't? And why did you measure good clocks on both CLK1 and CLK2?

[2018-08-07 13:02] hartytp commented on #1080
@marmeladapk
- Starting with https://github.com/m-labs/artiq/commit/e2a49ce368a7952285b62cfd0eb9d8837aaf3de5 (latest ARTIQ that still uses the problematic CLK2 input)
- Output the JESD clock defined here https://github.com/m-labs/artiq/blob/49f7a1610f47b11e32286e3120970ec782ff2c1b/artiq/gateware/jesd204_tools.py#L42 to a convenient place, such as here https://github.com/m-labs/migen/blob/307e7522d

[2018-08-07 13:05] gkasprow commented on #1080
I didn't said that it works with CLK1. it was pure coincidence, maybe they broadcasted  something else on FM when we did tests a few months ago :)

[2018-08-07 13:07] hartytp commented on #1080
@sbourdeauducq are you happy with that description of what needs to be done. https://github.com/m-labs/artiq/issues/1080#issuecomment-411048102

[2018-08-07 13:11] marmeladapk commented on #1080
@hartytp Without-sawg will show this problem?

[2018-08-07 13:11] hartytp commented on #1080
On my board, SAWG doesn't make any difference to this, so I've been testing --without-sawg to speed up my builds.

[2018-08-07 13:12] hartytp commented on #1080
Remember to check the UART for PRBS errors before testing, as there is no point testing on a working AMC/RTM pair.

[2018-08-07 13:17] gkasprow commented on #1080
And since the SMA is grounded via 10pF, this has enough impedance to pickup nearby RF. I did tests:
- I shorted the SMA pin to its GND.
- I restarted the board with generator ON
- HMC7043 generates 150MHz
- PRBS errors exist

then I removed the short circuit
- PRBS errors do not appear anymore

then I disabled the generator
- no HMC lock

then I enabled the generator
- HMc locks.

The signal from

[2018-08-07 13:17] sbourdeauducq commented on #1080
I cannot say I am "happy" about any of this, but yes, this procedure looks correct and hopefully will turn up something.

[2018-08-07 13:25] hartytp commented on #1080
@gkasprow that's posted on the wrong issue, I think.

This is already hard to follow without cross-posting!

[2018-08-07 13:33] gkasprow commented on #1080
I've noticed that, too many threads opened...

[2018-08-07 16:09] #1120 closed

[2018-08-07 19:49] gkasprow commented on #1080
@marmeladapk please post here binaries I used for tests. It is on your computer on your account.

[2018-08-08 08:46] hartytp commented on #1080
Thanks for sending me the binaries @marmeladapk.

Using them, I see:
- https://hastebin.com/kubucokute.sql (PRBS errors and CODEGRPSYNCFLG)
- https://hastebin.com/axacifajus.sql (same)
- https://hastebin.com/ilayegupeb.sql (same)

[2018-08-08 08:47] hartytp commented on #1080
No idea why I'm seeing this new error on DAC0. But, anyway, this does show up the PRBS errors on at least one DAC, so it seems to be a fine binary for testing.

[2018-08-08 08:50] hartytp commented on #1080
@gkasprow can you remind me where on the AMC I can probe CLK2? I'll double check that before I return the board.

[2018-08-08 09:15] gkasprow commented on #1080
@hartytp here https://github.com/sinara-hw/sinara/issues/572#issuecomment-409688896

[2018-08-08 10:45] #1121 closed

[2018-08-08 14:47] jbqubit commented on #1126
That clarifies how in the absence of count() the slowdown isn't observed.

Still not understood is why this happens in the first place. It seems like only sometimes that there is the slowdown.

[2018-08-09 06:57] sbourdeauducq commented on #636
Funded by NIST.

[2018-08-09 07:00] hartytp commented on #636
Great!

[2018-08-09 07:27] sbourdeauducq opened #1130 "Mirny support"
https://github.com/sinara-hw/mirny
https://github.com/sinara-hw/mirny/wiki

[2018-08-09 08:41] hartytp commented on #1080
@gkasprow the AMC + RTM have been delivered and signed for in WUT.

[2018-08-09 15:37] hartytp commented on #1129
@marmeladapk are you okay to do this, as you have boards up and running? If not, I'll do it when I get my board back from you...

[2018-08-09 15:37] hartytp commented on #1129
Can you align SYSREF onto the RTIO clock before initializing the DACs? Maybe mute the HMC7043 outputs that go to the DACs?

[2018-08-09 15:40] sbourdeauducq commented on #1129
You can try that, it's straightforward on the standalone target - but I doubt that'll make a change. The DACs are in one-shot sync mode now, and the code does not trigger any syncs until SYSREF/RTIO alignment is done. As I wrote, I suspect the HMC7043 sometimes permanently outputs broken SYSREFs after you use the cycle slip.

[2018-08-09 15:42] hartytp commented on #1129
okay, well it's easy to look at the two sysrefs and verify that their phase is constant w.r.t. each other and to the DAC clock. That's a good starting point.

[2018-08-10 12:02] #1088 closed

[2018-08-10 14:04] hartytp commented on #1129
@gkasprow /@marmeladapk are you okay to look at this?

[2018-08-10 18:46] gkasprow commented on #1124
Is it on same board that has problem with read/write leveling?

[2018-08-10 20:54] marmeladapk commented on #1129
@sbourdeauducq
Does sysref have 300 MHz frequency?  That's what I see on one DAC.

@hartytp

Yes, after we finish testing boards for Duke.

[2018-08-10 23:04] sbourdeauducq commented on #1129
Hahaha no. Mayba that's why things don't work...

[2018-08-10 23:28] sbourdeauducq commented on #1129
https://github.com/m-labs/artiq/blob/master/artiq/firmware/libboard_artiq/hmc830_7043.rs#L165

Are they all 300MHz? Any idea why?

[2018-08-11 07:14] sbourdeauducq opened #1131 "Sayma: turn off SYSREF when not synchronizing the DAC"
We really need the three SYSREF lines only for a brief time during DAC initialization (board startup and when establishing a DRTIO link). They can be turned off at all other times, which may help reduce noise (and power consumption).

Someone with extreme patience for HMC7043 nonsense should implement and carefully test this. If they can come up with a 7043 routine that turns this clock on and off

[2018-08-11 07:28] hartytp commented on #1129
wft? Are you sure?

[2018-08-11 10:30] marmeladapk commented on #1129
@hartytp @sbourdeauducq Nah, I misread @sbourdeauducq's comment. I've got 300 MHz coming out of one DAC (to AFE) no matter which frequency I set.

[2018-08-11 10:56] marmeladapk commented on #1129
@hartytp

https://github.com/m-labs/artiq/blob/master/artiq/examples/sayma_standalone/repository/sines.py

[2018-08-11 15:06] sbourdeauducq commented on #1129
That's probably another board-specific bug, can you locate a board that doesn't do that and then focus on SYSREF?

[2018-08-11 19:08] hartytp commented on #1129
@marmeladapk odd. How are you loading that? Are you flashing it as a startup kernel?

[2018-08-11 19:12] hartytp commented on #675
Is this funded at the moment? If so, I'd be interested to hear from those who funded it as to what level of moninj support they anticipate, and how much of a priority this is for them.

[2018-08-11 19:14] hartytp commented on #675
@jordens AFAICT the current scalable moninj proposal as outlined in #676 is concerned with the GUI only, not gateware optimization. How would the changes suggested in #676 help with routing and resource consumption? Or is there more to this proposal that I've missed?

[2018-08-11 19:16] hartytp commented on #801
@jbqubit could you outline what exactly this modulation consists of, and what the purpose is?

[2018-08-12 00:40] sbourdeauducq commented on #1129
sines.py is working correctly for me, both as a startup kernel and over Ethernet. Let's keep this issue on DAC sync.

[2018-08-12 07:25] hartytp commented on #675
Fine, thanks for the info.

Well, let's hear back about whether it's still a priority before we worry about the details.

[2018-08-12 21:32] whitequark commented on #1100
I've updated smoltcp in master, please retest.

[2018-08-12 21:33] whitequark commented on #1099
This has been fixed in master. In fact the transfer speed is slightly higher than it was before, 2.5 MB/s to device, 2.1 MB/s to host.

[2018-08-12 21:33] #1099 closed

[2018-08-14 12:17] jordens commented on #1114
Does that really work? It should suffer from the same semantics problem and I remember seeing a proper error for that. You can't both get and set a dataset in the same experiment.

[2018-08-14 12:18] jordens commented on #1110
Ping @vmsch

[2018-08-14 15:55] jonaskeller commented on #1114
I tested that code before posting it (and again just now to be safe) by doing the following:

Generate a dataset using

        self.set_dataset('test', [0.,0.], persist=True)

then run

	from artiq.experiment import *

	class mutateDatasetTest(EnvExperiment):
		'''mutate dataset test'''
		def mutate_broadcasted_dataset(self, key, index, value, persist=True, save=True):
			try:
				self.mutate_dat

[2018-08-14 16:07] jordens commented on #1114
[code]
should hit

https://github.com/m-labs/artiq/blob/2463e5667d1b226fff8c59b2afcd2aa9a6aae5c6/artiq/master/worker_db.py#L191-L193

[2018-08-14 16:32] jonaskeller commented on #1114
It does, and the archived value is the one from before the `mutate`.
I see your ambiguity concern now, but while I don't know a good way around it, it's not worth giving up the ability to mutate broadcasted datasets at all (at least in my use case). And since the warning is triggered, the behavior is at least not unexpected.

[2018-08-14 16:40] jordens commented on #1114
Reproducibility and data provenience. The typical way to implement this is to have one experiment that evolves data with `x=get_dataset("x_ref"); ...; {set,mutate}_dataset("x", ...)` and another that "commits" by doing `set_dataset("x_ref", get_dataset("x")`.

[2018-08-14 18:07] marmeladapk opened #1133 "Phase difference between DACs that varies when changing frequency"
[code]

Kernel run with artiq_run:

[code]

On next images sawg.frequency was set to 4 MHz, 5,5MHz and 3 MHz. Two signals are from different DACs, cables are matched. I tried changing delay, but it didn't affect the phase.

![tek00044](https://user-images.githubusercontent.com/24512604/44108836-ca399a9a-9ffb-11e8-8c8c-45aaa5592f5f.png)
![tek00045](https://user-images.githubusercontent.com/24512604

[2018-08-14 18:11] hartytp commented on #1133
@marmeladapk Isn't this expected, since you don't update all the frequencies simultaneously?

[2018-08-14 18:13] marmeladapk commented on #1133
@hartytp Changing delay doesn't affect phase difference (I measured phase, changed delay and frequency, changed frequency once again and measured phase to make sure that frequency was changed).

[2018-08-14 18:14] hartytp commented on #1133
Sorry, I missed that.

[2018-08-14 18:17] hartytp commented on #1133
But, it should do, right?

So, your measurement sequence was:
1. run the above experiment with frequency0 set to `4*MHz` and measure the phase difference between channels
2. change both the delay and frequency, and repeat the above measurement
3. same as (1) but with only the frequency changed

and you found that (2) and (3) gave the same results. Is that correct?

[2018-08-14 18:49] marmeladapk commented on #1133
@hartytp (1) and (3) gave the same results, in (2) there was different phase.

[2018-08-14 19:05] hartytp commented on #1133
what frequency and delay did you use in each measurement?

[2018-08-14 19:10] jordens commented on #1133
@marmeladapk I don't see the correlation between your description and the screenshots. The phases in the screenshots are all different (see the measurements window). If you look at
https://m-labs.hk/artiq/manual-master/core_drivers_reference.html#artiq.coredevice.sawg.Config.set_clr
and the reset condition, does that clear up things?

[2018-08-14 20:36] marmeladapk commented on #1133
@hartytp I didn't write them down, sorry.

@jordens Screenshots show three different frequencies with different phases. I don't have screenshots from (1) to (3) procedure.

But I'm fairly sure, that phase is different is only between DACs. Signals on same DAC are in sync with each other (modulo 180 deg shift caused by swaped _P and _N pairs). I'll make more measurements on Thursday.

[2018-08-14 20:50] jordens commented on #1133
I still don't understand your interpretation. What are you doing, what do you expect to measure, and what do you measure instead?

[2018-08-15 01:46] sbourdeauducq commented on #1133
Note that the DACs are not properly synchronized with SC1:

@marmeladapk To work around this cool new Sayma-Bug, can you try to set ``sysref_phase_dac`` manually in the flash configuration? The value that works on my board is 61, then you can check in the log if the margins are ok. Maybe this problem is also explained by SYSREF generation issues and I encourage you to look at it on the scope...

[2018-08-15 03:16] sbourdeauducq commented on #1128
The current code isn't optimized (e.g. a lot of it is in plain - slow - interpreted Python), so it is certainly possible to speed it up. But someone has to study and implement the best ways to do it, it's not trivial.

[2018-08-15 09:31] jordens commented on #1133
@marmeladapk referring to your experiment above and assuming you are running this on a fresh boot (with the default values of accumulator auto clear), the phase of SAWG channel `n` should be `2*pi*f*(t + n*dt)` up to a common constant. With `f=7*MHz` and `dt=2*ms` and for all the frequency values you give above that phase is zero modulo `2*pi`. I.e. you for those values you should not expect an of

[2018-08-15 15:44] jbqubit commented on #1126
No network problems that I've seen. Running Ubuntu with Linux kernel 4.15.0-30.

I tried running the same program as idle kernel and don't see the pauses.

I'm uncertain about the execution model for idle and startup kernels that involve methods not marked by @kernel (or engage in RPC). I suspect they're only compiled once and RPCs are silently dropped since they're designed to run when Master is

[2018-08-15 16:02] sbourdeauducq commented on #1126
Likely the "pauses" are in the compiler, or the rest of the Python program on the PC, or in your network. Try profiling artiq_run plus checking wireshark traces for problems.

[2018-08-15 16:27] jbqubit commented on #1126
@sbourdeauducq Have you tried my code? If you can't reproduce I'll look to a problem that's unique to my setup.

[2018-08-15 18:05] jbqubit commented on #675
@hartytp Yes, this is funded. The contract calls for "SAWG monitoring and injection (sum only)." The detail is provided in the artiq-hardware writeup written with @jordens. [L195-6](https://github.com/m-labs/artiq-hardware/blob/1cec6224bfaf148cba14a5a1f69f537966d6887b/artiq_hardware.tex#L195)
[code]

[2018-08-15 18:50] vmsch commented on #1110
Sorry for the slow reply.
I tested it with the Sampler, and there is no difference between saving to local or member variables with the sampler.
It still requires a very long delay of 110us when trying to sample repeatedly using self.sampler0.sample(voltages) however.
This delay is only 5*us when using sample_mu. Maybe some people would find it useful to have a comment in the code or documentation

[2018-08-15 19:40] hartytp commented on #675
@jbqubit in the original SU-servo contract I allocated funds for moninj support. However, on more detailed discussion with @jordens, it turned out that moninj support was going to be a lot more work than I'd anticipated. Discussing this with the other ARTIQ-users at Oxford, we agreed that, given the workflow we have in our experiments, SU-servo moninj wasn't going to be particularly useful. So, we

[2018-08-15 20:34] philipkent opened #1134 "Connection reset by peer error breaks DDS/TTL panel"
Running artiq version 3.6 on Ubuntu 14.04.5 LTS 64 bit we periodically get a "connection reset by peer" error (error number 104).  After the error occurs, the currently running experiment is killed and it seems like the connection is lost between the core device and the DDS/TTL panel because DDS' and TTLs can no longer be controlled using the panel in the dashboard.  If we reset the FPGA and resta

[2018-08-15 20:46] jbqubit commented on #801
This was funded 4/18/2017. The implementation detail is provided in the artiq-hardware writeup written with @jordens. [L245](https://github.com/m-labs/artiq-hardware/blob/1cec6224bfaf148cba14a5a1f69f537966d6887b/artiq_hardware.tex#L245) Here's a rendered version.

![image](https://user-images.githubusercontent.com/20543958/44165913-fd997a80-a097-11e8-839c-1e29d07db459.png)

Modulation by RTIO has

[2018-08-15 21:56] jbqubit commented on #675
The only problem I'm aware of with moninj has to do with the GUI layout. An analysis of the resource consumption of moninj in a new Issue would help clarify the situation.

[2018-08-15 23:57] sbourdeauducq commented on #1134
Is restarting the dashboard sufficient or do you *have* to restart the core device as well?
What is in the core device log?

[2018-08-16 08:35] hartytp commented on #675
There is likely to be a resource issue as well. cf https://ssl.serverraum.org/lists-archive/artiq/2018-August/001223.html and https://ssl.serverraum.org/lists-archive/artiq/2018-August/001227.html and other posts in that thread.

Yes. @jordens already gave his initial impressions about this. I suspect (although he should correct me if I'm wrong) that a design study to get an acuccurate estimate of

[2018-08-16 08:49] hartytp commented on #801
@jbqubit thanks for the clarification (particularly, for the clarification on the intended use-cases for this feature).

Since the current SAWG design suffers from being overly resource intensive, I think we should probably aim for the minimal complexity solution that meets our needs (lest over-designing one part of the SAWG causes serious problems elsewhere). So, some questions:

- I agree that a

[2018-08-16 08:50] hartytp commented on #801
Am I right in thinking that "coherent phase mode" is just housekeeping done on the coredevice in software? i.e. it's a convenience feature that doesn't need any gateware?

[2018-08-16 17:38] philipkent commented on #1134
We will gather some data from the core logs.  It may be that there are multiple things going on that are uncorrelated.  I'll post better diagnostics when we have them.

[2018-08-16 18:14] gkasprow commented on #1080
The board I got from @hartytp had one of coupling capacitors missing (damaged mechanically). The board I got from @sbourdeauducq had SMA input shorted to its shell. Both caused PRBS issue.
The clocks looked good, but had periods of high jitter which was not picked by the scope. I should have look at them with spectrum analyser....

[2018-08-16 22:16] jbqubit commented on #1080
Do the hardware bugs discovered by @gkasprow explain all the reported PRBS errors related to this issue?

[2018-08-17 01:06] sbourdeauducq commented on #1080
Yes.

[2018-08-17 01:06] #1080 closed

[2018-08-17 01:16] sbourdeauducq commented on #1129
@marmeladapk Any progress with measuring SYSREF?
@hartytp Did you get your board back and are you able to do this measurement as well?

[2018-08-17 05:37] sbourdeauducq commented on #1004
TTL in and out done.

[2018-08-17 09:53] sbourdeauducq commented on #1127
@enjoy-digital I see no clock domain crossing structure (e.g. ``MultiReg``) between the CSRs ``enable``, ``ready``, ``prbs_config``, and ``stpl_enable`` which are in the ``sys`` domain, and their corresponding signals in ``JESD204BCoreTX`` which are in the ``jesd`` domain. Or am I missing out something?

[2018-08-17 10:00] sbourdeauducq commented on #1127
Since with the current way the code is organized, the clock domain renaming for ``JESD204BCoreTX`` is outside the core and you do not know what the domain name is in ``JESD204BCoreTXControl``. Is that why you omitted the CDC on those signals?

[2018-08-17 10:26] enjoy-digital commented on #1127
The way it's coded, JESD204BCoreTX expects these signals in sys clk domain:
-  enable is used by restart (transmitter initialization is managed in sys clk).
- ready is resynchronizer with a Multireg in JESD204BCoreTX.
- prbs_config when used for restart is not resynchronized, but resynchronized when passed to the transmitter.
- stpl_enable is resynchronized with a Multireg in JESD204BCoreTX.

We c

[2018-08-17 10:33] hartytp commented on #1129
@sbourdeauducq nope, I don't have it yet. FYI: I'm away next week, so the earliest I can look at this now is the 27th, assuming I get the hardware back by then.

[2018-08-17 10:34] sbourdeauducq commented on #1127
Resynchronized into the jesd domain, so, that doesn't work.

It is a multi-bit signal. Can it be synchronized with a simple MultiReg?

"Maybe"? Is it optional?

[2018-08-17 10:36] sbourdeauducq commented on #1127
And then it is used for ``restart``, so it can break this signal too.

[2018-08-17 11:08] enjoy-digital commented on #1127
OK, thanks for the review. (i wouldn't have catched this without a second pair or eyes)
I fixed ready and jsync. BusSynchronizer for prbs_config is not mandatory since temporary mismatch will only cause the wrong prbs to be transmitted for the duration of the mismatch, but if you think it's better, we can change.

[2018-08-17 13:48] sbourdeauducq commented on #1004
I have the hardware for those, all needs to be done is connect some SMA/BNC cables and write the tests. @jordens do you want to do the latter?

I have a second Kasli (1.0) as well, I can put it in the crate and connect its SFP to the main Kasli. Adding a pair of TTLs (one in each direction) connected to the main Kasli would go a long way to test DRTIO.

Another problem will be building the bitstre

[2018-08-17 14:58] #727 closed

[2018-08-17 14:59] hartytp commented on #727
nice!

[2018-08-17 15:40] sbourdeauducq commented on #1127
Still present but with lower frequency - saw 2 in 87 reboots.

[2018-08-17 15:40] sbourdeauducq commented on #727
This bug seems gone for good, all DAC inits worked the first time in 87 reboots.

[2018-08-17 19:34] prasath-d opened #1135 "Text missing on right click context menu in linux"
I have tried to run dashboard from Ubuntu 18.04 and noticed that the right-click context menu is not visible. for example
I tried to plot the datasets, but the applet menu that shows templates etc was missing.

similarly, all the right-click menu fields are empty.
is there any quick fix for that?

[2018-08-18 01:54] sbourdeauducq commented on #1135
Can you post screenshots?

[2018-08-18 08:14] prasath-d commented on #1135
![image](https://user-images.githubusercontent.com/40395150/44297290-4129f980-a2cf-11e8-9bf4-353e91245299.png)

[2018-08-18 08:17] prasath-d commented on #1135
I found a fix.

`export QT_STYLE_OVERRIDE=gtk2`

Adding these lines to .bashrc fixes the problem.

[2018-08-18 12:06] sbourdeauducq commented on #1135
Where did you find this? Looks like a Qt or Ubuntu bug?

[2018-08-18 12:33] prasath-d commented on #1135
[](https://wiki.archlinux.org/index.php/Uniform_look_for_Qt_and_GTK_applications
)
[](https://unix.stackexchange.com/questions/176696/qt5-applications-dont-use-gtk-style-on-liux-mint
)
These two links helped me.

[2018-08-18 14:34] sbourdeauducq commented on #1135
OK, well this doesn't look like a problem with ARTIQ. Good you found a workaround.

[2018-08-18 14:34] #1135 closed

[2018-08-18 16:13] sbourdeauducq commented on #984
Fixed by updating conda-build + https://github.com/m-labs/artiq/commit/d6992f6a0c83f1930197d0ab6fbb3b538bb4d231

[2018-08-18 16:13] #984 closed

[2018-08-19 04:32] sbourdeauducq commented on #1129
@gkasprow Where are the best points to measure SYSREF (DAC0, DAC1 and FPGA_DAC_SYSREF)?

[2018-08-19 05:05] #1073 closed

[2018-08-19 07:18] klickverbot opened #1137 "Input gating and/or timestamps broken"
Timestamps for input events, and/or as used in the gater, seem to be deterministically wrong on the ~100 ns level.

Check out this experiment for illustration, which uses a loopback connection (loop_out -> loop_in) to scan the arrival time of a TTL pulse over the gate window (requires #1115 for explicit timestamp arguments):

[code]

Apologies for the spaghetti code, this was hastily distilled fro

[2018-08-19 09:08] jordens commented on #1137
Do you expect the input rising edge timestamp to be the same as the output rising edge timestamp? That's tricky.
The input timestamps are expected to be offset w.r.t. output timestamps **if you compare them at the BNC plane**. But that timing plane is arbitrary. It depends on all kinds of delays between the event dispatch and the electrical outputs. They should not be offset at an internal timing

[2018-08-19 12:06] sbourdeauducq commented on #1137
Does replacing ``rtio_input_timestamp(self.i_previous_timestamp, self.channel)`` in ``count()`` with ``rtio_input_timestamp(self.i_previous_timestamp+500, self.channel)`` make the problems disappear?

[2018-08-19 12:09] sbourdeauducq commented on #1137
As for doing latency compensation everywhere, it conflicts with performance. The SAWG has a lot more latency than TTLs, so the TTLs would become slower if compensated.
We can reasonably, on the other hand, compensate TTL input and outputs so that they are at the same reference plane at the FPGA, which should fix the problem you are observing (if it is what I think it is).

[2018-08-19 12:09] sbourdeauducq commented on #1137
OK. And the incorrect counting time? 0.85us instead of 1us.

[2018-08-19 12:39] sbourdeauducq commented on #1137
I suspect that the bug is: due to the gateware latency in the timestamp counter to gate path, the timeout - referenced to the timestamp counter - is too small and the kernel thinks the gateware has closed the gate when it has not.

SED makes this worse by increasing the latency in the timestamp counter to gate path.

ARTIQ versions before 3.0 also have the bug, but it is likely latent and complete

[2018-08-19 12:45] sbourdeauducq commented on #1137
OK. So, all the buggy behavior is explained by this scenario? https://github.com/m-labs/artiq/issues/1137#issuecomment-414125085

[2018-08-20 07:55] jordens commented on #1137
Summarizing and calming this down a little:
* There is a pitfall and a frequent mismatch between mental model and gateware/documentation regarding latency on TTL inputs w.r.t. TTL outputs. There is little to be done there apart from documenting it. This should also be measured on Urukul to match the IO update and RF switch latencies at the point where they merge.
* The race between the kernel stop

[2018-08-20 21:07] jbqubit commented on #727
That's great @sbourdeauducq!

[2018-08-20 22:26] drewrisinger opened #1138 "Conda >= 4.3 Support requires "noarch/repodata.json""
When installing Artiq with Conda >= 4.3, conda throws error about missing "noarch/repodata.json" file.

## Replicating error
* Install conda >= 4.3 (I used 4.5.10)
* DO NOT add conda-forge & m-lab conda channels as stated in [documents](https://m-labs.hk/artiq/manual-master/installing.html#installing-the-artiq-packages):
* Run `conda create -n "any_env_name" -c mlabs artiq`

**In testing, adding m

[2018-08-21 01:56] sbourdeauducq commented on #1138
It's m-labs / https://conda.anaconda.org/m-labs and not mlabs / https://conda.anaconda.org/mlabs. Could that be the actual problem?

https://conda.anaconda.org/m-labs/noarch/repodata.json exists.

[2018-08-21 03:59] whitequark commented on #948
@jordens Here's one interesting, if ... unusual... option: Windows SEH.
[code]
https://reviews.llvm.org/project/view/54/

[2018-08-21 05:52] jordens commented on #948
Before we try that I think we should look into where those 11 ms are actually spent. Maybe there are lower hanging fruit.

[2018-08-21 06:38] sbourdeauducq commented on #1129
Also, is there an easy-enough way we can disconnect SYSREF for both DACs from the HMC7043, and connect them to the FPGA directly? That certainly will work for 600MHz and perhaps 2000MHz since the FPGA IOs are advertised to support 2133Mbps DDR4. Note that DDR4 uses source-synchronous clocking with DQS, and they probably have a lower-noise clocking path inside the "native" I/O block to support that

[2018-08-21 07:40] hartytp commented on #1129
@sbourdeauducq that might well work, but I’m still a bit concerned with how far the gateware design from ARTIQ is diverging from the way that *everyone* else does this and turning into a NIH reinvention of the wheel.

As I said, look in the JESD app notes from ADI etc and you’ll see only one way this is done: using the 7044 as the SYNC source and feeding the SYNC/TRIGGER pulse that’s sampled from

[2018-08-21 07:50] sbourdeauducq commented on #1129
Hmm, how does it know the proper skew to apply to SYSREF so it meets s/h at the DACs?

How do we know if the RFSYNCIN pulse meets s/h at the 7044?

Why is it "NIH" to scan a delay that drives the DAC, and not NIH to scan a delay that drives the 7044?

[2018-08-21 07:53] sbourdeauducq commented on #1129
The only drawback that I see with the FPGA technique is PVT skew/jitter issues that can become problematic at high sample rates and may require the use of that trashy "native" I/O block to mitigate. Not "NIH".

[2018-08-21 10:28] sbourdeauducq commented on #1129
Even if the window is larger, how do you know that you actually hit it? It's not really "simple" and "easy".

[2018-08-21 10:36] hartytp commented on #1129
Let’s discuss this more next week when I’m back in the office, but I’m confident we can find a good solution with the 7044 if we want to. I can also use an eval board to test as much of this as possible to make sure it will work properly.

I don’t think that hitting the (>5ns IIRC) S/H window for the 7044 will be a problem — If we need to we can route the HMC830 clock to the AMC and then clock the

[2018-08-21 10:41] sbourdeauducq commented on #1129
Sure, but what should the timing relationship be between RFSYNCIN and the input clock at the 7044 pins? Do you trust what HMC tells you, with their datasheets that show AC-coupled RFSYNCIN and tell you to read registers that return nonsense such as 0x007d?
I'd rather double-check, scan the delay and look at the DAC outputs to determine that window myself, but that's not simple or easy.

[2018-08-21 12:30] sbourdeauducq commented on #1129
I don't necessarily want to do it that way, as I pointed out the native Ultrascale I/O is also full of garbage (and so is the GTH transceiver which would be a third solution for driving SYSREF) - I'm just pointing out that the 7044 should be treated with caution. Basically there is no good option unless silicon vendors get their act together.

[2018-08-21 13:11] sbourdeauducq commented on #1129
Also, SYSREF has to be aligned to the RTIO clock, which is not 100MHz.

[2018-08-22 12:48] marmeladapk commented on #1129
![020101_041128006](https://user-images.githubusercontent.com/24512604/44464144-47dfa600-a61a-11e8-9737-23f658200cbd.png)
![020101_041128007](https://user-images.githubusercontent.com/24512604/44464149-4ada9680-a61a-11e8-9249-8105829f9fd2.png)

Measured on R63 and R68 (one is _P one is _N of diff pair, that's why they're inverted).

[2018-08-22 13:33] marmeladapk commented on #1129
Right, I reenabled sysref_auto_rtio_align and margins are proper everytime now, when I'm trying to catch bad DAC sync. Sigh...

[2018-08-22 14:35] marmeladapk commented on #1129
Another board:

Calibration:

[code]

Then, after power cycle:

[code]

![020101_041128008](https://user-images.githubusercontent.com/24512604/44470020-00ace180-a629-11e8-97b0-bedb59e3f1f2.png)
![020101_041128009](https://user-images.githubusercontent.com/24512604/44470026-030f3b80-a629-11e8-9e00-444c30d8853a.png)

[2018-08-22 15:52] sbourdeauducq commented on #1129
The SYSREF offset after a failed margin test is normal; the only visible anomaly here is the test failure.

[2018-08-22 15:53] sbourdeauducq commented on #1129
Maybe the code should keep going after a failed test and program SYSREF delays, in order to expose any 7043 shenanigans...

[2018-08-22 20:43] marmeladapk commented on #1133
I think I can close it until I find a case where software reports alignment and it doesn't match measurements.

[2018-08-22 20:43] #1133 closed

[2018-08-24 15:01] sbourdeauducq commented on #1137
One way of fixing it would be to add the latency offset to the timeout (500 is an overly pessimistic value).

[2018-08-24 15:04] sbourdeauducq commented on #1083
@hartytp Please close if there is no more problem after the hardware fix.

[2018-08-25 00:17] sbourdeauducq commented on #1129
Or more simply, the margin scans can be disabled (if that doesn't make the bug disappear).

[2018-08-25 01:35] sbourdeauducq commented on #1137
Not significantly. The timeout decision is made by the *satellite* by comparing its local timestamp counter with the value coming from ``rtio_input_timestamp`` and provided by the master. The gate opening/closing is done also on the satellite by comparing the same local timestamp counter with the values coming from ``rtio_output`` and provided by the master. So the latency imbalance is only on the

[2018-08-26 03:27] sbourdeauducq commented on #1129
@marmeladapk

0. Calibrate the board once and keep the same calibration values for all further tests (and do not recompile the bitstream).
1. Is DAC-to-DAC sync truly working reliably on your board as well with RTIO/SYSREF alignment disabled?
2. Do bugs appear on your boad as well when RTIO/SYSREF alignment is re-enabled?
3. Simplify the code by disabling the margin scans (patch below). Recompile

[2018-08-26 15:58] sbourdeauducq commented on #1100
@dhslichter

[2018-08-26 15:59] sbourdeauducq commented on #1138
@drewrisinger ping

[2018-08-27 21:34] dhslichter commented on #1100
@sbourdeauducq @whitequark sorry, too many things on the plate here.  I will try to get this tested this week, would be nice to have the fix.

[2018-08-28 07:39] sbourdeauducq commented on #1137
Actually, ARTIQ-3 is also not affected because the latency of determining timeout (transfer of RTIO counter to sys domain plus one sys cycle) is higher than the latency mismatch that is causing the bug (1 RTIO cycle).
The latency mismatch is higher in ARTIQ-4 because of SED and exposes the problem.

[2018-08-28 08:26] hartytp commented on #801
@k-beck thanks for the feedback.

Okay, shall we cut those out of this proposal then to simplify things? We can always add them later as extensions but, given the issues we currently have with Sayma, it probably makes most sense to begin with the bare essentials and extend as necessary.

AM is important but AFAICT, the main use case for it will be closed-loop applications such as servos, rather th

[2018-08-28 08:30] hartytp commented on #801
i.e. while we're at it, would it be worth considering a more general simplification/overhaul to the SAWG RTIO interface?

[2018-08-28 08:53] hartytp commented on #801
@k-beck To be clear here: you mean that you want to have a way of compensating for things like drifting motional frequencies/light shifts/magnetic fields without recomputing your gate sequence. Is that right?

What's your expected pulse duration (single- and two-qubit)? Is the time that a pulse sequence takes to complete short compared with the time taken to recompute the pulse sequence? If not, d

[2018-08-28 14:46] sbourdeauducq opened #1139 "remove device_db alias support"
http://m-labs.hk/artiq/manual-master/environment.html?highlight=aliases#aliases

Aliases add complexity and bugs. Does anyone use them anyway?

The CI system uses them but could do without.

Note: Replacing them with multiple copies of the same description should not be done because:
* multiple moninj widgets would appear
* multiple copies of the same device driver could be created by requesting t

[2018-08-28 15:21] jordens commented on #1139
They are used quite a bit. What complexity and bugs are you referring to?

[2018-08-28 15:37] cjbe commented on #1139
@sbourdeauducq we also find aliases handy, and use them quite a lot.

[2018-08-28 16:07] k-beck commented on #1139
I agree with @cjbe -- we use aliases within the device database to abstract physical channels (ex: digital channel 3) with their functional names (ex: line trigger input), while maintaining the ability to use either.

[2018-08-28 17:09] marmeladapk commented on #1129
@sbourdeauducq

1. Yes*

\* If I do power cycle then yes. If I do `artiq_flash -t sayma start` then no.

2. The same as in 1.
[code]
This is the worst case I caught when alignment worked.
![020101_041128032](https://user-images.githubusercontent.com/24512604/44734285-d0ae8400-aae9-11e8-97a4-3e83adb802f7.png)

Usually I get something like this when alignment works:
[code]
![020101_041128034](https:

[2018-08-28 19:36] k-beck commented on #801
@hartytp This is actually to feed-forward frequency noise from the laser we use for our 2-qubit gates. We're correcting for acoustical noise in the laser cavity (dominant noise peaks are a few hundred Hz), not slow drifts (like the ones you mention) that we intend to address by recomputing.

(And, yes, our two-qubit gate times will be similar to those in the Debnath paper)

I'd like to hear from o

[2018-08-28 23:13] sbourdeauducq commented on #1129
Interesting. My board behaves differently. Can you check that the HMC7043 receives a reset pulse at some point after doing ``artiq_flash -t sayma start``?

What I meant by "DAC to DAC sync" in all the questions above refers to what happens at the DAC outputs, not what is in the log. Did you look at the DAC outputs?

What does that mean?

[2018-08-29 01:00] sbourdeauducq commented on #1139
* ``artiq_coremgmt`` breaks if ``core`` is an alias
* requesting a device and its alias creates two copies of the same driver
* probably others, this is only what I found when looking briefly at that code again

Nothing unfixable, but generally the alias special-case is something that is easily forgotten during development and poorly tested. If it weren't used, it would have been better to just sc

[2018-08-29 06:57] jordens commented on #1139
ACK. Let's file a new issue for those.

[2018-08-29 06:57] #1139 closed

[2018-08-29 06:58] jordens opened #1140 "device_db alias corner case bugs"
* `artiq_coremgmt` breaks if core is an alias
* requesting a device and its alias creates two copies of the same driver

c.f. #1139

[2018-08-29 08:36] hartytp commented on #801
Agreed! Input from more potential users of Sayma would be great. Otherwise, I tend to adopt the rule of thumb that if no one can be bothered to advocate for a feature then it's probably not important.

In any case, if we are designing/specifying features such as AM/PM without guidance from the people who will use them -- or even a clear picture of who those people might be -- then we're unlikely t

[2018-08-29 08:44] hartytp commented on #801
Okay, thanks for the clarification. That's quite a different application to the one that Joe posted [above](https://github.com/m-labs/artiq/issues/801#issuecomment-413330645).

Can you give me a more precise reference to how you do this at the moment, please as I don't have a clear picture of your planned use-case for this yet?

Is your plan something like to digitize a beat-note (DC or some AC si

[2018-08-29 10:07] cjbe opened #1141 "Urukul channels sporadically lock up until reset"
Occasionally, and typically after an RTIO Underflow, an Urukul channel enters a 'locked up' state.
Typically the channel stops outputting RF, and further calls to set() do not change this.

Sometimes the channel can be brought back to life by re-initialising it (cpld.init(), channel.init()) - typically the first re-initialisation fails with an AUX_DAC mismatch, but the second one works. Sometimes

[2018-08-29 10:15] jordens commented on #1141
This is AD9910-specific. I have seen it as well. And we know that its bigger brother the AD9914 is equally easy to bring into a locked up state. I'd hypothesize that a multi-transfer SPI transcation is interrupted mid-way (due to an underflow or due to bad initialization or due to some other reason) and the AD9910 machinery is driven into a non-recoverable state by subsequent SPI transfers. IME IO

[2018-08-29 10:28] sbourdeauducq commented on #1141
So you have tested DRTIO at 125MHz and it works?

[2018-08-29 10:32] cjbe commented on #1141
@sbourdeauducq yes - we have two Kasli master-satellite DRTIO setups running at 125 MHz. They have both been running for several months without any problems.

[2018-08-29 10:36] gkasprow commented on #1141
Maybe we should add simple power management over I2C? Just IO extender + PMOS. On by default.

[2018-08-29 10:39] hartytp commented on #1141
@gkasprow better to make sure that the code doesn't put the AD9910 into this state to begin with (I've used AD9910s continuously updating for months without any issues, so I know that they can be programmed reliably).

[2018-08-29 10:42] sbourdeauducq commented on #1141
@hartytp What is the difference in the programming sequence?

[2018-08-29 10:54] cjbe commented on #1141
@sbourdeauducq the legacy systems @hartytp is referring to just use an FSM that cannot be interrupted to generate the SPI transactions. I think the point is that it is the interruption of the SPI transaction in the middle of a multiword transfer that causes the DDS to misbehave, rather than an inherent bug in the DDS itself if one completes the transactions properly.

[2018-08-29 10:57] hartytp commented on #1141
exactly

[2018-08-29 10:59] sbourdeauducq commented on #1141
There is an inherent bug in the DDS chip if it doesn't recover from interrupted SPI transactions after a master reset. Resets ought to be able to clear any chip state that can be programmed from a digital interface.

[2018-08-29 11:05] sbourdeauducq commented on #1141
And, while it is not strictly a bug, it is poor design that interrupted transfers put the chip into a broken state. Try breaking the Si5324 by comparison. But, at least the master reset on the AD9910 puts the chip into a working state, contrary to the AD9914 where everything is borked after a reset. Sigh...

The only advantage I see to the software workaround is supporting the existing Urukul flee

[2018-08-29 11:07] hartytp commented on #1141
Really? Otherwise, after any RTIO exception one has to check all Urukuls in the system for crashes, then power cycle the locked up ones and wait for the PLLs to relock. That seems pretty nasty IMHO.

[2018-08-29 12:49] jordens commented on #801
@hartytp
The current work calls for 9 additional 0th order spline RTIO channels per SAWG channel that are then added/multiplied onto the `f`/`p`/`a`/`u` streams after spline interpolation. Addition saturation is not foreseen.
Yes. Coherent phase updates are just a `f*T` offset on absolute phase mode in software.
Simplifying the specification for SAWG including its RTIO interface would likely help.

[2018-08-29 21:40] drewrisinger commented on #1138
Confirmed. Misspelled `m-labs` as `mlabs`. Fixed the issue.

[2018-08-29 21:40] #1138 closed

[2018-08-30 14:38] jordens opened #1142 "Urukul monitoring/injection"
* monitoring is doable (tricky corners are the hidden and mutable state of the ref clock frequency, pll multiplier etc)
* injection is more difficult due to the shared resources (SPI bus and shared IO_UPDATE), exact requirements and options need to be discussed

[2018-08-30 14:46] jordens opened #1143 "Urukul: Kasli-Urukul synchronization using SYNC IN driven by Kasli"
Status quo:

* **Phase locking** of Urukul channels determined by reference frequency. Channels on boards with a common reference have stable phase relations.
* **Absolute phase** between any two channels is not deterministic across restarts (resets of the DDS or interruptions of the reference frequency)
* **Relative phase** updates work fine. Adding a phase offset to a channel does exactly that.

[2018-08-31 09:18] hartytp opened #1144 "Sayma: SAWG at 1GBPS"
I had a go at building Sayma with the SAWG running at 1GBPs line rate using https://github.com/hartytp/artiq/tree/fast_sawg to get a better idea of resource utilization with the current design

I believe I've made all the gateware adjustments required to do this, but I haven't touched the firmware yet. I don't have hardware atm so can't test in any case.

Build files are here: https://drive.google

[2018-08-31 09:45] hartytp commented on #1144
So, unless I've completely messed that up, the 1GSPs SAWG doesn't seem that much worse than the 600MSPs...

[2018-09-04 16:56] jonaskeller opened #1147 "Binaries end up in wrong directory in Windows"
Using windows 7:
I've been manually fixing this for a while, it occurred for every version at least since 3.0, including 4.0.dev.
Since it is confusing to new users, I thought I should bring it up:

After installing artiq in a new environment, e.g. using
`conda create -n <envname> artiq artiq-kc705-nist_qc2 ...`,
instead of
`<anaconda dir>/envs/<envname>/lib/site_packages/artiq/binaries/...`,
the

[2018-09-04 23:47] sbourdeauducq commented on #1147
Is it actually happening with the latest .dev versions currently? I believe we fixed several conda bugs of the sort already.

[2018-09-05 01:33] jonaskeller commented on #1147
Sorry, I just realized that conda seems to have defaulted to the 3.6 version of `artiq-kc705-nist_qc2`. That probably explains the missing file, and I can't say whether the problem persists for the dev version. It's definitely still an issue in 3.6 though.

It seems that the latest 4.0.dev build of `artiq-kc705-nist_qc2`, 1199+git51a5d8df, has a dependency on the `artiq` package with the exact sam

[2018-09-05 01:34] sbourdeauducq commented on #1147
You can register a freenode account, it also works with the web client.

[2018-09-05 04:03] ChenGhua1 commented on #1110
I also met the same question.
The delay is very long(~100us) when using sample(). Is there any way to improve the sampling rate?

[2018-09-05 06:38] jordens commented on #1147
The requirement to register with freenode is a response to vandalism.

[2018-09-05 20:16] jonaskeller commented on #1147
Thanks for letting me know.

You're right, the files end up in the correct path for the dev version now that I've installed the correct version of all packages.

[2018-09-05 21:15] jonaskeller commented on #1147
My problem is solved - however, this is still occurring in the current release version and potentially confusing for new users.

I don't really think it's up to me to decide whether or not that resolves this issue.

[2018-09-06 00:49] sbourdeauducq commented on #1147
We're due for a new release, but this is currently blocked on #1007. Help with the latter would be much appreciated.

[2018-09-06 00:49] #1147 closed

[2018-09-06 06:44] sbourdeauducq opened #1148 "channel numbering for DIO_BNC EEM is wrong"
TTL numbers are permuted within banks.

[2018-09-06 07:44] sbourdeauducq commented on #1148
Then I guess I have an old front panel - its numbering is usual.
Wouldn't it be better to change the code than introduce a counter-intuitive numbering on the front panel?

[2018-09-06 08:55] hartytp commented on #1148
@klickverbot All the DIO boards we have in Oxford are from rev 1.1.

The current release (rev1.3) has channels numbered as:
0 1
2 3
4 5
6 7

Which matches other boards like Sampler.

So, I think that @sbourdeauducq is correct. However, fixing this will break the code for the v1.1 boards (which is fine, since we can fix that in our device db generation tooling).

[2018-09-06 09:08] gkasprow commented on #1148
This was fixed in newest release.

[2018-09-09 14:09] sbourdeauducq opened #1149 "Kasli intermittent SDRAM failure"
Sometimes happens on one of the boards:
[code]

[2018-09-09 14:15] jordens commented on #1149
I think I have seen the window reduce from about +-5 to about +-4 to systematically +-3 around the time of each of the two frequency changes. I didn't narrow it down.

[2018-09-09 14:40] sbourdeauducq commented on #1149
How many affected boards do you have? I've only seen it on one so far.

[2018-09-09 16:06] cjbe commented on #1149
I see this on 4 out of 4 boards I tested (2x hw-rev 1.1, 2x hw-rev 1.0). On all boards this error occurred on every reboot. Moving back to a build just before the CPU frequency changes (i.e. just before ea71a0491bf91a415ef4aa1cbabc479cd419d9ad) this problem is not present.
(FWIW all my Kasli are running rather warm)

[2018-09-09 20:55] cjbe commented on #1149
@jordens interesting - do you know what temperature? Mine are around 85 deg. C.

On all the Kasli I tried, if I flash pre ea71a0491bf91a415ef4aa1cbabc479cd419d9ad gateware I have a window of 8, whereas with the new gateware I have 5.

[2018-09-10 11:10] jordens commented on #1149
Around 70 °C

[2018-09-13 10:41] cjbe opened #1150 "ConnectionResetError on TCP Keepalive"
On certain experiments I see a significant rate of ConnectionResetErrors (up to one every 10 minutes for some use-cases).

Here is a [packet dump](https://github.com/m-labs/artiq/files/2378883/crash_3.zip) and a [trace core log](https://hastebin.com/igicojokax.php) of an typical error - the error occurs at core log timestamp [449493.322821s] == packet dump timestamp 23:01:29.962904 (packet 98). Th

[2018-09-13 12:43] cjbe commented on #1150
It looks like the ARP cache is statically allocated at 8 entries long - is there any reason not to allocate this on the heap?

[2018-09-13 18:14] whitequark commented on #1150
No, we can easily enlarge the ARP cache by a large factor.

[2018-09-14 22:57] Justin318 opened #1151 "with parallel becomes serial if called with for-loop"
I was trying to call the following code on kernel and self._ttls is a list of TTLInOut instances.

        with parallel:
            for ttl in self._ttls:
                ttl.pulse(duration)

with the code above, the ttls show up on scope rather sequentially instead of parallel as intended. Using the code below instead does trigger out three ttl pulses in parallel.

        with parallel:

[2018-09-15 01:27] #1151 closed

[2018-09-15 01:37] sbourdeauducq opened #1152 "delete artiq_pcap?"
* this looks tailored to one specific debug use case and personal workflow (connect to remote server, run tcpdump, retrieve dump locally) and not really connected to ARTIQ itself
* seems unused
* currently bitrotten and will not start

[2018-09-15 04:09] #1152 closed

[2018-09-17 14:01] sbourdeauducq commented on #1150
What would such a "principled" fix involve?

[2018-09-17 14:44] jordens opened #1154 "Urukul: expose/wrap/document/test RAM, waveform etc"
* supports pulse shaping in phase, frequency, or amplitude
* maybe add the ramp generator stuff to the API

[2018-09-18 11:27] jordens opened #1155 "DRTIO master-satellite alignment (kasli-kasli) on serdes TTL outs"
[code]

Master reboots (through `artiq_flash start`):

![image](https://user-images.githubusercontent.com/1338946/45684333-408eb800-bb46-11e8-8736-8860802eed4f.png)

Satellite reboots:

![image](https://user-images.githubusercontent.com/1338946/45684361-58663c00-bb46-11e8-8f16-07dd9d65f2f3.png)

c.f. #958

[2018-09-18 11:40] cjbe commented on #1155
Does the si5324 output maintain phase alignment after restarting (measured via the one of the Kasli clock-out SMPs)?

If so, it is a manifestation of #958 (incorrect resets of IOSERDES). Otherwise it is properly the phase alignment module clocking.

[2018-09-18 11:59] jordens commented on #1155
The master outputs? Aligned to what?

[2018-09-18 12:04] cjbe commented on #1155
The master si5324 output and the slave si5324 output should have a fixed phase relationship between resets. Equivalently non-serdes TTL outputs should have a fixed timing relationship over resets.

[2018-09-18 12:12] sbourdeauducq commented on #1155
Is the problem présent at 150MHz?

[2018-09-18 12:46] jordens commented on #1155
Was deterministic sync in the original code with 150 MHz not tested?

[2018-09-18 12:53] sbourdeauducq commented on #1155
Chris tested it (that was during siphaser developments).

[2018-09-18 12:53] cjbe commented on #1155
I tested deterministic sync on SERDES and non-SERDES outputs at 150 MHz on build shortly after #958 was fixed, and both had a deterministic time alignment (over ~100 resets).

[2018-09-18 12:58] sbourdeauducq commented on #1155
CI for this shouldn't be very complicated to do (using RTIO inputs and a TTL connection between master and satellite), if someone wants to fund it.

[2018-09-18 14:30] jordens commented on #1155
Same with the current, original 150 MHz `Master/Satellite` variants. There was really no reason to suspect otherwise, was there? I'm going to pause here. It's probably best if you test code yourself. @sbourdeauducq

[2018-09-18 14:46] #1150 closed

[2018-09-18 15:53] jordens commented on #1155
@cjbe I don't follow your analysis. It can't really be SiPhaser (which what I assume is what you mean by "phase alignment module clocking") since that's only in Satellite and since that synchronizes fine each time. Looking at the SI5324 alignment between the master and the satellite is not not really the best bet. I did it anyway since you and @sbourdeauducq seem to think that's the problem: but t

[2018-09-18 16:06] sbourdeauducq commented on #1155
It's likely the SERDES then; but if not, it could be GTP shenanigans around the built-in clocking and elastic buffer (which is supposed to be disabled).

[2018-09-18 16:18] jordens commented on #1155
`ttl_simple` on master against `ttl_serdes_7series` are deterministic.

[2018-09-18 18:20] jordens commented on #1155
Hmm. Maybe it would be worked around by `core.reset()`. If it is, then I wonder why we can't get the master into a deterministic state without the manual reset.

[2018-09-18 22:20] cjbe commented on #1155
@jordens my test involved restarting the master and slave simultaneously (via JTAG), running a startup kernel (which waits for the DRTIO link, then runs core.reset()), and running an experiment that generates simultaneous pulses on master and satellite.

The way we are using the 125 MHz DRTIO we are not sensitive to the SERDES output alignment, so I have no idea if the alignment works.

[2018-09-19 00:58] sbourdeauducq commented on #1155
Because the Xilinx SERDES doesn't get into a deterministic state without an explicit reset. The only solution is to inject a reset in the firmware or somewhere else once the clocks have stabilized.

[2018-09-19 01:14] sbourdeauducq commented on #1155
Hmm, the reset should already be there:
https://github.com/m-labs/artiq/blob/master/artiq/firmware/runtime/rtio_mgt.rs#L300
I don't know what the issue is then. Maybe the SERDES needs it asserted for more than one cycle?

``core.reset()`` is not supposed to help as it does not reset the ``rio_phy`` domain.

[2018-09-19 05:29] sbourdeauducq commented on #1129
@marmeladapk From your comment https://github.com/sinara-hw/sinara/issues/557#issuecomment-422415161

do I understand correctly that you do not have a single board on which the HMC7043 garbage behaves itself even with RTIO/SYSREF alignment disabled, and so you are unable to debug this?

[2018-09-19 08:47] gkasprow commented on #1129
one working board was shipped to you, another to Tom.
We have 2 sets that sometimes do not align.

[2018-09-19 08:48] hartytp commented on #1129
@gkasprow well, since we are most likely going to scrap the HMC7043 in the next revision, is it worth tracking this down further? I'm implementing the new synchronization scheme right now...

[2018-09-19 19:10] whitequark commented on #733
LLD is production-ready since LLVM 7.0. https://lists.llvm.org/pipermail/llvm-announce/2018-September/000080.html

[2018-09-20 09:39] sbourdeauducq commented on #790
done

[2018-09-20 09:39] #790 closed

[2018-09-24 13:31] sbourdeauducq commented on #1100
@dhslichter Is the problem still present? It should be fixed in release-3 as well now.

[2018-09-24 14:58] hartytp opened #1156 "DRTIO switching documentation"
Please can you update https://m-labs.hk/artiq/manual-master/drtio.html?highlight=drtio and https://m-labs.hk/artiq/manual-master/installing.html to include some basic info about switching, point people to `artiq_route` etc.

(Should this also at least mention SED?)

[2018-09-24 15:08] hartytp commented on #1156
Documentation in artiq_route could be a bit clearer.
- we're assigning numerical identifiers to each DRTIO satellite and then specifying the route from the master to the satellite as a series of hops
- are a number with `0` for local RTIO and `n` for the slave device connected to sfp `n+1` (taking care over zero-indexing)
- routes must end in 0
- as with standard DRTIO, rtio channels on slaves are

[2018-09-24 15:08] hartytp commented on #1156
no special gateware/firwmare configuration is required, since all satellites are now DRTIO repeaters by default

[2018-09-24 15:12] hartytp commented on #1156
NB route `0 0` does need to be explicitly programmed otherwise local RTIO channels aren't available

[2018-09-24 15:37] hartytp commented on #1156
if no routing table is programmed a default one is adopted

[2018-09-25 14:42] hartytp commented on #1155
- using the current standalone build
- using one serdes ttl and one simple ttl, both on the core device (Kasli)
- experiment below
- looking at the time of the serdes pulse on a scope triggered from the simple TTL. The delay between the two pulses is constant to <<8ns over half a dozen power cycles of Kasli

[code]

[2018-09-25 15:07] hartytp commented on #1155
Running the same thing on the master build (125MHz f_rtio) I do see variation in the latency across power cycles.

[2018-09-25 15:36] hartytp commented on #1155
@sbourdeauducq maybe a silly thought, but AFAICT, the startup sequence for the master is:

- drtio::startup sets `drtio_transceiver.stable_clkin.storage`, which enables the clock input from the Si5324 and releases the rtio clock multiplier PLL (https://github.com/m-labs/artiq/blob/9584c30a1f327574fc1da1cf4032700d260cf055/artiq/gateware/targets/kasli.py#L594)
- we then immediately (few us) reset th

[2018-09-25 15:44] sbourdeauducq commented on #1155
Quite possibly. Try adding some delay (spin_us) and see what happens, though the proper fix will be to wait for that pll to lock.

[2018-09-25 15:56] hartytp commented on #1155
already building that :)

[2018-09-25 16:01] hartytp commented on #1155
I need to run now, but provisionally it looks like a 1s delay there fixes this issue. I'll check more carefully later on. If it works, i'll submit a PR for a proper fix.

[2018-09-25 16:41] jordens opened #1157 "urukul: support low frequency (10 MHz) ref clock"
* check loop filter
* extend the cpld interface and device_db arguments
* urukul gateware changes: https://github.com/quartiq/urukul/issues/3

[2018-09-25 21:58] hartytp commented on #1057
@sbourdeauducq I tried building a DRTIO master (master, not switching) with a 16-channel SUServo and found some quite large timing violations.

[code]

Without the higher-speed FPGA, this gives a lot of ~1ns timing violations. With the faster FPGA, it builds fine.

Side note, do the false path constrains look correct, or am I missing something?

[2018-09-26 02:53] sbourdeauducq commented on #1155
b92350b0 please test.

[2018-09-26 22:12] drewrisinger opened #1159 "Cannot build docs on Windows: need to add make.bat"
Is there a reason that there isn't any `make.bat` for building the sphinx docs on Windows? It should have been auto-created by `sphinx-quickstart`. Currently just has [Makefile](https://github.com/m-labs/artiq/blob/master/doc/manual/Makefile), so only able to build docs on Linux/Mac. If there's no objection/reason not to, I'll add a `make.bat` in a future PR.

[2018-09-26 22:17] drewrisinger opened #1160 "Request: --version command-line arg for bug reporting"
When bug reporting, it's useful to have an idea what ARTIQ version is causing the issue. I suggest adding a `--version` flag to `artiq_run` or `artiq_master` to print the version number.

It could be added elsewhere, but this seems one of the easiest places.

Implementation (neglecting adding flag to argparse):
[code]

[2018-09-27 00:11] sbourdeauducq commented on #1160
That can be obtained with conda list or running that code in the python repl. The issue is to which tool the flag should be added. Why not dashboard, browser, or compile?

[2018-09-27 02:02] sbourdeauducq commented on #1159
It's just that all developers so far have been using Linux. Adding it is OK.

[2018-09-27 05:08] jordens commented on #1160
`artiq_run` and `_master` are fine by me. Why not just add it to `verbosity_args()`? That covers a lot.

[2018-09-27 16:02] drewrisinger opened #1162 "Compiler doesn't parse @PREFIX.kernel (kernel decorator with path)"
# Description
ARTIQ compiler doesn't recognize `@PREFIX.kernel` decorator.

## Replicating
Instead of using `from artiq.experiments import *`, use `import artiq.language.core`. Then decorate function with `@artiq.language.core.kernel`.

### Sample Code

I would like to use following, because per [PEP20](https://www.python.org/dev/peps/pep-0020/), **Explicit is better than implicit**. Also, because

[2018-09-27 16:21] jordens commented on #1162
I agree. The star imports are bad. In terms of recommendations I would go for `import artiq.language as aq; ...; @aq.kernel`. Along the lines of numpy and similar.

[2018-09-27 19:17] drewrisinger commented on #1162
@jordens the point is that the compiler can't recognize any sort of prefix, so even with your suggestion, the ARTIQ compiler would throw an error. However, I haven't tested it with that specific combination.

[2018-09-27 19:33] drewrisinger commented on #1162
Side note: when this is fixed, should change documentation to remove all examples of `from artiq.experiment import *` because it's bad practice.

[2018-09-27 20:31] jbqubit opened #1164 "sawg: amplitude1.set()"
Running ```4.0.dev+1401.g20cddb6a``` on a Sayma that produces nice sinusoids if amplitude is not modified. The following produces glitchy output instead of amplitude-stepped output.

[code]

![tek007_000](https://user-images.githubusercontent.com/20543958/46172893-c01d3500-c272-11e8-9068-e2035a66e580.png)

[2018-09-27 20:46] jordens commented on #1162
Yes. None of this works right now because of the compiler. My point is not about the compiler but about the recommended style. I didn't want to sidetrack this issue.

[2018-09-27 21:10] whitequark commented on #1162
That can be fixed quite easily, I just forgot about `import as` when implementing decorator support in the compiler.

[2018-09-27 22:48] jbqubit opened #1165 "sayma sayma_masterdac pulse length"
Using 4.0.dev+1401.g20cddb6a

I'm running sayma_masterdac on internal clock with
    ```"ref_period": 1/(8*150e6)```
and see
- ttl_sma_out.pulse(100*ns) pulse scope duration is 86.5 ns.
- ttl_sma_out.pulse(1000*ns) pulse scope duration is 1000 ns.

Looking at master examples/sayma_masterdac:
 ```   "ref_period": 1/(8*150e6)```

Looking at master examples/sayma_master:
```    "ref_period": 1/150e6,

[2018-09-28 01:39] jbqubit commented on #1165
I'm trying to reconcile that some variants use "ref_period": 1/(8*150e6) and others use "ref_period": 1/150e6.

That's news to me. Is there an Issue on this?

Yes.

[2018-09-28 01:42] sbourdeauducq commented on #1165
https://github.com/m-labs/artiq/issues/792
I don't know how it can be news after the many emails to Xilinx tech support, on which you were copied, about the mess they made of Ultrascale I/O clocking.

[2018-09-28 01:48] sbourdeauducq commented on #1165
This prints the expected result 120:
[code]

What happens if you do ``pulse_mu(120)``?

[2018-09-30 07:48] sbourdeauducq commented on #1007
@whitequark can you give us an update?

[2018-10-01 16:03] dhslichter commented on #1117
@whitequark @jordens @sbourdeauducq it would be very helpful if these sorts of distinctions (subtle issues that can dramatically impact efficiency of operation) could have some brief mentions in the compiler section of the manual.  I feel like a number of ARTIQ adopters might get very frustrated by issues like this and #709 and #804, and if it's in the manual as "known bug, fix in progress" that w

[2018-10-02 01:29] sbourdeauducq commented on #1164
@jordens Can you look into this?

[2018-10-02 01:30] sbourdeauducq commented on #1164
@jbqubit Wrong ref_period?

[2018-10-02 02:15] jbqubit commented on #1164
Agreed pulses were too short. Works fine with longer pulses.

[2018-10-02 02:15] #1164 closed

[2018-10-02 12:56] #1083 closed

[2018-10-02 13:01] hartytp commented on #698
Closing this, since we've provisionally agreed to scrap this ADC in v2.0 (although, we may add I2C ADCs to the afe mezzanines, but that should probably included as part of the support issue for those AFE cards)

[2018-10-02 13:01] #698 closed

[2018-10-02 13:01] hartytp commented on #921
AFAICT, this is no longer needed since ethernet on Sayma works fine now

[2018-10-02 13:01] #921 closed

[2018-10-02 14:38] sbourdeauducq commented on #1155
@jordens ping

[2018-10-02 14:56] jordens commented on #1155
Waiting for another kasli.

[2018-10-02 14:56] jordens commented on #1155
If you have two, you can test it yourself.

[2018-10-03 16:03] hartytp opened #1166 "sayma ramp gen issues"
Building in a fresh artiq-dev=4.0.dev conda environment with the latest master. Only change is to set the HMC830 reference frequency to 150MHz in the Sayma AMC target. Clocking at 150MHz from a synth.

Building without sawg, I see glitches on the ramp generator's output

![sync](https://user-images.githubusercontent.com/21218399/46423284-22bc7800-c72e-11e8-9fbf-5c14ce21f970.png)

Some channels loo

[2018-10-03 16:08] sbourdeauducq commented on #1166
@marmeladapk / @jbqubit are you able to reproduce this?

[2018-10-04 10:44] hartytp commented on #1166
Reproduced in a fresh conda environment with a current master, now clocking at 100MHz. Binaries are [here](https://drive.google.com/open?id=1_h-E_fdQIOmMpUdifZFKY9qnXg2y_Mep), timing is met.

[code]

UART log:
[code]

[2018-10-04 10:54] hartytp commented on #1166
Looking at all channels on a fast scope. Using an ac-coupled TCM2-43X+ and a 50Ohm scope. Channel numbers refer to the physical ordering of the SMPs, with the ones nearest the SATA connectors being 7 (I recall the mapping between SMPs and DAC channels being somewhat screwy).

0
![0](https://user-images.githubusercontent.com/21218399/46469724-2acaf500-c7cc-11e8-8748-ddbf9ee77e03.png)

1
![1](https:

[2018-10-04 11:00] hartytp commented on #1166
So we have these odd glitches and channels 3/7 show some odd curvature...

@jbqubit @marmeladapk @gkasprow can one of you look at your board with the binaries I posted and see if you reproduce this...

[2018-10-04 13:01] jordens commented on #1166
The "odd curvature" (assuming you are talking about the low frequency deviation from the sawtooth) on 1,3,5,7 is your balun AFAICT. Do they worry you?
There are glitches on 0,1,4,5: periodic on 1,5 and random on 0,4.

[2018-10-04 22:06] cjbe opened #1167 "Artiq on Zynq"
I have been having a look at the performance of Artiq on Zynq SOCs (2x ARM CPU + Artix/Kintex fabric). I am particularly interested in:
* the level of friction / mess in porting to Zynq
* the potential to increase RTIO event throughput
* the potential increased computational speed (hard FPU, faster processor clock, better pipelining)

I have a proof-of-concept port working. The code is [here](http

[2018-10-04 22:20] cjbe commented on #1167
Some implementation notes:
Due to the CDCs between the fabric AXI bus (running at 125MHz) and the CPU bus (667 MHz) a single 32-bit AXI write takes about 100ns, this is fine for normal CSR access, but is annoyingly slow for RTIO interface.

In my proof-of-concept implementation I instead used the Cortex-A9 cache coherent AXI interface, with the fabric as the bus master. When the CPU triggers the k

[2018-10-04 22:30] gkasprow commented on #1167
We had some discussion with @hartytp a few weeks ago. We even looked at the chips and packages and XC7Z030-2FFG676I seem to be good choice - it has enough pins to serve 12EEMs and 4 transceivers.

[2018-10-04 22:34] gkasprow commented on #1167
ZynQ US+ has two additional real time R5 cores. Maybe they gain better performance in such use case ?

[2018-10-04 22:51] cjbe commented on #1167
The XC7Z030-2FFG676I looks nice for a Kasli-type EEM controller:

* Kintex-7 fabric
* Max CPU clock 866 MHz
* roughly the same number of LUTs at the Kasli FPGA

I feel hesitant about the Ultrascale fabric unless it is strictly necessary, considering the inconveniences @sbourdeauducq has observed on Sayma.

[2018-10-04 22:57] hartytp commented on #1167
1GHz if you stump for the -3 speed grade.

Given our experience with Kasli, maybe it's a good idea to go for that speed grade anyway. On the other hand, IIRC the Kintex is generally faster than ARTIX so it's probably less of an issue and, anyway, without a soft CPU timing closure is probably less of an issue.

[2018-10-04 23:58] sbourdeauducq commented on #1167
Expected and it's good to finally have some hard numbers about this, thanks @cjbe !

But one question remains (and I have asked this before): are you really doing a lot of computations on the device? What would a typical payload look like, with a typical mix of RTIO operations and computations? I guess you are not using it to compute Mandelbrot sets.

Indeed, the Ultrascale IO system is really bad

[2018-10-05 01:14] sbourdeauducq commented on #1154
Funded by U Wisconsin-Madison

[2018-10-05 01:17] dhslichter commented on #1167
The ZC706 eval board comes with a XC7Z045FFG900–2; these are much more expensive as individual chips than the '030 size mentioned above, but then there is the advantage (for hardware testing/prototyping, anyway) that one can just get going with an existing eval board.  For us at NIST, those eval boards look like they would be drop-in replacements for the KC705 with the rest of our hardware (DDS/TT

[2018-10-05 08:56] hartytp commented on #1167
If we do spin up a Zync version of Kasli, let's give it the -3 speed grade. My experience is overwhelmingly that post-doc time wasted due to timing issues with slow FPGAs is much more expensive than buying fast FGPAs in the first place.

The improvement in CPU speed/decrease in RTIO latency is the icing on the cake.

[2018-10-05 08:57] hartytp commented on #1167
Users who strongly prioritize cost over performance can still use the Artix variant of Kasli.

[2018-10-05 09:05] whitequark commented on #1167
In principle, this could be fixed by enabling (and validating) mor1kx's FPU, which @sbourdeauducq has been quite pessimistic about so far, but which could be easier than migrating to Zynq...

[2018-10-05 09:05] hartytp commented on #1167
@dhslichter agreed: if we do port ARTIQ to Zync then it would be very sensible to start with an eval board, so we have "known good" hardware instead of a completely new design. Once that works we can start thinking about a hardware port.

Yes, I see things like this as being major "quality of life" improvements for ARTIQ. Related is input validation: we've all seen large amounts of time wasted due

[2018-10-05 09:10] hartytp commented on #1167
Are you sure that would be easier? What state is the FPU in mor1k at the moment? Is it well documented and well tested, and does it deal with all the nasty corner-cases involved in floating point arithmetic? Will it meet timing on Kasli with a decent CPU clock frequency? And, if we do get it working, how fast will it be?

While there is a lot left out of @cjbe's work, I was encouraged by how quick

[2018-10-05 09:13] hartytp commented on #1167
As @dhslichter there are a lot of cases where being able to do some basic maths (even data fitting) on the core device would be really great. Currently, for anything like that, one has to RPC back to the host which takes an age.

But, even simpler things would benefit from a faster CPU. e.g in some cases one wants to receive an input event, do some simple logic, make a decision and then send some

[2018-10-05 09:48] cjbe commented on #1167
@sbourdeauducq

* Already in dumb experiments we find we have to add significant delay padding over what one would expect from the rate of output events and the typical 700ns cost per output event. I.e. the bottleneck is not the RTIO output event rate, but the CPU.
* The CPU latency is limiting when responding to input events. In a current experiment we are running we need to play back a DDS pulse

[2018-10-05 14:08] dtcallcock commented on #1167
Did anyone consider using Intel FPGAs here?  One concern I have is that the 7000 Zynqs are pretty long in the tooth and if Ultrascale Zynq is a no-go we don't have a path to getting really high performance silicon.  Also, naively it looks like Intel are less interested in putting everything plus the kitchen sink into their SoCs, which seems to be one of the problems with Ultrascale.

The [Arria 10

[2018-10-05 14:21] sbourdeauducq commented on #1167
Those CPU features are just as unpredictable as the DRAM and cache which is currently in use, though problems may only happen at a significant rate when the performance is pushed further.
I believe that the proper solution to this problem is to make the CPU architecture simpler - not more complicated - by using SRAM tightly integrated into the CPU pipeline.
With FPGAs we can do that either with ex

[2018-10-05 14:40] jbqubit commented on #1166
Using @hartytp build I also see problems with the sawtooth pattern. When errors occur they don't occur with the same period as the sawtooth so I've done a single-trigger capture. sawg0...sawg7

![20181005_ramp_sawg__000](https://user-images.githubusercontent.com/20543958/46541810-fc601f00-c88a-11e8-99c1-0edbd145d908.png)
![20181005_ramp_sawg__001](https://user-images.githubusercontent.com/20543958

[2018-10-05 15:29] dtcallcock commented on #1167
@sbourdeauducq

Beyond this (supposedly fixed) bug are there any general objections to using Intel, or is this indicative of the general state of their silicon?  If it's just a matter of trying it, how much work would an Artiq port be if you had an eval board?

[2018-10-05 15:56] dhslichter commented on #1167
@sbourdeauducq are you suggesting an ARTIQ core device that is an ASIC?  Sounds rather complex to me.

[2018-10-05 16:02] dhslichter commented on #1167
Agreed that more throughput is always nice, and not having to use DMA is ideal if possible.

In terms of @cjbe's point about the "long tail" of delays required to prevent `RTIOUnderflow`s, if one has a faster processor, would it be possible to implement some simple form of exception handling on the core device, such that one could keep an experiment alive if desired despite the occasional rogue un

[2018-10-05 16:59] gkasprow commented on #1167
With ZynQ you can setup multiprocessing (SMP). One core can be responsible for low latency simple tasks and run from BRAM while other work from SDRAM and do remaining tasks.

We use Intel FPGAs regularly and they are much less problematic than Xilinx or Microsemi ones.
 Quartus tool is much more mature and things usually just works. They release components and tools later than XIlinx does but thei

[2018-10-05 20:11] dhslichter commented on #1167
I think for these applications, we are not enormously price sensitive if it means a substantial difference in performance.  In other words, we don't need to spend huge amounts of money to get the very best performance, but if substantial performance enhancement can be had with a chip that is not much more expensive, I would go that way every time.

[2018-10-06 01:08] sbourdeauducq commented on #1166
Is there an older version where that did not happen?

[2018-10-06 01:32] sbourdeauducq commented on #1167
To be honest, I don't have much experience with Intel silicon. But bugs like this do not look good.

It shouldn't be a big issue to port the core of ARTIQ to Intel silicon - other people have used MiSoC on them, and Quartus support is already in Migen. The main driver of frustration and development time will be the hard IPs: transceivers (containing the aforementioned bug), IO SERDES and delays (f

[2018-10-06 08:13] hartytp commented on #1167
ASICS are fun. More than cost, my worry would be the difficulty in adding new features or fixing bugs, which would then require hardware modifications.

[2018-10-06 08:53] hartytp commented on #1166
Not sure. Are you able to test this on your hardware? Or, is there some other issue blocking that?

We could go back and check with the commit that we though fixed this. If you post binaries then maybe @jbqubit can test them (I won't be able to do that this week)? Since this issue only affects some channels, it's quite possible that we thought it was fixed when it wasn't. Or, it could be one of th

[2018-10-06 11:16] gkasprow commented on #1167
In our scale of the project, it's cheaper and easier to take higher grade FPGA than playing with ASICs.
Small scale production is not that expensive - with shared silicon you can get the ASIC production run for a few tens of k EUR.  Another option is to order hardened FPGA from INTEL. The advantage is that you use Quartus to prepare all documentation. I'm not sure if this would give us any advanta

[2018-10-06 12:03] sbourdeauducq commented on #1167
No matter what grade of FPGA you take, you cannot put megabytes of SRAM into a CPU pipeline running close to a GHz.

[2018-10-06 12:38] gkasprow commented on #1167
That's true. But how ASIC would help here?  The same logics can be implemented with ASIC and FPGA, Of course FPGA adds sth like 50% of performance penalty.

[2018-10-06 12:40] sbourdeauducq commented on #1167
It's more like >90% performance penalty with this kind of thing. Especially with a large RAM that will have to be spread across the whole chip with huge routing delays.

[2018-10-06 12:42] gkasprow commented on #1167
True, multi-stage pipelines add plenty of performance penalty in terms of memory access time. ASICs can mitigate it. The same applies to round-trip delay of JED204B

[2018-10-06 16:38] gkasprow commented on #1166
@sbourdeauducq Is there a way to get access to your MTCA crate?
 I mean MCH Ethernet, NAT MCH console, Sayma USB + MMC programmer + some mean to switch the power of the crate ?

[2018-10-08 01:54] sbourdeauducq commented on #1100
@dhslichter It take us a lot of effort to fix those things; can you please test?

[2018-10-08 02:02] sbourdeauducq commented on #1007
With all the time that this painful issue is taking, it seems that meanwhile a number of people have been using development versions that have the problem. How much of an impact does it actually have? Does it make sense to delay releases further? @cjbe @dhslichter @jordens

[2018-10-08 07:40] jordens commented on #1007
I can work around it in most cases. But it's unacceptable to not fix it and I don't like to see this receive less attention.

[2018-10-08 08:10] cjbe commented on #1007
I agree with @jordens -  this kind of issue adds a lot of friction to new users especially, and we should make sure it is fixed.
However I don't think this should block the release, since there is so much good stuff in the 4 release.

[2018-10-08 10:28] jordens commented on #1155
Still the same behavior as of `5de319d7`.

[2018-10-08 13:12] jordens commented on #1155
cherry-picked for master, tested, works now.

[2018-10-08 13:12] #1155 closed

[2018-10-08 14:29] dhslichter commented on #1100
@sbourdeauducq sorry, Jonas Keller has tested it here and we didn't see any more of the previous communications issues.  Let's close.

[2018-10-08 14:29] #1100 closed

[2018-10-08 14:29] sbourdeauducq commented on #1100
Good, thanks!

[2018-10-08 14:37] dhslichter commented on #1007
Agreed, having a 4 release would be very good.  In the lab, we are only running on release versions, not dev versions, and just suffering through bugs for now while we wait for new releases.  We could run on dev versions, but we tend to be paranoid about upgrading in the middle of data-taking for a given experiment.  The Magtrap will upgrade directly from ARTIQ 2 to ARTIQ 4 if the release come soo

[2018-10-08 14:38] dhslichter commented on #1100
Will update/reopen if this rears its head again, but we will call it good for now.

[2018-10-08 14:42] sbourdeauducq commented on #1007
No, this issue is not related to compilation speed. It slows down *execution* in several cases where floating point is used, and can be worked around by using the ``_mu`` functions.
Should there be a 3.7 release with other bugs fixed and but this slow-down present? The bugfixes and this cannot be easily decoupled due to Rust/LLVM version incompatibilities.

[2018-10-08 14:44] sbourdeauducq commented on #1007
@dhslichter Is the scan slowness you mention due to #804 or another already reported issue? If not, can you open a new one with a repro?

[2018-10-08 14:44] dhslichter commented on #1007
We use the `_mu` functions always just because it has always provided better performance.  I would go ahead and release all the other bug fixes in 3.7, and let this one slide to version 4.  In the balance of making things better/easier for new users vs. bringing bug fixes to current users, I think here the best way to go is to push bug fixes for current users while we can.

[2018-10-08 14:46] dhslichter commented on #1007
@sbourdeauducq I am not sure if it is due to #804 or another, to be honest I haven't tried benchmarking it.  I have just noticed that it happens.  I will write up some code to test this out and open a fresh issue if it appears to be unrelated to existing stuff.  First I need to figure out if there is a particular feature of the code that is causing it...

[2018-10-08 14:49] sbourdeauducq commented on #1007
Is that because of potential conda issues or potential problems with flashing the core device?

[2018-10-08 14:59] dhslichter commented on #1007
More about the core device flashing issues; we get paranoid about doing this in a live experiment unless we have to.  Note that this is just generally true for changing/upgrading any component of the experiment that is not the fundamental limit on the experiment's performance -- including lasers, electronics, cryogenics, etc.  The time for upgrades is while the paper is being written :)

[2018-10-08 15:20] hartytp commented on #1007
That way, when the reviewers ask you to take some extra piece of data you can reply "sorry, broke the experiment already, no can do!" :)

[2018-10-08 16:31] dhslichter commented on #1007
Fine, so maybe you wait until the paper is published :)

[2018-10-09 01:32] sbourdeauducq commented on #1129
@jbqubit ping

[2018-10-09 08:02] jordens opened #1171 "API inconsistency: set_dataset(..., save=True) vs get_dataset(..., archive=True)"
It would be clearer and leave fewer chances for errors to call them both `archive` since the functionality is the same. Or am I missing something?

[2018-10-09 11:12] #1148 closed

[2018-10-09 11:27] jordens commented on #1166
Given that the behavior differs between channels (where the ramp generator does not differ), this is likely something downstream and not the ramp generator.

[2018-10-09 11:38] jordens commented on #1126
This will generally not work. `cound(); ...; self.led0.off()` and `count(); ...; gate_rising()` are guaranteed to see an `RTIOUndeflow` the way it's written. The 135 ms are probably exactly the compiler overhead.

[2018-10-09 14:38] hartytp commented on #1166
@jbqubit

I haven't got enough data at the moment to give a definitive answer to that, although I can retest later if necessary.

I only looked at one channel with SAWG and didn't see any evidence of this (see the shots I posted on the synchronisation issue). That same channel displayed glitches with the ramp generator.

However, without knowing the cause of this issue, it's possible that the pres

[2018-10-09 14:49] marmeladapk commented on #1166
@hartytp Did you try to supply other reference frequencies (100, 125 MHz?). Just as a sanity check. With @jbqubit we had very similar symptoms, which were caused by wrong reference frequency (even though hmc830 locked). Perhaps hmc830 freq isn't set properly?

It's a wild guess, but it should be quick to check it.

[2018-10-09 15:07] hartytp commented on #1166
Good thought, but I was quite careful about this. I was also able to reproduce this issue with a variety of clocking options and reference frequencies.

Note also, that @jbqubit reproduced my measurements, so he would have to be making the same mistake as me.