[2017-11-25 00:59] sbourdeauducq commented on #846
They should look at the Sayma schematics then, not the MiSoC source.

[2017-11-26 15:27] whitequark commented on #845
Waiting until the logs become available. This is possibly related to https://github.com/m-labs/smoltcp/pull/65; should be clear from the logs if it indeed is.

[2017-11-26 20:58] whitequark commented on #843
Done. Also updated `artiq_devtool`.

[2017-11-26 20:58] #843 closed

[2017-11-27 18:07] whitequark commented on #837
The packets are dropped because of (at least) preamble errors. AFAICT we don't actually need to check for preamble errors, just look for 55 55 D5 pattern:

[2017-11-27 18:16] sbourdeauducq commented on #837
The funny thing is that some packets still get through...

[2017-11-27 18:23] sbourdeauducq opened #856 "serwb intermittently fails to initialize"
This occurs on the Sayma1 board we have on the HK server.

[2017-11-27 18:38] whitequark commented on #837
@sbourdeauducq If there is jitter of 1 octet at the beginning of the preamble that will also do the job. And it looks from my experiments like there's a probability of 4/5 that the preamble is not recognized.

[2017-11-27 22:48] jbqubit commented on #854
@sbourdeauducq What do you mean by "RGMII Ethernet + MiSoC core does not work on Sayma"? What have you tried?

[2017-11-27 23:09] gkasprow commented on #854
Guys, I will work on it very soon, hopefully tomorrow.

[2017-11-28 00:52] sbourdeauducq commented on #854
No packet can be transmitted or received. When the PHY is clocked, and my cable is not broken (the SATA hack is very fragile), then autonegociation succeeds.

[2017-11-28 12:07] kesht123 commented on #845
Sorry for the delay,

Looking at artiq_corelog, we see no change in behaviour before and after the issue occurs:
[code]
We generally see a malformed packet warning a few times a minute on average. The issue happened just before the connection at 3273s when I immediately ran artiq_corelog. I have included the malformed packet errors before and after for reference.

I also saw the following shortly

[2017-11-28 18:06] jonaskeller opened #857 "ARP storm fix for Artiq 3"
As far as I can tell, there is currently no artiq 3 build which implements the ARP storm fix in smoltcp. (Sorry if I missed anything, but I only see dev versions of artiq 4 which include it).

Since we can't have any of our FPGAs on the network without this fix, we are currently stuck with 4.0.dev versions if we want anything newer than 2.5.

When do you plan to integrate it in an artiq 3 release

[2017-11-29 02:13] sbourdeauducq commented on #857
There will be a 3.1 release soon that includes the fix. Do you confirm that the problem is fixed in 4.0.dev?

[2017-11-29 07:39] KaifengC opened #858 "Gateware bitstream build fail on artiq 2.5, recipe for target 'libunwind.o' failed"
I'm trying to build gateware bitstream from artiq 2.5 following [manual-release-2/installing_from_source](https://m-labs.hk/artiq/manual-release-2/installing_from_source.html) and got these errors when I'm running `python3.5 -m artiq.gateware.targets.kc705 -H nist_clock`

[code]

It looks like something is wrong with misoc.
using `pip list` I found it seems installed misoc0.1, but after `git check

[2017-11-29 10:45] sbourdeauducq opened #859 "serwb initialization is not reliable"
Fails often on sayma1 on the HK server.

[2017-11-29 10:47] sbourdeauducq commented on #858
Please follow closely the versions specified in the conda recipe in 2.5, and address your python packaging/pip problems.

[2017-11-29 10:48] sbourdeauducq opened #860 "HMC830 fails to lock"

[2017-11-29 10:50] sbourdeauducq commented on #859
Sorry, I had already opened that...

[2017-11-29 10:50] #859 closed

[2017-11-29 10:52] sbourdeauducq commented on #850
@philipkent Does this solve your problem?

[2017-11-29 13:00] whitequark commented on #858
This seems like the wrong compiler is used to build the firmware. Are you sure your `PATH` is correct?

[2017-11-29 14:54] KaifengC commented on #858
The versions of the packaging is checked by comparing `/artiq/conda/artiq-dev/meta.yaml` and `pip list`.
Only misoc is version 0.1 while the requirement is 0.3.
But I found in misoc/tag/0.4 the version in `setup.py` changed directly from 0.1 to 0.4, so this seems not the problem.

I checked the `$PATH` using `echo $PATH` and the `/usr/local/llvm-or1k/bin` is the first one.
Perhaps "the wrong compi

[2017-11-29 16:14] sbourdeauducq commented on #858
Vivado is not involved in compiling the part of the firmware where you have the error.

[2017-11-29 18:30] philipkent commented on #850
Thanks, I will try that.

[2017-11-29 19:03] philipkent commented on #850
Using scheduler.expid['log_level'] worked.  Thanks.

[2017-11-29 19:03] #850 closed

[2017-11-30 03:06] jonaskeller commented on #857
Thanks.
So far, I can only confirm that it didn't happen in >20h of operation. I can't tell whether there was an event which would have triggered it during that time, though.
At the moment, the FPGA can't be on the network for separate reasons - once that is sorted out, I'll monitor it for a longer period of time and will try to also look for the events which used to trigger the ARP storm.

[2017-11-30 04:08] sbourdeauducq commented on #860
It was due to incorrect settings of my 100MHz source. The HMC830 locks fine and then both AD9154 DACs usually work, including JESD lane startup (but intermittenly I get a "bad SYNC" error).

[2017-11-30 04:11] sbourdeauducq commented on #854
@gkasprow Any findings? Now that the clocking and DACs are mostly working, Ethernet seems to be the major blocker to get RF output using ARTIQ.

[2017-11-30 09:25] jordens commented on #798
Done. Will be debugged when Ethernet is up.
https://github.com/m-labs/artiq/blob/master/artiq/gateware/targets/sayma_amc_standalone.py#L229

[2017-11-30 09:25] #798 closed

[2017-11-30 09:26] jordens commented on #847
@gkasprow could you give me the `bitgen` options you used to test loading the AMC bitstream from flash?

[2017-11-30 09:29] sbourdeauducq commented on #798
I think this is on our side, not @enjoy-digital's.

[2017-11-30 09:33] gkasprow commented on #847
@jordens is it defined in some text file?

[2017-11-30 09:35] jordens commented on #847
I forgot that `bitgen` is ISE.
If you can give me your Vivado sources for that test project or a screenshot of the bitstream properties/configuration dialog, that would be good. Things like frequency, SPI width...

[2017-11-30 09:36] jordens commented on #798
Sure. But Florent helped with integration.

[2017-11-30 09:43] gkasprow commented on #847
hope this helps
the project is [here](https://www.dropbox.com/sh/b5gnf815xk6mzds/AABjPOywleaJw29mKkxbrfZCa?dl=0):

![obraz](https://user-images.githubusercontent.com/4325054/33423988-b8d159a2-d5ba-11e7-8e36-a675a16c97eb.png)
![obraz](https://user-images.githubusercontent.com/4325054/33424005-c8d6a87a-d5ba-11e7-9709-e2b1d780b964.png)

![obraz](https://user-images.githubusercontent.com/4325054/33424

[2017-11-30 09:47] enjoy-digital commented on #798
@jordens: not sure i can really help on that, but if it's related to things i'm working on, yes i'll look at it.

[2017-11-30 10:01] jordens commented on #798
It's done. The issue is closed. I was just documenting the progress.

[2017-11-30 10:01] jordens commented on #847
Thanks.

[2017-11-30 18:31] gkasprow commented on #854
@sbourdeauducq Today I built setup to test Ethernet and there is partial success - it does not work at all. I'm quite happy with it because in this case I can find and solve the problem.
Moreover, I used same board that was used to test Ethernet. So it seems something changed since that time and probably the same issue emerged on other boards.

[2017-11-30 21:42] jbqubit commented on #854
@gkasprow Glad there's now something tangible that looks wrong on your side too. Progress comes in many colors. :)

[2017-11-30 23:49] jbqubit commented on #854
Debugging this is top priority. The Sayma hardware and lots of M-Labs gate ware is ready to test. Getting Ethernet up and running is the bottleneck to forward progress right now.

[2017-12-01 19:07] gkasprow commented on #854
I think I know where the problem is. I implemented simple condition in MMC firmware that resets the PHY chip after FPGA gets configured and DONE goes low.
But in fact the PHY is hold in reset state when DONE is LOW, which is wrong.
Corrected piece of code is here
[code]

[2017-12-01 19:10] gkasprow commented on #854
Here is the binary file:

[lpc1776_ethernet_I2C.zip](https://github.com/m-labs/artiq/files/1522682/lpc1776_ethernet_I2C.zip)

[2017-12-01 19:11] gkasprow commented on #854
I will test it on Monday.

[2017-12-01 21:48] enjoy-digital commented on #860
It would be interesting to look at the output of the HMC7043 to be sure the clocks are clean. (from the first tests i remember it was not the case, so this could maybe explain the intermittents JESD failures).

[2017-12-01 23:05] enjoy-digital commented on #793
DRTIO seems to be working fine with 150Mhz refclk / 3Gbps linerate.

[2017-12-02 02:19] sbourdeauducq opened #861 "Sayma JESD intermittent initialization failure"
On Sayma, the AD9154 JESD initialization sometimes fails with "bad SYNC" or "JESD ready timeout".
@enjoy-digital suspects that this may be because the clocks generated by the HMC830 are not clean (https://github.com/m-labs/artiq/issues/860#issuecomment-348623163).
@gkasprow can you check that?

[2017-12-02 02:23] sbourdeauducq commented on #854
Why do I still get autonegociation to work, then? Is that PHY chip still doing autonegociation while in reset?

[2017-12-02 02:41] sbourdeauducq commented on #793
@enjoy-digital Did you implement the multi-lane initialization procedure? Section "Using TX Buffer Bypass in Multi-Lane Auto Mode" (or "Manual Mode", I let you choose) of the GTH manual.

[2017-12-02 03:03] sbourdeauducq opened #862 "serwb scrambling"

[2017-12-02 03:03] sbourdeauducq commented on #791
Done. Current outstanding issues: #856 #862

[2017-12-02 03:03] #791 closed

[2017-12-02 12:50] gkasprow commented on #854
In my media converter it shows LINK state when I plug SFP, even with AMC power supply off.
Is there any form of autonegotiation in 1Gbit Ethernet over SFP? There is only link state when valid symbols are decoded.
The reset line also disables the PHY clock generator so its impossible to have any activity. The PHY also needs Tx clock from the FPGA to send something, that's why I release the reset af

[2017-12-02 13:01] sbourdeauducq commented on #854
Yes, that was a problem with one of my media converters too. Some of those just use (and require) the EEPROM and/or the LOS signal, which was one of the problems with the cable you gave me, since you had removed its chips entirely. Some other media converters show the status of the autonegotiation instead.
https://ssl.serverraum.org/lists-archive/artiq/2017-November/001165.html

Yes, see section 3

[2017-12-02 13:04] gkasprow commented on #861
@sbourdeauducq can you describe any additional conditions when it happens? During normal operation? While initialisation? The board is cold or hot? Any additional info will help to recreate the problem.
Does it happen on all boards? What is Tx signal level?

[2017-12-02 13:06] gkasprow commented on #854
@sbourdeauducq I don't have access to AMC board right now, I simply found this issue looking at the code. University is closed right now.  I will test it on Monday. Is the MII LED on?

[2017-12-02 13:07] sbourdeauducq commented on #854
What is the MII LED?

[2017-12-02 13:16] sbourdeauducq commented on #861
This is at initialization though we don't know at the moment if the link is reliable afterwards, when the initialization succeeds. The boards are hot and I don't know if it happens with a cold board. What @enjoy-digital was suggesting you check is whether the HMC830 outputs clean clocks or not.

[2017-12-02 13:28] gkasprow commented on #861
@sbourdeauducq OK, I will check it with spectrum analyser. This could be a problem with PLL loop stability. Is the PLL locked all the time? I didn't investigate it because at the time there was no configuration available and I used some typical values to check if from HW point of view only.

[2017-12-02 13:34] gkasprow commented on #854
It is a LED on the front panel which is connected to the CPU
Its original role was to signal who is talking to the PHY chip, at the moment it shows if PHY is in reset state or not. So when the led is lit, the PHY opearates normally.

[2017-12-02 13:59] sbourdeauducq commented on #861
My understanding of the HMC830 is that if the PLL unlocks, it will not automatically try to relock or it will do so only once (depending on a bit in a configuration register).

[2017-12-02 14:00] sbourdeauducq commented on #861
Please compile ARTIQ and test the HMC830 with the exact same settings that we have.

[2017-12-03 11:25] cjbe commented on #848
Implemented in PR #855

[2017-12-03 11:25] #848 closed

[2017-12-04 06:30] sbourdeauducq commented on #861
@enjoy-digital Maybe it is just https://github.com/m-labs/jesd204b/issues/12? I thought that issue was fixed already.

[2017-12-04 09:54] enjoy-digital commented on #861
@sbourdeauducq: i'm pretty sure all was fine with kcu105 + ad9154 fmc and also with my sayma_test design. I need to do more tests but a quick check of the generated clocks would be interesting.

[2017-12-04 10:30] sbourdeauducq commented on #854
@gkasprow Have you been able to get RGMII Ethernet to work again with your demonstration code?
If so, can you share a minimal Vivado project?

[2017-12-04 16:50] gkasprow commented on #854
I just noticed that I was wrong, DONE pin when high indicates correct FPGA configuration. So the MMC code you have is correct.

[2017-12-04 17:11] jbqubit commented on #862
Please add to Milestone 4.

[2017-12-04 18:01] gkasprow commented on #854
So far no success. I tested 3-pin mode and 15-pin configuration mode. I observe PHY transferring data and Rx data on PHY pin. But there is no activity on DV line at all.
I will access MDIO registers to see what's really going on.

[2017-12-05 00:41] sbourdeauducq commented on #862
It works without scrambling and it is not a blocker for 4.0 release.

[2017-12-05 13:13] jordens opened #863 "deprecate old manual trees"
From looking at an old manual it not clear that those are actually obsolete and that newer releases are available. We should deprecate those manuals (especially 2.x) using a [banner](https://github.com/ckan/ckan/commit/93d7e768b7c15ca1372f8d32e9f213259b9d4334) or remove them.

[2017-12-05 13:14] jordens commented on #863
/cc @a-shafir

[2017-12-05 16:56] jordens opened #864 "artiq-dev -> misoc dependency resolution issue"
https://irclog.whitequark.org/m-labs/2017-12-05#1512480392-1512492401;

[2017-12-05 18:24] gkasprow commented on #854
@sbourdeauducq @jbqubit I found!
The PHY works in  SGMII mode instead of 1000BASE-X
My media converter that I used before works in both modes and it detects it automatically.
Now I use media converter that works only in 1000BASE-X mode.

[2017-12-05 20:04] gkasprow commented on #854
Funny thing, I wrote little piece of code that dumps PHY registers
Register, ADDR, DATA
BMCR 0 0x1000
BMSR 1 0x7969
ID1 2 0x0
ID2 3 0x0
AN_ADV 4 0x20
AN_RX 5 0x41a0
AN_EXP 6 0x2
EXT_STAT 15 0x8000

And the value 0x20 in the AN_EXP register means that we operate in 1000base-X mode! So the PHY setting is OK
![obraz](https://user-images.githubusercontent.com/4325054/33627837-0b5e88dc-d9ff-11e7-8eff-e

[2017-12-05 20:04] gkasprow commented on #854
With another media converter I get reasonable data on Rx lines and observe them with chipscope

[2017-12-05 21:32] gkasprow commented on #854
There could be yet another issue which is dependent on particular chip. The datasheet says:
![obraz](https://user-images.githubusercontent.com/4325054/33631872-1b60ce18-da0c-11e7-9380-f7dc93eff047.png)
I will add it to the MMC and see what happens.

[2017-12-05 21:32] gkasprow commented on #854
We have revision B of the chip

[2017-12-06 07:08] enjoy-digital commented on #862
Implemented and tested in simulation. I'll test it on Sayma soon.

[2017-12-06 13:59] jordens commented on #837
Triggering frame just on SFD instead of the preamble+SFD should fix this.
Waiting on https://github.com/m-labs/misoc/issues/64

[2017-12-06 16:47] jordens commented on #837
@cjbe: please test with current master.

[2017-12-06 17:25] whitequark commented on #849
@sbourdeauducq I have thought about it and making the core device print backtraces is a good idea and is easy, because that code is already in libstd (and we only need to tweak it slightly for our embedded environment). This will however bloat the runtime even further (which I personally don't consider a problem whatsoever).

[2017-12-06 17:51] gkasprow commented on #854
Still don't know why it works with one media converter and doesn't with another
For working media converter the register content is below:
Register, ADDR DATA
BMCR 0 0x1000
BMSR 1 0x796d
ID1 2 0x0
ID2 3 0x0
AN_ADV 4 0x20
AN_RX 5 0x41a0
AN_EXP 6 0x0
EXT_STAT 15 0x8000
page0
JIT_DIAG 16 0x0
PCSCR 17 0x11
GMIICR 18 0x8c80
CR 19 0x0
IR 20 0x10
page1
ID 16 0x1ee0
GPIOCR1 17 0x6c00
GPIOCR2 18 0x0
GPIOSR

[2017-12-06 17:55] gkasprow commented on #854
The only difference is in BMSR register  0x796d versus 0x7949 which simply means link down

[2017-12-06 17:56] gkasprow commented on #854
And the front panel LED indicating LINK UP is on.

[2017-12-06 17:57] gkasprow commented on #854
The funny thing is that a few months ago this TPLINK media converter was working...

[2017-12-06 18:41] jordens commented on #837
Works in our tests with the problematic switch.

[2017-12-06 18:45] #837 closed

[2017-12-06 19:11] gkasprow commented on #854
@sbourdeauducq are you sure you produce valid TXCLK o 125MHz? You said that Link is established, so does the LINK LED on front panel is ON? On my board I observe packets in and out.
I modified the MMC code so it additionally initializes the PHY chip (errata fix) and prints chip configuration once the front panel button is pressed.

[2017-12-06 22:46] cjbe commented on #837
@jordens this seems to be a substantial improvement, but there still seems to be something odd going on.

I can now ping through all the problematic switches without loss (no loss in 1e4 packets).
Focusing on the JGS516, I now typically get transfer rates of 1.8 - 2.0 MB/s. However for a while (~20 runs of the transfer benchmark, ~10 minutes wall time) this dropped down to 50 kB/s. When this occur

[2017-12-06 23:55] sbourdeauducq commented on #849
Sure go ahead, we have 1+GB RAM. As long as it can be easily disabled for running on the block-RAM of the RTM FPGA...

[2017-12-07 02:57] sbourdeauducq commented on #837
Please open a new issue, this looks different enough from the initial problem.

[2017-12-07 02:58] sbourdeauducq commented on #854
Which led is the link led?

[2017-12-07 05:10] sbourdeauducq commented on #863
Seems to me this is done. Reopen if not.

[2017-12-07 05:10] #863 closed

[2017-12-07 05:27] sbourdeauducq opened #865 "speed drops / packet losses"
@cjbe reports (https://github.com/m-labs/artiq/issues/837#issuecomment-349800480):

"Focusing on the JGS516, I now typically get transfer rates of 1.8 - 2.0 MB/s. However for a while (~20 runs of the transfer benchmark, ~10 minutes wall time) this dropped down to 50 kB/s. When this occurred I saw the following in the log:
[code]
This continued up to the message `... mac: rx dropped: 523`. Unfortun

[2017-12-07 06:20] #857 closed

[2017-12-07 06:51] jordens commented on #863
Yes. Done.

[2017-12-07 06:55] jordens commented on #865
From the logs, on the build it that may be occurring occasionally in the windows VM as well.

[2017-12-07 09:05] gkasprow commented on #854
It's LD6, third counting from the USB connector.

[2017-12-07 11:33] #864 closed

[2017-12-07 20:22] jbqubit commented on #854
Any update on this today?

[2017-12-07 22:29] gkasprow commented on #854
It simply works in my case. Im preparing a design for mlabs to precisely
diagnose ethernet using chipscope and vivado. It is just compiling...takes
so much time because i use ordinary io as rgmii clock input:)
7 gru 2017 21:22 "Joe Britton" <notifications@github.com> napisał(a):

[2017-12-07 22:52] sbourdeauducq commented on #854
What clock buffer are you using?

[2017-12-08 04:26] whitequark commented on #865
These log messages mean that the runtime is processing packets slower than they arrive, sometimes by quite large chunks. This most likely means that the runtime was busy doing something else.

[2017-12-08 04:31] whitequark commented on #849
How much BRAM do you have there and what do you intend to fit into it?

[2017-12-08 07:45] sbourdeauducq commented on #849
Not much, it's a XC7A15T. Just satman (drive si5324, process drtio aux packets), no smoltcp or anything particularly big or complex.

[2017-12-08 08:05] whitequark commented on #845
I've updated the master branch of ARTIQ so that the core device logs are now more useful. Can you please retry?

[2017-12-08 08:05] whitequark commented on #865
Can you follow the steps here and report? https://github.com/m-labs/artiq/issues/845#issuecomment-346276437

[2017-12-08 09:34] jordens commented on #865
@whitequark could you also please look at why the unittests in the windows VM are failing with similar symptoms?

[2017-12-08 17:05] gkasprow commented on #854
I use BUFG.

[2017-12-08 17:19] gkasprow commented on #854
OK, I have a design that implements some Ethernet core that sends requests once a few seconds. I see them using WireShark. There is a chipscope instance connected to GMII output, before GMII - RGMII converter. On the Rx side I use RGMII-GMII logic and chipscope connected to it.
I can trigger with TX_EN and RX_DV respectively.  Chipscope signal assignment is below.
I see same frame structure on the

[2017-12-08 23:59] whitequark commented on #865
Of course.

[2017-12-09 02:15] sbourdeauducq commented on #854
Then I wonder why Vivado takes more time to compile just because the clock input is on a non-clock-capable pin. Is it trying to move that BUFG around the FPGA to try to meet some timing constraints between clock and data IO pins? If that's the case, maybe adding a location constraint on the BUFG would improve this.

[2017-12-09 02:16] sbourdeauducq commented on #854
Where is that? Can you put all those files in some public place, e.g. create a new repository on GitHub, host them on some web server, or zip + attach to issues?

[2017-12-10 17:05] gkasprow commented on #854
@sbourdeauducq It is in my [dropbox account ](https://www.dropbox.com/sh/mkr0qxkwhp8crsh/AAD9QnIeOJNIe8zLGAZL66d1a?dl=0)I shared some time ago.
The files are also here:

[impl_2.zip](https://github.com/m-labs/artiq/files/1545840/impl_2.zip)

[2017-12-10 23:28] sbourdeauducq commented on #858
@KaifengC Is that resolved?

[2017-12-11 02:58] sbourdeauducq commented on #758
@enjoy-digital how to do that?

[2017-12-11 07:13] enjoy-digital commented on #758
@sbourdeauducq: here is what i started for STATUS and PRBS:
https://github.com/enjoy-digital/artiq/commit/1c41f53cce3a3d659b91857dd1749a89f645c2c2
https://github.com/enjoy-digital/artiq/commit/14a2d60cf50aa37d3c369a8da540c425a7148d35
PRBS was not working but it should be easy to get it working.
I haven't implemented STAPL but procedure is still the same.

[2017-12-11 09:23] sbourdeauducq commented on #758
I think we shouldn't need STAPL - the purpose of this is to test the board's integrity, and PRBS should be enough, correct?

[2017-12-11 12:34] enjoy-digital commented on #758
@sbourdeauducq: yes for board's integrity this enough. (STAPL was useful to validate the core).
I'll take care of getting PRBS working in the firmware while doing others JESD related things.

[2017-12-11 17:00] jbqubit commented on #854
@sbourdeauducq Can you reproduce what @gkasprow sees with WireShark and chipscope?

[2017-12-11 18:19] jbqubit commented on #847
@jordens What's the status of this?

[2017-12-12 15:04] jbqubit commented on #854
@sbourdeauducq ping

[2017-12-12 16:20] gkasprow commented on #854
It should look like this:
![obraz](https://user-images.githubusercontent.com/4325054/33895418-c314220a-df60-11e7-848c-a3988fbde319.png)

[2017-12-12 16:22] sbourdeauducq commented on #854
Does the built-in JTAG work with vivado?

[2017-12-12 16:46] gkasprow commented on #854
I didnt even try. I use external jtag cable

[2017-12-12 22:12] philipkent opened #866 "Installing Artiq 3.1 from Conda channel"
Trying to install artiq 3.1 from the conda channel on Windows 7 gives the following error:

     conda install -c m-labs artiq-kc705-nist_qc2=3.1
     PackageNotFoundError: Packages missing in current channels:
         - artiq-kc705-nist_qc2 3.1* -> artiq 3.1 py_0+git4c2f25e8 -> llvmlite-artiq 0.12.0

[2017-12-12 22:40] gkasprow commented on #854
@sbourdeauducq I found little issue with the bits I published. The nibbles on the Rx side were swapped and could cause confusion. I fixed it and now it's fine. The files are in the Dropbox directory I shared.
This is how it should look like. The MSB is rx_dv  line and i use it as a trigger
![obraz](https://user-images.githubusercontent.com/4325054/33912363-da7352d8-df95-11e7-9050-6cf00d44d5d1.png)

[2017-12-13 00:54] sbourdeauducq commented on #866
Well the package is there:
https://anaconda.org/m-labs/llvmlite-artiq
Try installing it manually...

[2017-12-13 02:33] sbourdeauducq commented on #847
They are all at 0, which is incorrect, on the HKG boards.

[2017-12-13 02:41] sbourdeauducq commented on #847
Er, no all at 1 (but still incorrect) the switches are enabling pull-downs.
This should be the correct position:
![sayma_m](https://user-images.githubusercontent.com/720864/33919189-3cc55b3c-dff2-11e7-99f3-f934bc5ac250.jpg)

[2017-12-13 04:42] sbourdeauducq commented on #856
Sometimes the initialization fails in a loop and this is resolved by reloading the RTM FPGA:
[code]

[2017-12-13 06:32] whitequark commented on #866
We only have 0.10.0dev for 32-bit Windows.

[2017-12-13 06:40] sbourdeauducq commented on #866
Is that 32-bit Windows? Conda + win32 + python3.5 is broken. Reintroducing win32 needs #652.

[2017-12-13 11:22] enjoy-digital commented on #856
Thanks. I look at that today.

[2017-12-13 13:23] sbourdeauducq commented on #847
After setting the switches into that position, the board boots from the bitstream that @jordens flashed, but not the one I built from master and flashed with artiq_flash.

[2017-12-13 13:42] jordens commented on #847
2917208d

[2017-12-13 13:42] #847 closed

[2017-12-13 20:42] philipkent commented on #866
Hi.
Yes, that was on 32 bit windows.  Trying to install on Linux gives a dependency error for prettytable:
     Error: Dependency missing in current linux-64 channels:
          - artiq-kc705-nist_qc2 3.1* -> artiq 3.1 py_0+git4c2f25eq -> prettytable

The Linux version we're running is 64 bit Ubunutu 14.04.5 LTS.  I'll see if I can install the prettytable package manually.

We can also try buildin

[2017-12-13 20:47] whitequark commented on #866
Are you perhaps missing the conda-forge channel?

[2017-12-13 21:23] philipkent commented on #866
It was missing the conda-forge channel.  That fixed it.

[2017-12-13 21:36] #866 closed

[2017-12-13 21:38] hartytp opened #867 "Developer documentation"
Are there any plans to improve the coverage of documentation for ARTIQ/misoc/migen?

The ARTIQ user-facing documentation is generally pretty good. But, as soon as one wants to look at how things are implemented, the documentation becomes sparse to nonexistent. Currently, understanding how things are implemented in ARTIQ means reading and properly understanding the sources of large chunks of ARTIQ+

[2017-12-13 22:38] jbqubit commented on #867
I agree. The level of documentation of misoc and migen was a hurdle when Arpit was working on a hardware driver for Zotino. Some ad hoc breadcrumb trails I found helpful including the following.

https://www.wdj-consulting.com/blog/migen-port.html

https://lab.whitequark.org/notes/2016-10-18/implementing-an-uart-in-verilog-and-migen/

Zotino example code   https://github.com/m-labs/artiq/pull/842

[2017-12-13 22:44] jbqubit commented on #854
@sbourdeauducq Any luck with this using external JTAG?

[2017-12-13 23:15] jbqubit opened #868 ".bit build, file location expected by artiq_flash"
```~/artiq-dev/artiq$ python3 -m artiq.gateware.targets.sayma_amc_standalone```

produces binaries in

```~/artiq-dev/artiq/misoc_saymaamcstandalone_sayma_amc```

but ```artiq_flash``` expects them to reside in

```~/artiq-dev/artiq/artiq/binaries/sayma/```

Please update build recipe to copy files to the location expected by ```artiq_flash```. Use of the ```-d``` option isn't practical as there a

[2017-12-13 23:28] jbqubit opened #869 "artiq_flash support for Sayma_RTM"
https://github.com/m-labs/artiq/blob/5e251cd85c90b980448894ab91ea968b81c3b709/artiq/frontend/artiq_flash.py#L132

[2017-12-13 23:34] jbqubit commented on #847
Confirmed that I can flash using ```artiq_flash -t sayma```.  Thank you @jordens !

[2017-12-13 23:35] jbqubit opened #870 "Sayma: no debug info on flterm"
Confirmed that I can flash using ```artiq_flash -t sayma```. https://github.com/m-labs/artiq/issues/847 However, I don't see anything on flterm when I remove power from Sayma_AMC, wait 3 seconds then reapply power. I've checked all four serial interfaces.

[2017-12-13 23:53] sbourdeauducq commented on #867
Where?

[2017-12-13 23:57] sbourdeauducq commented on #868
artiq-flash is meant to be used in conjunction with the conda packages, not source builds (unless you reorganize files like the conda script does).

[2017-12-13 23:58] sbourdeauducq commented on #870
Is the done led on? Did you set up the M switches?

[2017-12-14 00:04] sbourdeauducq commented on #854
I don't have a cable.

[2017-12-14 01:49] hartytp commented on #867
@sbourdeauducq All over the place. Lots of variable names like i, o, a, b, c, m, j, k etc and functions with names like spline.tri.

My general feeling is that once one understands the code, what it does, how it fits in with other code, and how it's intended to be used then it's all clean and makes sense. But, to get to that point from scratch one has to read the code a few times and then search t

[2017-12-14 02:05] sbourdeauducq commented on #854
So, I will try other things first.

[2017-12-14 02:36] #868 closed

[2017-12-14 02:38] sbourdeauducq commented on #869
#813

[2017-12-14 02:38] #869 closed

[2017-12-14 04:11] whitequark commented on #868
IMO conda package layout should not differ from source builds, this is just needless complexity. I have encountered this issue as well.

[2017-12-14 04:14] sbourdeauducq commented on #868
Conda and source builds layouts have pretty different requirements. But I'd be fine changing the conda layout if you insist.

[2017-12-14 04:20] #846 closed

[2017-12-14 06:51] jordens commented on #867
A lot of those single letter variables follow just follow signal names that are as old as the flip flop itself. You have to address that critique to the inventors of the flip-flop and everybody else after them. I see no reason to comment that.
Ijk have been indices in programming languages and math for how long? That's not going to change and the don't need comments.

[2017-12-14 06:53] jordens commented on #867
Migen and misoc do need more documentation. I think we already have issues filed there.
Artiq could profit from documentation in a few areas. E.g. writing an rtio driver. I think there is an issue about that as well.

[2017-12-14 10:43] jordens commented on #846
https://github.com/m-labs/misoc/commit/a1a58f62e5a236ecc2747d8d02342cea951a04bd

[2017-12-14 15:20] jbqubit commented on #868
ARTIQ should be internally self consistent. Please change the layout.

[2017-12-14 15:23] jbqubit commented on #813
What's the status of this?

[2017-12-14 15:26] jbqubit commented on #854
Doesn't HK have flea markets selling things like JTAG cables? Please go get a cable.

[2017-12-14 15:27] jbqubit commented on #870
Which LED?

[2017-12-14 15:28] sbourdeauducq commented on #868
What does this have to do with "self-consistency"?

[2017-12-14 15:38] sbourdeauducq commented on #870
Top layer, green, near the FMC connector and the top edge. And maybe "3 seconds" is not enough.

[2017-12-14 16:12] whitequark commented on #854
These things aren't sold on flea markets, or at least you or I wouldn't know where to find or how to use them.

[2017-12-14 16:15] whitequark commented on #868
I agree with @jbqubit that the filesystem layout of artiq_flash (which, only by coincidence, is what conda packages use) should match the output of `python -m artiq.gateware.targets.xxx`. This also makes it easier to do things like building everything but the bitstream locally, which unfortunately are also blocked because of similarly poor design decisions in regards to paths elsewhere in migen/mi

[2017-12-14 16:16] sbourdeauducq commented on #868
What design decisions exactly?

[2017-12-14 16:18] whitequark commented on #868
@sbourdeauducq using absolute paths, assuming that if a script is generated it needs to be run immediately, assuming that a generated file will be run on the same host. I was trying to make it possible to make misoc build process network transparent, but wasted nearly a week of time and gave up in the end, it would require too many changes in misoc. Maybe another time...

[2017-12-14 16:22] sbourdeauducq commented on #868
It was never intended to be a network build system. If we start doing complicated things like that, maybe there are existing build systems that can be reused?

[2017-12-14 16:32] sbourdeauducq commented on #868
Anyway, to go back to the original topic:
* with the source, building one output binary involves many intermediate files (object files, Vivado temporary files, reports and trash, etc.), that should to be placed in their own directory.
* with the package, there is no need for those directories, the binaries for one board should be placed together.

[2017-12-14 16:32] whitequark commented on #868
There are, but I wanted to hack together something that would mainly just let me test gateware changes without having Xilinx. Actually, maybe it is easier to just give up and install Xilinx junk on my laptop. Is it possible for me to borrow M-Labs' license using their flexlm crap?

[2017-12-14 16:34] jordens commented on #868
I'd be fine with packaging the binaries as `gateware/top.bit`, `software/runtime/runtime.fbi`, `software/bios/bios.bin`. The added directories are a minor inconvenience.

[2017-12-14 16:57] gkasprow commented on #854
you can buy it on aliexpress, ebay, just 10$ per piece

On 14 December 2017 at 17:12, whitequark <notifications@github.com> wrote:

[2017-12-14 16:58] gkasprow commented on #854
sorry, 25$ with shipping :)

On 14 December 2017 at 17:57, Grzegorz Kasprowicz <
G.Kasprowicz@elka.pw.edu.pl> wrote:

[2017-12-14 18:17] jbqubit opened #871 "instructions for using ARTIQ with Sayma"
@sbourdeauducq Thank you for the commits including example code for Sayma. https://github.com/m-labs/artiq/commit/569484f88802dabbbbe7fdd8be93498f94ddcf42

What clock are you supplying to Sayma?

[2017-12-14 18:18] jordens commented on #854
Just to summarize the options, there are a couple of more or less viable paths to get experiments loaded onto Sayma dynamically:

1. Continue debugging RGMII mode, would potentially benefit from a chipscope trace of Greg's bitstream
2. Try MII mode, use MII PHY, needs reflashing of MMC firmware, xmodem or some windows tool
3. Use Sayma SFP, port 1000-BaseX PHY, write new transceiver layer, debug
4

[2017-12-14 19:03] jbqubit opened #872 "Sayma_AMC artiq_flash :: Unknown flash device (ID 0x00000000)"
Occasionally I when running ```artiq_flash -t sayma``` I get an openocd error ```Error: Unknown flash device (ID 0x00000000)```. Usually, cycling the power to Sayma_AMC several times fixes the problem. I've not found a way to reproduce this reliably.

[2017-12-14 19:57] jordens commented on #872
I.e. always provide full logs...

[2017-12-14 20:37] jbqubit opened #873 "Sayma_AMC: MMC doesn't init power ICs"
Set "M switches" on PCB "HS1" to 1234 -> 0111.

I can flash the board using ```artiq_flash -t sayma``` and see on ttyUSB2 MiSoC BIOS messages.

When I issue ```artiq_flash -t artiq start``` I see that the MiSoC BIOS messages again appear on ttyUSB2.

When I remove power from Sayma, wait 10 seconds, then reapply power...
- Only 12 V power LED on Sayma_AMC is illuminated

Cycle power again... remove

[2017-12-14 20:38] jbqubit commented on #873
@gkasprow

[2017-12-14 20:42] jbqubit commented on #872
[code]

A bit orthogonal comment... On seeing the hugeness of the monolithic openocd command. It's a bit hard to debug which part of the TCL is causing the trouble. Consider making several independent calls to openocd instead of one big one.

[2017-12-14 20:46] jbqubit commented on #868
Ok. I can better rephrase what I'm asking for now. I'd like to be able to use ```artiq_flash``` with both conda and locally generated binaries. Perhaps a flag to ```artiq_flash``` could indicate which directory contains the build results.

[2017-12-14 20:47] jbqubit commented on #870
I set "M switches" on PCB "HS1" to 1234 -> 0111. I can now flash the board using artiq_flash -t sayma and see on ttyUSB2 MiSoC BIOS messages. Thanks!

[2017-12-14 20:47] #870 closed

[2017-12-14 20:50] jbqubit commented on #872
Also,

[code]

[2017-12-14 20:51] jordens commented on #872
That would not work.

[2017-12-14 20:53] jordens commented on #872
From the symptoms this is the same as the 1.8V supply dying and the same as the FTDI chip locking up when bein accessed (or openocd ctrl-C-ed) when Sayma is not powered. We already have issues for those.
https://github.com/m-labs/sinara/issues/358
https://github.com/m-labs/sinara/issues/255

[2017-12-14 20:53] #872 closed

[2017-12-14 21:04] jbqubit commented on #872
@jordens don't summarily close Issues without discussion.
- The 1.8V supply LED is on. Potential is 1.8 volts.
- How can we talk about accessing the FTDI chip when there is no power supplied to Sayma? Does it also derive power from the USB port on the PC?
- #255 is highly speculative about the cause of ```ID 0x00000000```
- Were you able to reproduce my bug?

[2017-12-14 22:54] gkasprow commented on #873
@jbqubit does this happen on single board or all boards?
There is an issue that hot USB plugging resets the MMC.
It is caused by a glitch from bus-powered USB interface to the reset circuit of the MMC by the embedded MMC FLASH programmer.
But once the USB cable sits in its socket this should not happen.

[2017-12-14 23:35] jbqubit commented on #873
The following is reproducible....

AMC on, serial cable attached but no serial communication initiated by PC -> power cycle AMC -> all power LEDS come on. Good.

AMC on, serial cable attached but no serial communication initiated by PC -> power cycle AMC -> all power LEDS come on. Good.

AMC on, serial cable attached -> open serial communication on PC, putty /dev/ttyUSB4 -> power cycle AMC -> only

[2017-12-14 23:46] gkasprow commented on #873
@jbqubit this is correct behaviour. DRT line causes MMC reset. Please disable flow control. Or unsolder pin 3 of T23. I can add a DIP switch that enables USB firmware update...

[2017-12-14 23:47] gkasprow commented on #873
You can also short pins 1 and 2 of T24.

[2017-12-15 00:35] sbourdeauducq commented on #871
100MHz to the connector on the RTM. This is not an Issue.

[2017-12-15 00:35] #871 closed

[2017-12-15 00:37] sbourdeauducq commented on #873
Please put issues like this into the sinara repository, the problem is clearly not coming from ARTIQ.

[2017-12-15 00:37] #873 closed

[2017-12-15 00:40] sbourdeauducq commented on #854
There are also RGMII FMC cards. The chipscope trace with Greg's bitstream is only marginally useful, it merely checks that the hardware is working. Better look at the signals at different points in our PHY.

[2017-12-15 00:42] sbourdeauducq commented on #868
This is what the commit above does.

[2017-12-15 00:53] sbourdeauducq commented on #872
Sure. We regularly suffer from it, having to build a remotely-operated power-cycler for the boards and having to use it from time to time in the middle of debugging something else because the board failed again. This is a hardware or MMC firmware issue so, besides being a duplicate, it should not be in the artiq repository.

[2017-12-15 03:25] jonaskeller opened #874 "moninj: frequent updates to TTL input value break TCP connection"
Using 3.1, nist_qc2, Windows 7 64bit.

Procedure to reproduce the error:
- Input reasonably fast square wave into a TTL input (here I used ca. 100kHz)
- Start dashboard

For a while, the FPGA just sends each packet twice. At some point (seems always shortly after the FPGA sends a fresh ARP request for the host's IP), both just keep sending each other the same acknowledgments repeatedly, at about 1

[2017-12-15 04:14] whitequark commented on #874
Right.  Here's what happens here:
![screenshot_20171215_041231](https://user-images.githubusercontent.com/54771/34026497-636599fc-e14e-11e7-99f8-f3ae8926bd9d.png)
[snip]
![screenshot_20171215_041240](https://user-images.githubusercontent.com/54771/34026486-57743824-e14e-11e7-9a61-c9471484fdc9.png)

[2017-12-15 04:58] whitequark commented on #874
Looks like smoltcp got stuck in a keepalive loop.

[2017-12-15 08:24] gkasprow commented on #854
@sbourdeauducq cannot you  attach a chipscope to your design? You have the verilog as the design entry for synthesizer, so should be relatively easy to add chipscope to look at the signals in your core.

[2017-12-15 09:03] jordens commented on #872
Our workflow will continue this way. This is neither a democracy nor a therapeutic session. You need to figure out how to cope with duplicate, out-of-place issues being closed. Ask yourself whether your behavior makes ARTIQ or Sinara better.

[2017-12-15 09:39] sbourdeauducq commented on #854
Your project is 201MB compressed and contains loads of random files. Where should I look?

[2017-12-15 09:48] sbourdeauducq commented on #854
This mess even contains at least 2 copies of the RGMII pin definitions, which is something I wanted to double check. Which one did you use?

[2017-12-15 10:54] gkasprow commented on #854
Do you want to modify it or just load the bit file and run chipscope?
In case of second case just use bit files in \Sayma_ETH\kc705_delay_ipbus.runs\impl_2\sayma_amc_tester.bit
U also need Chipscope debug probe file: Sayma_ETH/kc705_delay_ipbus.runs/impl_2/debug_nets.ltx

Sources are here:
\Sayma_ETH\kc705_delay_ipbus.srcs\sources_1\imports\kc705_delay_ipbus\src
top entity is delay_tester_ipbus.vh

[2017-12-15 10:56] sbourdeauducq commented on #854
Again, Chipscope is of limited usefulness and like all Xilinx software is a pain to set up, so I'm not going to use it for now. I want to compare your design with mine.

[2017-12-15 10:58] gkasprow commented on #854
It is painful, that's why I instantiate it in my code. That simply works and I never had problems with it.
If you attach it to compiled design, then real pain starts ;)

[2017-12-15 11:07] sbourdeauducq commented on #854
@gkasprow Is it acceptable to use the RX clock as the TX clock? Back in August your reference code did that, but you changed that in this version. Why?

[2017-12-15 11:11] gkasprow commented on #854
It should work, I changed it because had problems with ipbus core and tried many things to fix it. I found the problem which was not caused by the clock connection.

[2017-12-15 11:13] sbourdeauducq commented on #854
Hmm, it's not clear to me what is the reference clock in that case. It's like putting two transceivers with loop timing back-to-back. Or does the PHY chip include appropriate clock correction?

[2017-12-15 11:34] sbourdeauducq commented on #854
Judging from the very relaxed GTXCLK Period specification in the PHY datasheet (7.2 to 8.8ns), it would seem so. The chip contains a very large buffer...

[2017-12-15 11:43] gkasprow commented on #854
As I said, it is connected to to historical reasons :)

[2017-12-15 13:55] sbourdeauducq commented on #854
@gkasprow I don't understand this part of your code (why there is an additional pipeline register on ``gmii_ctl_falling``):
[code]

Shouldn't that be simply:
[code]

[2017-12-15 14:00] sbourdeauducq commented on #854
The [standard](http://ebook.pldworld.com/_eBook/-Telecommunications,Networks-/TCPIP/RGMII/RGMIIv2_0_final_hp.pdf) says:

[code]

[2017-12-15 14:04] gkasprow commented on #854
@sbourdeauducq it seems you are right.

[2017-12-15 14:15] sbourdeauducq commented on #854
Why did you clock all the ``IDDRE2`` with the inverted clock ``gmii_rx_clk_b``? The registers that follow it are clocked by the non-inverted clock ``gmii_rx_clk``. This is an unusual thing to do and it results in unnecessarily short timing paths inside the FPGA. Does it work when clocking ``IDDRE2`` with the non-inverted clock and swapping ``q1`` and ``q2`.`

[2017-12-15 14:58] jbqubit commented on #872
Ignoring that last [hyperbolic](https://www.vocabulary.com/dictionary/hyperbolic) statement, let's look at the Issues cited by @jordens.

# https://github.com/m-labs/sinara/issues/255
Issue: review FTDI chip USB signals
- This Issue was created on August 18 and not touched until I ping'd developers yesterday
- M-Labs didn't engage after August 18 to further to investigate

# https://github.com/m-l

[2017-12-15 15:08] sbourdeauducq commented on #872
So what? This issue is Greg's responsibility and he says he is confident debugging this kind of power supply issue. We have enough on our plate with RGMII and other insufferable bugs, and little time to play around with Arduino, Exar software, MMC firmware, and Windows.

[2017-12-15 15:10] jbqubit commented on #873
Sure, I can see in this case that this is more likely a hardware related Issue. I appreciate that you'd prefer to not have it cluttering ARTIQ. However, closing miss-filed Issue without first confirming that they've been properly transferred to a different Issue system risks loosing track of bugs. Please don't do this.

[2017-12-15 15:18] jbqubit commented on #872
When negotiating FY17 contracts M-Labs requested project management responsibility. You were awarded that role as part of your contract. Project management is an ongoing process and not a task that can be deferred until it's convenient.

[2017-12-15 15:24] sbourdeauducq commented on #872
We filed the issue, Greg was informed and sounds very capable of fixing it, and until he does it we set up a rapid workaround to reduce its impact on our productivity. I don't see what the problem is here.

[2017-12-15 16:04] jbqubit commented on #871
For testing board-board synchronization it will be easier to use the RTM SMA clock input.

[2017-12-15 16:06] jbqubit commented on #868
Great! Thanks. :)

[2017-12-15 16:07] sbourdeauducq commented on #871
Yes, that's the one.

[2017-12-15 16:12] sbourdeauducq commented on #854
Now ARTIQ receives frames, but the data is corrupted (no SFD is found)...

[2017-12-15 16:28] jbqubit commented on #872
@sbourdeauducq M-Labs is responsible for tracking the overall project and ensuring that dependent parties are giving due attention to Issues. In this case it's gone unattended since August. Please work with WUT to address it.

[2017-12-15 16:41] sbourdeauducq commented on #872
Again I disagree, there are higher priority tasks than a problem that:
* may not be a problem with Sayma at all and may just be some my USB cables being low-quality.
* only potentially affects people using JTAG or UART, which will not be normally used for regular Sayma operation.
* is easily worked around by using different USB cables. With the cables currently installed at M-Labs there are no USB

[2017-12-15 19:17] dhslichter commented on #867
It would also be useful to have documentation covering the architecture, both in overview and medium level detail, of how all the various processes are spawned, communicate, etc within ARTIQ -- workers, master, applets, compiler, etc.  This is not something most users should touch or care about, but there are instances when I definitely wish I knew a bit more of what was going on under the hood wh

[2017-12-15 21:22] jordens commented on #867
Some of this would also hopefully make its way into the paper someday...  Maybe I'll churn out some of that over the holidays.

[2017-12-15 21:41] jbqubit commented on #872
I see it while running ```artiq_flash``` which is an operation that users normally do.

That's news to me. Please add that observation to the relevant Issue. https://github.com/m-labs/sinara/issues/255

[2017-12-16 17:08] sbourdeauducq commented on #854
@gkasprow did you try that?

[2017-12-16 17:53] gkasprow commented on #854
I wanted to swap nibbles. I didn't try that since existing solution works. If it really helps I can check it but I'd have to assemble the setup.

[2017-12-17 02:52] sbourdeauducq commented on #856
The following change to MiSoC breaks serwb 100%:
[code]
migen 775572ea7, misoc f509de0cb, artiq 2b01aa22b

[2017-12-17 03:44] sbourdeauducq commented on #854
I tried that on my design, and the data corruption is different depending whether I use the inverted clock with swapped nibbles, or the non-inverted clock with .

It seems that a lot of the problems we are seeing are due to poor timing at the I/O interface, which is compounded by the RX clock not going to a clock capable pin. The latter makes timing non-deterministic between Vivado runs depending

[2017-12-17 03:58] sbourdeauducq commented on #854
@gkasprow Did you have to use those constraints to get the design working?
[code]

[2017-12-17 10:00] gkasprow commented on #854
Initially I used these constraints but the compilation took >10h. So I relaxed them, compilation takes much less but this may cause issues with timings

[2017-12-17 10:00] gkasprow commented on #854
@sbourdeauducq I can route the clock with piece of wire to the clock pin in another bank.

[2017-12-17 10:03] sbourdeauducq commented on #854
How hard is that rework?

[2017-12-17 10:43] enjoy-digital commented on #856
Hmm ok, at least this can help me understand what is going on.

[2017-12-17 16:34] gkasprow commented on #854
It would be not that hard.
Just cut one trace on the PHY side and route the signal to the GPIO0 which is global clock on FPGA pin AG11.
You can try to do it without cutting the trace but the trace is quite long and will cause ringing.
This method will add something like 5cm to the clock line but will skip the mux so may compensate to some extend
the Rx CLK trace is highlighted
![obraz](https://use

[2017-12-17 16:35] gkasprow commented on #854
DIO0 is highlighted here. This is bottom view.
![obraz](https://user-images.githubusercontent.com/4325054/34081651-9e19b25a-e350-11e7-8289-12f2852d9fbc.png)

[2017-12-18 05:14] sbourdeauducq commented on #854
OK, thanks I will try both options - rework and/or MII. Please remember to send me MII MMC firmware.

[2017-12-18 05:20] sbourdeauducq commented on #854
@gkasprow in MII mode, the pins CRS and RX_ER are not accessible to the FPGA, is that correct?

[2017-12-18 06:53] sbourdeauducq commented on #854
@gkasprow I would like to to the rework on sayma3, on which I have already flashed the MMC and which is going to be the guinea pig for risky experiments. But, currently the MMC image I have flashed (lpc_1776_ethernet.axf you sent me a while ago) breaks FPGA JTAG. Please send me updated MMC images.

[2017-12-18 07:00] sbourdeauducq commented on #854
NB: there is no RTM on Sayma3, and the FPGA JTAG bug is likely what we have seen before - and you had proposed a fix.

[2017-12-18 10:21] sbourdeauducq commented on #854
In MII mode, the TX clock is also not routed to a clock-capable pin...

[2017-12-18 11:03] gkasprow commented on #854
TX clock is FPGA output so can be driven from ordinary IO

[2017-12-18 11:04] sbourdeauducq commented on #854
Not with MII.

Besides, MII doesn't work at all. The DV pin is never asserted. Can you double-check the PHY configuration?

[2017-12-18 11:05] sbourdeauducq commented on #854
Additionally: no link detected by the media converter. So this is not a FPGA problem.

[2017-12-18 11:07] gkasprow commented on #854
are you sure you have 1Gbit link on the other side?
Do you generate TXCLK= 25MHz ?

[2017-12-18 11:08] sbourdeauducq commented on #854
Again: with MII that clock is supposed to be generated by the PHY.

[2017-12-18 11:09] sbourdeauducq commented on #854
Yes. That media converter detected a link with RGMII and RXCTL was asserted (but with data corruption). I did not touch it.

[2017-12-18 11:12] gkasprow commented on #854
TXCLK direction can be in or out  depending on the PHY setting (DTE vs DCE). I did not change the direction setting so it expects the clock there.

[2017-12-18 11:16] sbourdeauducq commented on #854
Is that standards-compliant?

[2017-12-18 11:19] sbourdeauducq commented on #854
According to this document http://ieeexplore.ieee.org/document/485301/ it is not.
"TX-CLK is a continuous clock that provides the tim-
ing reference for TXD<3:0>, TX-EN, and TX-ER.
The TX-CLK frequency is 25% of the nominal data
transmission rate, or 25 MHz for 100 Mbps operation
and 2.5 MHz for 10 Mbps operation. **TX_CLK is
driven by the PHY.**"

[2017-12-18 11:20] gkasprow commented on #854
OK, it depends if it is DCE or DTE device.
it can drive another PHY, that's why the clock dir can be programmed.

[2017-12-18 11:24] gkasprow commented on #854
You need both Rx clk and Tx clk outputs ?

[2017-12-18 11:25] sbourdeauducq commented on #854
Yes, that's what standard MII is... it's not very difficult to patch the FPGA code so that it sends TX_CLK, and that would avoid another clock input on a non-clock pin, but it's better if we can follow the standard.

[2017-12-18 11:31] gkasprow commented on #854
OK, I will then switch this register in MMC code. This can be done by shorting the config pin but in the MMC code is easier :)

[2017-12-18 11:33] gkasprow commented on #854
This explains why MMC didn't wanted to send anything over Ethernet ::)

[2017-12-18 11:47] sbourdeauducq commented on #854
Still no link detected by the media converter with TXCLK connected to RXCLK.

[2017-12-18 11:49] sbourdeauducq commented on #854
Please prepare a standard MII firmware, test that you get the media converter link on your board, and send it to me.

[2017-12-18 12:32] sbourdeauducq commented on #860
The lock is not reliable.
@enjoy-digital Do you see it on your board too?
@gkasprow Can you do thorough tests of the HMC830 including running the ARTIQ code? Can you have a look at our code and see if you spot anything suspicious?
https://github.com/m-labs/artiq/blob/master/artiq/firmware/libboard/hmc830_7043.rs

[2017-12-18 18:49] gkasprow commented on #854
@sbourdeauducq I will, right now we are working hard to test Kasli for @jordens and ship it tomorrow. So far all works.

[2017-12-19 06:51] sbourdeauducq commented on #854
@gkasprow Just looking at a different way of fixing things, in case the routing to non-clock-capable pins is causing excessive problems. Can the PHY be set up in a non-standard way to **receive** both the TX and the RX clock that would be generated by the FPGA, in either "RGMII" (1Gbps 125MHz DDR) or "MII" (100Mbps 25MHz SDR) modes?

[2017-12-19 18:20] whitequark opened #876 "FPGA closes TCP connection on RPC, terminating the experiment"
Transferred from https://github.com/m-labs/smoltcp/issues/96.
<hr>
Running Artiq 3.1, nist_qc2, Windows 7 64bit

We have an experiment which runs in a loop, updating some datasets and running scheduler.check_pause() on each iteration. Every few minutes, it terminates with the error message

    Terminating with exception (ConnectionResetError: [WinError 10054] An existing connection was forcibly c

[2017-12-19 18:54] whitequark commented on #876
I believe that this bug is already fixed in the artiq-3 branch (see commit m-labs/smoltcp@42c93b99c0ff26b1bbed4e1ba882b2b20a54759f).

[2017-12-19 18:54] #876 closed

[2017-12-19 18:55] whitequark commented on #876
cc @jonaskeller

[2017-12-20 17:47] jonaskeller opened #877 "FPGA stops responding to ethernet after a few hours"
Using artiq 3.1 py_6+git231bf77b nist_qc2, also observed with the 3.1 version from the "main" conda repository.

Several times a day, our FPGA stops responding via ethernet. Typically, it's the host's ARP request that never gets a response, but adding an entry to the ARP cache manually makes it get stuck when the host doesn't get a response to its TCP SYN request.

This seems to happen regardless

[2017-12-20 20:56] gkasprow commented on #854
@sbourdeauducq The PHY supports RX CLK TX CLK clock inputs only in 100mbit DTE mode.
In 1Gbit mode it must be as it is now.
![obraz](https://user-images.githubusercontent.com/4325054/34228295-85f10048-e5d0-11e7-8b2c-e29fb872c510.png)

So what mode would you like to have? Since Kasli is running, I'm switching my context to Sayma Ethernet mode :)

[2017-12-20 22:36] sbourdeauducq commented on #854
Regular MII.

[2017-12-21 09:19] whitequark commented on #877
@jonaskeller Could you please run flterm to see if there are any messages on the console? This seems like the runtime panicking, and seeing the panic message would be very helpful.

[2017-12-21 09:39] sbourdeauducq commented on #877
Do we have backtraces yet?

[2017-12-21 09:49] whitequark commented on #877
Not yet.

[2017-12-21 14:26] jordens opened #878 "IR generator bug on "" + str(1)"
[code]

[code]

[2017-12-21 16:12] sbourdeauducq commented on #856
Also the RTM design doesn't meet timing...

[2017-12-21 16:13] sbourdeauducq commented on #854
@gkasprow can you send us those firmwares for tomorrow (HKT)?

[2017-12-21 16:16] sbourdeauducq opened #879 "remove BUILD_SETTINGS_FILE from conda scripts?"
The conda board scripts contain this boilerplate:
[code]

Is it necessary or is it some old copy-paste code that persisted?

[2017-12-21 17:21] gkasprow commented on #854
OK, I got 2 clocks running and some packets while DV line is high
[lpc1776_ethernet_I2C_MII.zip](https://github.com/m-labs/artiq/files/1579981/lpc1776_ethernet_I2C_MII.zip)

![obraz](https://user-images.githubusercontent.com/4325054/34267070-c8240edc-e67b-11e7-819e-090f41188599.png)

[2017-12-21 18:03] whitequark commented on #879
I believe the purpose of this is setting the path to proxy bitstreams. Since we now build packages exclusively on the buildbot it is no longer necessary.

[2017-12-21 19:41] jordens commented on #879
Don't know where that came from. Fwiw can be removed.

[2017-12-21 20:26] enjoy-digital commented on #856
I'm looking at that.

[2017-12-21 23:36] enjoy-digital commented on #856
@sbourdeauducq: i should have fix timing on RTM design (a false path was missing). It seems I'm not able to reproduce easily the issue.

I tried adding `self.specials += DifferentialOutput(ClockSignal(), si5324_clkin.p, si5324_clkin.n)` to my design but serwb is still working. Can you always enable debug on serwb while we still have the issue? It could help me understand what is going on.

For the

[2017-12-22 01:07] sbourdeauducq commented on #856
Try on the HKG boards with SSH?
RTM is always loaded with JTAG, there is currently no other way.

[2017-12-22 01:09] sbourdeauducq commented on #854
So that's standard MII with both clocks generated by the PHY? What about the DTE variant with both clocks generated by FPGA?

[2017-12-22 01:18] sbourdeauducq commented on #879
Removed.

[2017-12-22 01:18] #879 closed

[2017-12-22 04:09] sbourdeauducq commented on #860
@jorden iirc @a-shafir found some SPI core bugs. Could that be the source of the problem?

[2017-12-22 04:47] sbourdeauducq commented on #854
@gkasprow Still no carrier detected at the media converter. Is the PHY rate-converting and still operating at 1Gbps on the SATA connector?

[2017-12-22 04:49] sbourdeauducq commented on #854
And it's not a problem with my media converter or SATA/SFP cable, when I plug the SATA cable into the other Sayma with an unflashed MMC, the link is detected.

[2017-12-22 05:07] sbourdeauducq commented on #854
Still, I'm no stranger to SATA/SFP cable breakage and I'm getting tired of fixing it. Can we have reliable SATA/SFP adapters? @jbqubit can you fund them? It's going to be a problem for everyone until Metlino is done. We can either make our own PCBs or buy those: https://shop.trenz-electronic.de/en/TE0424-01-SFP-2-SATA-Adapter.
Note: If my recommendation of copying the KC705 Ethernet schematics had

[2017-12-22 07:17] jordens commented on #860
Could be. Try the workaround in his tree with slow clock.

[2017-12-22 07:17] jordens commented on #860
https://github.com/m-labs/misoc/issues/65

[2017-12-22 23:14] sbourdeauducq opened #880 "satman compilation broken"
[code]

[2017-12-22 23:17] whitequark commented on #880
Yeah, I expected this would happen at some point. Shouldn't we build it on buildbot to prevent this?

[2017-12-22 23:34] sbourdeauducq commented on #880
Yes, at some point, when we have all packages for Sayma.

[2017-12-23 01:40] sbourdeauducq commented on #854
@gkasprow ping.

[2017-12-23 03:16] jonaskeller commented on #877
I'm afraid I can't do any tests right now, because I've already left for the holidays. Will do so once I'm back Jan 4th.

[2017-12-23 04:41] sbourdeauducq opened #881 "back up Github issues"
We don't have backups for the non-repository content on Github (issues, wiki).
I propose putting a cronjob on the lab computer that runs one of those on the main repositories (artiq, sinara, migen, misoc, smoltcp):
https://help.github.com/articles/backing-up-a-repository/

[2017-12-23 09:54] gkasprow commented on #854
@sbourdeauducq This is regular MII mode. The PHY is operating in 1Gbit mode and converting to 100Mbit mode. We use home-made sata-sfp cables for long time in CBM experiment. In which place your cable breaks?

[2017-12-23 09:57] gkasprow commented on #854
Another option is simple PCB with AMC connector on one side and SFP on another side.
Or simple PCB with SATA and SFP cage.
We discarded KC705 idea due to the fact that it is 1000Base-T

[2017-12-23 10:04] gkasprow commented on #854
Is the LINK LED on? On my AMC board it is.
Here is the binary that switches MII-DTE mode on - bit 12 in the GMIICR  register
[lpc1776_ethernet_I2C_MII_DTE.zip](https://github.com/m-labs/artiq/files/1584023/lpc1776_ethernet_I2C_MII_DTE.zip)

[2017-12-23 10:05] gkasprow commented on #854
I cannot test it because University is closed and I'm 200km away.

[2017-12-23 10:19] sbourdeauducq commented on #854
Again, the cable you gave me 1) had its solders inside the SFP broken 2) causes issues with at least one of my media converters due to missing EEPROM and/or link indicator signal. I had to make new cables using copper SFP-SFP cables cut in half and soldered to SATA connectors, but that's still fragile.
Again, there is NO link detected with your MII firmware, whereas the link is detected correctly

[2017-12-23 10:38] gkasprow commented on #854
did you reboot the board after you flashed the firmware?
The MMC waits for FPGA to configure, when DONE is high, then it resets and configures the PHY.

[2017-12-23 10:40] sbourdeauducq commented on #854
Yes, I power-cycled it. The FPGA power doesn't come back until the JTAG probe is unplugged anyway.

[2017-12-23 10:48] sbourdeauducq commented on #854
Can you get two media converters to work with the MII firmware, send us one (with the corresponding tested SATA/SFP cable), and keep the other for testing ARTIQ on your side?

[2017-12-23 11:19] gkasprow commented on #854
Probably your programmer keeps reset low.
OK, this seem to be only way to go.
I will prepare such setup and ship it to you.

[2017-12-23 11:46] gkasprow commented on #854
@sbourdeauducq would you prefer AMC-SFP-RJ45 version or SATA-RJ45?
I mean the AMC adapter with SFP cage in it or external converter supplied by USB cable which converts SATA to SFP and RJ45 plugin module?
I use low cost SFPs with RJ45 and they work fine.

[2017-12-23 11:48] gkasprow commented on #854
Or maybe you would like AMC box with 6 SATAs ? I have a few pieces and one proto which can ship to you.

[2017-12-23 12:25] sbourdeauducq commented on #854
Thanks.
AMC-SFP is fine and potentially more robust, but please still include the SATA-SFP cable in case there are unforeseen issues (e.g. can AMC-SFP be used with the RTM mounted at the same time?)
I suppose both options need an external SFP-RJ45 media converter. Please double-check that it works with the MII firmware before shipping.
AMC box would not be the best, we need the RTMs plus - for now

[2017-12-23 12:33] gkasprow commented on #854
AMC box has RTM, but acces to the bottom side is indeed hard.
For me the simplest option is SATA-SFP-RJ45 cable supplied from USB. U need supply for media converter. I will order PCBs and within a few day have all done.
Anyway, I'm on holidays and the WUT is closed until 3rd of January.
So will ship you such converter with RJ45 plugin module that simply works. So no external media converter is nee

[2017-12-23 12:59] whitequark commented on #881
I think we have many more important things to do...

[2017-12-23 14:44] #880 closed

[2017-12-23 16:21] sbourdeauducq commented on #860
@jbqubit What happens on your boards?

[2017-12-23 17:31] a-shafir commented on #860
There is a visible on a scope trailing (extra) short pulse on SCK. With a simple shift register as in CPLD it makes all received bits shifted etc. Probably not all SPI IC are sensitive to it because some of them have "de-glitching" filter. CPLD certainly need a very clean clock. HMC830 possible too.

The combinatoric logic is not part of MiSoC but in artic/gateware/spi.py
The proper fix needs latc

[2017-12-24 03:09] hartytp commented on #854
Am I correct in thinking:
- The only reason we need ethernet on Sayma AMC is to use Sayma AMC as an ARTIQ master.
- The problems we're encountering with Sayma ethernet stem from issues with the way the ethernet was implemented on Sayma AMC v1.0. These will be fixed for v2.0.

If so, now that Kasli has landed and seems to work, would it be possible/better to use Kasli as the Artiq Master for Sayma

[2017-12-24 04:10] sbourdeauducq commented on #854
Short answer: no (for many reasons, e.g. drtio transceivers not working neither on kasli nor sayma, people not having kasli, rtio frequency incompatibility, kasli port not complete, metlino having similar ethernet design, and more). And this is off-topic in this issue.

[2017-12-24 04:24] hartytp commented on #854
Okay, fair enough, points taken.

FWIW:

ACK. This has been such a pain that I had assumed we were going to fix it for Metlino, but obviously I was wrong.

Well, I'm sure we could find a couple of spare ones in the current batch if it would help. And, we can whip some more up pretty quickly if needs be.

Well, our Kasli plans involve using it with Sayma, so this incompatibility eventually needs to

[2017-12-25 00:45] whitequark commented on #655
Per correspondence with LLVM developers, the patch is broken by design and cannot be fixed (and likely can lead to miscompilations already). We'll have to find some other way of improving the performance of the loops it was used to speed up.

[2017-12-25 00:45] #655 closed

[2017-12-27 00:45] whitequark commented on #849
No panics with the following experiment at current master over 20000 runs:
[code]

[2017-12-27 00:47] whitequark commented on #877
If there is no response to ARP requests it means the core device has crashed. Please acquire a backtrace from the serial console next time this happens.

[2017-12-27 00:48] whitequark commented on #845
Waiting until the more detailed logs become available.

[2017-12-27 01:09] whitequark commented on #874
This should happen every 60 seconds, as per RFC.

This seems very odd; the symptoms match the core device crashing. Can you please take a look at the serial console?

In any case, I have ran moninj for a fairly long time and have not observed this issue. It also seems to match https://github.com/m-labs/smoltcp/issues/62.

[2017-12-27 01:48] whitequark commented on #878
I would much rather get rid of all C dependencies....

[2017-12-27 03:11] whitequark commented on #878
The miscompilation is now fixed, and I don't think str conversion should go into 3.2.

[2017-12-27 03:16] whitequark commented on #865
The Windows speed issue is a familiar sight:
![screenshot_20171227_031009](https://user-images.githubusercontent.com/54771/34369531-452c687a-eab4-11e7-93c5-41c9b0d825c3.png)

[2017-12-27 03:19] whitequark commented on #865
Actually, no, it's far weirder than that. smoltcp is dropping lots of TCP packets from Windows because of...
... checksum errors.
[code]

[2017-12-27 03:47] sbourdeauducq commented on #878
This issue is about the compiler crashing; string formatting is not supported and considering other projects that are funded and late (Sayma, DRTIO, etc.) we should not implement it for now. @klickverbot if you want it, please open a new issue.

[2017-12-27 03:48] #878 closed

[2017-12-27 04:16] whitequark commented on #865
Not related at all. Some issue with Xen and Windows caused TCP Large Send Offload to result in packets with invalid checksum being emitted, which smoltcp (correctly) rejected. After turning LSO off there is no problem anymore.

[2017-12-27 04:18] whitequark commented on #865
@cjbe This problem hard to conclusively assign to any cause without seeing a core log at a TRACE resolution. Please acquire such a log and I'll take a look. This does not seem to be related to smoltcp, but rather it is more likely a bad case in our allocator or something like that (since smoltcp's processing time per packet has a hard upper bound).

[2017-12-27 20:39] gkasprow commented on #854
I ordered 10 SATA- SFP converters. SATA connector can be assembled as straight or cross-over.
I will ship you one with SFP-RJ45 media converter. They will arrive in ~8 working days.
![obraz](https://user-images.githubusercontent.com/4325054/34392716-41804f1c-eb4e-11e7-8249-c6a483de3e7d.png)

[2017-12-27 21:11] hartytp commented on #854
Cute! Out of curiosity, where are the design files?

[2017-12-27 21:16] gkasprow commented on #854
[Here](https://github.com/m-labs/sinara/tree/master/ARTIQ_ALTIUM/PCB_SATA_SFP)

[2017-12-28 02:37] sbourdeauducq commented on #854
@gkasprow Thanks! Looks good. Please double-check that the particular SFP/RJ45 module you are shipping works with Sayma in the MII configuration.

[2017-12-28 07:32] #858 closed

[2017-12-28 20:57] jordens commented on #860
m-labs/misoc#65 is fixed

[2017-12-29 16:32] cjbe commented on #865
@whitequark I have not been able to reproduce this problem, even with the gateware version that I originally observed it on. It is possible that it only happens after the KC705 or switch has been power-cycled - I will test this next week when I will have physical access to the hardware again.

[2017-12-30 01:22] sbourdeauducq commented on #854
@gkasprow In standard MII mode, with no link present, is the PHY toggling the TX and RX clocks? They are not toggling here, which might point to a problem other than media converter incompatibility.

[2017-12-30 11:04] gkasprow commented on #854
@sbourdeauducq I don't know. I observed both clock with link up.
I will check it.

[2017-12-30 16:49] hartytp commented on #860
Did this fix the HMC830 problem?

If not, @sbourdeauducq did you check the obvious things with a scope? e.g.
- Does the SPI going into the HMC830 look good?
- Does the 150MHz clock going into it look good?
- What does the output look like?

[2017-12-30 16:59] hartytp commented on #860
Note to self, cf https://github.com/m-labs/sinara/issues/216#issuecomment-314706532

[2017-12-30 17:12] enjoy-digital commented on #860
Not sure it could be related, but the say i was testing hmc803/hmc7043 i also did this:
https://github.com/enjoy-digital/litex/commit/c02de1632b9cbe269aeb76ef248f2a1869bcb7f9
I remember having an issue with Vivado that was not generating the last bit correctly (observed with litescope), issue that was solved by the way i reorganized part of the code.

[2017-12-30 17:14] hartytp commented on #860
A scope trace showing the SPI lines would allow us to eliminate this kind of thing very quickly.

@gkasprow I don't have PDFs of the layout. What is the best place to probe the SPI lines for the HMC830?

[2017-12-30 17:21] hartytp commented on #860
@sbourdeauducq Remind me, what reference frequency are you using for the HMC830? Is it still 100MHz?

[2017-12-30 17:22] sbourdeauducq commented on #860
Yes.

[2017-12-30 18:03] hartytp commented on #860
https://github.com/m-labs/artiq/blob/fcc438524c38d1ac336aa8d2b857e4c2338705f3/artiq/firmware/libboard_artiq/hmc830_7043.rs#L34

What is this for? AFAICT, we're running in HMC mode, so the address register is write only, right?

[2017-12-30 18:06] hartytp commented on #860
https://github.com/m-labs/artiq/blob/fcc438524c38d1ac336aa8d2b857e4c2338705f3/artiq/firmware/libboard_artiq/hmc830_7043.rs#L36

Why divide the 100MHz reference? The PFD is fully specified to run up to 100MHz.

[2017-12-30 19:14] hartytp commented on #860
Ignore that comment, mis-read the datasheet.

But, I'm still not sure this is correct. @enjoy-digital AFAICT, this sets the soft-reset to 1. The data sheet says that it must be set to 0 for correct operation, but I don't see where you do that. Am I missing something?

[2017-12-30 20:22] enjoy-digital commented on #860
@hartytp: i'm reusing an initialization sequence from the vendor that is adapted for our case. But yes we can try to set it to 0.

[2017-12-30 20:44] hartytp commented on #860
@enjoy-digital Good to know. Where exactly did you get the initialisation sequence from? Copied from eval software?

[2017-12-30 20:48] hartytp commented on #860
Weida is double checking the loop filter, charge pump settings etc.

[2017-12-30 20:50] enjoy-digital commented on #860
@hartytp: yes from the evaluation software (but don't have the software with me). Review of the settings is welcome!

[2017-12-30 20:52] hartytp commented on #860
I see. Did that spit the SPI transactions out into a text file? Do you have a copy of the original (don't have access to a windows PC atm to do this myself).

[2017-12-30 21:03] hartytp commented on #860
@sbourdeauducq @enjoy-digital Have you verified that transitions high before SCLK on startup (must not be any glitches during turn on)? This is needed for proper SPI operation?

I know @gkasprow checked this using the gateware he was using, but did anyone check for glitches on the gateware you're using?

[2017-12-30 21:09] enjoy-digital commented on #860
@hartytp: what happens on startup should be fine since we are able to communicate with it then. But that would be good yes to do a capture of a spi transaction. (to see if we have the same issue i had with vivado). The spi transactions generated by the gui are described in a text file, but i don't have access to it now.

[2017-12-30 22:20] hartytp commented on #860
hmm...these chips are just full of undocumented test features. Note in register 6 how you program all the default values, but the data sheet instructs one to program values different to the default in, without any explanation.

[2017-12-30 23:25] hartytp commented on #860
CP should be 1.6mA with this loop filter not 2.54mA. Probably not enough to prevent it from locking, but won't help.

I'll create a PR later this eve with some slight modifications to the HMC830 regs.

If that doesn't lock, the next step would be looking on a scope. If you guys can't do that, can you send @gkasprow a binary so that he can, please?

[2017-12-31 01:29] sbourdeauducq commented on #860
This is all packaged on conda with the usual infrastructure.

[2017-12-31 01:51] sbourdeauducq commented on #860
Then why does the ADI software suggest different values? Is the software buggy, was it used with incorrect input, is the documentation inaccurate, does the software contain workarounds for silicon bugs?

[2017-12-31 02:09] hartytp commented on #860
Not sure. PFD has a lower rating if used in fractions mode IIRC.

Anyway, if you change the PFD frequency you change the loop gain, which will cause problems. Did it lock with my PR?

[2017-12-31 02:12] hartytp commented on #860
I wouldn't take those recommendations too seriously. They're just giving you something that should work all other things being equal (e.g. loop filter etc). Not a guarantee that it's the best option for you case.

Note also that halving the reference frequency also degrades the phase noise, so we don't want to do it unless forced to.

[2017-12-31 03:05] sbourdeauducq commented on #860
Made a total of 4 tests (those tests are quite tedious due to slow bitstream loading times, 1V8 bugs, and serwb bugs). Failed twice with your patch, worked twice without.

[2017-12-31 03:23] hartytp commented on #860
:(

Well, so surprising given how ambiguous some parts of that data sheet are. Anyway, the next step is definitely to verify the inputs with a scope. Once that's done we can have a more systematic look at the register values.

[2017-12-31 04:24] sbourdeauducq commented on #813
@jbqubit regarding status, see the multiple emails I sent you, e.g. "Re: RF output from Sayma via ARTIQ" on October 18th. The ball is in your court.

But, when I come to think of this, I think having the RTM FPGA under AMC control and loaded by the AMC gateware/firmware would be more robust, more transparent, and less frustrating.

For example, with the Xilinx system, if I understand correctly: if

[2017-12-31 06:44] sbourdeauducq commented on #793
Got a DRTIO link between Sayma1 (SFP1) and Sayma3 (SFP0) using copper. Seems reliable, though it has only received limited testing since the development cycles on Sayma are so tedious (1V8 bug killing the boards often and at random times, long bitstream loading times, no Ethernet).
The link between SFP0 on Sayma1 and SFP0 on Sayma2 only works in one direction, possibly due to a hardware problem.

[2017-12-31 08:15] enjoy-digital commented on #793
@sbourdeauducq: ok good first step. As discussed, i'll finish multi-link initialization and do the tests soon.

[2018-01-01 23:37] hartytp commented on #860
The other thing that would be extremely helpful is a scope trace at one of the loop filter components. This would tell us if the PLL has railed (implying an incorrect register setting) or if it's oscillating (something up wit the loop filter).

[2018-01-02 12:42] gkasprow commented on #793
@sbourdeauducq I can give you a project that I used to test the SFP performance.

[2018-01-02 14:09] jordens opened #883 "coredevice.test_performance.TransferTest error"
* windows and linux
* seems to occur rarely

[code]

http://buildbot.m-labs.hk/builders/artiq-win64-test/builds/670/steps/python_coverage/logs/stdio

[2018-01-02 19:58] jbqubit commented on #813
Here's that email thread. -Joe

Forwarded conversation
Subject: RF output from Sayma via ARTIQ
------------------------

From: Joe Britton <joe.britton.arl@gmail.com>
Date: Sun, Sep 24, 2017 at 8:33 PM
To: Sebastien B <sb@m-labs.hk>, Robert Jördens <rj@m-labs.hk>, Thomas Harty <thomas.peter.harty@gmail.com>, "Slichter, Daniel H. (Fed)" <daniel.slichter@nist.gov>, Greg Kasprowicz <kasprowg@gmail.co

[2018-01-02 20:22] jbqubit commented on #813
@sbourdeauducq Don't pull passive aggressive bullshit like this (or [this](https://github.com/m-labs/artiq/issues/853)). M-Labs is being paid for "Project management for Sayma and Metlino testing and integration." If you need an additional $7k to enable something as basic as Sayma RF output, don't sit on your hands. Send me a quote, give me a call, post in this Issue, pester the Monroe team, yell

[2018-01-03 07:21] sbourdeauducq commented on #860
@gkasprow @jbqubit Can you install ARTIQ, try this on your boards, report whether your HMC830 works well, and do some oscilloscope testing of the kind @hartytp is suggesting?
In case of problems with the ARTIQ installation itself, please use the mailing list or open other issues for support, do not post non-HMC830 content here.

[2018-01-03 08:59] jordens commented on #883
Also on linux
http://buildbot.m-labs.hk/builders/artiq/builds/1904/steps/python_coverage_1/logs/stdio

[2018-01-03 14:40] sbourdeauducq commented on #854
@gkasprow Did you check it?
By the way, if you are modifying the MMC firmware again, please note that we prefer Ethernet PHY register dumps to be intiated by a computer-controllable event, not a push of the front panel button.

[2018-01-03 15:34] jordens opened #884 "[new bootloader] kc705 ethernet link remains down after cold boot"
After a cold boot (power switch), the ethernet link stays down with the new bootloader/firmware (74a6d424).

[code]

Current gateware (artiq, misoc) boots fine with old bios and firmware (artiq-3.1).

[code]

[2018-01-03 15:42] sbourdeauducq commented on #884
My guess is that the reset pulse to the Ethernet PHY is missing. In the old BIOS it is emitted by https://github.com/m-labs/misoc/blob/master/misoc/software/libnet/microudp.c#L421

[2018-01-03 18:49] jordens commented on #883
[code]

@sbourdeauducq `rtio_counter` transfer not working ccorrectly?

[2018-01-03 19:11] hartytp commented on #727
Did you try asking about this on the ADI forums? They might be able to tell you if it's expected behaviour for these chips (or a known bug). They're generally pretty helpful, so definitely worth a post.

Also, IIRC (but do correct me if I'm wrong about that) they have now released their own open source JSED core, which they use for testing. @enjoy-digital did you look at how that core handles init

[2018-01-03 19:20] jordens opened #885 "core device backtrace symbolization stumbles over `?` as line number."
[code]

I have not found a way to reproduce this reliably.
The code is probably:

[code]

[2018-01-04 01:56] sbourdeauducq commented on #883
Did you also see ``test_host_to_device`` fail?
Or this: https://github.com/m-labs/artiq/blob/c2cc29142dda7f23d531e2759f9ca9a80bb5569d/artiq/test/coredevice/test_rtio.py#L488
We can add another test specifically for the RTIO counter readback.

[2018-01-04 06:40] whitequark commented on #885
Hmm, that's very strange, I wonder if it's a race condition? Ideally we would not fork for symbolication...

[2018-01-04 06:44] sbourdeauducq commented on #885
Fork?

[2018-01-04 06:46] whitequark commented on #885
We execve addr2line to get the symbolized backtrace instead of a list of addresses.

[2018-01-04 07:11] jordens commented on #883
No. You are seeing the same things I see.

[2018-01-04 08:24] sbourdeauducq commented on #862
Seems to work. Should we close this?

[2018-01-04 10:21] enjoy-digital commented on #862
yes we can close it. (it's also validated on the boards i have)

[2018-01-04 10:21] #862 closed

[2018-01-04 11:42] #884 closed

[2018-01-04 14:29] jordens opened #886 "rust ethernet/sdram init code breaks support for artix 7 phys (Kasli)"
The old SDRAM code supported Spartan 6 and Artiz 7 memory PHYs that have hardcoded write/read leveling through the DQS clocks. The new rust sdram init code breaks this (and therefore Kasli).

https://github.com/m-labs/misoc/blob/master/misoc/software/bios/sdram.c#L435
https://github.com/m-labs/artiq/blob/master/artiq/firmware/libboard/sdram.rs#L261

[2018-01-04 15:15] jordens commented on #886
New init code also broken when handling the Kasli Ethernet PHY.

[code]

[2018-01-04 17:37] gkasprow commented on #854
@sbourdeauducq any wish how exactly would you line to trigger the register dump?
I will dump all status registers of Exar chip with one command and PHY registers with another command.
Is single character command OK or you would like something more elegant ?
For example P for Exar chip and E for PHY chip.
Do you want me to add any other diagnostic info? Maybe Silabs register dump?

[2018-01-04 17:38] sbourdeauducq commented on #854
Sounds fine.

Not needed.

[2018-01-04 17:59] whitequark commented on #886
For the record, when I have ported the SDRAM init code, I have taken great care to port every code path. The code you're referring to *postdates* the Rust port (as [discussed](https://github.com/m-labs/misoc/commit/afa38d46d5968aa4f3597910f5797071a2b9c7ef#commitcomment-26548954)).

[2018-01-04 18:08] jordens commented on #886
Sure. Until the new code (in ARTIQ) replaces the old one (still current in MiSoC), forking means twice the work.

[2018-01-04 23:50] jonaskeller commented on #874
I tried reproducing the error today. In 3.1 py_35+git3ba82cf1, only the duplicate TCP packets appeared, but it never entered the ACK loop. So maybe this is already fixed.

Reverting to 3.1 py_6+git231bf77b, it did enter the loop and prevented me from starting new experiments, but contrary to what I described above, there was no ARP request without response (maybe that was a coincidental occurrence

[2018-01-05 15:19] whitequark commented on #874
By "only the duplicate TCP packets appeared", which packets do you mean specifically? And do you think these are problematic?

That version uses smoltcp with known severe TCP bugs, so problems with it are expected and reporting them is not really useful for anything.

[2018-01-05 16:38] jonaskeller commented on #874
I'm referring to the upper part of the capture you show in your first reply to this issue. It's probably not an issue, I'm just mentioning the symptoms without making any judgement.

If this means that this issue has been caused by a known bug, I guess that resolves it. If that is also true for #877, please let me know so I don't waste any time. We currently can't switch to the newest 3.1 version,

[2018-01-05 16:42] whitequark commented on #874
I had no idea #885 is a blocker for you, you should have mentioned it. It is of course very easy to fix, and I will do so.

Regarding the buildbot, `force build --revision=HASH ...` does the job.

[2018-01-05 17:09] jonaskeller commented on #874
Great, thanks! Until then, I'll stick with 3.1 py_6+git231bf77b and just not use moninj.

So since I couldn't reproduce this with the newest version, it looks like this issue can be closed.

[2018-01-05 17:09] #874 closed

[2018-01-05 18:33] whitequark commented on #874
Oh and please do try to reproduce #877; while it *probably* was caused by a known bug, it could have been caused by anything (unlike this issue) so the report would be useful, if any.

[2018-01-05 19:39] jordens commented on #849
@whitequark what are you waiting for? more data?

@cjbe it might be useful to check whether this still occurs after all the smoltcp changes.

[2018-01-05 19:48] whitequark commented on #849
@jordens A way to reproduce and/or a backtrace.

[2018-01-05 19:53] cjbe commented on #849
@jordens @whitequark I did try to reproduce this with the master branch as of a few days ago, and I could not.

I am going to upgrade a running experiment to a current version of Artiq next week - I will report if I see this again.

[2018-01-08 11:21] sbourdeauducq opened #887 "move drivers out of tree"
Drivers that are useful without ARTIQ (and where you can expect someone doesn't want to pull in all the ARTIQ dependencies) or drivers that pull in other dependencies (hidapi for lda or libusb/pyusb for newfocus8742) should be separate.

* [x] [pdq](https://github.com/m-labs/pdq)
* [x] [newfocus8742](https://github.com/quartiq/newfocus8742)
* [ ] lda

[2018-01-08 19:05] jbqubit commented on #727
Is this what you mean @hartytp?

https://ez.analog.com/thread/96757-xilinx-jesd-core-vs-adi-jesd-core

[2018-01-08 21:53] #885 closed

[2018-01-09 02:39] whitequark commented on #886
Fixed in 3bfb128a99909c932c9bf46a466c9651ce7d1284.

[2018-01-09 02:41] #886 closed

[2018-01-09 02:43] whitequark commented on #874
@jonaskeller FWIW #885 has been fixed.

[2018-01-09 08:30] sbourdeauducq commented on #877
@jonaskeller Please update to 3.2 to get those backtraces.

[2018-01-09 08:32] sbourdeauducq commented on #845
Does 3.2 also include those log improvements?

[2018-01-09 08:49] whitequark commented on #845
I think those improvements were in smoltcp, but I do not remember exactly any more.

[2018-01-09 14:11] hartytp commented on #727
Not really my field of expertise, but I believe it was this: https://github.com/analogdevicesinc/hdl/tree/dev/library/jesd204. @enjoy-digital is probably the person to ask about these things...

[2018-01-09 14:28] enjoy-digital commented on #727
@hartytp: yes we can look at the core from ADI and see if we are doing initialization correctly.

[2018-01-09 15:36] sbourdeauducq commented on #854
@gkasprow With the firmware you posted here: https://github.com/m-labs/sinara/issues/358#issuecomment-356007854 the link is still not detected by my media converter. Here's the dump I get from the MMC.
[code]

[2018-01-10 00:57] philipkent opened #888 "Installing artiq 3.1 from source fails during rust install"
On Ubuntu 14.04.5 LTS 64 bit, trying to install ARTIQ 3.1 fails during the rust install with:

    cargo:warning=cc: error: ../../libcompiler_builtins/compiler-rt/lib/builtins/absvdi2.c: No such file or directory

I'm following the instructions on https://m-labs.hk/artiq/manual-release-3/developing.html#installing-artiq-from-source and it fails during the 'make install' command to install rust.

H

[2018-01-10 00:59] whitequark commented on #888
Which errors do you get exactly?

[2018-01-10 01:05] philipkent commented on #888
cargo:warning=cc: error: ../../libcompiler_builtins/compiler-rt/lib/builtins/absvdi2.c: No such file or directory

I've searched for that file with find and I'm not seeing it, but maybe I'm missing something.

[2018-01-10 01:10] philipkent commented on #888
I do have three 'libcompiler_bultins' directories but no 'absvdi2.c' file:

    find . -name libcompiler_builtins
    ./rust/build/build/x86_64-unknown-linux-gnu/stage0-std/x86_64-unknown-linux-gnu/release/build/libcompiler_builtins
    ./rust/src/libcompiler_builtins
    ./rust/.git/modules/src/libcompiler_builtins

[2018-01-10 01:12] whitequark commented on #888
You forgot to run `git submodule update --init` in the Rust sources.

[2018-01-10 01:14] philipkent commented on #888
hmm, I'll try it again but I did update the rust submodules.

[2018-01-10 01:24] philipkent commented on #888
I tried a second time but I still get the same error.  git submodule update --init seemed to go smoothly.

This is everything I did.
[code]

[2018-01-10 01:26] whitequark commented on #888
Oh! `git submodule update --init --recursive`.

[2018-01-10 01:29] philipkent commented on #888
Ah!  Will try that, thanks.

[2018-01-10 02:25] philipkent commented on #888
That fixed the 'absvdi2.c' error, thanks!.  Now it's failing for not being able to find llvmconfig.  Is that supposed to be installed as apart of the LLVM and Clang build?  There were a few directory permission issues on this machine earlier so it may be that llvmconfig is just not visible for my user.  I'm going to look into that more tomorrow.

[2018-01-10 02:39] whitequark commented on #888
The `llvm-config` executable should be installed as a part of LLVM. Is it not present as `/usr/local/llvm-or1k/bin/llvm-config`?

[2018-01-10 03:34] sbourdeauducq commented on #854
@gkasprow
Are those registers normal?
Have you been able to install ARTIQ on your board where the PHY works correctly in MII, and can you ping the board then?

[2018-01-11 00:31] philipkent commented on #888
It was present.  `llvm-config` did get installed to `/usr/local/llvm-or1k/bin`, it was just that `/usr/local/llvm-or1k/bin` wasn't on the system path.  After adding `/usr/local/llvm-or1k/bin` to my path variable `make install` ran without errors and I get the "Rust ready to roll" message at the end.

[2018-01-11 02:15] sbourdeauducq commented on #888
Any particular reason you're not using 3.2?

[2018-01-11 02:34] sbourdeauducq commented on #861
@gkasprow Have you installed ARTIQ?

[2018-01-11 06:14] sbourdeauducq commented on #854
@gkasprow Your MMC firmware is buggy. It needs a PHY register dump (E) before it actually initializes the PHY. After I do it then my media converter detects a carrier. I don't know yet if it's the correct MII mode, though.

[2018-01-11 06:41] sbourdeauducq commented on #854
The command needs to be issued at a special time during MMC startup, though. And when the PHY is correctly initialized, then JTAG is broken. Please make fixing those MMC bugs a priority.

[2018-01-11 07:55] sbourdeauducq commented on #854
Data remains thoroughly corrupted in this mode, though I don't know if the PHY is really in MII, or if I'm just exploiting some MMC firmware bug that puts the PHY in another mode.
[code]

[2018-01-11 10:01] gkasprow commented on #854
I initialise PHY twice - just after power up and after MMC detects that FPGA is configured.
When you get the message: "GMIICR mod 18 0xffff PHY init done" it means that PHY was not correctly initialised. FFFF means that one cannot access PHY registers or they are corrupted. This command simply reads PHY register just after it was initialised when FPGA was configured.

Is the packet you receive con

[2018-01-11 10:12] sbourdeauducq commented on #854
OK. The first initialization attempt actually results in a link being detected by my media converter, for a short time. Then the second initialization kills it, unless I have pressed E.

No. As I said above: "Data remains thoroughly corrupted".

Open MMC UART, wait for the "Net up message", press E immediately, then the link is up on my media converter. With regular MMC startup (without touching t

[2018-01-11 10:18] sbourdeauducq commented on #854
Can you put together a simpler MMC firmware that sets the PHY in MII mode, gives it to the FPGA immediately regardless of whether the FPGA is configured or not, and doesn't touch it again?

[2018-01-11 11:56] gkasprow commented on #854
The most important is GMIICR 18 0x8480
this means that we have GMII mode....

[2018-01-11 12:16] gkasprow commented on #854
So that's why you get some data that make not much sense..

[2018-01-11 14:52] whitequark commented on #888
That's very odd, it should not be necessary. Exactly which component is not finding llvm-config? It would be helpful if you posted the actual error message in its context instead of paraphrasing it.

[2018-01-11 17:04] gkasprow commented on #854
I changed a bit the init sequence. It does full reinit of the PHY chip including pin strapping once the FPGA config is done. Then it keeps the PHY disconnected from MMC.
I tested it in various configurations and it works.
GMIICR mod 18 0x4080 - It means 0 = MII-DCE , both RXCLK and TXCLK are outputs
[lpc1776_ethernet_I2C_MII_DCE.zip](https://github.com/m-labs/artiq/files/1623457/lpc1776_ethernet_I

[2018-01-11 17:21] gkasprow commented on #854
@sbourdeauducq sorry, I posted wrong file. In a moment will publish right one

[2018-01-11 17:34] gkasprow commented on #854
@sbourdeauducq try this one.
[lpc1776_ethernet_I2C_MII_DCE.zip](https://github.com/m-labs/artiq/files/1623563/lpc1776_ethernet_I2C_MII_DCE.zip)

I know exactly what happened.
The function which did register dump, connected back the PHY to the FPGA, but the function that did initial init left it connected to MII. So this explains the behaviour you described.

[2018-01-11 20:09] philipkent commented on #888
@sbourdeauducq

We need to build a modified version of the gateware with the output FIFO depth increased to 1024.  We did this for ARTIQ version 2 and it reduced the number of underflow errors we we're getting.  We tried running a few experiments using the gateware provided in the ARTIQ version 3 conda packages but that resulted in underflow errors that did not occur using the version 2.0 gateware

[2018-01-11 20:15] philipkent commented on #888
@whitequark
`That's very odd, it should not be necessary. Exactly which component is not finding llvm-config? It would be helpful if you posted the actual error message in its context instead of paraphrasing it.`

I'll try running through the install process again tonight and post the specific error.  The [steps for installing from source ](https://m-labs.hk/artiq/manual-release-3/developing.html#

[2018-01-12 00:42] sbourdeauducq commented on #854
Why do you insist on waiting for the FPGA config to be done before setting up the PHY? This adds complexity in a system that is already extremely fragile and buggy.

[2018-01-12 00:53] gkasprow commented on #854
I don't remember exactly, but had an impression that PHY didn't wanted to work in RGMII mode without valid TX clock. I wrote about it in some of issues...

[2018-01-12 01:11] philipkent commented on #888
@whitequark This is the error I was getting when trying to install rust.

    maglab@687stylab:~/artiq-dev/artiq_3.1/rust/build$ make install
    Finished dev [unoptimized] target(s) in 0.0 secs
    Building stage0 std artifacts (x86_64-unknown-linux-gnu -> x86_64-unknown-linux-gnu)
    warning: ../../libcompiler_builtins/compiler-rt/lib/builtins/divdc3.c:21:1: warning: conflicting types for built

[2018-01-12 01:58] sbourdeauducq commented on #888
Yes. And note that you do not need Rust if you are only making such a minor change to the gateware. You can skip the whole firmware compilation with ``--no-compile-software`` - but be careful, mismatches you introduce at the firmware/gateware interface can result in somewhat obscure bugs.

[2018-01-12 02:00] sbourdeauducq commented on #888
Which exactly is that FIFO you need expanding? Since you are the main users of those packages, we can also build them with the FIFO sizes you want.

[2018-01-12 02:30] sbourdeauducq commented on #854
But this is not an issue with MII, where the PHY is always generating clocks, and this would eliminate another potential source of bugs.

[2018-01-12 05:05] sbourdeauducq commented on #854
This new firmware exhibits exactly the same bug as before: the link is up at power-up, then it goes down and does not go back up when the FPGA is configured. Please keep things simple and configure the PHY once at startup and regardless of the state of the FPGA.

[code]

[2018-01-12 07:43] jordens commented on #888
And the documentation also clearly states that that approach to installing from source is irrelevant to you. Just use the conda packages pulled in by artiq-dev.

[2018-01-12 11:32] gkasprow commented on #854
OK, I fill make it simple. But does it improve when you make PHY dump?
On my board I have the link all the time, before and after FPGA gets configured.
The difference is that GMIICR 18 0x4080 has right value so should work in MII mode.
Before it worked in GMII mode so there was no chance to work at all.

[2018-01-12 11:36] gkasprow commented on #854
The only access of MMC to MII is when MMC configures the PHY. Then it is permanently attached to FPGA.

[2018-01-12 19:06] whitequark commented on #888
Okay, this is a known rustc bug https://github.com/rust-lang/rust/issues/46995, I've updated our workaround for it in our rustc fork so you should no longer hit it.

[2018-01-12 19:06] #888 closed

[2018-01-12 22:05] jbqubit commented on #856
Built .bit this afternoon from master.

__Sayma_AMC TS190717-7__

[code]

__Sayma_AMC TS190717-2__
This AMC has different behavior. It hangs...

[code]
Hangs here.

[2018-01-12 22:11] hartytp commented on #856
@jbqubit hmm...interesting.

- Can you try with the current sayma amc standalone and sayma RTM condo packages, please?
- How did you flash the amc + RTM?
- are all power supply lights on both boards on?

[2018-01-12 22:49] jbqubit opened #890 "artiq_flash doesn't find Sayma binaries installed from conda package"
[code]
This naming scheme for the conda-distributed .bit breaks artiq_flash which assumes a hyphen... https://github.com/m-labs/artiq/blob/529033e016fffc69c20895348e037370faf78d20/artiq/frontend/artiq_flash.py#L219

Also, the name of the path is ```amc-standalone``` not ```standalone``` as in artiq_flash.py https://github.com/m-labs/artiq/blob/529033e016fffc69c20895348e037370faf78d20/artiq/fronten

[2018-01-12 22:59] jbqubit commented on #856
For the logs just reported I built .bit for RTM and amc stand alone. And flashed using ```~/github/m-labs/sinara$ artiq_flash --srcbuild ./misoc_standalone_sayma_amc -t sayma```.

Yes.

OK. I installed ```artiq-sayma_amc-standalone``` and ```artiq-sayma_rtm ``` from conda and flashed after fixing some typos in artiq_flash (cf #890).

[code]

[2018-01-13 00:03] sbourdeauducq commented on #856
You need to load the rtm manually.

[2018-01-13 01:02] sbourdeauducq commented on #856
https://gist.github.com/sbourdeauducq/f323a10f0a8306bd531769f89d25f5ea

[2018-01-13 01:13] jonaskeller commented on #877
Just an update: I've been monitoring an idle FPGA every night this week and haven't seen it crash yet (using 3.2 py_1+gita4337944). Given that it used to happen multiple times a day when I opened this issue, it seems likely that the problem is fixed.

[2018-01-13 01:19] #877 closed

[2018-01-13 01:20] whitequark commented on #849
@cjbe Did you see anything?

[2018-01-13 01:20] whitequark commented on #845
@kesht123 ping

[2018-01-13 01:20] whitequark commented on #865
@cjbe did you have a chance to test this?

[2018-01-13 02:50] sbourdeauducq commented on #890
That's not what the problem is, but yes, there is a discrepancy in artiq_flash for the sayma names and paths.

[2018-01-13 11:48] cjbe commented on #849
@whitequark I have not been able to reproduce this problem with the current version of Artiq.

[2018-01-13 11:59] #849 closed

[2018-01-14 12:07] hartytp commented on #890
Yes, I ran into this too. I have a PR prepared for this, just needs checking.

[2018-01-14 12:16] sbourdeauducq commented on #890
``artiq_flash`` will need a bit of refactoring to properly support Sayma and its RTM FPGA (we plan to put the bitstream in another flash partition like the runtime).

[2018-01-15 09:09] sbourdeauducq commented on #789
done

[2018-01-15 09:09] #789 closed

[2018-01-15 10:09] jordens opened #891 "mor1kx does not meet timing on kasli (artix 7)"
There are a few really long paths in mor1kx in Kasli.
Happens with 2017.2 and 2017.4.
Happens in both mor1kx cpus (comms and kernel).
We used to run the Spartan 6 mor1kx at 83 MHz on pipistrello to deal with this. It now seems close enough that some tweaking might allow the CPUs to run at 125 MHz on Artix 7.

[code]

[2018-01-15 11:36] enjoy-digital commented on #891
I don't think it's related to artix 7 vs spartan 6 but just to the cpu frequency.
On Kasli the cpu is running at 125MHz vs 83.3Mhz on pipistrello.

[2018-01-15 11:45] jordens commented on #891
Ah right. I forgot that. I still think that the 14 LUTs is too much and we should be able to make it to 125 MHz.

[2018-01-15 12:30] enjoy-digital commented on #891
Yes i was just pointing the reason. At 125Mhz, Kasli does not seems that far from meeting timings so yes it should not be too difficult to fix.

[2018-01-16 17:11] jordens opened #892 "re-tighten openocd dependency"
https://github.com/m-labs/artiq/commit/3eb882b6b75c65a28d180374f20ad6f7995a988e

[2018-01-16 18:04] gkasprow commented on #854
@sbourdeauducq I found what is going on with MII.
It is not MMC fault.
The statement in MAX24287 datasheet that "Bidirectional Wire-Speed Ethernet Interface Conversion" is not true. It does not convert link speed but only little clock frequency differences. Its buffers are too little to fit entire packet. It is able to pass only a few bytes of a packet and then produces rubbish, jumping every tent

[2018-01-16 19:32] TheCakeIsAPi opened #893 "artiq_session windows"
Using Windows 10 artiq 3.2
[code]

[2018-01-16 19:54] TheCakeIsAPi opened #894 "binaries in wrong directory for artiq_flash"
On Windows 10, Artiq 3.2:

[code]

The directory 'C:\Users\monroe\Miniconda3\envs\artiq-dev\lib\site-packages\artiq\binaries' does not exist at all.  Instead the files are in 'C:\Users\monroe\Miniconda3\envs\artiq-dev\Lib\python3.5\site-packages\artiq\binaries\kc705-nist_clock' and the command runs successfully as:

[code]

[2018-01-16 19:57] TheCakeIsAPi opened #895 "syntax error when parsing device_db.py"
On Windows 10, Artiq 3.2:

When attemping to run the led.py example, we encounter a syntax error in the edited device_db.py:

[code]

[2018-01-16 21:20] hartytp commented on #854
Good catch Greg! Glad you've figured this out!

Can you patch this on the boards we currently have with a piece of wire?

[2018-01-16 22:05] jordens commented on #893
Could you add the output of `conda list`?

[2018-01-16 22:06] jordens commented on #895
A `SyntaxError` is just that: your file is not valid python. Could you please show the contests of the file.

[2018-01-17 00:02] jbqubit commented on #854
Wow! Great find @gkasprow.

Agreed that the language in the chip abstract is misleading. Knowing what to look for makes it easier to [find](file:///home/britton/Downloads/MAX24287_data_sheet_2016-11%20(1).pdf)...  "If GTXCLK and REFCLK are both maintained within ±100ppm of nominal frequency then jumbo packets up to 9001 bytes long can be accommodated by the transmit rate adaption buffer."

I've up

[2018-01-17 00:12] gkasprow commented on #854
On other AMC boards I use single-chip Ethernet switch that has RGMII on two ports, RMII or MII on one port, 2x RJ45 and 2x 1000BASE-X/SGMII. It does not need any configuration, just pin-straps. It costs 17$.
But if we don't care about MMC access, we leave it as it is.

[2018-01-17 00:20] gkasprow commented on #854
I will attach tiny Arduino board to my SFP media converter that will switch the SFP module to SGMII mode. This should help and let @sbourdeauducq continue his work

[2018-01-17 01:48] sbourdeauducq commented on #894
I don't see how this can happen and I cannot reproduce it. Are you sure the command you ran is just ``artiq_flash -t kc705 -m nist_clock``?

As you can see from the ``artiq_flash`` code, this is supposed to append ``kc705-nist_clock`` to the path:
https://github.com/m-labs/artiq/blob/release-3/artiq/frontend/artiq_flash.py#L77-L79

Can you add ``print`` statements in ``artiq_flash`` (e.g. to check

[2018-01-17 02:00] TheCakeIsAPi commented on #895
Contents of device_db.py in question.  The only edit from the provided file was to change the IP address:

[code]

[2018-01-17 02:04] TheCakeIsAPi commented on #893
Output of ```conda list``` in question.  Did I somehow end up with artiq 2.5?  I used "git checkout 3.2" on the cloned repository when creating my environment.

[code]

[2018-01-17 02:07] sbourdeauducq commented on #894
@TheCakeIsAPi What happened is conda installed ``artiq`` in ``C:\Users\monroe\Miniconda3\envs\artiq-dev\lib\site-packages\artiq`` and ``artiq-kc705-nist_clock`` a different directory, in ``C:\Users\monroe\Miniconda3\envs\artiq-dev\Lib\python3.5\site-packages\artiq``.

Any idea why?

[2018-01-17 02:08] whitequark commented on #894
@sbourdeauducq probably because artiq is `noarch: python` and artiq-$BOARD is `noarch: generic` in meta.yaml.

[2018-01-17 02:09] #894 closed

[2018-01-17 02:11] whitequark commented on #893
Conda installed packages and your git checkout are completely independent of each other. Also, artiq-dev 3+ is not available on Windows because we do not build the Rust components for it.

What are you trying to do exactly that you install `artiq-dev`?

[2018-01-17 02:11] TheCakeIsAPi commented on #894
Not sure why.  I would say the bug is in the artiq-kc705-nist_clock package, because it is the only thing at all in ```Lib\python3.5```  Everything else is in ```Lib\site-packages```

[2018-01-17 02:14] TheCakeIsAPi commented on #893
Was trying to get around the artiq_flash issue #894 with the help of jbqubit by installing from source.

[2018-01-17 02:15] sbourdeauducq commented on #895
What happens when you run ``python device_db.py``?

[2018-01-17 02:22] TheCakeIsAPi commented on #895
```python device_db.py``` returns with no output and no errors.

[2018-01-17 02:25] sbourdeauducq commented on #895
OK, that's what it should do.

It seems you are mixing ARTIQ versions, attempting to use an ARTIQ-3 device database with ARTIQ-2.

[2018-01-17 02:28] sbourdeauducq commented on #890
Fixed in https://github.com/m-labs/artiq/commit/f77aa9b78ff7d1a61417650cfd65dbc4635cca0f.

[2018-01-17 02:28] #890 closed

[2018-01-17 04:25] whitequark commented on #893
Just specify the binaries directory explicitly.

[2018-01-17 11:02] sbourdeauducq commented on #854
Ethernet works with RGMII, your suggested board rework, and forthcoming MiSoC commits (add 1.25ns of delay on data via IDELAYER3).

[2018-01-17 11:14] hartytp commented on #854
Whoo! Great!

[2018-01-17 11:18] hartytp commented on #854
The only downside is that if we're not careful then soon you'll run out of Sayma bugs to complain about ;)

[2018-01-17 13:52] jordens commented on #854
But then, meta-complaining might be faced with a similar shortage.

[2018-01-17 13:52] hartytp commented on #854
Very good @jordens. Fair enough. I'm happy to live with that shortage though.

[2018-01-17 14:53] jbqubit opened #896 "artiq 3+ not supported on windows"
As per #893 m-labs says they are no longer supporting Windows. I'm fine with that. @dhslichter? If Windows support is now deprecated please update the documentation indicating this.

http://m-labs.hk/artiq/manual-release-3/installing.html#installing-artiq

[2018-01-17 14:55] jbqubit commented on #893
Explicitly giving path to binaries directory didn't work either.

[2018-01-17 14:57] sbourdeauducq commented on #896
artiq != artiq-dev. Windows is still supported, what is not is conda packages that let you recompile the runtime etc. on Windows.

[2018-01-17 14:57] #896 closed

[2018-01-17 15:00] jbqubit commented on #896
OK. Please note that here

http://m-labs.hk/artiq/manual-release-3/developing.html#developing-artiq

[2018-01-17 15:15] jbqubit commented on #854
We don't need it for Sayma v1.0. Let's keep on table for Sayma v2.0. Discuss in #478.

That's great news but leave Issue open until this is confirmed on customer end.

[2018-01-17 15:43] jbqubit commented on #890
Thanks!

[2018-01-17 17:15] dhslichter commented on #896
We still definitely require Windows support.

[2018-01-18 09:35] #893 closed

[2018-01-18 09:58] sbourdeauducq opened #897 "network init must always run in bootloader"
Not just when booting from the network. Otherwise PHY is not initialized (``net_device.reset_phy``) when booting from the flash.

[2018-01-18 10:55] whitequark commented on #897
Ah, no, the firmware should rather always initialize the PHY and not rely on the bootloader to do that. We had code to do that but I think I accidentally removed it while refactoring.

[2018-01-18 11:53] sbourdeauducq commented on #758
https://github.com/m-labs/artiq/commit/07f4e2e35a4f7e007383a230ea4356989f1c9c96

[2018-01-18 11:53] #758 closed

[2018-01-18 12:45] sbourdeauducq commented on #854
Actually it still doesn't work correctly :(

[2018-01-18 17:47] gkasprow commented on #854
Do you know where the problem is? Is it RGMII itself caused by poor timing or some bug in MAC?

[2018-01-18 17:48] sbourdeauducq commented on #854
RGMII I/O timing issues.

[2018-01-18 17:54] sbourdeauducq commented on #854
I got RX to work correctly now, but TX is still broken. Are the traces about the same length on the PCB? Does the PHY expect the TX clock to be sent at the same time as the data? 90 degrees late?

[2018-01-18 18:38] gkasprow commented on #854
@sbourdeauducq the timings are as follows
![obraz](https://user-images.githubusercontent.com/4325054/35115066-3343a53a-fc87-11e7-8b84-d1d32e7496f3.png)

[2018-01-18 18:39] gkasprow commented on #854
So you can delay the TX clock by 200ps, this may solve the issue.

[2018-01-18 18:43] gkasprow commented on #854
The RMII bus goes to the bus switch and then continues to the PHY chip. Here are the delays:
![obraz](https://user-images.githubusercontent.com/4325054/35115240-d73d2bac-fc87-11e7-922c-90ec48325a75.png)

[2018-01-18 19:00] jbqubit commented on #854
How do you know it's RGMII timing-related?

How do you know that Rx is working?

@sbourdeauducq What exactly is the setup you are using? Are you doing RGMII Ethernet with clock line rewired as suggested several weeks ago by @gkasprow? If so please confirm the new clock configuration. Is this SATA or card-edge connector? Are you using Greg's [SATA-SFP adapter](https://github.com/m-labs/sinara/wiki/

[2018-01-18 19:36] jbqubit commented on #895
@TheCakeIsAPi Some suggestions.

- Look for old version of ARTIQ using ```$ pip list | grep artiq```.

- Double check that artiq resolves to your current conda environment.
```$ python -c "import artiq; print(artiq.__path__)"```

[2018-01-18 21:19] dhslichter commented on #896
@jbqubit we do not intend to do our own ARTIQ builds on Windows (can use a Linux box if this is really necessary), but we do require the ability to run ARTIQ on Windows.  This means maintaining CI for conda packages for Windows.

[2018-01-18 22:23] jbqubit commented on #854
@sbourdeauducq Please reopen this Issue.

[2018-01-19 00:50] jbqubit commented on #856
Ok. Here's what I'm now doing.

[code]

[code]

[2018-01-19 01:25] sbourdeauducq commented on #856
You have the 1.8V and/or jtag bugs. Power cycle boards, replug USB connectors, until there are no errors.

[2018-01-19 01:54] jbqubit commented on #856
The 1.8V is fine. I'm watching it on a scope.

I've applied the JTAG white-wire fix https://github.com/m-labs/sinara/issues/463

```artiq_flash --srcbuild ./misoc_standalone_sayma_amc -t sayma``` was working just fine on this board a couple days ago. But looks like @whitequark made some changes  (https://github.com/m-labs/artiq/commit/f77aa9b78ff7d1a61417650cfd65dbc4635cca0f#diff-23ef9b8c7f366ae0f

[2018-01-19 01:54] sbourdeauducq commented on #854
Delaying the tx clock helps. I can ping the board now, though unreliably, but that may be the 1.8V bug that has become really bad (~20 second board life) on the board I reworked, for maximum frustration.

[2018-01-19 01:57] jbqubit commented on #854
Did @enjoy-digital bring a AMC with him? His may not have the 1.8V problem that you see.

[2018-01-19 02:00] sbourdeauducq commented on #854
Yes but so far could not rework it.

[2018-01-19 02:38] whitequark commented on #856
Sure, I use it for Sayma.

What exactly is the error message here?

[2018-01-19 04:35] jbqubit commented on #856
[code]

[code]

[2018-01-19 04:51] jbqubit opened #898 "proxy gateware bitstream bscan_spi_xcku040-sayma.bit not found"
From https://github.com/m-labs/artiq/issues/856#issuecomment-358864414

[code]

[code]

I follow [these](http://m-labs.hk/artiq/manual-release-3/developing.html#artiq-anaconda-development-environment) instructions verbatim to create a new conda environment for every pull from master. Proxy bitstreams conda package is missing.

[2018-01-19 04:55] sbourdeauducq commented on #898
OK and does installing ``bscan-spi-bitstreams`` manually solve the problem?

[2018-01-19 04:56] #897 closed

[2018-01-19 05:00] jbqubit commented on #898
[code]

[2018-01-19 05:02] sbourdeauducq opened #899 "Can't find cpld/xilinx-xcu.cfg"
https://github.com/m-labs/artiq/issues/898#issuecomment-358867192

[2018-01-19 05:02] sbourdeauducq commented on #898
Ah, yes. @enjoy-digital also saw that one but did not report it yet. #899

[2018-01-19 05:03] sbourdeauducq commented on #898
As for ``bscan-spi-bitstreams``, it is debatable whether it should be included in ``artiq-dev``, the board-specific packages, or ``openocd``. I'll let @jordens make that decision.

[2018-01-19 05:06] sbourdeauducq commented on #899
Could it be a consequence of https://github.com/m-labs/artiq/issues/892?

[2018-01-19 05:10] whitequark commented on #898
@jbqubit What is the output of `conda info`?

[2018-01-19 07:00] jordens commented on #899
Yes

[2018-01-19 07:00] #899 closed

[2018-01-19 07:00] jordens commented on #898
That's an old openocd. The new one depends on the proxy bitstreams. whitequark needs to retighten the dependency.
#892

[2018-01-19 07:00] #898 closed

[2018-01-19 07:03] jordens commented on #856
It's an old openocd. @whitequark

[2018-01-19 08:28] #892 closed

[2018-01-19 08:30] sbourdeauducq commented on #856
Considering:
* the correlation between the boards with the 1.8V bug and the boards with this serwb issue.
* the high level of noise in the 1.8V supply (that eventually leads to the regulator shutting down the rail).
* the fact that the serwb bank on AMC is powered from that noisy 1.8V.
* the fact that this bug is on the AMC side (putting my problematic RTM on Florent't working AMC is reliable).

.

[2018-01-19 08:41] jordens commented on #856
Yes. The "Open On-Chip Debugger 0.10.0 (2017-02-03-06:53)" Joe installed won't help even with those issues resolved.

[2018-01-19 11:20] gkasprow commented on #854
@sbourdeauducq what do you mean as reworked board?
Did you modify the hardware ?

[2018-01-19 11:24] sbourdeauducq commented on #854
Yes, I put the rx clock on gpio0 and cut the initial trace as you suggested.

[2018-01-19 11:25] sbourdeauducq commented on #854
Anyway, I also fixed the 1.8V on that board now, so i'll be able to do further tests more easily :)

[2018-01-19 11:28] gkasprow commented on #854
@sbourdeauducq how did you fix the 1.8V issue?

[2018-01-19 13:24] jordens commented on #854
@gkasprow https://github.com/m-labs/sinara/issues/358#issuecomment-358915854

[2018-01-19 16:22] jbqubit opened #900 "sayma 1.0: MMC Exar readout"
Independent Issue for tracking this feature of MMC. in followup to https://github.com/m-labs/sinara/issues/358#issuecomment-351862984.

@gkasprow said

Register dump is initiated by front panel button.

@sbourdeauducq said

- we do a lot of remote work here at M-Labs.
- we can script automated power cycling/1V8 testing to make sure that the bug is really gone.
- it is easier to type a command than

[2018-01-19 16:23] jbqubit commented on #900
Sorry. I put this in artiq by accident. Moved here https://github.com/m-labs/sinara/issues/485.

[2018-01-19 16:23] #900 closed

[2018-01-19 16:37] jbqubit commented on #898
[code]
So what should I do to test that this fixes artiq_flash?

[2018-01-19 16:37] jbqubit commented on #856
I've been successfully flashing this board for several weeks now using ```artiq_flash```. See [here](https://github.com/m-labs/artiq/issues/856#issuecomment-357377828). Pending https://github.com/m-labs/artiq/issues/898 I'll try again.

[2018-01-19 17:48] sbourdeauducq commented on #854
Now that the board is stable I can do much better tests...
@gkasprow it seems your PHY doesn't use the TX clock at all. The packet loss rate stays the same regardless of the TX data/clock phase, or whether I send the TX clock at all. Those packets that go through (12%) are probably only just when my and the PHY's internal clock align sufficiently well enough for a short packet (ARP or ICMP reply)

[2018-01-19 18:06] sbourdeauducq commented on #854
No difference...

[2018-01-19 19:10] gkasprow commented on #854
@sbourdeauducq so you are using Rx clock only and get packet errors?
And you are not using Jumbo packets.
The Tx clock which is supplied to both GTXCLK and TXCLK inputs.
There is a path in the PHY that theoretically could use Rx clock for Tx action.
I must ensure that Tx output is not enabled in configuration...If so then two outputs will fight with each other causing such issues you descibe.
![ob

[2018-01-19 19:11] gkasprow commented on #854
Please dump registers and make sure the bit 10 in GMIICR (TXCLK_EN) is 0

[2018-01-19 23:46] jbqubit commented on #898
I followed these instructions this afternoon to create a new conda environment. It pulled in the new openocd in the process.

[code]

[2018-01-20 00:06] whitequark commented on #898
This is a bug in artiq_flash that I've fixed long ago. Let me kick off a new build for you.

[2018-01-20 00:14] jbqubit commented on #898
I'm sure I'm running artiq_flash from master. I can add 1/0 to source and make it die.

[code]

[code]

[code]

[2018-01-20 00:16] whitequark commented on #898
Sorry, I forgot to push. ebd02c4f4

[2018-01-20 01:47] jbqubit commented on #898
Thanks @whitequark. I can now flash using artiq_flash.

[2018-01-20 01:54] jonaskeller opened #902 "FPGA panics"
Using 3.2 py_1+gita4337944, kc705, nist_qc2 gateware, Windows 7 64bit

The symptoms are the same as #877, but since it doesn't happen by itself anymore, I'm making this a new issue.

It happened every few 10min while I was running various experiments. I thought I had it narrowed down to running the following experiment (first thing after resetting the FPGA and starting the master+dashboard):

[2018-01-20 01:54] jbqubit commented on #898
Spoke too soon... AMC works but RTM does not. You got the path wrong for location of RTM .bit.

[code]

Also, folder names for builds are inconsistent.
- ./misoc_standalone_sayma_amc
- ./artiq_sayma_rtm

[2018-01-20 02:03] whitequark commented on #902
Unfortunately there is no backtrace so there's not much I can do.

[2018-01-20 02:14] whitequark commented on #898
@jbqubit RTM FPGA bitstream is not loaded from flash anyway right now, you have to invoke openocd manually. This will be fixed when the bitstream load is implemented.

[2018-01-20 02:36] whitequark commented on #652
Not anymore (at least I can't grep any).

There is now a stub Python 3.6 parser. (There are no 3.6-specific features like format strings, but also 3.5 features are already missing...)

[2018-01-20 05:13] enjoy-digital commented on #856
By reducing serwb linerate from 1.25Gbps to 625Mbps, it seems to be reliable on at least a board that has the 1.8v issue. (it's difficult to say if it's related or not). Let's use 625Mbps for now.
Note on sayma1 (that had 1.8v issue), when restarting AMC with artiq_flash, RTM is no longer alive and need to be reloaded by JTAG (this is not the case with the board i bring with me). This is maybe ano

[2018-01-20 07:04] sbourdeauducq commented on #854
It is set to 1. I have ``GMIICR 18 0x8c80``

[2018-01-20 07:25] whitequark commented on #898
@jbqubit I've fixed artiq_flash for RTM FPGA, but only for --srcbuild for now, since I'm working on that code. You can use this as a stopgap.
[code]

[2018-01-20 09:59] gkasprow commented on #854
OK, I zeroed this register in MII configuration, not RGMII.
Please check this. I have no access to HW and could not test it.
[lpc1776_ethernet_I2C_RGMII_TXCLKdisabled.zip](https://github.com/m-labs/artiq/files/1648699/lpc1776_ethernet_I2C_RGMII_TXCLKdisabled.zip)

[2018-01-20 10:58] sbourdeauducq commented on #854
Now there is *some* dependence of the packet loss rate (from ping) on the phase of the TX clock, but packet losses stay over 70%. And some packets still get through (80% packet loss) with the TX clock grounded by the FPGA. I don't understand...

[2018-01-20 11:03] sbourdeauducq commented on #854
Is the TX clock still on pin M22 at the FPGA side?

[2018-01-20 12:53] gkasprow commented on #854
Yes

[2018-01-20 13:04] gkasprow commented on #854
Tx has its own PLL that produces valid clock from 25MHz reference. But without TXCLK you should be not able to write anything to the PHY data register.  I have a setup at the university where we can run artiq. In this way I can have a look what the clock signal really looks like.

[2018-01-20 13:07] gkasprow commented on #854
Another issue could be with lock stability. In PHY devices the reference clock and TX clock frequency cannot differ more than 100ppm. In case of mis-configured PLL in the FPGA this would cause similar effect. Can you drive your TX engine with RX clock just to check if this helps?

[2018-01-20 13:31] sbourdeauducq commented on #854
That clock tolerance is due to the elastic buffer, and depends on the packet size and IPG. Here I am only sending short ICMP replies with 64 bytes of payload, so the tolerance is higher than this 100ppm which is designed for 9000-byte jumbo frames. Also, this would not explain why I'm able to send packets at all when I'm grounding the TX clock.

[2018-01-20 13:38] sbourdeauducq commented on #854
My best guess is that with your new MMC firmware, the PHY is not driving the clock pin anymore, but it is not taking it into account either. This doesn't explain well why there is an impact on the packet loss rate, maybe crosstalk (injection pulling) into the oscillator that produces the actual clock, and that crosstalk was not present before as there was contention on the clock pin.

[2018-01-20 13:49] gkasprow commented on #854
as I wrote, I cannot test it right now.

[2018-01-22 15:44] KaifengC opened #903 "Binaries missing in artiq 3.x on Windows"
Trying to upgrade artiq to 3.2 version using `conda create -n artiq_32 artiq-kc705-nist_clock=3.2`.
The installation is successful but then I tried `artiq_flash -t kc705 -m nist_clock` but got `Binaries directory...... does not exist`

I checked both nist_clock and nist_qc2 hardwares on windows. It seems the binaries files are lost after the installation.

[2018-01-22 16:04] sbourdeauducq commented on #903
https://github.com/m-labs/artiq/issues/894 ?

[2018-01-22 20:20] jbqubit commented on #903
@sbourdeauducq Please try installing 3.2 on a Windows 10 machine. You will see several hiccups in addition to those reported by @TheCakeIsAPi and @KaifengC.

[2018-01-22 20:24] jbqubit commented on #854
@sbourdeauducq Do you have a high frequency counter available to compare these clocks ?

[2018-01-22 21:50] jbqubit commented on #898
@whitequark Build output for RTM doesn't follow same directory hierarchy other designs.  So, ```artiq_flash --srcbuild ./artiq_sayma_rtm -t sayma_rtm load``` fails line after this one:
https://github.com/m-labs/artiq/blob/472840f16bb1275a96f495800646a0d3e6bbf6c6/artiq/frontend/artiq_flash.py#L300

[2018-01-22 21:54] jbqubit commented on #898
Then ```programmer_flash_binary``` fails since ```'artiq_sayma_rtm/software/bootloader/bootloader.bin'``` doesn't exist.

[2018-01-22 22:06] jbqubit commented on #898
Default action for RTM shouldn't be default="proxy gateware bootloader firmware start" since there is not bootloader. User ought not have to know this.

[2018-01-22 22:17] jbqubit commented on #898
And more bugs... Did you test this before pushing?

Also, now playing with artiq_flash it occurs to me that there should just be a single -t sayma. If RTM isn't present report its absence and program AMC alone. For those who'd like to debug the system by, say, repeatedly re-flashing RTM use openocd.

[2018-01-23 00:11] gkasprow commented on #856
@enjoy-digital once you restart AMC you may toggle config pins so RTM gets unconfigured...

[2018-01-23 00:48] sbourdeauducq commented on #903
What exactly? We do have Windows CI for many things so that's surprising.

[2018-01-23 00:54] sbourdeauducq commented on #898
AMC without RTM is not supported.

[2018-01-23 01:54] sbourdeauducq commented on #854
That's not the problem, and if it were, debugging it would be easier by looking at elastic buffer underflows and overflows than by probing signals on the board.

[2018-01-23 03:01] sbourdeauducq opened #904 "jesd204 sc1 support does not compile"
[code]

[2018-01-23 03:47] enjoy-digital commented on #904
We need to un-comment this: https://github.com/m-labs/artiq/blob/master/artiq/gateware/targets/sayma_amc.py#L101

[2018-01-23 03:49] KaifengC commented on #903
Yes, it's the same with #894 . Sorry I didn't see that before.
I installed several versions on Windows. This bug firstly appears on 3.0. It works well on version 2.5

[2018-01-23 04:14] sbourdeauducq commented on #904
I see. Well, Sayma is a development system at the moment and building from source is the primary way, so for now the priority is to get source builds working correctly (not conda).

[2018-01-23 04:18] sbourdeauducq commented on #904
@enjoy-digital Let's make a new jesd204 release when sc1 is validated - this should be soon?

[2018-01-23 04:19] #904 closed

[2018-01-23 07:54] sbourdeauducq commented on #903
Yes, it's due to switching to new-style conda noarch package that happened in 2.4, since after an update of conda the old-style noarch packages began to have various bugs and problems. Maintaining conda takes constant work...

[2018-01-23 07:54] #903 closed

[2018-01-23 07:55] sbourdeauducq commented on #903
For now, can you put the binaries manually where artiq_flash expects them?

[2018-01-23 16:20] sbourdeauducq commented on #883
Not likely. Otherwise we would see failures in ``test_time_keeps_running`` as well.

[2018-01-23 16:31] sbourdeauducq commented on #845
@kesht123 (or @cjbe or @hartytp): is this still an issue? Can you post more logs if so?

[2018-01-23 16:32] sbourdeauducq commented on #865
@cjbe ping

[2018-01-23 16:37] kesht123 commented on #845
Sorry for the delay..
I got logs a few days ago but there was several seconds of delay before I did so, so I don't know how useful they are:
[corelog2018-01-17.txt](https://github.com/m-labs/artiq/files/1656766/corelog2018-01-17.txt)
I had been trying to catch another loss of connection and get more timely logs but I haven't been able to so far

[2018-01-23 16:39] whitequark commented on #845
Nope, too late. I will make log levels adjustable for different components of the core device so that this isn't an issue.

[2018-01-23 16:54] sbourdeauducq commented on #902
Ran the experiment for 15 minutes with master and ``artiq_run``, no crash.

[2018-01-23 18:30] dhslichter commented on #888
I have been very delayed on sending in an updated gateware description file for NIST QC 2, but we are going to expand the number of TTL channels in hardware and can make modifications to the FIFO depths at the same time. @philipkent is there something in particular you are looking for?  What are you doing so rapidly that you need such deep output FIFOs?

[2018-01-23 19:56] cjbe commented on #865
@sbourdeauducq I have not managed to reproduce this - I have tried all combinations of power cycling the KC705 and the switch.

[2018-01-23 22:05] #865 closed

[2018-01-24 16:00] sbourdeauducq commented on #788
Should this be part of ARTIQ 4.0? 5.0? Not in ARTIQ?

[2018-01-24 16:12] jordens commented on #788
Will merge into ARTIQ when working. Let's try to hit 4.0.

[2018-01-24 16:29] jordens opened #905 "spi clock divider (chained read)"
tracking https://github.com/m-labs/misoc/issues/76

[2018-01-24 17:07] gkasprow commented on #854
OK, I found an error. The PHY was not correctly initialised and both clock were fighting. That's why I preferred to test it first.
And it seems the PHY does not like to start without the TXCLK, so I added initialisation when fpga config is done.
I added command "I" that does initialisation of PHY on request.
[lpc1776_ethernet_I2C_RGMII_TXCLKdisabled.zip](https://github.com/m-labs/artiq/files/16607

[2018-01-24 17:09] sbourdeauducq commented on #854
I suppose you have loaded a test bitstream into the FPGA and it is generating that clock?

[2018-01-24 17:37] gkasprow commented on #854
@sbourdeauducq yes, my test bit stream generates this clock.
It seems so, without this clock the LINK LED is off.

[2018-01-25 06:39] sbourdeauducq commented on #854
Are you sure your ``I`` command works? Does this sequence of events result in a working PHY:
1. FPGA is configured but does not send a clock.
2. PHY is initialized and breaks due to the missing clock.
3. FPGA starts sending a clock.
4. ``I`` is pressed.

Also, your firmware does not seem to reinitialize the PHY when the FPGA is re-configured; i.e. the board has to be power-cycled to load a new bit

[2018-01-25 06:44] sbourdeauducq commented on #854
How are you generating the clock in your test bitstream? Have you installed ARTIQ now?

[2018-01-25 07:12] sbourdeauducq commented on #854
The following FPGA design does not result in a link being established.

[code]

For your quick reference, the constraints generated by migen are:
[code]

and the Verilog is just ``assign eth_clocks_tx = eth_clocks_rx;``.

[2018-01-25 10:10] gkasprow commented on #854
@sbourdeauducq I also generate 125MHz from 50MHz clock.
I loaded the axf file I published yesterday. Then did power cycle. Then programmed FPGA.
 When I send "E" I get GMIICR=0x888 which means it is initialised correctly.
When I send "I" I get:
 GMIICR mod 18 0x8880
PHY init done
Link LED is  on

[2018-01-25 10:13] gkasprow commented on #854
do you get response:
[code]

[2018-01-25 10:18] sbourdeauducq commented on #854
Yes, and the firmware responds to ``I``, but no link.
Can you try my design that connects the RX clock, try ARTIQ, or send me a **minimal** FPGA design that results in the PHY establishing the link?

[2018-01-25 10:47] gkasprow commented on #854
I'm just castrating my design and once it compiles I will test it and send it to you.

[2018-01-25 11:59] gkasprow commented on #854
I hate xilinx. Compilation of almost empty project takes 30 mins!

[2018-01-25 12:23] gkasprow commented on #854
[here](https://www.dropbox.com/sh/mkr0qxkwhp8crsh/AAD9QnIeOJNIe8zLGAZL66d1a?dl=0) is the design. There is just MMCM generating 125MHz and FORTH processor, but it is not connected to Ethernet.

[2018-01-25 12:24] gkasprow commented on #854
And the LINK is on.

[2018-01-25 12:34] sbourdeauducq commented on #854
Where? There are hundreds of files in that dropbox.

[2018-01-25 12:36] sbourdeauducq commented on #854
This is a terrible mess. Can you send me the bitfile or something? Can you boil it down to a few files (.v/.xdc/.tcl)? Or even better: can you try MiSoC/ARTIQ on your board?

[2018-01-25 12:38] sbourdeauducq commented on #854
Is that the correct file? https://www.dropbox.com/sh/mkr0qxkwhp8crsh/AACIECV4Cy2IFcQlTWaLYBQra/Sayma_ETH_basic.runs/impl_2?dl=0&preview=sayma_amc_tester.bit

[2018-01-25 12:38] gkasprow commented on #854
source is in
https://www.dropbox.com/home/designs/fpga_projects/sayma_eth/kc705_delay_ipbus.srcs/sources_1/imports/kc705_delay_ipbus/src
bit is here:
https://www.dropbox.com/home/designs/fpga_projects/sayma_eth/Sayma_ETH_basic.runs/impl_2

[2018-01-25 12:39] gkasprow commented on #854
it's vivado who does such mess. Dropbox does mirror of my entire 1TB hard disk

[2018-01-25 12:45] sbourdeauducq commented on #854
Thanks.

I set M switches on the board so that the ARTIQ bitfile in the flash is not automatically loaded. Powered on the board. Link becomes up for a few second then goes down. Loaded your bitfile. Link does not go back up. Pressed ``I``. Link is still not up. It outputs this message:

[code]

Can you try ARTIQ on your board?

[2018-01-25 13:40] gkasprow commented on #860
I delivered 100MHz to HMC, loaded 👍 0 $0 $20 spi_hmc830 .
[code]

and I get 2.9726GHz at the output
The loop voltage is 0.16V

then I load
 0 $3 38 spi_hmc830 .
 0 $4 3851ec spi_hmc830 .
and I get 2.8000 Mhz and the voltage is 2.95V

[2018-01-25 13:43] gkasprow commented on #860
when I read 0x12H I get
[code]

which means the PLL is locked.

[2018-01-25 14:06] sbourdeauducq commented on #860
Yes, sometimes it works here, too. Have you tried with artiq?

[2018-01-25 14:15] gkasprow commented on #860
not yet

[2018-01-25 14:54] hartytp commented on #854
@gkasprow Let's leave the HMC830 for now since it's not critical to Sayma development. The ethernet should be top priority.

[2018-01-25 14:58] hartytp commented on #860
@gkasprow how many bits are you transferring for each of those writes?

[2018-01-25 15:09] gkasprow commented on #860
I use 32 bits - this is bit-bang SPI but the code is executed really fast. I get a few MHz SPI clock
[code]

[2018-01-25 15:15] gkasprow commented on #854
I'm trying to make ARTIQ running right now

[2018-01-25 15:20] sbourdeauducq commented on #854
To generate bitstreams with different TX clock phases relatively quickly, you can use this script:
https://gist.github.com/sbourdeauducq/10e621298554e7d4368627f01d6a1a30
Run ``vivado -mode batch -source edit_pll.tcl``.

Also, you can use ``--without-sawg`` to speed up compilation, and comment out most of the cores (JESD, serwb, rtio, etc.) to speed it up further.

[2018-01-25 15:35] gkasprow commented on #854
I managed to load the artiq bits to both FPGAs
No Ethernet link so far.
Do I need to do anything else?

[2018-01-25 15:36] sbourdeauducq commented on #854
Do you see the TX clock with the scope?
What is printed on the UART?

[2018-01-25 15:37] gkasprow commented on #854
OK, I got the LINK LED on. Used wrong SATA socket:)

[2018-01-25 15:38] sbourdeauducq commented on #854
OK. Interesting that it doesn't work at all here (no link). If you play with the TX phase using the script above, you should in theory be able to ping the board with no packet loss.

[2018-01-25 15:41] gkasprow commented on #854
Funny thing, there is Rx clock but no Tx clock, but the LINK is on.
When I remove the SATA plug, the lik goes off.

[2018-01-25 15:42] gkasprow commented on #854
DONE LED is also on, so the bit was loaded.

Info : clock speed 5000 kHz
Info : JTAG tap: xc7.tap tap/device found: 0x0362e093 (mfg: 0x049 (Xilinx),
part: 0x362e, ver: 0x0)
Info : JTAG tap: xcu.tap tap/device found: 0x13822093 (mfg: 0x049 (Xilinx),
part: 0x3822, ver: 0x1)
Warn : gdb services need one or more targets defined
loaded file ./artiq/misoc_master_sayma_amc/gateware/top.bit to pld device

[2018-01-25 15:44] sbourdeauducq commented on #854
Are you sure you flashed your latest MMC firmware?
artiq/misoc_master_sayma_amc/gateware/top.v is the generated Verilog, and corresponding constraint file artiq/misoc_master_sayma_amc/gateware/top.xdc... you should see the clock MMCM (PLLE2_BASE) there, and the connection to the IO pin.
Is your migen/misoc up-to-date?

[2018-01-25 16:02] gkasprow commented on #854
I have only one board here ::)
I will ask Pawel about ARTIQ

[2018-01-25 16:02] gkasprow commented on #854
It's one week old

[2018-01-25 16:03] sbourdeauducq commented on #854
Could be too old. What is the latest commit ID? Run git pull in each to update, and make sure you don't have stale copies installed somewhere in your system.

[2018-01-25 16:14] gkasprow commented on #854
Pawel is helping me with this...

[2018-01-25 16:15] marmeladapk commented on #854
I pulled latest version 10 minutes ago and I'm building sayma_rtm and sayma_amc targets right now.

[2018-01-25 16:21] marmeladapk commented on #854
RTM built without any hassle, AMC:

[code]

[2018-01-25 16:22] sbourdeauducq commented on #854
Get the JESD core from git (https://github.com/m-labs/jesd204b), not the conda package. Considering how many people run into this issue, I should probably update the conda package...
You can also strip all the JESD stuff since you don't need it for Ethernet.

[2018-01-25 16:25] marmeladapk commented on #854
@sbourdeauducq Please, could you update conda package? I'm busy with Kasli and I don't want to figure out new configuration.

[2018-01-25 16:27] sbourdeauducq commented on #854
It's just 3 commands:
[code]

[2018-01-25 16:42] jbqubit opened #906 "JESD core conda update"
cf #854

You can also strip all the JESD stuff since you don't need it for Ethernet.

conda remove jesd204b
git clone https://github.com/m-labs/jesd204b
export PYTHONPATH=$PYTHONPATH:`pwd`/jesd204b

[2018-01-25 17:02] jbqubit commented on #898
That's fine. And why I suggested having a single ```-t sayma``` option for ```artiq_flash```.

[2018-01-25 17:02] whitequark commented on #898
There will be one option after my last round of `artiq_flash` changes.

[2018-01-25 17:03] jbqubit commented on #898
@whitequark Did you try building .bit from scratch and then using ```artiq_flash```? From status 3 days ago things were far from seamless.

[2018-01-25 17:07] jbqubit commented on #856
@enjoy-digital IT's indeed odd that 1.25 Gbps worked [some time ago](https://github.com/enjoy-digital/sayma_test) but now doesn't. Is serwb now working reliably at 635 Mbps?

[2018-01-25 17:09] whitequark commented on #898
No. It doesn't really matter because of the rewrite I mentioned.

[2018-01-25 17:20] #906 closed

[2018-01-25 18:35] #905 closed

[2018-01-25 22:33] enjoy-digital commented on #856
@jbqubit: i don't think serwb 1.25Gbps has a different behaviour than before. Just that it seems not reliable with some of the boards at 1.25Gbps and seems to be reliable with all boards we tested at 625Mbps.

Note that there are 2 problems here:
- the fact that reconfiguring the AMC can unconfigure the RTM (will be solved when AMC will load the RTM).
- the fact that 1.25Gbps does not seem reliabl

[2018-01-26 05:16] sbourdeauducq commented on #854
@marmeladapk Did those JESD core installation commands work?

[2018-01-26 06:49] joeshardow commented on #894
![artiq inl filelocation 20180126144327](https://user-images.githubusercontent.com/31177110/35427949-5e1e53b0-02a7-11e8-94f2-2d451a1d9b1e.jpg)
![initialization fpga error bug 20180126143358](https://user-images.githubusercontent.com/31177110/35427950-5e4e7cac-02a7-11e8-930f-5e0921648132.jpg)
@TheCakeIsAPi I move the binary file into the conda searching location, but it is get a new error, see in t

[2018-01-26 06:53] marmeladapk commented on #854
Yes. Synthesis took 1 hour. ;-)

pt., 26.01.2018, 06:16 użytkownik Sébastien Bourdeauducq <
notifications@github.com> napisał:

[2018-01-26 06:54] joeshardow commented on #894
Or I can use Vivado to flash the binary file into KC705?

[2018-01-26 07:40] sbourdeauducq commented on #894
So, please open a new issue for it.

[2018-01-26 07:42] sbourdeauducq commented on #854
Yes, as I said, compilation times are ultrascaled. Did you use my suggestions above to speed it up a little?

[2018-01-26 10:15] joeshardow commented on #894
I have figure out this problem. After replacing the USB driver with Zadig, that's work correctly.

[2018-01-26 10:55] sbourdeauducq commented on #894
This is explained in the ARTIQ manual:
http://m-labs.hk/artiq/manual-master/installing.html?highlight=zadig#configuring-openocd

[2018-01-26 13:04] joeshardow opened #907 "KC705 Set(flash) the MAC and IP address"
When I try to follow the installation step from artiq manual to flash the MAC and IP address by using the commands, I meet some problems:

$ artiq_mkfs flash_storage.img -s mac xx:xx:xx:xx:xx:xx -s ip xx.xx.xx.xx
(This command works, and generate the flash_storage.img file in the current file folder. I suppose that the "xx:xx:xx:xx:xx:xx" means KC705 MAC, it is printed on hardware board, and the i

[2018-01-26 13:15] sbourdeauducq commented on #907
As I told you before, you need to replace things between brackets with the appropriate values for your situation, in your case kc705 instead of [board].

[2018-01-26 13:15] #907 closed

[2018-01-26 13:20] joeshardow commented on #907
What's the meaning of adapter? What should be replaced with the place of '[adapter]'?

[2018-01-26 13:22] joeshardow commented on #907
What's the meaning of adapter? What should it be replaced by with the place of '[adapter]'? There is not an option example in the manual.

[2018-01-26 16:18] jbqubit commented on #856
Ok So problem 1 relates to #813. Agreed that 625 Mbps is fine for getting started. :)

[2018-01-26 16:20] sbourdeauducq commented on #854
@marmeladapk @gkasprow Any progress? How is Ethernet with ARTIQ? Is the ARTIQ bitstream generating the TX clock correctly?

[2018-01-26 16:37] jbqubit commented on #906
@sbourdeauducq is this closed because you're annoyed or because jesd204b conda is updated? I didn't see a commit.

[2018-01-26 16:41] sbourdeauducq commented on #906
The conda package will be built when JESD204 SC1 is done, at the latest. We don't need an issue for every single thing. And, in the present state of affairs, if you use Sayma you are generally expected to build from source and use git.

[2018-01-26 16:47] jbqubit commented on #906
[This](http://m-labs.hk/artiq/manual-master/developing.html#artiq-anaconda-development-environment) is how I prepare a conda environment for building .bit. Your build system also uses the same artiq-dev.yaml. Please make it easy for us all to use the same build environment.

[2018-01-26 16:50] sbourdeauducq commented on #906
For now just install the JESD core from git using the instructions I posted elsewhere.

[2018-01-26 16:52] jbqubit commented on #898
Please make an Issue for your rewrite. Please discuss adding it to ARTIQ 4.0 with @sbourdeauducq since this is a Sayma 1 dependency.

[2018-01-26 16:53] jbqubit commented on #906
[code]

[2018-01-26 17:04] sbourdeauducq commented on #895
@TheCakeIsAPi Is that resolved?

[2018-01-26 18:38] gkasprow commented on #854
We will test it with @marmeladapk tomorrow.

[2018-01-26 19:35] whitequark commented on #898
It's #813.

[2018-01-26 22:24] dhslichter commented on #652
Are there still obstacles to the 3.6 upgrade?  What benefits are there for the 3.6 upgrade other than playing nicer with the Anaconda default install?

[2018-01-26 22:32] whitequark commented on #652
You can run ARTIQ on Debian testing (like I do), which ships with Python 3.6.

[2018-01-26 23:03] whitequark commented on #902
I've fixed the backtraces in d58393a1 (master) and aa64b8ad (release-3), can you please reproduce again with a newer firmware? You can decode the backtrace with `addr2line` if you feed the addresses and `runtime.elf` to it.

[2018-01-26 23:04] whitequark commented on #902
@sbourdeauducq I think we need to cut another 3.x release... Not sure how backtraces fell through the cracks here.

[2018-01-26 23:04] dhslichter commented on #652
@whitequark this seems like a minor convenience for the developer, but not really anything for the end user.  Are there features which are compelling/useful for the end user?

[2018-01-26 23:07] whitequark commented on #652
Other than being able to use Python 3.6 `f"format strings"`, I don't think so.

[2018-01-26 23:37] jbqubit opened #908 "Sayma MiSoC memory test failed"
Building .bit from source using
[code]
I see...

[code]

[2018-01-26 23:44] whitequark commented on #908
Possibly caused by 7429ee4fb63316b05da07407d6802670ebdb80fd?

[2018-01-26 23:52] cjbe commented on #908
The typical valid read region seems to be ~170 LSB on my board, so I don't think that commit (increasing the initial step from 8 LSB to 16 LSB) caused this.

This also looks different from the problem that commit solved for me, where the size of the read window was always the size of the initial step. Here the gaps vary from 16 to 20.

[2018-01-27 01:33] whitequark commented on #898
@jbqubit

artiq/artiq/frontend/artiq_flash.py

By the way, this is your error, not mine. The line you are highlighting is from the "gateware" action, not "load" action, so it could not have possibly be executed after running the command you mention in the comment. And in fact that comment works, I just verified it.

[2018-01-27 02:21] sbourdeauducq commented on #652
I don't know for how long Python 3.5 will keep working on conda. 32-bit Windows is already broken (which is why we no longer have ARTIQ packages for that OS). Not having Python 3.6 support may get the project stuck or requiring lots of conda workarounds.

[2018-01-27 03:22] sbourdeauducq commented on #908
What Vivado version?

[2018-01-27 13:54] gkasprow commented on #854
@sbourdeauducq I loaded the bit files @marmeladapk generated. And the Txclock is there, it looks good and the LINK is up.

[2018-01-27 13:55] gkasprow commented on #854
How to test the packet loss rate?

[2018-01-27 13:58] sbourdeauducq commented on #854
Good, though I don't know why the link is down on my board.
Did you apply the RX clock fix (connection to GPIO0)?
Is ARTIQ booting on the board? Look at the startup messages on the UART. You'll need to flash the bootloader at the minimum. And load the RTM FPGA manually if startup blocks on it.
You can patch the runtime in this way to skip the RTM FPGA communication:
[code]

After that you can simp

[2018-01-27 14:09] gkasprow commented on #854
Yes, I applied Rx clock fix, I posted pictures with short note how to implement on other boards.
I loaded both FPGA manually.
@marmeladapk could you please check and ping the board?

[2018-01-27 15:40] sbourdeauducq commented on #723
What kind of speed improvement can we expect from this, exactly?

[2018-01-27 15:42] whitequark commented on #723
You can run the profiler, then cut the time spent doing anything LLVM-related in half.

[2018-01-27 16:54] sbourdeauducq commented on #407
@r-srinivas @dhslichter I suppose the following experiment can be used instead of a scope:
[code]

What is your result on Windows? I'm getting 83ms with Kasli, ARTIQ master, and Linux.

[2018-01-28 03:40] sbourdeauducq commented on #407
And 68ms with KC705, ARTIQ master and Windows (no AV).

[2018-01-28 04:00] sbourdeauducq commented on #883
``get_rtio_counter_mu`` seems to be working fine. Likely a runtime bug (parallel programming with async RPCs? core device memory corruption when dealing with the large array?) or miscompilation (though compilation is a pretty deterministic process and this bug is intermittent). @whitequark

[2018-01-28 04:11] sbourdeauducq opened #909 "regular Urukul DDS support"
- [x] AD9910 - funded by Oxford
- [x] AD9912 - funded by Opticlock

[2018-01-28 12:41] whitequark commented on #883
Possibly a race condition with async RPCs...

[2018-01-28 12:56] sbourdeauducq commented on #883
If this is confirmed, it might make sense to switch to a single mailbox.

[2018-01-28 13:58] whitequark commented on #883
Or just fix the race condition.

[2018-01-28 14:03] sbourdeauducq commented on #883
I remember you saying that, if another concurrency bug was found in this code, you'd switch to a single mailbox. :)

[2018-01-29 07:15] sbourdeauducq commented on #854
Did you also flash the bootloader? What do you have on the serial console?

[2018-01-29 15:42] jbqubit commented on #854
Ping is a fine starting point. A scheme is also needed to test ~1 Gb/s.

[2018-01-29 16:04] jbqubit opened #910 "vivado version check"
ARTIQ documentation does not specify supported version of Vivado. cf #908 Consider:
- Add Vivado version ++ to [RELEASE_NOTES.rst](https://github.com/m-labs/artiq/blob/master/RELEASE_NOTES.rst) so end users know to upgrade.
- Add Vivado version check (and warning banner) to artiq/gateware/targets build scripts.

[2018-01-29 16:04] jbqubit commented on #908
I'm using 2016.2. Will upgrade and try again.

[2018-01-29 17:20] sbourdeauducq commented on #910
So what should this say, exactly?

[2018-01-29 18:08] dhslichter commented on #652
@sbourdeauducq ack.  Is the conda ecosystem ready for ARTIQ to upgrade to 3.6?  This was one of the previous issues raised about it.

[2018-01-29 18:09] dhslichter commented on #407
@sbourdeauducq what changed between your original measurement of 83 ms (before you edited the comment) and the edited value of 62 ms above?

[2018-01-29 19:25] jbqubit commented on #910
Add Vivado version information to some file in ARTIQ codebase (like meta.yaml for conda). Scripts in artiq/gateware/targets halt if wrong version of vivado is used. A script flag permits build with outdated vivado.

[2018-01-29 19:47] jbqubit commented on #910
[Instructions](http://www.m-labs.hk/artiq/manual-master/developing.html#) for installing Xilinx build tool need more specificity.

Download Xilinx __Vivado HLx 2017.4: WebPACK and Editions__. Building .bit for the FPGAs used in ARTIQ systems (7 Series, UltraScale) requires a license for Vivado HL Design Edition.

[2018-01-29 20:17] marmeladapk commented on #854
@sbourdeauducq I flashed it now:

[code]
Second time:
[code]

[2018-01-29 21:22] marmeladapk commented on #908
I'm using 2017.4 and I also got this issue, though with build from 25.01. I'm currently building against 0edc34a, will update when it finishes.

[2018-01-29 22:03] marmeladapk commented on #908
[code]

[2018-01-29 22:32] jbqubit opened #911 "building sayma_amc: no rule for libunwind-bare.a"
I built a new development machine this afternoon based on Ubuntu 16.04. It has Xilinx Vivado 2017.4.

[code]

[code]

[2018-01-29 22:40] jbqubit commented on #895
@TheCakeIsAPi Please try again. Would like to close this Issue.

[2018-01-29 22:50] philipkent commented on #888
@dhslichter we needed to expanded the FIFO depth to prevent underflow errors from occurring during the Raman cooling sequence.  I'm working on more thorough tests using ARTIQ 3.1 and DMA but the expanded FIFO depth still seemed to be necessary on 3.1 after a first test, even when we used recorded DMA sequences for Raman cooling.  The FIFO depth of 1024 was the first modification that we made while

[2018-01-29 23:23] whitequark commented on #911
You need to update misoc.

[2018-01-29 23:25] jbqubit commented on #898
This line appears three times: once in "gateware" and twice in "load" action. https://github.com/m-labs/artiq/blob/472840f16bb1275a96f495800646a0d3e6bbf6c6/artiq/frontend/artiq_flash.py#L325

[2018-01-30 00:24] jonaskeller commented on #902
Below is the backtrace for one instance of it crashing (this is with 3.2+8.gaa64b8ad). Since I wasn't sure what causes it and was working on something else, I just let one of our experiments run in a loop - it's far from minimal, I'm afraid. If you need me to test something simpler, please let me know.

	/var/lib/buildbot/slaves/debian-stretch-amd64-2/miniconda/conda-bld/artiq-kc705-nist_qc2_15170

[2018-01-30 00:48] whitequark commented on #902
No, this is enough. Actually, the crash has nothing to do with your *experiment*. Do you have an idle kernel set up?

[2018-01-30 01:08] jonaskeller commented on #902
No (we usually do, but I didn't set it up this time).

[2018-01-30 01:17] whitequark commented on #902
Do you still have the orignial backtrace (with addresses)? Looks like you didn't pass the `-i` option and the inlined frames are skipped.

[2018-01-30 01:25] jonaskeller commented on #902
Oh, sorry. Here's the original:

	panic at src/libcore/slice/mod.rs:745: index 60 out of range for slice of length 46
	backtrace for software version 3.2+8.gaa64b8ad:
	0x40021af4
	0x4003d248
	0x4003d394
	0x4001eff8
	0x40021868
	halting.

[2018-01-30 01:28] whitequark commented on #902
Can you please rerun it with `-i`?

[2018-01-30 01:29] jonaskeller commented on #902
/var/lib/buildbot/slaves/debian-stretch-amd64-2/miniconda/conda-bld/artiq-kc705-nist_qc2_1517012401014/work/artiq/firmware/libboard/config.rs:91
	/var/lib/buildbot/slaves/debian-stretch-amd64-2/miniconda/conda-bld/artiq-kc705-nist_qc2_1517012401014/work/artiq/firmware/libboard/config.rs:106
	/var/lib/buildbot/slaves/debian-stretch-amd64-2/miniconda/conda-bld/artiq-kc705-nist_qc2_1517012401014/work

[2018-01-30 01:44] sbourdeauducq commented on #407
It fluctuates, I had 83ms the first time but it is usually more like 60-65. Anyway, either 83 or 62 is a big difference from 500.

[2018-01-30 02:15] whitequark commented on #902
That... makes no sense. The only way to interpret that backtrace is that a packet arrived, passed the length verification in `smoltcp::Ipv4Packet::new_checked`, and subsequently failed the exact same length check it in `smoltcp::Ipv4Packet::payload()`.

[2018-01-30 02:58] sbourdeauducq commented on #652
Is there a package in particular you are worried about? Otherwise, the whole Anaconda distribution has been Python 3.6 by default for a while, and I don't expect problems other than the usual yak-shaving.

[2018-01-30 03:06] sbourdeauducq commented on #908
Here is everything I built from the current master (with RTM bridge, RTIO and other things disabled to save compilation time):
http://dl.free.fr/lAFdh3oQV
With those binaries, I verified that SDRAM works fine on both Florent's board and Sayma-1.
Can you try those binaries on your boards?
@marmeladapk You can use the Ethernet TX clock phase adjustement script I posted in the RGMII issue on those bi

[2018-01-30 03:20] whitequark commented on #902
Ah, it fails a *different* length check.

[2018-01-30 03:30] sbourdeauducq commented on #902
@jonaskeller How problematic is this bug for you? Should we do a 3.4 release soon with the fix?

[2018-01-30 04:00] jonaskeller commented on #902
Thanks for fixing this.

At the moment, I'm still setting up the system, but I hope to integrate it into the experiment around next week. At that point, this bug would become quite problematic, since it occurs at a rate >1/h.

[2018-01-30 04:02] sbourdeauducq commented on #902
OK, we will cut 3.4 next Monday.

[2018-01-30 05:57] jonaskeller commented on #902
Great, thanks!

[2018-01-30 05:57] sbourdeauducq commented on #902
Your package is built now, do you confirm the issue is resolved?

[2018-01-30 06:13] jonaskeller commented on #902
I'm writing from home - will check tomorrow and let you know.

[2018-01-30 07:02] enjoy-digital commented on #908
thanks @sbourdeauducq. I'll look at that. The read leveling procedure is probably still not robust enough.

[2018-01-30 07:32] jordens commented on #652
The situation has reversed from what it was. Now 3.6 is eminent and sticking with 3.5 will ultimately lead to what @sbourdeauducq has described.

[2018-01-30 08:40] sbourdeauducq opened #912 "Sayma output folder: use different folder for different variant"
The current single output folder for all variants gets in the way of having DRTIO master and satellite builds at the same time.

[2018-01-30 15:30] marmeladapk commented on #908
@sbourdeauducq I loaded it to check if memory tests are passed:
[code]
So it works. I'll try the script you mentioned later.

[2018-01-30 15:37] sbourdeauducq commented on #908
Good. You do however seem to get a large number of Ethernet RX corrupted packets (preamble errors). Is the PHY correctly set in RGMII mode? You can change the RX phase as well by using this script command instead: ``set_property CLKOUT0_PHASE <phase> [get_cells crg_ethrx_mmcm]``

[2018-01-30 15:47] marmeladapk commented on #908
@sbourdeauducq Should I change it in xdc in artiq/artiq_sayma/gateware/top.xdc and rebuild? Will latest artiq pass memory tests?

[2018-01-30 15:52] sbourdeauducq commented on #908
No. Please follow the instruction in my comment: https://github.com/m-labs/artiq/issues/854#issuecomment-360497764 - you just save the script as ``edit_pll.tcl`` and run the mentioned vivado command.
There is no bitstream rebuilding and it is a rather quick process. Nothing in the design other than the PLL phase will be changed, the routes etc. will be exactly as before, so yes memory test should

[2018-01-30 17:22] dhslichter commented on #888
@philipkent ack.  We have had similar issues with our sideband cooling and went to deeper output FIFOs as a result.  Let's discuss offline and run some tests to come up with a good resource allocation.

[2018-01-30 17:23] dhslichter commented on #652
@jordens @sbourdeauducq all ack.

[2018-01-30 21:28] jonaskeller opened #913 "artiq_flash exits with "Error: Unknown flash device (ID 0x00ffffff)""
Trying to install the nist_qc2 gateware 3.3 py_3+gitb92b00a1, I get the above error message (see below for full output), while trying with an older release (3.2 py_8+gitaa64b8ad) works and outputs this in the same place:

    Info : Found flash device 'micron n25q128' (ID 0x0018ba20)

I've also tried having the latest commit built, but that failed:
http://buildbot.m-labs.hk/builders/artiq-board/bu

[2018-01-30 22:14] whitequark commented on #913
Do you have several boards plugged in?

[2018-01-30 22:21] jonaskeller commented on #913
No, just one.

[2018-01-30 22:31] whitequark commented on #913
@sbourdeauducq Any ideas? This was before any of my artiq_flash rewrite changes...

[2018-01-31 02:43] sbourdeauducq commented on #913
Any difference in openocd versions?

[2018-01-31 04:24] jordens commented on #913
You need the last commit.
@whitequark could you look at the list failure?

[2018-01-31 15:41] dhslichter commented on #407
As a benchmark for comparison, @r-srinivas ran the test on our ARTIQ 2 setup which runs the magtrap experiment (Windows 7 with NIST AV), and we got 450-470 ms.  Will run on the new ARTIQ 3 setup today and let you know how that looks.

[2018-01-31 17:02] jonaskeller commented on #407
With 3.2 py_8+gitaa64b8ad (the most recent flashable gateware), it takes between 520ms and 570ms on our Windows system.

[2018-01-31 19:28] whitequark commented on #898
Yes, I already said that I did and it works...

[2018-01-31 23:51] jbqubit opened #914 "misoc asyncserial"
[code]

[code]

[2018-01-31 23:52] jbqubit commented on #911
I did the following again this afternoon. Same error.

[code]

Then when installing misoc... https://github.com/m-labs/artiq/issues/914

[2018-02-01 01:03] sbourdeauducq commented on #914
Yes, install asyncserial manually if you want to install misoc this way.

[2018-02-01 01:03] #914 closed

[2018-02-01 01:04] sbourdeauducq commented on #911
why not use conda?

[2018-02-01 01:04] whitequark commented on #914
@sbourdeauducq So why wouldn't we publish asyncserial on pypi?..

[2018-02-01 02:01] sbourdeauducq commented on #407
Okay, so this is most likely the AV and #733 should address this.

[2018-02-01 02:01] #407 closed

[2018-02-01 02:07] sbourdeauducq commented on #854
@marmeladapk @gkasprow Any progress? This is currently one of the most important issues with Sayma.

[2018-02-01 09:14] hartytp commented on #854
Agreed, this issue has been outstanding far too long now. @gkasprow let's try to really focus on this until it's properly resolved.

[2018-02-01 10:24] sbourdeauducq commented on #914
If we put packages on pypi, we have to ensure that they are maintained and properly versioned there as well, otherwise there will be incorrect versions installed silently, and corresponding support issues. And pypi/setuptools don't have good ways of dealing with version dependencies, unlike e.g. cargo. So I think it is better to only support conda for packaging, which is enough of a PITA already.

[2018-02-01 20:45] gkasprow commented on #854
first of all, I get valid link on my board with ARTIQ setup. Have you @sbourdeauducq tried on another board if link LED is on?

[2018-02-01 20:49] hartytp commented on #854
Just throwing it out there, but is there a chance that SB's board is quite badly damaged? Could explain why he's seeing things like the 1V8 issue that aren't showing up on other boards.

[2018-02-01 21:21] whitequark commented on #914
We already have pythonparser on pypi.

[2018-02-02 04:14] jbqubit commented on #911
So I updated Misoc and the error is still there...

By using the artiq-dev.yaml I'm recreating the same build environment that your build bot uses. I create a new environment from scratch for every build. This has reduced the incidence of wrong-version dependency problems I've encountered in the last several months. Shouldn't this work?

[2018-02-02 05:03] sbourdeauducq commented on #911
Use the latest misoc from git (conda package probably available still, or you can trigger a build on Irc) we're not doing ci and full conda support for Sayma yet.

[2018-02-02 07:09] whitequark commented on #911
@jbqubit Did you run `git submodule update --init` in the misoc checkout?

[2018-02-02 15:19] hartytp commented on #854
@gkasprow can you ping your board?

If ethernet works on your board, but doesn't work on @sbourdeauducq's board (which is a nominally identical setup) then what do we do next? Test on the board that @sbourdeauducq sent back to you once it arrives?

[2018-02-02 15:23] hartytp commented on #854
Oops, presumably Greg's test wasn't done with Artiq. That should be the next step, I guess...

[2018-02-02 17:22] jbqubit commented on #911
Is this something @whitequark can work on in parallel?

@whitequark I cloned with --recursive.

[2018-02-02 17:50] sbourdeauducq commented on #911
Try using the conda packages. https://anaconda.org/m-labs/misoc/files is up to date.

[2018-02-02 21:20] gkasprow commented on #854
I will test it with board @sbourdeauducq sent to me. Will try it with Artiq and on my setup.

[2018-02-02 22:03] hartytp commented on #854
Thanks Greg!

[2018-02-02 22:52] whitequark commented on #911
Are there any files in `misoc/misoc/software/unwinder`?

[2018-02-03 04:21] sbourdeauducq commented on #854
I did not test it on the particular board that I sent Greg, and it also doesn't have the RX clock patch. I believe the next steps should be:
1. Greg et. al. finish their ARTIQ installation, use my binaries to work around the problems in the Vivado garbage that break SDRAM/boot, then run my Vivado phase-tuning script to figure out the correct TX clock phase (and maybe RX as well, since apparently t

[2018-02-03 10:30] sbourdeauducq commented on #854
Nix. Are you sure you sent me working MMC firmware? Here is the binary I flashed.
[mmc_firmware.zip](https://github.com/m-labs/artiq/files/1691627/mmc_firmware.zip)

[2018-02-03 12:21] sbourdeauducq commented on #908
I also see the problem with the default build (including SAWG) on ARTIQ 4c22d64ee438d8b65ba728829794698191719181, migen e554f072905ceeb27c9c179c8c7b785acd1676bc, misoc cb8e314c7515eade46f5bcde4e48903d7ec92490
[code]

When disabling the SAWG (``--without-sawg``), the system boots correctly.
@enjoy-digital Can you move forward with JESD SC1 by disabling SAWG (which you want to do anyway to reduce co

[2018-02-03 15:52] enjoy-digital commented on #908
@sbourdeauducq: yes i'll continue on Monday.

[2018-02-05 15:45] sbourdeauducq commented on #854
@gkasprow @marmeladapk Any update?

[2018-02-05 18:15] jonaskeller opened #915 "Artiq3.4: binutils-or1k-linux dependency issue on windows"
Trying to install artiq 3.4 (py_0+git9db30ce8) on windows 7 64bit fails at the dependency

    binutils-or1k-linux >=2.27

The most recent windows binaries in the conda repository are v 2.25.1.

I could look into building it myself, but since you'll probably want it in your repository anyway, that doesn't seem worth the effort.

[2018-02-05 18:53] jordens commented on #915
@whitequark I tightened that dependency to match `artiq-dev`. Are we/should we be using different binutils?

[2018-02-05 18:59] whitequark commented on #915
@jordens I don't remember the exact diff between 2.27 and 2.25.1. I think 2.27 is just 2.25.1 plus our patches. The Windows build requires Cygwin and that isn't currently automated.

[2018-02-05 21:33] jbqubit commented on #854
@marmeladapk @gkasprow Any progress? This is currently the bottleneck for Sayma development right now.

[2018-02-05 22:22] gkasprow commented on #854
I'm waiting for AMC board to arrive from customs. Unfortunately the tracking number is not enough to get any info about it since there are many customs agencies in Warsaw.
The boards we have behave differently than the boards @sbourdeauducq has with same binaries. I made sure that I published the same MMC binaries.

[2018-02-05 22:23] jbqubit commented on #854
As part of developing for Sayma_AMC, [WUT is expected to run ARTIQ](https://github.com/m-labs/sinara/issues/468), tweak Migen/ARTIQ source and use ARTIQ build toolchain. Kudos to @marmeladapk @gkasprow !

Likewise, it's reasonable for M-Labs to edit WUT's MMC source and use the MMC toolchain to generate binaries as part of debugging. The back-and-forth of MMC binaries is slowing M-Labs ability to

[2018-02-05 22:36] gkasprow commented on #854
@sbourdeauducq did you send it by standard post? Polish post office does not register international parcels so you cannot track them in Poland. And it's quite common to wait 2 weeks for delivery.

[2018-02-06 00:52] sbourdeauducq commented on #854
It's EMS, never tried it to Poland.

[2018-02-06 01:43] sbourdeauducq commented on #915
Why are the automatic tests not catching that?

[2018-02-06 01:48] sbourdeauducq commented on #854
That board I sent was for the 1.8V bug. I don't know how Ethernet behaves on it with the latest MMC firmware. It may or may not exhibit the 'no link after rgmii setup' bug.

[2018-02-06 03:07] jbqubit commented on #910
Please just fix the docs and close. Somebody else can pay for the Vivado check.

[2018-02-06 05:31] whitequark commented on #910
It doesn't help to use 2017.4. I've built the bitstream using 2017.4 myself and I still had #908. So the utility of this check seems doubtful.

[2018-02-06 05:37] sbourdeauducq commented on #910
Yes, it's a rather complicated situation.

[2018-02-06 05:40] whitequark commented on #915
Catching what?

[2018-02-06 05:52] sbourdeauducq commented on #908
@hartytp Are you looking into this?
This definitely worked when I did the SAWG test and posted the scope screenshot. So it should be possible to isolate what code change exactly caused this problem, maybe with the help of tools like ``git-bisect``.
But I suspect this is due to the non-determinism of Vivado compilation, or to plain Vivado bugs. In the first case, this is normally solvable by adding

[2018-02-06 06:31] sbourdeauducq commented on #915
The ARTIQ conda package not installing correctly on Windows, either on the release-3 branch or master; both specify binutils-or1k-linux >=2.27.

[2018-02-06 06:33] sbourdeauducq commented on #915
http://buildbot.m-labs.hk/builders/artiq/builds/2026 was for https://github.com/m-labs/artiq/commit/4c22d64ee438d8b65ba728829794698191719181.

[2018-02-06 08:19] #912 closed

[2018-02-06 09:14] jordens commented on #915
In that build build 520 was installed on windows while the parent build was 521.

[2018-02-06 09:28] hartytp commented on #908
I wasn't planning to, no. In general, I'm trying to prioritize things like the HMC830 on Sayma, which seem to be (at least in part) hardware issues. In contrast, the mem test thing is just firmware/gateware, isn't it? As such, it seemed like the standard yak shaving required to get a new board up and running, and not something particular to Sayma. So, I figured that you guys were probably best pla

[2018-02-06 09:31] hartytp commented on #908
Anyway to be clear, in case I do find time to look into this, your plan is basically to dig through the git history, building various versions of Sayma gateware/firmware with SAWG (at a few hours per build) until we find the point where it stopped working? IIRC, that's a bit complicated by the fact that the tools to build Sayma have changed a bit over time, so it's not always the same instructions

[2018-02-06 09:32] sbourdeauducq commented on #908
Yep, standard fare.

[2018-02-06 09:34] hartytp commented on #908
Well, as I said, as this seems like standard yak shaving for getting a board up and running, rather than a particular hardware/design issue with Sayma. So, do you mind taking a look at it first -- it's likely to be quicker for you since you've probably kept a closer eye on the changes that have been made to ARTIQ over the past weeks.

[2018-02-06 10:35] gkasprow commented on #854
On our board we observe that ARTIQ gets rx preamble errors
[   609.893789s]  WARN(runtime): ethernet mac: rx preamble errors: 511
[   610.227813s]  WARN(runtime): ethernet mac: rx preamble errors: 512
[   610.978530s]  WARN(runtime): ethernet mac: rx preamble errors: 513
[   611.742702s]  WARN(runtime): ethernet mac: rx preamble errors: 514
[   611.747651s]  WARN(runtime): ethernet mac: rx preambl

[2018-02-06 10:43] gkasprow commented on #854
The link LED is on. I observe nice Rx and Tx clock signals.

[2018-02-06 10:46] gkasprow commented on #854
@marmeladapk tried with different Rx delay  setting

[2018-02-06 10:51] gkasprow commented on #854
@sbourdeauducq How to adjust Rx clock delay?

[2018-02-06 11:04] sbourdeauducq commented on #854
https://github.com/m-labs/artiq/issues/908#issuecomment-361631972
Edit the script to use ``set_property CLKOUT0_PHASE <phase> [get_cells crg_ethrx_mmcm]``

[2018-02-06 11:05] sbourdeauducq commented on #854
@whitequark Can you help @gkasprow transmit some packets (assuming broken RX)?

[2018-02-06 11:27] gkasprow commented on #854
@sbourdeauducq you experimented with Rx clock delay. What values make sense?

[2018-02-06 11:31] sbourdeauducq commented on #854
Those around what I committed to the repository (135).
https://github.com/m-labs/misoc/blob/master/misoc/targets/sayma_amc.py#L107
Generating many bitstreams with the script is pretty quick (most of the Vivado bloat is bypassed), so you should be able to experiment.

[2018-02-06 11:34] gkasprow commented on #854
OK, we will try with @marmeladapk.
Anyway Pawel will try to compile xilinx reference design with RGMII TMAC which swaps addresses and sends the packets back. Xilinx design let us look more deeply into the design because we can use chipscope tool. So far i tested this PHY with single packets, with Xilinx stuff we can test the packet loss rate.

[2018-02-06 11:38] sbourdeauducq commented on #854
You can also use microscope with MiSoC/ARTIQ. http://github.com/m-labs/microscope
What exactly does the Xilinx reference design do that you need?

[2018-02-06 11:44] gkasprow commented on #854
I want to be able to observe the RGMII signals on rx and tx side. But this I do with my existing design, without MAC but for single packets. I'd like to run it with higher data rate.
In this way I can clearly see if the problem is with MAC or PHY.
I'm not sure if the problem is related with MMC because the chip configuration is correct. It is in RGMII mode, clock directions are correct and I obser

[2018-02-06 11:50] sbourdeauducq commented on #854
I did receive correct packets using my design, and I dumped them after the whole chain, the contents and CRC were correct. Maybe you did the rework a bit differently than me (did you cut the RX clock trace or just added the wire?) and your timing is different. A RX phase adjustement and/or verifying that our reworks are the same (I cut the trace, but maybe I did not do it correctly?) should clear

[2018-02-06 11:56] gkasprow commented on #854
@sbourdeauducq I cut the trace and added shortest possible wire. I documented it with photos in dedicated [issue](https://github.com/m-labs/sinara/issues/484).
The signal I observe on the PHY is really good. I look at it with 1.5GHz probe.
I don't know how to send the packet from ARTIQ. Can you take a photo of your board modification?

[2018-02-06 11:58] sbourdeauducq commented on #854
Also, it is impossible for a RGMII design to "simply work", other than by chance, or if they have some sort of automatic calibration which sounds impractical. The timing windows are small and this needs phase calibration for every board design.
Currently ARTIQ will only send packets in response to regular network requests, such as ARP and ICMP echo. The simplest thing to do (with fewer firmware mo

[2018-02-06 12:01] gkasprow commented on #854
@sbourdeauducq I can route the clock to same bank using some of TLCKC/TCLKD clock pairs. They won't be used in the future. The clock trace delay would be much longer, but at least it won't depend on FPGA silicon PTV variation.

[2018-02-06 12:02] gkasprow commented on #854
OK, let's fix the Rx path first.

[2018-02-06 12:03] sbourdeauducq commented on #854
![ethrework](https://user-images.githubusercontent.com/720864/35858829-d248514e-0b78-11e8-8f00-9b2201ababde.jpg)

[2018-02-06 12:05] sbourdeauducq commented on #854
Yes, the bank crossing can be another factor that explains the RX difference between my board and yours.

[2018-02-06 12:07] gkasprow commented on #854
OK, my wire is roughly 2cm shorter. Cannot we add some auto-tuning capability? It can be done via UART-controlled fine delay that can be setup by packet loss rate. It's just a few lines of Python code.

[2018-02-06 12:11] sbourdeauducq commented on #854
We can, but:
* I cannot get ``MMCME3_ADV`` (which exposes the dynamic phase adjustement signal) to work. It fails to clock the design at all. So the design is still using the legacy ``PLLE2_BASE`` that gets retargeted by Vivado into ``MMCME3_ADV``. I suppose looking at the netlist and copying the Vivado-computed ``MMCME3_ADV`` parameters into MiSoC should fix this problem, but someone has to do it

[2018-02-06 12:14] gkasprow commented on #854
Yes, but this would be problematic for other users of Sayma rev 1.1.
I'll try to fix it by routing the clock to same bank. Maybe this would help.

[2018-02-06 12:16] sbourdeauducq commented on #854
Let's focus on the board issues so that they can be effectively fixed in the next PCB revision. For actual users, there is the Ethernet-FMC escape route.

[2018-02-06 12:20] gkasprow commented on #854
Did you get the FMC-Ethernet board? I think my piece can be switched to 1.8V so could verify of this works, providing that you get yours from same vendor.

[2018-02-06 12:23] sbourdeauducq commented on #854
I did not get it yet.

[2018-02-06 12:24] gkasprow commented on #854
To use same clock bank, one would need to move the clock wire to another board edge:

![obraz](https://user-images.githubusercontent.com/4325054/35859599-0a13d680-0b41-11e8-94a2-9e35ba8fe116.png)

[2018-02-06 12:25] gkasprow commented on #854
One would also need to get rid of the coupling capacitor
![obraz](https://user-images.githubusercontent.com/4325054/35859641-2eb7cb86-0b41-11e8-8d2d-a1ce28b08003.png)

[2018-02-06 12:28] gkasprow commented on #854
And the clock pin (TCLKC_D_P) is M25

[2018-02-07 04:05] sbourdeauducq commented on #908
That's what I thought - the patch below works around the problem.
[code]
@whitequark What about using GPIO and bit-banging instead? Hopefully the Vivado trash will behave then.

[2018-02-07 04:28] sbourdeauducq commented on #813
https://github.com/m-labs/artiq/issues/908#issuecomment-363650534

[2018-02-07 04:51] sbourdeauducq commented on #854
@gkasprow @marmeladapk Have you been able to receive packets by tweaking the RX clock phase?

[2018-02-07 06:56] mingshenli opened #916 "Software can not be installed"
on windows10,the zadig runs well
![Uploading artiq.png…]()

[2018-02-07 06:58] #916 closed

[2018-02-07 07:42] mingshenli opened #917 "the artiq_flash exits with error"
run` artiq_flash -t kc705 -m nist_clock`,with zadig running well

![artiq2](https://user-images.githubusercontent.com/35680445/35903139-ee127d5a-0c18-11e8-96e2-43771915de8f.png)

[2018-02-07 08:02] sbourdeauducq commented on #813
Note: my SAWG test (cb0016ceeeaa0e376a9b13ab5d2ea7ba7495100b) actually did include this core, so it may be possible to still make it work.

[2018-02-07 08:02] sbourdeauducq commented on #917
What ARTIQ version?

[2018-02-07 10:43] marmeladapk commented on #854
@sbourdeauducq No, we'll try now with TEMAC ipcore.

[2018-02-07 11:22] sbourdeauducq commented on #854
I believe it is close to working with the ARTIQ code and that TEMAC should not be used at this point.
Besides I cannot do any TX phase tuning since the link doesn't work on my board when flashing the latest MMC firmware, so you'll have to do that phase tuning, or give me SSH access to your boards.

[2018-02-07 11:24] sbourdeauducq commented on #854
Did you mean "no we haven't tried" or "no it did not work"?

[2018-02-07 11:27] marmeladapk commented on #854
@sbourdeauducq It didn't work. Just to be sure, I'll post what I've done:

[code]
`vivado -mode batch -source edit_pll.tcl`

`cp top_0225.bit top.bit`

`artiq_flash --srcbuild ~/Pobrane/artiq_sayma  -t sayma`

[2018-02-07 11:31] sbourdeauducq commented on #854
Strange. By the way for faster cycles you can simply do ``openocd -f <path_to>/sayma.cfg -c "pld load 1 top_0225.bit; exit"``, no need to flash the bitstreams.

[2018-02-07 12:11] mingshenli commented on #917
it is 3.2

thanks

best

------------------ Original ------------------
From:  "Sébastien Bourdeauducq"<notifications@github.com>;
Date:  Wed, Feb 7, 2018 04:03 PM
To:  "m-labs/artiq"<artiq@noreply.github.com>;
Cc:  "happy garfield"<limsh9@mail2.sysu.edu.cn>; "Author"<author@noreply.github.com>;
Subject:  Re: [m-labs/artiq] the artiq_flash exits with error (#917)

What ARTIQ version?

—
You are re

[2018-02-07 12:20] gkasprow commented on #854
@sbourdeauducq we test it on same board I observed working RGMII with chipscope and IPBUS core that transmitted packets. PHY configuration is the same. That's why we decided to implement Xilinx MAC and do long term tests to be sure that what I observe with single packets is not some kind of coincidence.

[2018-02-07 14:34] jordens commented on #917
You need to manually install openocd-0.10.0-1 or wait for 3.5 to do that for you.

[2018-02-07 14:34] #917 closed

[2018-02-07 15:13] jordens commented on #915
The windows test is not installing the artiq version that the build is running for http://buildbot.m-labs.hk/builders/artiq-win64-test/builds/718/steps/conda_create/logs/stdio
@whitequark what should we do? different binutils versions on windows (kernel build) and linux (firmware build)? ignore the version?

[2018-02-07 15:14] sbourdeauducq commented on #915
I believe the clean solution is a) fix the buildbot b) do the build of binutils-or1k-linux 2.27 that wasn't done for Windows.

[2018-02-07 18:38] jonaskeller commented on #902
I'm afraid I just checked with 3.3+3.gb92b00a1 (can't test with 3.4 yet due to #915) and still saw a panic after <1h, with a pretty similar looking backtrace:

	...
	[  1773.725254s]  WARN(runtime): network error: malformed packet
	[  1801.498077s]  WARN(runtime): network error: malformed packet
	[  1802.334523s]  WARN(runtime): network error: malformed packet
	[  1803.020813s]  WARN(runtime): net

[2018-02-08 04:29] sbourdeauducq commented on #917
@jordens That's in 3.4 already, and 3.4 is fixable on Windows by updating the binutils package. Doing that now...

[2018-02-08 05:24] sbourdeauducq commented on #915
Done.

[2018-02-08 05:24] #915 closed

[2018-02-08 05:24] sbourdeauducq opened #918 "buildbot installs the wrong package versions"
https://github.com/m-labs/artiq/issues/915#issuecomment-363799584

[2018-02-08 05:35] #910 closed

[2018-02-08 05:39] sbourdeauducq commented on #910
And the vivado version we use may change, to work around bugs etc.
So maintaining the docs etc. takes work, and is of limited benefit. You can look at the buildbot logs to determine the Vivado version used for each build.

[2018-02-08 05:50] sbourdeauducq commented on #917
@mingshenli try updating ARTIQ to 3.4. If the problem persists checks that it installed the OpenOCD version that @jordens recommended.

[2018-02-08 05:59] whitequark commented on #813
Great. Trash my work for no good reason.

[2018-02-08 06:01] sbourdeauducq commented on #813
That's not "trashing" it, as you can see in the commit it is simply commented out. People want to test the SAWG so master has to work, and disabling that core is fast and has currently no user impact.

[2018-02-08 06:02] sbourdeauducq commented on #813
But yes, FPGA development is often frustrating. I know this very well.

[2018-02-08 07:05] whitequark commented on #902
I'm afraid that I will need a packet capture to fix this now, because the fuzzer comes up empty.

[2018-02-08 10:11] jordens commented on #917
Ack

[2018-02-08 12:12] marmeladapk commented on #908
@sbourdeauducq With latest commit (2d4a134) when I compile `python3 -m artiq.gateware.targets.sayma_amc --without-sawg` I still get memory test failed.

[2018-02-08 12:19] sbourdeauducq commented on #908
Still? it always worked for me when using --without-sawg.
Anyway for Ethernet debugging you can use the binaries.

[2018-02-08 12:32] sbourdeauducq commented on #908
And with sawg?

[2018-02-08 12:45] marmeladapk commented on #908
I wanted to insert probes.

Will check now.

[2018-02-08 13:51] sbourdeauducq commented on #908
For debugging RX? The Ethernet core actually doesn't need SDRAM and will continue to receive frames even with a dead CPU system. Or you can try with a super-minimal design that will also have the advantage of reducing the compilation time. Some people don't like me saying that, but Sayma (and Ultrascale) is a trash fire, and the only way to make any progress is to cling to whatever still works...

[2018-02-08 13:51] marmeladapk commented on #908
@sbourdeauducq I still get this error.

[2018-02-08 14:43] sbourdeauducq commented on #908
Those binaries are from ARTIQ 4.0.dev+521.g4c22d64e with the RTM loading gateware commented out. I tested that SDRAM works on the board when flashing them (and then booting from flash).
http://dl.free.fr/mffzh7lVw

[2018-02-08 15:11] whitequark commented on #908
@sbourdeauducq Since this bug is clearly not caused with my gateware based on this failure I'm not going to waste time rewriting this in some other way.

[2018-02-08 15:13] sbourdeauducq commented on #908
Whatever the path of least resistance is. If GPIO bit-banging works around the problem, it's easier than tracking down the original problem which is likely a Vivado bug or something equally obscure.

[2018-02-08 15:22] gkasprow commented on #854
@sbourdeauducq I just realized that FMC-Ethernet board I use works well with 1.8V.
I used it with ZCU102 that has VADJ max 1.8V. I just checked and the PHY DIO is connected directly to the VADJ and the 88E1510 supports such voltage
It is however rated for VADJ=2.5V, but it concerns only onboard 125MHz LVDS [clock generator ](http://ethernetfmc.com/using-the-1-8v-version-with-the-zedboard
zedboard/

[2018-02-08 15:25] gkasprow commented on #854
@sbourdeauducq would it make you more happy ? :)
I'd pack missing RTM plastic panel. How many of them do you need?

[2018-02-08 15:31] gkasprow commented on #854
They provide schematics of these boards:
http://ethernetfmc.com/robust-ethernet-fmc-schematics-rev-c-1/
and also other documentation
http://ethernetfmc.com/documentation/

[2018-02-08 15:32] gkasprow commented on #854
Funny thing, to switch to 1.8V, one resistor must be removed...So I will do it prior shipping.
But it worked well without it:)

[2018-02-08 15:50] hartytp commented on #854
If we're going to give up on getting ethernet working on Sayma v1.0, then shall we revisit the idea of scrapping Sayma AMC as master and using Kasli as master instead? Work done on getting Sayma DRTIO working with Kasli seems like it will be more useful in the long run.

[2018-02-08 15:51] gkasprow commented on #854
Edit:
My board formally works only with 2.5/3.3V signalling.
 To enable it for 1.8V operation, one need to replace 88E1510 with 88E1518 and remove one resistor.
I used it without knowing with ZCU102 with VADJ-1.8V and it worked well. But it was operating out of specification and I'm not sure if this is good idea for Ethernet in Sayma.

[2018-02-08 15:53] sbourdeauducq commented on #854
Let me just order a 1.8V board then.
@hartytp even after the transceiver bug is fixed, Kasli driving Sayma may not be straightforward due to the Artix-7 timing issue at 150MHz.

[2018-02-08 15:55] marmeladapk commented on #908
@sbourdeauducq With your binaries I still get memory test error.

[2018-02-08 16:00] gkasprow commented on #854
I want to make sure that there is really issue with Ethernet PHY. Such FMC-Ethernet would let us verify Sebastien code.
I'm able to receive and transmit RGMII packets with my code that implements IPBUS core and Chipscope.
IPBUS transmits ARP requests and I analyze the out-coming and incoming packets with the chipscope and Wireshark.
It works well with non-opimal clock routing as well.

[2018-02-08 16:20] sbourdeauducq commented on #854
There is an issue with the Ethernet PHY, at least on my boards: the link is not detected, even though the FPGA is sending the 125MHz TX clock (which you verified). Other than that the MiSoC code is pretty much equivalent to the IPBUS code, but with different phases. Maybe the PHY is again in SGMII mode instead of 1000BASE-X, and my media converter cannot handle it but yours can?

[2018-02-08 16:32] gkasprow commented on #854
Do you use the media converter I shipped to you?
And when you dump the config register what is the content of the GMIICR? This is the only register the MMC modifies. It can be also modified using pin straps.

[2018-02-08 16:33] gkasprow commented on #854
The media converter I shipped to you works in 1000base-x mode by default. To switch it to SGMII and enable operation in 10 and 100mbit mode, one needs to set its one of I2C registers.

[2018-02-08 16:36] gkasprow commented on #854
And another strange thing is that with ARTIQ core, the LINK LED is on.

[2018-02-08 16:37] gkasprow commented on #854
btw, did you connect the USB plug to the media converter I sent you? :) Is the LED on on this media converter?

[2018-02-08 16:54] jonaskeller commented on #902
Here you are: [panic_logs_artiq33.zip](https://github.com/m-labs/artiq/files/1707975/panic_logs_artiq33.zip)

This is the packet capture during the panic mentioned above.

Core device IP is `132.163.182.107`, host is `132.163.182.117`

The capture filter `host 132.163.182.107` was used for that one. I also have a capture from today where I added `or broadcast`, but I'm not sure how happy IT would

[2018-02-08 16:56] whitequark commented on #902
I'll need the `or broadcast` capture since the panics are caused by malformed IP packets and those aren't in the core device communication.

[2018-02-08 19:12] gkasprow commented on #854
@sbourdeauducq Today we loaded old design that I used to test the RGMII operation during test session last summer.
And indeed, at that time there was the TX clock conflict, so I managed to send some single packets when clock phases matched. Actually it was auto-matching because two clocks were fighting and once the phases were similar the amplitude of resulting clock was high enough to be interpre

[2018-02-09 01:41] sbourdeauducq commented on #854
You did not send me a media converter - I'm using the 1000base-x converter I was using before, connected to the sata/sfp with a copper sfp cable.

[2018-02-09 01:43] sbourdeauducq commented on #854
I tried I commands already, see my comments above. no effect on the link.

[2018-02-09 07:05] sbourdeauducq opened #919 "Allaki in slots 3 and 4 are not working"
* DAC signal is present at the SMP connectors
* No signal visible at the Allaki SMA connectors
* The problem is on the Sayma side (as can be demonstrated by swapping Allakis)
* Could be a problem with the hardware, or with the RF switch and attenuator programming in gateware/firmware

[2018-02-09 13:43] sbourdeauducq commented on #861
Now we are running with the HMC830 bypassed, and 1.2GHz sent directly to the DAC.
On some board power-cycles the initialization never completes...
[code]

[2018-02-09 13:52] sbourdeauducq commented on #861
And the errors are varied...
[code]
(I'm doing some tests of DAC synchronization, so I have a script that power-cycles and reloads the boards many times, and this hits a lot of bugs...)

[2018-02-09 14:45] gkasprow commented on #861
@sbourdeauducq do you read back the PLL AND DAC chip registers after configuration?

[2018-02-09 14:58] gkasprow commented on #854
I did send you the media cnverter. It was SFP-RJ45 module plugged directly into the SFP socket of the SATA-SFP adapter.

[2018-02-09 15:03] sbourdeauducq commented on #919
You have interesting ideas of what to blame and what to praise. In my book, if Vivado generates a logic low from ``assign allaki3_rfsw1 = 1'd1;`` (which is what Migen generates), it is called a "Vivado bug", not a "Vivado optimization" or an "issue with Migen". What signal was it, exactly?

[2018-02-09 15:08] gkasprow commented on #919
@sbourdeauducq I didn't look where the problem happened. I tested binaries only. Could be either migen or Vivado. That's true, my statement was not precise :) In vivado you can have mixture of settings that treat differently such statements so it may not be a bug.
I described the issue [:](https://github.com/m-labs/sinara/issues/216#issuecomment-337828220)

[2018-02-09 15:19] sbourdeauducq commented on #919
Where?
Anyway all the statements generated by Migen to set outputs to fixed levels are the same, and they are compiled with the same Vivado options.

[2018-02-09 17:19] gkasprow commented on #919
I didn't play with them, my colleague (@wzab) told me that one had similar case in the past. And it was some option to  change behaviour. But anyway, there is certainly an issue with this Artix chip, at least with one of the pins. To check it, route the pins that you want to bind to vcc/gnd to the register and write the value you want to have. This solved an issue in my case.

[2018-02-09 17:33] whitequark commented on #902
I've looked at your packet capture. This is very weird; I was not able to crash smoltcp locally. I will add an option to ARTIQ to print a packet trace.

[2018-02-10 06:19] sbourdeauducq commented on #911
@hartytp You also encountered this problem, did you resolve it with a correct recursive clone?

[2018-02-10 12:15] sbourdeauducq commented on #854
I cannot find it; but I just tried with another RJ45 transceiver that I had planned to use for Kasli, and I got a link. I can only hope that the Sayma Ethernet PHY will behave when connected to the AMC switch in the µTCA crate, and there won't be another round of Ethernet yak shaving ...

[2018-02-10 12:51] gkasprow commented on #854
I have one external media converter that does not work with this PHY. So I
used this SFP module. This needs further investigation. I observed gigabit
signals with 5GHz probe and were OK borh rx and tx. This could be someting
wrong with PAUSE setting because we had similar issue with Kintex GTH
transceivers

[2018-02-10 13:24] sbourdeauducq commented on #854
Interestingly, my external media converter did find a link all the time when the PHY was outputting a TX clock. It also finds it during a few seconds after power-up with the current firmware, and then it goes down.

[2018-02-10 18:22] gkasprow commented on #854
Well, I'm sure I did test last summer using external media converter ([TPLIK)](http://www.tp-link.com/us/products/details/cat-43_MC220L.html#overview). But later on I had to use SFP-RJ45 module because original one did not work. I thought that it was simply broken.
Moreover, when I connect a setup : Computer -> CAT5 cable > Ext media converter -> SFP to RJ45 -> CAT5 cable -> SFP to RJ45 -> SFP to

[2018-02-10 18:46] gkasprow commented on #854
_Interesting..
It looks like the external media converter does not finish pause negotiaiton
By default, an internal watchdog timer monitors the auto-negotiation process. If the link is not up within 5 seconds after auto-negotiation was started, the watchdog timer restarts the auto-negotiation. This watchdog timer can be disabled by setting PCSCR.WD_DIS=1._

[2018-02-10 18:49] gkasprow commented on #854
I will play with pause parameter. One need to modify PS field of AN_ADV register. Now there is no pause enabled.

[2018-02-11 06:01] mingshenli opened #920 "Error: 'device_db.py'can not be found"
with artiq3.5,run`artiq_compile idle.py` ,
 I can find  'device_db.py'   in
 C:\ProgramData\Anaconda3\envs\artiq-3.5\Lib\site-packages\artiq\master,
and I move it to
 C:\ProgramData\Anaconda3\pkgs\python-3.6.3-h9e2ca53_1\Lib\idlelib
![m-lab20180211135142](https://user-images.githubusercontent.com/35680445/36070282-8a4402e0-0f32-11e8-9f44-4d11623b198b.png)
but
![m-labqq 20180211-3](https://user-ima

[2018-02-11 06:34] sbourdeauducq commented on #920
Those programs look for ``device_db.py`` in the current directory by default. Use the ``cd`` command to go to ``C:\ProgramData\Anaconda3\pkgs\python-3.6.3-h9e2ca53_1\Lib\idlelib`` (though you may want to put those in a more appropriate folder)

[2018-02-11 10:58] mingshenli commented on #920
the `device_db.py` has been copy to the folder where `idle.py` in(the first picture), from `C:\ProgramData\Anaconda3\envs\artiq-3.5\Lib\site-packages\artiq\master,`

[2018-02-11 10:59] sbourdeauducq commented on #920
https://en.wikipedia.org/wiki/Working_directory

[2018-02-11 11:00] sbourdeauducq commented on #920
Your current directory is ``c:\windows\system32``. It is looking for ``c:\windows\system32\device_db.py``, which doesn't exist.

[2018-02-11 11:02] mingshenli commented on #920
can moving the `device_db.py` to `c:\windows\system32\device_db.py` solve the problem?

[2018-02-11 11:03] sbourdeauducq commented on #920
``c:\windows\system32`` is not meant to hold the ARTIQ device database, use the ``cd`` command to change the current directory instead.

[2018-02-11 11:04] mingshenli commented on #920
ok, I will try it. thanks.

[2018-02-13 05:04] #920 closed

[2018-02-13 10:25] hartytp commented on #854
@sbourdeauducq does that mean that you have a configuration for Sayma ethernet that works now?

[2018-02-13 13:52] jordens commented on #911
AFAICT this is a hidden dependency of cargo on libcurl. See the output.

[2018-02-14 11:22] hartytp commented on #911
This is currently working fine for me.
- Cloned the latest ARTIQ using `git clone --recursive https://github.com/m-labs/artiq ~/scratch/artiq-sayma/artiq`
- `cd scratch/artiq-sayma/artiq`
- `conda env create -f conda/artiq-dev.yaml --name artiq-sayma`
- `. activate artiq-sayma`
- `conda uninstall jesd204b --force`
- `git clone --recursive https://github.com/m-labs/jesd204b ~/scratch/jesd204b`
- `e

[2018-02-14 12:25] hartytp commented on #911
PS like the new diagnostics in artiq_flash.

[2018-02-14 12:44] #911 closed

[2018-02-14 12:49] hartytp commented on #908
@sbourdeauducq Was going to have a look at synchronisation. Built the binaries with the latest ARTIQ, but still see

 __  __ _ ____         ____
|  \/  (_) ___|  ___  / ___|
| |\/| | \___ \ / _ \| |
| |  | | |___) | (_) | |___
|_|  |_|_|____/ \___/ \____|

MiSoC Bootloader
Copyright (c) 2017 M-Labs Limited

Bootloader CRC passed
Initializing SDRAM...
Write leveling: 25 62 57 74 52 61 14 26 done
Re

[2018-02-14 14:19] sbourdeauducq commented on #908
I don't have a solution for this nor the SDRAM problem. Among its many flaws, Vivado regularly spits out loads of spurious warnings, including when compiling Xilinx's own cores. The problem is not specific to Vivado; ISE and Altera/Intel Quartus also suffer from it.

Without SAWG, you still have JESD204, but only generating ramps.

[2018-02-14 14:24] sbourdeauducq commented on #908
Are the software-programmed delays the same for the same board when the SDRAM works and when it does not?

[2018-02-14 14:33] hartytp commented on #908
See my posts above.

With SAWG:
- Read delays: 7:00-113 6:00-112 5:20-39 4:27-43 3:59-76 2:46-62 1:86-103 0:96-112 done

Without SAWG:
- Read delays: 7:00-164 6:04-175 5:49-216 4:61-229 3:98-244 2:97-250 1:122-273 0:125-278 done

So, no, not the same.

Okay, will look at that next

[2018-02-14 15:13] hartytp commented on #908
Rebuilt the gateware *with* SAWG and rebooted a few times looking at the read delays...

`Read delays: 7:00-71 6:00-78 5:01-32 4:05-22 3:31-47 2:31-51 1:48-64 0:59-80 done`
`Read delays: 7:00-70 6:00-84 5:04-20 4:11-43 3:29-45 2:35-51 1:47-67 0:64-83 done`
`Read delays: 7:00-73 6:00-76 5:04-20 4:06-23 3:24-41 2:33-51 1:40-56 0:50-67 done`
`Read delays: 7:00-52 6:00-66 5:04-20 4:04-20 3:30-48 2:33-

[2018-02-14 15:19] sbourdeauducq commented on #908
The "write leveling" figures are also delays, and we don't know if it's the reads or writes that are failing.

[2018-02-14 15:51] whitequark commented on #911
No, libunwind is not written in Rust.

[2018-02-14 15:57] hartytp commented on #908
Updated.

Worth adding some more diagnostic info?

[2018-02-14 16:10] jbqubit commented on #910
If you've positively identified a bug that is remedied by using a particular version of Vivado, users need to know about it. Else we encounter the same bug, right? @hartytp, @dhslichter

[2018-02-14 16:34] hartytp commented on #910
This one I'm not too fussed about. The problem with documenting this kind of thing is that the docs can easily go stale and do more harm than good. I'm pretty happy bugging people on IRC for this kind of thing.

[2018-02-14 16:37] hartytp commented on #908
And, for comparison, rebuilt *without* SAWG and saw(g):

`Write leveling: 40 80 73 86 66 75 31 41 done`
`Read delays: 7:00-150 6:02-168 5:45-210 4:57-225 3:91-237 2:86-242 1:112-262 0:119-270 done`

The previous time I built it (posted above) I got:

`Write leveling: 42 81 77 89 71 78 35 45 done`
`Read delays: 7:00-164 6:04-175 5:49-216 4:61-229 3:98-244 2:97-250 1:122-273 0:125-278 `

Not sure if