[2018-02-14 16:39] hartytp commented on #908
So, does seem to be a reasonable difference between the two.

[2018-02-14 16:40] dhslichter commented on #910
I think it would be sufficient for the documentation to point out that one should look at the buildbot logs to find out information about things like vivado versions, etc.  I agree with @hartytp that this sort of thing goes stale in a hurry.

[2018-02-14 16:45] jordens commented on #911
It's still a bug. Maybe not the underlying one here.

[2018-02-14 16:51] jbqubit commented on #910
OK. Let's include a link in the documentation to the right [build bot](http://buildbot.m-labs.hk/builders/artiq-board). And instructions to choose a recent build and examine ```stdio``` for ```conda_build build artiq-kc705-nist_clock ```. The Vivado version used by M-Labs is reported as

[code]

[2018-02-14 19:21] jbqubit opened #921 "serial over IP for Sayma"
@whitequark How does IP over serial sound as a near-term approach to interactive operation of Sayma? This was formerly done via PPP. Assume no support for Windows machines.

[2018-02-14 21:19] whitequark commented on #921
@jbqubit There's no problem with that at all, it just needs a small adjustment to smoltcp so that it supports other physical layers other than Ethernet. I would prefer to use either SLIP or a custom protocol on the host side. Windows is also doable using [these](https://community.openvpn.net/openvpn/wiki/ManagingWindowsTAPDrivers) drivers, if you want it.

[2018-02-14 22:04] jbqubit commented on #908
It's challenging to build a memory controller using Xilinx tools. Xilinx's own DDR3 core has a long list of bug (and fixes).  https://www.xilinx.com/support/answers/69036.html

One route that may resolve this Issue is to let Xilinx handle these sort of subtitles. @sbourdeauducq Have you tried using the Xilinx DDR3 IP? https://www.xilinx.com/products/intellectual-property/ddr3.html

[2018-02-14 23:23] whitequark commented on #902
Can you please:
  * flash the firmware built from the `release-3` branch;
  * run `artiq_coreconfig write -s net_trace 1`
  * run `artiq_coreboot reboot`
  * wait for the offending packet
  * send me the pcap together with the core log
I can't seem to be able to reproduce the crash using tcpreplay for reasons I don't understand, so I need to know which exact packet causes it.

[2018-02-14 23:43] jbqubit commented on #921
The aim is to get an interactive session working over USB between a Linux ARTIQ Master and Sayma as core device. Even if Ethernet is squared away it will be helpful to test Sayma and SAWG without the struggle of applying white wire patches to a bunch of v1 boards.

SLIP is well supported by Linux. No need for something custom or Windows support.

[2018-02-14 23:53] jbqubit commented on #919
Is this reproducible in a stand alone bit of VHDL? Does @gkasprow approach work?

[2018-02-14 23:56] jbqubit commented on #861
Are you driving single-ended or differential (using 180-deg RF splitter)?

[2018-02-15 00:09] hartytp commented on #861
I drove it single-ended (soldered a 50R resistor across one SMP). At >=1GHz anything between +0dBm and +10dBm is fine (IIRC, those chips can take up to 2Vpp single ended).

[2018-02-15 00:14] jbqubit commented on #854
@sbourdeauducq Did you try ping tests?

[2018-02-15 01:48] whitequark commented on #902
The build is done now.

[2018-02-15 03:01] sbourdeauducq commented on #908
Yes. I even went one step further and turned off the DDR3 completely: problem solved!

[2018-02-15 04:28] sbourdeauducq commented on #861
Single-ended, see the email I sent to the list.

[2018-02-15 07:56] enjoy-digital commented on #908
I need to have a closer look at that. I'll try to look at that this evening.

[2018-02-15 08:58] hartytp commented on #908
The read/write delays should be the same for both gateware versions, right (w/wo SAWG)? As a temporary hack, would it make sense to just hard code the numbers to the values found without the SAWG?

[2018-02-15 09:00] sbourdeauducq commented on #908
In theory, yes.

Can try, but it's a shot in the dark - the root cause is not necessarily a failure of the timing calibration program (I think it's even unlikely to be the problem).

[2018-02-15 09:00] hartytp commented on #908
Okay.

[2018-02-15 10:35] sbourdeauducq commented on #902
Try this MiSoC patch:
[code]

[2018-02-15 11:26] sbourdeauducq commented on #856
@enjoy-digital Sometimes when the RTM FPGA is not loaded, it prints:
[code]
and sometimes it just waits for it to be loaded. Why is that?

[2018-02-16 06:09] sbourdeauducq commented on #902
@enjoy-digital Does this patch look good?

[2018-02-16 08:55] enjoy-digital commented on #902
@sbourdeauducq: we added some features to drop packets and code seems indeed inconsistent.

In your case, you are missing the case where the packet exceeds the mtu and we just want to discard the remaining.

This should be better:
[code]

[2018-02-16 13:49] sbourdeauducq commented on #902
Yes, my code completely discards oversized packets on purpose. If you truncate them, they will fail FCS and get discarded later - why do you want to keep this behavior?

[2018-02-16 23:24] whitequark commented on #902
@jonaskeller via e-mail:

This identifies the bug as gateware bug with virtual certainty; every IP packet undergoes the same processing regardless of the net_trace option, and increasing load on the core device triggering the race condition more often is exactly what I would expect.

[2018-02-17 01:52] jonaskeller commented on #902
Just out of curiosity: Does that still mean that it takes a corrupted packet to trigger it? And if so, have you been able to reproduce it with the latest capture / found a culprit?

As for your suggestion to check whether it persists in 4.0.dev: conda refuses to install anything beyond `4.0.dev-py_206+git70130847` because it can't satisfy the `openocd 0.10.0 4` dependence. Is it worth trying with

[2018-02-17 02:06] whitequark commented on #902
There are no corrupted packets in your logs as far as I can tell. It looks like the bug where smoltcp could be crashed by a corrupted packet was completely independent and you never triggered it; it was pure chance that the code path triggering that bug and the backtrace you've collected intersected. At least, that's my current understanding, I may still be wrong.

[2018-02-17 02:07] whitequark commented on #902
No, you need the very last commit on master.

[2018-02-17 02:51] jonaskeller commented on #902
So what's the quickest way to fulfill the openocd version requirement? I.e. do I need to build it myself or is there a way around that?

[2018-02-17 03:07] whitequark commented on #902
I'm actually not sure why you're hitting that error--are you flashing on Windows perchance?

[2018-02-17 03:27] jonaskeller commented on #902
Yes, it's on windows (not my choice...). Looks to me like the win64 and linux64 packages for openocd are the same version in the conda repository, though.
Still, if moving to linux fixes the problem, I'll go find a linux machine next week and retry.

[2018-02-17 06:10] sbourdeauducq commented on #902
Try it on windows again with the latest artiq (07a31f8d or newer) - I just fixed some openocd conda issues.

[2018-02-17 08:23] hartytp commented on #908
@sbourdeauducq what's the plan for this? I'm itching to try Sayma with the SAWG and AFAICT this is currently the only thing stopping me.

[2018-02-17 08:26] sbourdeauducq commented on #908
I don't know what is going on.
Did you try those binaries on your board? They work on mine:
https://github.com/m-labs/artiq/issues/908#issuecomment-364132304
Maybe try with the other DDR bank (the 32-bit one) or try using fewer bits on the main one.

[2018-02-17 08:31] sbourdeauducq commented on #908
It could be this: https://github.com/m-labs/misoc/issues/75

[2018-02-17 08:35] enjoy-digital commented on #908
@hartytp, @sbourdeauducq: i still need to have a look. You can do what @sbourdeauducq is suggesting.
I'm also wondering if we don't have a problem on write_leveling. I remembered during my tests that commenting write_leveling was making things work, you can eventually give a try until i have a look at that: https://github.com/m-labs/artiq/blob/7429ee4fb63316b05da07407d6802670ebdb80fd/artiq/firmwar

[2018-02-17 08:38] sbourdeauducq commented on #908
We do seem to have problem with IOSERDES clocking though, which produces the warning and the error in the timing report, and seems to be a plausible explanation for those symptoms. I don't understand why, though: CLK is sys4x and CLKDIV is sys, which are generated by the same PLL and without phase offset. Or am I missing something?

[2018-02-17 08:53] enjoy-digital commented on #908
@sbourdeauducq: I think Vivado generates this warning since we are applying a constraint on clocks at the output of the PLL. Vivado is then no longer propagating constraints from the input of the PLL to the outputs (ie that sys4x and sys are generated from the same PLL) and generates this warning.

[2018-02-17 09:25] hartytp commented on #908
Not yet, but happy to do that next week. Remind me what the difference between them and the ones I'm generating from the latest ARTIQ commit is?

Still, I'd rather not get into a situation where I'm reliant on asking for magic binaries to be able to do anything.

Do you have a patch to do that? I'm not up to speed on that part of the code.

In any case, we should try to get both banks working full

[2018-02-17 09:26] sbourdeauducq commented on #908
Confirmed that this is the source of the warning. Thanks.
https://github.com/m-labs/misoc/commit/d1489edfb8ebba57320fae9157c44aa0e1c1b783
There is a similar issue with serwb.

[2018-02-17 09:32] enjoy-digital commented on #908
@hartytp: if you want to use the 32 bits sdram, use `sdram="ddram_32"` here:
https://github.com/m-labs/misoc/blob/master/misoc/targets/sayma_amc.py#L119

[2018-02-17 10:00] hartytp commented on #908
@enjoy-digital thanks, I'll try that next week. I'd still like to see a proper fix of this at some point though.

[2018-02-17 10:02] hartytp commented on #908
Can we now program the RTM FPGA from the AMC via artiq_flash?

[2018-02-17 10:03] sbourdeauducq commented on #908
No, and this is unrelated to the SDRAM.

[2018-02-17 10:34] hartytp commented on #908
Sorry, this isn't the right place to ask about this.

Right. Anyway, I'd lost track of how far you'd got on RTM programming, and wasn't sure how much that core did.

[2018-02-17 10:59] sbourdeauducq commented on #908
For what it's worth, SDRAM is now working on the HKG board with SAWG, using the current ARTIQ master (41adbef9) which includes the RTM loading core and the clock constraint fix in MiSoC. It used not to work with recent gateware when the SAWG and the loading core were both present. But since this is so random, we cannot conclude yet that the clock constraint fix solved it.

[2018-02-17 11:04] sbourdeauducq commented on #908
And, on the other hand, serwb is now broken. Again this doesn't make any sense, since Vivado is deriving itself the constraints I removed:
[code]

[2018-02-17 11:36] sbourdeauducq commented on #908
....but it works with SAWG disabled. Looks like a very similar issue to the one crippling the SDRAM.

[2018-02-17 11:47] sbourdeauducq commented on #908
Two things:
* The timing report (with and without SAWG) says "Timing constraints are not met." and gives a count of "TPWS Failing Endpoints" which are on ``standalone_pll_sys4x``.
[Timing report without SAWG](https://github.com/m-labs/artiq/files/1733621/top_timing.zip)
* We are not clocking the IOSERDES as recommended. See: https://www.xilinx.com/support/answers/67885.html

[2018-02-17 12:17] jordens commented on #908
And the Pulse width check errors are on  Max Skew of OSERDESE3/CLK  wrt OSERDESE3/CLKDIV.

[2018-02-17 13:55] hartytp commented on #908
Thanks for digging into this. If you have a go at fixing the IOSERDES clocking, I'm happy to see if this resolves the issues on my board.

[2018-02-18 04:37] sbourdeauducq commented on #908
Done. Everything seems to be working now, both with and without SAWG. Please test on your boards.
While reviewing clocking, I found several issues with serwb (see IRC log) that will have to be addressed as well.

[2018-02-18 09:24] hartytp commented on #908
Thanks! Will test on Monday.

[2018-02-18 14:27] hartytp commented on #908
@enjoy-digital Not sure what your current priorities are, but it would really help me if you could prioritise fixing the serwb issues that @sbourdeauducq highlighted this week.

[2018-02-18 20:05] hartytp commented on #854
@sbourdeauducq ping. It would be good to know if there is any configuration for Sayma ethernet that actually works with ARTIQ at the moment.

[2018-02-18 20:07] hartytp commented on #854
@gkasprow @marmeladapk Can you make this the absolute top priority for this week, please? Ethernet and a small number of other issues have stopped us from getting Sayma working for way too long now, and I'd love to see them resolved so I can start testing Sayma properly!

[2018-02-19 08:46] sbourdeauducq commented on #908
Only on Florent's board. On Sayma-3, with the same binaries (and SAWG disabled), the SDRAM is still broken.

[2018-02-19 10:16] hartytp commented on #908
:( any idea why?

[2018-02-19 10:38] hartytp commented on #908
@sbourdeauducq did you see anything else suspicious in the timing report? Particularly, anything connected with the SDRAM?

[2018-02-19 12:08] sbourdeauducq commented on #854
I gave it another try today, managed to ping the board with low packet loss rate after tuning the TX clock phase, but could not reproduce it after reloading bitstreams.

[2018-02-19 12:46] hartytp commented on #908
hmmm....

The critical warnings are now gone from the compilation, but I still see:

` __  __ _ ____         ____`
`|  \/  (_) ___|  ___  / ___|`
`| |\/| | \___ \ / _ \| |   `
`| |  | | |___) | (_) | |___ `
`|_|  |_|_|____/ \___/ \____|`
``
`MiSoC Bootloader`
`Copyright (c) 2017 M-Labs Limited`
``
`Bootloader CRC passed`
`Initializing SDRAM...`
`Write leveling: 28 65 62 74 51 59 20 25 done`
`Read

[2018-02-19 12:47] hartytp commented on #908
Any suggestions for next moves?

[2018-02-19 13:05] enjoy-digital commented on #908
hartytp: can you try that? https://github.com/m-labs/artiq/issues/908#issuecomment-366426623 (I just want to know if issue could be related to write leveling)

[2018-02-19 13:36] sbourdeauducq commented on #908
I don't see anything suspicious in the log or timing report.

[2018-02-19 13:52] hartytp commented on #908
@enjoy-digital Will report back when that builds. Without the write leveling, do you expect the SDRAM to work at all (except by chance)?

@sbourdeauducq Any other ideas?

[2018-02-19 14:20] enjoy-digital commented on #908
@hartytp: BTW for the test i'm asking, you just need to rebuild and flash the bootloader. I already had a case where disabling write_leveling was making things working. If this test make things working, then we could suspect something ont the write leveling sequence. If not, then we cannot say anything.

[2018-02-19 15:23] marmeladapk commented on #908
Without SAWG:
[code]
With SAWG, but I only flashed gateware:
[code]

When I used artiq_flash:
[code]

[2018-02-19 15:30] hartytp commented on #908
@enjoy-digital:

` __  __ _ ____         ____ `
`|  \/  (_) ___|  ___  / ___|`
`| |\/| | \___ \ / _ \| |    `
`| |  | | |___) | (_) | |___ `
`|_|  |_|_|____/ \___/ \____|`
``
`MiSoC Bootloader`
`Copyright (c) 2017 M-Labs Limited`
``
`Bootloader CRC passed`
`Initializing SDRAM...`
`Write leveling: 46 85 81 94 70 79 35 42 done`
`Read delays: 7:00-168 6:07-180 5:51-224 4:63-239 3:100-258 2:100-266 1:

[2018-02-19 15:31] hartytp commented on #908
That's with SAWG, and with write leveling commented out. Seems to freeze there.

[2018-02-19 15:37] hartytp commented on #908
Hmmm...Normally, I've run `artiq_flash ... start` and then promptly run the openocd script to load the RTM gateware. That used to work fine. Now, I seem to have to run the openocd script after misoc boots or it prints `[     0.028266s]  INFO(board_artiq::serwb): waiting for AMC/RTM serwb bridge to be ready...` once and hangs there. After running the openocd script, it gets to "continuing to boot"

[2018-02-19 15:43] enjoy-digital commented on #908
hartytp: not sure that's without write_leveling since there is the write_leveling prompt.

[2018-02-19 16:05] hartytp commented on #908
@enjoy-digital apologies, forgot to save changes. Hmmm...that was rebuilding with exactly the same code as this morning, but gave different results (no memory errors, but now freezes later on during boot).

[2018-02-19 16:10] hartytp commented on #908
[code]

[2018-02-19 16:15] sbourdeauducq commented on #908
1.8V bug?

[2018-02-19 16:16] hartytp commented on #908
Not sure if it's connected, but when I was playing around with the HMC830 I found that Sayma was prone to crashing. IIRC, I was checking to see if some part of the HMC830 startup process needed some time (e.g. after the power on reset) so I was adding delays followed by register dumps at various points in the initialization sequence. Some things I did would cause it to crash (although I didn't hav

[2018-02-19 16:18] hartytp commented on #908
Sadly, all power LEDs on Sayma AMC + RTM look green and happy. Specifically, the 1V8 LED on Sayma AMC is on (I've never seen it go off while the board is powered).

[2018-02-19 16:19] hartytp commented on #908
It does still respond to ``artiq_flash ... start``

[2018-02-19 16:19] sbourdeauducq commented on #908
And how much noise do you have on the 1.8V rail? IME, I had more unexplained crashes before I added the capacitor on the 1.8V rail. Though unreliable SDRAM could cause those as well.

[2018-02-19 16:21] hartytp commented on #908
hmmm... just ran ```artiq_flash ... start``` a few times and saw:

[code]

[2018-02-19 16:27] hartytp commented on #908
haven't stuck a scope on it, but a DVM shows 1.80V on it. I don't think that's the problem here.

But, I do agree that having issues like the 1V8 bug on Sayma does add one more variable to the equation and makes it harder to track down other bugs. @gkasprow @marmeladapk now this shows up on your board as well, please can you try to fix this, as it's been causing issues for months now!

[2018-02-19 16:36] hartytp commented on #908
hmmmm...running ``artiq_flash ... start`` a few times, I'm getting mainly memory errors, but sometimes I'm getting to "continuing to boot" before it crashes.

...sigh...

[2018-02-19 16:37] hartytp commented on #908
Well, let me know if there is anything else you can think of for me to try.

[2018-02-20 00:24] whitequark commented on #908
The boot messages are displayed by the `read_bitslip` and `read_delays` functions. Memory check likely fails because write leveling exists for a reason.

[2018-02-20 08:01] sbourdeauducq commented on #902
@jonaskeller How are things (flashing and panic) with a recent artiq-4 package from master? If everything works I'll backport the changes to release-3 and make a new release.

[2018-02-20 10:00] hartytp commented on #908
@enjoy-digital did you have a chance to fix the timing issues with serwb that @sbourdeauducq mentioned? I know that these are unlikely to be the cause of the SDRAM issues, but it's probably a good idea to mop up all the known issues as a starting point to fixing this.

@sbourdeauducq any ideas about how to move forward with this issue? It seems unlikely that this could be related to any known hard

[2018-02-20 10:06] gkasprow commented on #854
I'm back from holidays in Israel. It's cool place for a car trip.
I still did not get the board @sbourdeauducq sent to Poland.
What do you mean by

You cannot reproduce the errors or to ping the board?
I will update new MMC code with PHY configuration that enables PAUSE negotiation so should be able to talk with various media converters including MTCA Ethernet swith

[2018-02-20 10:06] sbourdeauducq commented on #854
Could not reproduce the board ping.

[2018-02-20 10:08] gkasprow commented on #854
so what shall I do to reproduce this issue?
Load the bitstream, ping and load it again? Any details?

[2018-02-20 10:11] sbourdeauducq commented on #854
As explained before: RX phase tuning and get RX to work, then TX phase tuning.
But since this TX bug is so obstinate, I'm going to put together better yak-shaving tools:
* simple traffic generator for Sayma entirely in gateware (sends the same packet every second)
* low-level sniffer for KC705 that can dump packets with broken preamble, FCS, etc.

[2018-02-20 10:16] sbourdeauducq commented on #854
If that doesn't suffice, we can also connect the Sayma to a Kasli and use my Ethernet PHY to look at the 1000BASE-X level directly.

[2018-02-20 10:35] gkasprow commented on #854
So do you still experience LINK issue? Does the LINK disappear once you reload the firmware?

[2018-02-20 10:36] gkasprow commented on #854
How can we fix the TX bug in future PCB revision? It does not need any dedicated FPGA pin..

[2018-02-20 10:37] sbourdeauducq commented on #854
As I mentioned earlier, the link became stable when I swapped the external media converter with a RJ45 SFP.
At the moment I do not understand the TX bug and I cannot tell if this is a hardware, gateware or MMC problem.

[2018-02-20 10:42] gkasprow commented on #854
OK, so first I will fix the PAUSE issue to make it working with other media converters. If you want me to look at the PHY signals I can do that - I have low capacitance (<1pf, 1.5GHz) active probes and can observe 4 signals at a time or 8 using 2 scopes.

[2018-02-20 13:16] enjoy-digital commented on #908
I'd like to see if it's an issue with the read leveling algorithm or something else, but i'm not able to reproduce the issue on the HK boards. Can someone that is able to reproduce the issue apply this patch: https://hastebin.com/akoketutut.swift, rebuild the bootloader (use --no-compile-gateware), re-flash the bootloader (artiq_flash ... bootloader) and post the results? Thanks.

@hartytp: we see

[2018-02-20 14:55] marmeladapk commented on #908
[code]

[2018-02-20 15:08] hartytp commented on #908
Do you want me to try increasing the initial SDRAM delay from 16 to 24? (Here https://github.com/m-labs/artiq/blob/f060d6e1b337b75f65590337063f1a7d00109a23/artiq/firmware/libboard/sdram.rs#L210 IIRC).

[2018-02-20 15:58] enjoy-digital commented on #908
@marmeladapk : thanks, can you also send the results from the unpatched bootloader?
@hartytp: yes you can increase if, if you can also send the results for the unpatched/patched bootloader that could help figuring if we need to increase these values.

[2018-02-20 16:01] hartytp commented on #908
To be clear, you want me to do the following:
- Increase the initial delay to, say, 32. Reflash the board and post the UART output
- Apply your patch, keeping the initial delay at 32, reflash the board and post the result?

[2018-02-20 16:07] marmeladapk commented on #908
@enjoy-digital

Ok, WTH?!

[code]
[code]

I'm baffled...

[2018-02-20 16:15] enjoy-digital commented on #908
@hartytp: yes that's what i want, please also use write_leveling. (you can also test with deadzone of 16, 32 and then the patched version).

[2018-02-20 16:37] hartytp commented on #908
@enjoy-digital Okay, will do this test in the am.

[2018-02-20 17:01] marmeladapk commented on #908
@enjoy-digital With your patch memory test failed again. Without it test passed.

[2018-02-20 17:02] enjoy-digital commented on #908
@marmeladapk: the patch is not expected to pass, it's just have to be used on board that are failing to investigate.

[2018-02-20 17:51] marmeladapk commented on #908
@enjoy-digital Our board was failing, that's why I was posting.

[2018-02-20 18:36] jonaskeller commented on #902
Conda still defaults to `4.0.dev-py_206+git70130847` for the `artiq-kc705-nist_qc2` package. If I try to force either `py_553+git07a31f8d` or `py_582+gitf060d6e1`, it complains about not being able to fulfill the `openocd 0.10.0 4` dependency.

[2018-02-20 21:31] marmeladapk commented on #908
@enjoy-digital With SAWG:
[code]
Do you want me change values as @hartytp does with SAWG enabled?

[2018-02-21 03:09] sbourdeauducq opened #923 "autogenerate board conda recipes"
There is a lot of redundancy in the board conda recipes and this will only get worse as more boards/variants are added.

It woud be better to have one database file with entries containing only:
* package name
* package description
* target file and variant
* master/satellite (as the firmware is named differently)

Or the package building program could look into the target files to get this inform

[2018-02-21 03:42] sbourdeauducq commented on #902
Sorry, I had missed the openocd 4 dependency in one place. Does it work with the lastest master now?

[2018-02-21 04:12] sbourdeauducq commented on #923
Or maybe this: https://conda.io/docs/user-guide/tasks/build-packages/variants.html

[2018-02-21 05:10] sbourdeauducq commented on #923
And Sayma (with the RTM) will need special treatment.

[2018-02-21 07:40] enjoy-digital commented on #908
@marmeladapk: for a case that is failing like the last you posted, i also need the results with the patched bootloader. For example i see in your results that you have small delays intervals on module 4 and 1 and would like to see each tap results for them.

[2018-02-21 09:11] marmeladapk commented on #908
@enjoy-digital
[code]

[2018-02-21 09:18] sbourdeauducq commented on #908
Noisy IOs and/or non-monotonic delays? Needs some low-pass filtering of the working zones?

[2018-02-21 09:26] whitequark commented on #918
fixed

[2018-02-21 09:26] #918 closed

[2018-02-21 09:54] jordens commented on #923
Conda variants won't do the trick AFACT since they are mutually exclusive in an environment.

[2018-02-21 10:03] enjoy-digital commented on #908
@marmeladapk: thanks that's interesting. Can you send me your bistream, i'd like to see if it's also failing on the HK's boards. If so i'll be able to try to improve the read-leveling algorithm and do tests.
@sbourdeauducq: yes can try to do multiple tests for each point to determine if working or not.

[2018-02-21 10:04] hartytp commented on #908
Or, check the n-nearest neighbours of each point, and discard passing points whose near neighbours are failing?

[2018-02-21 10:09] enjoy-digital commented on #908
hartytp: yes, we can also do both.

[2018-02-21 10:10] marmeladapk commented on #908
@enjoy-digital
[top.zip](https://github.com/m-labs/artiq/files/1743578/top.zip)

[2018-02-21 10:49] jordens opened #924 "compiler ignores unexpected keyword arguments"
This runs just fine.

[code]

[2018-02-21 11:28] whitequark commented on #924
Nope, this only happens for extraneous *keyword* arguments.

[2018-02-21 11:29] jordens commented on #908
I would not invest too much time into workarounds using the algorithm but look at the hardware. Non-monotonic delays look unlikely (The jumps are as large as a a quarter of the entire range). Noisy signals and power supplies would be my suspects. Those won't be resolved by the algorithm.

[2018-02-21 11:31] jordens commented on #924
What's with the "Nope"? Are keyword arguments not also arguments?

[2018-02-21 11:32] whitequark commented on #924
Well, the compiler clearly doesn't ignore *all* unexpected arguments, that's all.

[2018-02-21 11:37] #924 closed

[2018-02-21 11:57] sbourdeauducq commented on #908
Unless I'm misunderstanding something, it seems to me that there are sizable islands of stability: having an algorithm that can hit them despite the noise doesn't sound very complicated, and would allow us to move forward while the problem gets properly resolved. To help with that, maybe the diagnostics above can be printed at all times when running on Sayma. Getting the hippo to dance isn't reall

[2018-02-21 12:07] jordens commented on #908
I guess I am looking at properly feeding the hippo before bothering with the dancing ;)
Yes. There are islands and the algorithm should do a good job of finding them. But since those are fundamentally "single shot eye scans", then there is little hope to get to get to sufficiently low bit error rates. And the eye scan sometimes [looks just fine](https://github.com/m-labs/artiq/issues/908#issuecomm

[2018-02-21 12:10] hartytp commented on #908
I agree, seems likely that there is a SI/PI/grounding issue that's hit when the FPGA load is high (which wouldn't have been spotted in the initial tests that @gkasprow did before shipping Sayma).

@gkasprow @marmeladapk can you look at one of the failing boards with a fast scope and see how the eyes/power supplies/etc look?

In the meantime, if we can make a small tweak to the leveling algorithm (

[2018-02-21 12:11] gkasprow commented on #854
I'm trying to recreate the issue but with other media converter the LINK is on all the time.
What media converter model you use @sbourdeauducq  ?

[2018-02-21 12:12] hartytp commented on #908
@enjoy-digital I assume you have all the data you need on this thanks to @marmeladapk, but let me know if you want me to do anything else (I'm back on this now).

[2018-02-21 13:31] enjoy-digital commented on #908
@hartytp: yes i've been able to reproduce the issue on one of the HK boards (sayma1) with bistream from @marmeladapk.

Doing multiple iterations of the read test improves the eyescan and allows the algorithm to find the right delays. It's implemented here: https://github.com/m-labs/artiq/commit/afc16a67b6d7d729fe315d1fb4c3216549f2004c . On Sayma1 it solves the issue. Since eyescan was also dirty o

[2018-02-21 13:40] whitequark commented on #883
I don't think this has anything to do with async RPCs. Even wrapping the offending line in `try`/`except` silences the bug (that is otherwise moderately easy to reproduce, it usually surfaces within ten iterations if running the test in a loop). Any attempts to observe t1/t2 also hide the bug. This seems to point to a miscompilation of some sort.

[2018-02-21 14:06] whitequark commented on #883
A very interesting question is why `test_device_to_host` sometimes fails but `test_host_to_device` never does...

[2018-02-21 14:16] whitequark commented on #883
On second look, this does have *something* to do with async RPCs, but not at all clear what. The following experiment reproduces the crash, often at the first iteration:
[code]
... but the values look all sane:
[code]

[2018-02-21 14:34] jordens opened #925 "integer inference issue when importing"
* Calling the function in the imported module alone errors.
* Calling the imported function alone works.
* Calling the imported function before the one in the imported module "heals" (1).

[code]

`test_func_infer.py`:
[code]

`test_mod.py`:
[code]

[2018-02-21 14:39] whitequark commented on #925
I don't think that should go into 3.5. It's not a bug but an artefact of how imported names are represented (they're basically just locals), and it's not trivial to change.

[2018-02-21 14:42] jordens commented on #925
Ok. But can you explain (3) to me?

[2018-02-21 14:44] whitequark commented on #925
It's the same as (2). The compiler can see that the two functions are one and same, and types inferenced for the local name propagate to the non-local name.

[2018-02-21 14:48] jordens commented on #925
And the take home message is that the compiler is unable to infer stuff about attributes of modules?
Do we fix it for 4.0?

[2018-02-21 14:50] whitequark commented on #925
Only that global type inference interacts badly with the polymorphic integer literals, and these two need hacks to work together.

We should.

[2018-02-21 15:19] whitequark commented on #883
We had a broken floating point comparison function, but *only* for the greater-or-equal operation.

[2018-02-21 15:20] jordens commented on #909
a63fd306af3e4cce0419aee812f9d5a37d5b4eb5

[2018-02-21 15:20] #909 closed

[2018-02-21 15:21] #883 closed

[2018-02-21 15:29] whitequark commented on #883
@sbourdeauducq This should definitely go into 3.5.

[2018-02-21 17:02] gkasprow commented on #908
For every board, before shipment I loaded Xilinx DDR reference design that writes memory and reads it back. I left for a few minutes to make sure no errors were detected.
If someone wants to test his board, I can share the binaries and chipscop config file.

[2018-02-21 17:03] hartytp commented on #908
@gkasprow Is it possible that there are problems that only show up when the FPGA load is high (e.g. with the SAWG gateware etc)? If so, your test might have missed the problem?

[2018-02-21 17:05] gkasprow commented on #908
@hartytp it is possible. I did not test all the functionalities at the same time.

[2018-02-21 17:06] hartytp commented on #908
Well, if you can do it without too much trouble, it might be worth making an eye measurement on a Sayma board with ARTIQ running (including SAWG).

[2018-02-21 17:14] hartytp commented on #908
@enjoy-digital with the latest artiq firmware:

[code]

[2018-02-21 17:23] jonaskeller commented on #902
Installation of the packages works now (I'm using `4.0.dev-py_583+giteed64a6d`), but I can't flash the core device.

I wasn't sure how to pass what was formerly the `-m` parameter, so I tried both `-V nist_qc2`, and `-d "C:\Anaconda3\envs\artiqdev\Lib\site-packages\artiq\binaries\kc705-nist_qc2"`. An update to the documentation would be helpful here.

In either case, I get the same error, which lo

[2018-02-21 17:28] sbourdeauducq commented on #902
It's in the release notes already, though the options are called by their long names (``--...``) there. ``-d`` should not be required.

[2018-02-21 17:29] hartytp commented on #854
ping @sbourdeauducq

[2018-02-21 17:29] hartytp commented on #908
[code]

[2018-02-21 17:31] hartytp commented on #854
@gkasprow do you have a spare media converter you can post me so I can try this out?

[2018-02-21 17:32] gkasprow commented on #908
Do do eye diagram measurement one need to attach Xilinx IP core to existing design.

[2018-02-21 17:40] hartytp commented on #908
Why? Don't you just need to look with a scope? Is the issue that you need a fixed pattern of writes to the SDRAM to look at? Maybe @sbourdeauducq or @enjoy-digital can help you modifying ARTIQ to do that?

[2018-02-21 17:48] jonaskeller commented on #902
Oh, ok - I missed that, sorry.
So this means that one of my attempts already used the right command. Still, there seems to be a problem with the paths to these other bitstream files.

[2018-02-21 18:00] sbourdeauducq commented on #908
I don't see how the Xilinx core can do a full eye scan alone. Is there some hidden IOB feature that changes the threshold voltages with high resolution?

[2018-02-21 18:29] gkasprow commented on #908
This is what Xilinx eye scan does. It changes the delay and looks for BER...

[2018-02-21 18:31] gkasprow commented on #908
The PCB design was anayzed using  SiDDR tool. So I don't expect any Si-related issues.
I did also PI analysis, but it may happen that phase margin of the DC/DC converter is wrong and one gets some ripples. I will examine power rails using diff probe tomorrow with ARTIQ running.

[2018-02-21 18:33] gkasprow commented on #854
Sure, i can post one to you.

[2018-02-21 18:42] hartytp commented on #908
@gkasprow is it worth looking with a scope to double check SI with ARTIQ running?

Also what's the progress on 1v8 issues?

[2018-02-21 19:05] gkasprow commented on #908
@hartytp We managed to trigger it twice. I mean it happened in the night when nobody was looking. I could only check that it was caused by overvoltage.
The board that @sbourdeauducq sent us by ordinary mail still did not arrive and I have no way to figure out where it is. And this was the only board that I could use to recreate this issue in repetitive way.
The plan is to change the power sequenci

[2018-02-21 19:10] gkasprow commented on #854
@hartytp what media converter model do you use now?
If you don't have a LINK with it, I'd love to examine it.

[2018-02-21 21:11] jordens opened #926 "use new spi2 core"
- [x] [new MiSoC spi2 core](https://github.com/m-labs/misoc/commit/1006218997c40d570686196cb8a25d01add8fab7)
- [x] [new CSR SPIMaster](https://github.com/m-labs/misoc/commit/1006218997c40d570686196cb8a25d01add8fab7)
- [x] [new MiSoC package](https://github.com/m-labs/artiq/commit/37a0d6580bb545c88ce10713152f699adb6ea556)
- [x] [new RTIO SPIMaster](https://github.com/m-labs/artiq/commit/37a0d6580bb

[2018-02-22 02:40] sbourdeauducq commented on #908
Again, it's EMS, not ordinary mail; what does the tracking say?

[2018-02-22 03:06] sbourdeauducq opened #927 "OpenOCD fails to find proxy bitstream on Windows"
https://github.com/m-labs/artiq/issues/902#issuecomment-367403248

[2018-02-22 03:09] sbourdeauducq commented on #908
Changing the delay only is also what our core does, and is not a full eye scan.

[2018-02-22 04:44] sbourdeauducq commented on #902
Can you try with 3.4-py_4+gitcb605cf0?

[2018-02-22 07:22] #923 closed

[2018-02-22 07:23] whitequark commented on #844
We only have SED now, right?

[2018-02-22 07:25] sbourdeauducq commented on #844
In ARTIQ-4 and the future yes AFAICT,  but not in release-3. But yes, there are more important things, like the camera driver.

[2018-02-22 07:36] enjoy-digital commented on #908
Before suspecting hardware issues, let's make sure the algo is robust enough to select the same values we would choose manually when looking at the scan. I changed the scan deadzone from 16 to 32, it should help.

[2018-02-22 09:37] hartytp commented on #854
Thanks!

@cjbe

[2018-02-22 09:44] marmeladapk commented on #908
@enjoy-digital

5eda894

With SAWG:
[code]
Without SAWG:
[code]

Seems to be fixed.

[2018-02-22 09:46] sbourdeauducq commented on #854
I have:
* TP-Link MC220L. Board detects a link but IIRC no packets go through. The LINK LED on the media converter is useless as it is just a SFP module detection.
* Rayshine RS301-SFP. Board detects a link but the LINK LED on the media converter stays off. Media converter and its LINK LED work correctly with Kasli.

[2018-02-22 09:52] hartytp commented on #908
Thanks, will try that!

Given this seems to be behaving a bit strangely, I do still think it's important for @gkasprow and @marmeladapk to try to look at the power lines, SDRAM etc with a fast scope and do some basic sanity checking. That should catch any serious issues in the hardware.

[2018-02-22 12:06] hartytp commented on #908
@enjoy-digital with latest firmware:

[code]

[2018-02-22 14:40] enjoy-digital commented on #908
@hartytp: thanks. That would be interesting to do some tests with the new Exar settings @gkasprow has found.

[2018-02-22 16:22] jordens commented on #687
Novogorny support is done. RTIO, SPI, Gain shift register, conversion functions, documentation.

[2018-02-22 16:41] hartytp commented on #908
@marmeladapk Please can you use @enjoy-digital's patch to do an ARTIQ eye scan with and without SAWG and with both the old and new Exar settings?

That should be a quick way of seeing if the power supply issues are related to the SDRAM issues.

Thanks!

[2018-02-22 16:42] hartytp commented on #687
@jordens Novogorny/Novo has been obsoleted by Sampler, so can we rename this in the code as well, please? I would like the naming in ARTIQ to match the front panels/schematics/Wiki!

[2018-02-22 16:43] hartytp commented on #687
Other than that, looks good! Can't wait to try this out once the hw arrives!

[2018-02-22 16:44] jordens commented on #687
No. Novogorny stays. We are using that hardware.

[2018-02-22 16:46] hartytp commented on #687
How much of it do you have? Are you planning to buy more? Are you planning to use Novogorny and Sampler? We can chat about this offline, but since we funded it, I would like to have the driver/docs match the PCB name we chose.

[2018-02-22 16:48] jordens commented on #687
We are using two Novogorny v1.0 because we needed them. That means we'll keep it for now. Sampler is different enough to get its own codebase. And since almost everything on that wiki page refers to Novogorny, you may want to rename it back to Novogorny and create a page for Sampler ;)
Alternatively if we can swap those Novogornys for Samplers I'd be happy to dump the Novogorny code.

[2018-02-22 16:49] jordens commented on #687
I don't see the problem with consistency. Novogorny refers to Novogorny v1.0 and Sampler refers to Sampler v1.1. Treat them as different boards (they are). There is no confusion.

[2018-02-22 16:52] hartytp commented on #687
Well, if you want to add another driver for Sampler then I'm not fussed if you keep Novogorny as well.

But, I would certainly not advise anyone to buy more Novogorny now -- the cost should be roughly the same as Sampler and there shouldn't be any situation where Novogorny gives an advantage over Sampler; it's the same just slower.

Generally, I'm strongly of the opinion that v1.0 was just prototy

[2018-02-22 16:56] marmeladapk commented on #908
@hartytp I'll do, however here https://github.com/m-labs/artiq/issues/908#issuecomment-367624225 you can see that I passed memory tests with older settings. I'll test with new ones, but on a different board.

[2018-02-22 16:58] jordens commented on #687
It's an investment. There is no point in trashing it. And there is very little wrong with Novogorny. And it's just slightl slower (if at all) for non-NU-Servo usage. If there are issues with Sampler then Novogorny will be even more relevant.

You should really rename that wiki page from Sampler back to Novogorny. It is confusing and misleading people who are buying this.

[2018-02-22 17:06] hartytp commented on #687
At least one of those is ours IIRC, I'm happy to recall that one if it simplifies this discussion.

@jordens It also has a few smaller bugs which were never fixed. But, yes, it basically works fine.

If there are issues with Sampler, we'll fix them.

No. Firstly, I'm asserting our right as the people who funded this and lead the work to choose the name. That right is a basic given in any of these

[2018-02-22 17:08] hartytp commented on #908
Okay. I'll also do an eye scan on my board that fails mem test and see if I can spot what's going wrong.

[2018-02-22 17:15] jordens commented on #687
I don't think a discussion about "rights" is helpful here. It would involve talking about the right to the photos, to the analysis etc. I also see no reason why you would (or could) demand that we change the name for the code we write for the hardware we use. Especially since it seems like you don't want anything to do with it.
Recalling the one Novogorny loaner would be destructive. I don't see w

[2018-02-22 17:17] jordens commented on #687
The reason for having a wiki page and supporting is simply that those boards are being used and that there is funding for the code.

[2018-02-22 18:04] dtcallcock commented on #687
I think there is a more general problem here -- for someone new to Sinara, the Github wiki is pretty obscurely located and impenetrable.

Perhaps once there is a reasonable amount of hardware available to purchase, there could be a high-level Sinara webpage (like artiq has on the M-Labs website)?  This could have an introduction, the formal documentation for released boards and purchasing informat

[2018-02-22 18:30] jordens commented on #687
IMHO the challenge is content quality and responsibility/accountability. Whether it's a wiki on Github or something else is very much secondary. And is the content is good, the Wiki is a fine platform.

[2018-02-22 18:54] dtcallcock commented on #687
I was trying to give an obvious example of where someone with 'responsibility/accountability' over the Sinara project (or at least the documentation of it) could do a better job of presenting and promoting it to the wider community.

Has any thought been given to implementing some sort of accountability structure outside of people just calling the shots on their own bit of turf that they funded/co

[2018-02-22 19:16] jordens commented on #687
The idea of a ARTIQ/Sinara "board"/"council"/"committee" was aired a couple of times. IMHO it's a good idea; it wouldn't be too complicated. And we could take lessons from the governance structure of other projects. Debian and others come to mind.
But yeah. Overhead and the conflict between the contractual relation and project governance.

[2018-02-22 19:23] hartytp commented on #687
@jordens to be clear, my expectations are:
1. That there will be a Sampler ARTIQ driver as well/instead of the Novogorny driver
2. That Novogorny will not be advertised to new users as a product that they should consider buying.

Beyond that, I'm not fussed.

In detail:
1. Correct me if I'm wrong, but my memory is that we agreed to change the Novogorny contract to target Sampler. If you've got add

[2018-02-22 20:06] hartytp commented on #687
It's a nice idea, the problem is that writing good documentation is extremely dull and time consuming, so it's hard to get anyone to actually do it. FWIW, my feeling is that we need someone who has a financial incentive to write this all up properly. eg if Creotech or someone else want to become a supplier to the wider AMO community then it would be in their interest to write some glossy documenta

[2018-02-22 22:26] jordens commented on #687
@hartytp Exactly. Nobody said that the Novogorny driver would replace the Sampler driver. There is thus no reason to bad-mouth Novogorny or the driver. Claiming that the presence of a Novogorny driver makes Sampler more expensive or the other way around is absurd. And I don't need to remind you that also for Sampler there are a similar number of manual fixes done to the boards. The reason for a wi

[2018-02-23 02:01] jbqubit opened #928 "artiq_flash libusb_open() failed"
[code]

[code]

[2018-02-23 02:52] sbourdeauducq commented on #928
Permissions problem. You need to fix your groups and/or udev rules. http://m-labs.hk/artiq/manual-master/installing.html#configuring-openocd

[2018-02-23 02:52] #928 closed

[2018-02-23 10:04] hartytp commented on #687
I never said that. I'm not fussed if you want an ARTIQ driver for it. I just don't want Novogorny advertised as a product that people should consider buying.

Yes, neither are production ready boards. The difference is that we plan to fix the issues with Sampler and go into production mode for it. That's not the case with Novogorny.

Having Wiki pages devoted to legacy products with only a couple

[2018-02-23 10:07] hartytp commented on #687
Well, maybe not, but if they don't then who will? The current lack of documentation is definitely off putting to new users and I don't see anyone stepping up to fix that.

It's somewhat similar with ARTIQ. There is a general lack of documentation for the overall stack (misoc/migen/etc) and the internal workings of ARTIQ, which makes it more difficult to contribute. But, beyond that, last time I ch

[2018-02-23 10:08] sbourdeauducq commented on #687
Speaking of rights, it was discussed that those projects should be under CERN OHL, so if someone wanted to fork Sampler, put a different DAC and call it Novogorny, that would be allowed. Unless you have trademark rights for "Novogorny", but considering your distaste for this naming scheme, I doubt you would be interested in that :)

[2018-02-23 10:17] hartytp commented on #687
@sbourdeauducq "rights" not in a legal sense, but more in an etiquette/not being a jerk sense. Like, you don't rename a boat once you buy it. Nothing is stopping you, it's just not productive to go around making trivial changes to other people's work and then changing the name.

Sometimes I do wonder whether it would be less painful to bang my head against a wall until HDL comes out than to deal w

[2018-02-23 10:30] hartytp commented on #687
I actually sometimes look back nostalgically at the days when my experimental code was written in turbo pascal and labview, but I didn't have to deal with all this BS.

[2018-02-23 10:36] sbourdeauducq commented on #854
Using this:
https://github.com/m-labs/ethernet-yakshaving
I am able to send packets from Sayma and receive them correctly from the KC705. It remains mysterious to me why this doesn't work well with the ARTIQ/MiSoC gateware.

[2018-02-23 10:40] sbourdeauducq commented on #854
Note: the KC705 sniffer is completely OK with most kinds of of corrupted packets, including those with broken preambles. This makes it a nice tool for dealing with this sort of bug.

[2018-02-23 10:48] whitequark commented on #687
I thought it was you who renamed Novogorny to Sampler in the first place.

[2018-02-23 10:49] marmeladapk commented on #908
@enjoy-digital Using my last bitstream I passed memory tests on another Sayma.
[code]

[2018-02-23 10:54] hartytp commented on #687
sigh...(a) we provided the funding and did the bulk of the design work, so it was our decision (b) Novogorny was a working title that we adopted for the prototypes as a placeholder until we thought of a better name -- the boat hadn't been christened at that point.

This is silly. I give in.

[2018-02-23 11:08] jordens commented on #687
@hartytp

Your complaining about the documentation is as annoying as other people complaining about hardware or silicon quality. It's not helping. If nobody has the resources (funding, commercial incentive, or free time) then who do you think will write the documentation? If Creotech or we are supposed to write the kind of documentation you are looking for, you already know exactly what needs to b

[2018-02-23 12:06] sbourdeauducq commented on #854
The TX data eye (from the phase scan using ``sayma_transmitter``) is also surprisingly small, about 0.5ns when using PLLOUT2.

[2018-02-23 13:12] sbourdeauducq commented on #854
I tried setting SLEW=FAST while keeping the default 12mA drive: no noticeable improvement.
With the default SLEW=SLOW and 4mA drive, the eye is completely closed.

[2018-02-23 13:35] sbourdeauducq commented on #854
With SLEW=FAST and DRIVE=16 I get a 1.5ns eye. That's not great, but much better. Hopefully things will work with ARTIQ now...

[2018-02-23 16:09] jordens opened #929 "artiq_flash: bail if scan chain is wrong"
Instead of continuing blindly, `artiq_flash` should have `openocd` error out if the JTAG scan chain is not as expected.

[code]

[2018-02-23 16:11] jordens opened #930 "sayma_amc speed up bitstream load from flash"
* higher clock
* qspi

[2018-02-23 16:38] jonaskeller commented on #902
I don't have time at the moment to look into building it myself, so I'd rather wait for your bot for now. Once I have a compiled version, I'll give it a try.

[2018-02-23 16:44] gkasprow commented on #854
I will have a look on the signals with fast scope, but I need to have some transmission somehow working. Maybe we need to add some AC termination...

[2018-02-23 16:47] gkasprow commented on #854
Anyway, since the RGMII is not terminated, it would be feasible to move the PHY closer to the FPGA.

[2018-02-23 16:48] sbourdeauducq commented on #902
As I mentioned to you on IRC there are binaries. https://anaconda.org/m-labs/artiq-kc705-nist_qc2/files

[2018-02-23 16:50] whitequark commented on #929
I am not aware of a simple enough way to implement this. @jordens?

[2018-02-23 16:51] hartytp commented on #908
[code]

[2018-02-23 16:52] sbourdeauducq commented on #854
Use the traffic generator in the ethernet-yakshaving repository. If you reduce the timer interval, you can make it blast 1Gb/s.

[2018-02-23 16:54] jordens commented on #854
Ah. @whitequark may want to use that traffic generator to do raw fuzzing on smoltcp/liteeth.

[2018-02-23 16:54] jordens commented on #929
I'll look into it.

[2018-02-23 16:55] hartytp commented on #908
Two things I don't understand about that:
1. Why is it so different to the previous eye scan with the same board (https://github.com/m-labs/artiq/issues/908#issuecomment-367405274). Has there been a gateware change that could do that?
2. Why is it so bad? Is that expected? Would love to see what the SI looks like @gkasprow

Otherwise, I think we're going to need a smarter algorithm to find the del

[2018-02-23 17:03] sbourdeauducq commented on #908
Not as far as I can tell.

[2018-02-23 17:04] whitequark commented on #854
@jordens I already fuzz smoltcp using LLVM's libfuzzer, that's much faster since it's coverage-guided. Might make sense for liteeth, not sure.

[2018-02-23 17:04] hartytp commented on #908
Having said that, there are still gaps in the middle of the working region, so it's hard to see any leveling algorithm being able to guarantee to work 100% of the time.

This seems highly likely to be either a SI or timing issue, but it's hard to tell without a scope trace.

[2018-02-23 17:05] hartytp commented on #908
@marmeladapk Can you run eye scans on your boards (that will tell us if you're just getting luck with it working).

[2018-02-23 17:07] hartytp commented on #908
What could cause that kind of change apart from a change in the FPGA timing?

[2018-02-23 17:19] jordens commented on #929
Didn't find anything so far. We might have to manually check the IDCODEs again after `init`...

[2018-02-23 22:48] philipkent opened #931 "failed to create process on version 2.3 under Windows"
On Windows 7 64-bit, using ARTIQ version 2.3 from the m-labs conda repository, trying to run any of the artiq commands from a command prompt fails with "failed to create process" error:

     (artiq-2.3) >artiq_flash -t kc705 -m nist_qc2
      failed to create process.

     (artiq-2.3) >artiq_master
      failed to create process.

     (artiq-2.3) >artiq_browser
      failed to create process.

[2018-02-23 23:53] philipkent opened #932 ""Unknown flash device" when running artiq_flash"
On Windows 7 64-bit, Artiq version 2.4.  When I try to run `artiq_flash -t kc705 -m nist_qc2` it fails with an "Unknown flash device" error:

    (artiq-2.4) c:\Users\pdk1>artiq_flash -t kc705 -m nist_qc2
    Design name: b'top;UserID=0XFFFFFFFF;COMPRESS=TRUE;Version=2016.2\x00'
    Partname b'7k325tffg900\x00'
    Date b'2017/04/23\x00'
    Time b'23:47:20\x00'
    found binary data length: 47495

[2018-02-24 00:52] sbourdeauducq commented on #931
That's a conda bug, iirc worked around in artiq 2.4.

[2018-02-24 00:55] sbourdeauducq commented on #908
It's not just a change in the timing, it seems that jitter also increases significantly. Noise/jitter issues (on-chip or on-board), e.g. crosstalk, MMCM failure.

[2018-02-24 02:04] jonaskeller commented on #902
So far, it's looking good. I left it idle for 6h and didn't see it crash, then set `net_trace` to 1 and left an experiment running in a loop to stress the core device. It's been running in that mode for over 2h now, which is a lot considering that I never saw it survive for more than a minute before. I'll leave it running over the weekend and let you know Monday how it went.

[2018-02-24 07:16] jordens commented on #932
You'll need to make ually downgrade openocd to a version that was current when 2.4 was released

[2018-02-24 09:06] sbourdeauducq commented on #932
@jordens can you delete (or move to the dev channel) the buggy openocd versions? If course they are the ones that get installed as per Murphy's law...

[2018-02-24 10:09] jordens commented on #932
@sbourdeauducq It's not buggy openocd versions but incompatibility between the proxy bitstream shipped in the old board packages and the new openocd versions. Moving openocd won't help.
@whitequark suggested that the old versioning scheme was causing problems with conda so I changed it and I'm now using the build number to pin openocd. Before (and certainly not in 2.x) there was little constraint

[2018-02-25 05:13] sbourdeauducq commented on #854
FINALLY got the damn thing to behave:
[code]
But phases are unstable and phase tuning needs to be re-done for each Vivado compilation run. Shaving this new yak now...

I'm using RX phase 180.0 and TX phase 45.0, ARTIQ gateware is b466a569b built without SAWG, MiSoC bee272bdf, Migen b777246666, Vivado 2017.4, and MMCMs are placed this way:
[code]

[2018-02-25 05:55] sbourdeauducq commented on #854
Well, even *reloading* the *same* bitstream sometimes produces different results. Sayma is such a pain in the ass, screwing you at every turn.

[2018-02-25 07:28] sbourdeauducq commented on #854
Additionally, the MMCM behaves differently when it has had its phase edited using the ``open_checkpoint`` method, and when using the original phase.
May be related to this:
"The COMPENSATION attribute values are documented for informational purpose only. The ISE or Vivado design tools  automatically select the appropriate compensation based on circuit topology. Do not manually select a compensatio

[2018-02-25 12:36] gkasprow commented on #854
Is it really problem with Tx cock phase which is hard to explain because it sits in same bank,
or Rx clock phase which is in the other bank and the delay varies from device to device.

[2018-02-25 13:26] sbourdeauducq commented on #854
Yes. Using the net_trace option I can see that frames are received correctly and the runtime answers them.

[2018-02-25 13:41] gkasprow commented on #854
OK, so I will check with scope how TX delay affect the clock and data relationship. Maybe RC matching circuit will solve this issue. The trace length between FPGA and PHY is high so reflections occur.

[2018-02-25 15:53] sbourdeauducq commented on #854
With the current MiSoC (60eb326b), Ethernet will fail upon startup in ~3/4 the cases due to 100% of the transmitted packets being lost. RX is OK as can be seen by using ``net_trace 1``. In the ~1/4 of startup cases when it works, there is no packet loss reported by ``ping``. This works with and without SAWG.
I don't know what is going on. If there were MMC shenanigans, there should have been inter

[2018-02-25 15:55] gkasprow commented on #854
I will explore this case tomorrow. This is indeed strange.

[2018-02-25 19:17] jordens commented on #854
Probably the phase between BUFGCE_DIV divider driving the data and the PLL divider driving TXCLK.

[2018-02-26 04:55] sbourdeauducq commented on #854
@jordens Good catch! It reproducibly works now, at least on one board. Thanks!
Working zone is still 1.5ns wide as it was with the traffic generator.

[2018-02-26 07:52] jordens commented on #931
@philipkent Assuming 2.4 had already fixed this, I'll close it.

[2018-02-26 07:52] #931 closed

[2018-02-26 11:09] sbourdeauducq commented on #793
...or problem with the transceiver electrical settings (may need copying more values from the wizard like we did to fix similar issues before).

[2018-02-26 11:14] gkasprow commented on #793
I run successfully  IBERT test with 2 SFPs linked by copper SFP cable. It works at 10Gbit without errors.

[2018-02-26 11:15] gkasprow commented on #793
I can share bit file which does such test.

[2018-02-26 11:22] gkasprow commented on #793
@sbourdeauducq did you try with copper SFP-SFP cable

[2018-02-26 11:40] sbourdeauducq commented on #793
Yes, see above.

[2018-02-26 15:14] gkasprow commented on #854
The clock signal observed with 1.5GHz active probe looks good:
![Uploading tek00002.png…]()
I added 56R + 150pF AC termination but the amplitude was attenuated
![Uploading tek00003.png…]()
Then I experimented with 56R + 10pF AC termination
![tek00004](https://user-images.githubusercontent.com/4325054/36677967-d3b4a3ce-1b0f-11e8-89bd-74c8fe8c104a.png)
and finally used 82R + 150pF
![tek00005](https:

[2018-02-26 15:33] gkasprow commented on #854
And the data line. It does not look bad, it achieves full 3.3V amplitude but is limited by SR
![tek00006](https://user-images.githubusercontent.com/4325054/36679025-86fc3ada-1b12-11e8-9660-084a3f56554d.png)

[2018-02-26 15:35] hartytp commented on #854
@gkasprow hmm...looks like the eye there should be at least a few ns. Wonder why @sbourdeauducq found such a small eye.
- What drive strength are you using in this measurement?
- Can you try running @sbourdeauducq's eye scan on your hardware? It's possible that his rework wasn't as good as yours from a SI perspective and the signal is much worse on his board. Would be good to confirm that you see

[2018-02-26 15:50] gkasprow commented on #854
I used my code and default drive strength. Now I'm compiling version with 16mA drive strength. @sbourdeauducq  rework was on Rx side but the problem exists on Tx side.

[2018-02-26 16:26] gkasprow commented on #854
This is how the data line looks like at 16mA:
![tek00007](https://user-images.githubusercontent.com/4325054/36681917-2f2255ee-1b1a-11e8-88b2-481be91ee0e7.png)

[2018-02-26 16:37] hartytp commented on #854
hmmm....any idea why the eyes are so bad then? Can you test with a Xilinx core?

[2018-02-26 16:42] hartytp commented on #854
That data with standard drive current certainly doesn't look like a 500ps eye, so I don't understand what's going wrong here.

[2018-02-26 18:33] gkasprow commented on #854
@sbourdeauducq reports 1.5ns window.
Anyway, I will add series source termination  resistors.

[2018-02-26 20:57] hartytp commented on #854
@gkasprow That was only with the 16mA drive current (see above).

...

What concerns me here is that @sbourdeauducq is reporting a 500ps eye for 12mA drive current, which doesn't seem at all consistent with the measurements you made (which look fine from a SI perspective). That makes me think that @sbourdeauducq hasn't really solved the underlying issue, so his solution may not be robust. Particul

[2018-02-27 02:31] jonaskeller commented on #902
After running all weekend, it seemed fine when I got here this morning. So, in any case, this is a major improvement. I can't yet tell whether it's entirely solved, however: Since then, I've seen two instances of the coredevice not responding anymore until I manually reset the FPGA, but didn't catch any `panic` entries in the UART log (as described here https://github.com/m-labs/misoc/issues/66 ,

[2018-02-27 03:53] sbourdeauducq commented on #854
Sorry, I made some dumb mistake when doing the math, and my numbers are off by a factor of 2. So:
* with SLEW=SLOW DRIVE=12 (defaults), the eye is **~1ns** (still small)
* with SLEW=FAST DRIVE=16, the eye is **~3ns** (looks reasonable for LVCMOS and 1UI=4ns)

[2018-02-27 07:54] jordens commented on #856
Serwb also appears to hang randomly on sayma-3, mostly when waiting for HMC830 lock. This happens with current master as well as spi2. And @hartytp also sees this (with a slightly older master).

[code]

[2018-02-27 10:22] hartytp commented on #854
@sbourdeauducq thanks for the update. hmmm...1ns still seems less than I'd expect from Greg's plots. What do you think @gkasprow are you happy that this is all consistent or should we look into it further?

[2018-02-27 11:03] sbourdeauducq opened #933 "DRTIO multilink broken on Ultrascale/Sayma"
Patch sayma_amc as below:
[code]

DRTIO link 0 stops working (no link detected on the master nor on the satellite, no ClockAligner).

When commenting out those two lines:
[code]
functionality of channel 0 is fully restored.

[2018-02-27 11:04] sbourdeauducq commented on #933
And when connecting the rest of the ``drtio1`` properly, the breakage persists.

[2018-02-27 11:11] sbourdeauducq opened #934 "DRTIO on some SFPs doesn't work on Sayma"
https://github.com/m-labs/artiq/issues/793#issuecomment-354588412

[2018-02-27 11:12] sbourdeauducq commented on #793
Broken down into #933 and #934.

[2018-02-27 11:12] #793 closed

[2018-02-27 11:33] sbourdeauducq commented on #933
Er, scratch that - it worked one time by chance, but it is still broken.

So, simply adding a second channel to the GTH breaks the first channel.

[2018-02-27 20:19] gkasprow commented on #854
with 12mA of drive strength I observe quite high slew rate so 1ns is quite possible. With 16ns the slew rate is much higher so 3ns makes sense. Take into account that we have really small window. The symbol length is 4ns and if you add setup, hold time and FPGA skew this makes sense. Traces are equalised up to 200ps

[2018-02-27 20:28] hartytp commented on #854
Okay glad to hear that all makes sense! At least that's one more issue solved! Getting there

[2018-02-27 21:19] jbqubit commented on #856
My board as well. No flashing errors.

[code]

[code]

[2018-02-27 21:47] jordens commented on #856
Did you even load the RTM gateware?

[2018-02-27 22:08] philipkent commented on #932
Downgrading openocd to version 0.10.0 build 1 fixed the unknown flash device error.  Running `artiq_flash -t kc705 -m nist_qc2` using artiq version 2.4 now complains that it cannot find the binaries directory though:

     (artiq-2.4) C:\Users\pdk1>artiq_flash -t kc705 -m nist_qc2
     Binaries directory 'C:\Users\pdk1\AppData\Local\Continuum\anaconda3\envs\artiq-2.4\lib\site-packages\artiq\binari

[2018-02-27 22:14] philipkent commented on #932
Copying the binaries directory over from 2.3 worked.  Are there any differences between the 2.3 binaries and artiq 2.4 that might cause problems doing it this way?

[2018-02-27 22:19] whitequark commented on #932
There are no gateware or firmware changes between 2.3 and 2.4, so no.

[2018-02-27 23:38] philipkent commented on #932
Trying to run an experiment using version 2.4 on windows 7 64 bit now fails with the error:

     or1k-linux-id.exe: The program can't start because cygwin1.dll is missing from your computer.  Try reinstalling the program to fix this problem

[2018-02-27 23:56] whitequark commented on #932
Working on it.

[2018-02-28 00:03] jbqubit commented on #856
Yes, I'm flashing the RTM. I neglected to paste it -- now included below.  Booting fails with ```Memory test failed``` or ```serwb bridge initialization failed.``` Once it advances to the point where the failure was "HMC830 lock timeout".

[code]

[code]

[2018-02-28 00:04] philipkent opened #935 "Artiq 2.4: Experiment fails to run on Windows because cygwin1.dll can't be found"
Running an experiment using version 2.4 on windows 7 64 bit from the conda repository fails with the following error:

      or1k-linux-ld.exe: The program can't start because cygwin1.dll is missing from your computer.  Try reinstalling the program to fix this problem

The `cygwin1.dll` dll can't be found.

This can be fixed by downgrading the `binutils-or1k-linux` package to version 2.25.1-4 with

[2018-02-28 00:07] philipkent commented on #932
Thanks.  I made separate issue #935.  Just looks like or1k-linux-id needs to be pinned at version 2.25.1.

[2018-02-28 00:09] whitequark commented on #935
No, it needs to be rebuilt at version 2.25.1-5 using msys instead of cygwin.

[2018-02-28 00:10] whitequark commented on #935
Also, it's or1k-linux-ld, not -id.

[2018-02-28 01:08] whitequark commented on #935
Package rebuilt.

[2018-02-28 09:36] hartytp commented on #856
@jordens Starting the informal etiquette manual: AFAICT, the word "even" here serves no purpose other than to make a helpful comment come across as somewhat rude/condescending.

@jboulder AFAICT you need to be a little careful over the timing of loading (not flashing if we want to be pedantic -- if we could flash it, life would be much easier) the RTM FPGA. At some point during startup the AMC res

[2018-02-28 09:43] sbourdeauducq commented on #856
It doesn't. I don't know why it looks like it does, there is probably another bug somewhere.

[2018-02-28 09:44] hartytp commented on #856
hmmmm...well it certainly behaves a *lot* as if it does.

[2018-02-28 09:57] jordens commented on #856
@hartytp Reading undue rudeness into that question is thin-skinned IMHO. Especially in the light of past experience with negligent and careless treatment of advice and instructions and the frustration associated with it. You yourself are confirming that by suggesting that Joe personally may not have been careful. The "rudeness" seems to be already healed by the purely technical rephrasing "Is the

[2018-02-28 10:05] hartytp commented on #856
I don't understand your argument here. You seem to be acknowledging that your comment was phrased in a way that was deliberately rude, but arguing that this is appropriate given the history. Or, is your point that you could easily have been ruder, so we should be thankful for the relatively restrained level of rudeness you chose to adopt for your post?

In either case, the work "even" here adds no

[2018-02-28 10:06] enjoy-digital commented on #856
@sbourdeauducq, @hartytp: serwb is reseting the RTM FPGA at startup:
https://github.com/m-labs/artiq/blob/master/artiq/gateware/targets/sayma_rtm.py#L158

[2018-02-28 10:08] hartytp commented on #856
Thanks for confirming that (I knew it does, because I've experience it many times when working with Sayma).

[2018-02-28 10:20] sbourdeauducq commented on #856
Yes, I know, but that's not touching the bitstream.

[2018-02-28 10:31] jordens commented on #856
@hartytp My points are, that it wasn't meant rude, that I don't consider it rude if I am asked that question by you, that "even" is not an insult (just search through your own usage of it on artiq or sinara), that I wouldn't recommend considering it rude for the etiquette rules you are writing, and that I claim on the basis of the general level of rudeness by Joe that even if you as a third person

[2018-02-28 15:52] enjoy-digital commented on #933
https://github.com/m-labs/artiq/commit/2896dc619bf3aa350595d04f3e1841c47349fbb8 should fix that. (I tested with Master and Satellite with 2 data lanes)

[2018-02-28 16:48] whitequark commented on #935
No, actually, it doesn't work.

[2018-02-28 17:50] jbqubit commented on #856
The reason for my [post](https://github.com/m-labs/artiq/issues/856#issuecomment-369029584) that prompted your rude comment is that booting didn't hang at the usual point when waiting for RTM FPGA. What I expected:
[code]

What I saw:
[code]

This precluded interaction with the RTM FPGA which is why I didn't post about it.

Today I see similar behavior but after a longer delay.

[code]

@jordens I

[2018-02-28 18:32] jordens commented on #813
This should work now. Needs the change in https://github.com/m-labs/sinara/issues/249#issuecomment-321300672

[2018-02-28 23:05] whitequark commented on #935
The package does work now.

[2018-03-01 01:52] whitequark opened #936 "ProEM HS 512BX3 camera driver"
Product page: http://www.princetoninstruments.com/products/ProEM-EMCCD
Driver download: ftp://ftp.princetoninstruments.com/Public/Software/Official/PICam
Test server: `ssh -J murray.ber.quartiq.de 10.0.18.3 -N`, camera at `10.32.4.139`

[2018-03-01 02:59] jonaskeller commented on #902
I've been continuously monitoring since the last post and haven't seen a single coredevice panic. Occasionally (~2 times a day), connections are refused for a brief period of time, and that might have been what I described above (just being too impatient and hitting reset before it resolved itself). These are quite different symptoms though, so it seems very likely that the original issue has been

[2018-03-01 02:59] #902 closed

[2018-03-01 03:01] sbourdeauducq commented on #902
OK, thanks for your testing and patience!

[2018-03-01 10:26] jordens commented on #926
https://github.com/m-labs/artiq/commit/a6ae08d8b899a0f8fe93f1f0e3b0466205b0d5ba

[2018-03-01 10:26] #926 closed

[2018-03-01 14:43] marmeladapk commented on #908
@enjoy-digital Could you post your patch with eye scan for current versions of sdram firmware I'd like to test it per @hartytp suggestion?

[2018-03-01 15:34] hartytp commented on #908
FWIW, this seems to work absolutely fine with 32-bit SDRAM. Not a proper long-term solution, but should allow me to make some progress.

Out of curiosity, was there a conclusion about why serwb sometimes freezes on ``[     0.028266s]  INFO(board_artiq::serwb): waiting for AMC/RTM serwb bridge to be ready...`` without getting to ``[   294.857188s]  WARN(board_artiq::serwb): AMC/RTM serwb bridge ini

[2018-03-01 20:04] jbqubit commented on #908
@hartytp I'm having trouble translating your comment about 32-bit SDRAM.

[2018-03-02 06:50] sbourdeauducq commented on #936
Note: due to the dependency on the proprietary driver, this probably should be out-of-tree (https://github.com/m-labs/artiq/issues/887).

[2018-03-02 06:52] whitequark commented on #936
See https://github.com/m-labs/picam.

[2018-03-02 06:59] #895 closed

[2018-03-02 08:07] enjoy-digital commented on #908
@jbqubit: hartytp is using "ddram_32" here: https://github.com/m-labs/misoc/blob/master/misoc/targets/sayma_amc.py#L69
@hartytp: i haven't investigated things yet on serwb, but yes it should be retrying.
@marmeladapk: you can use this sdram.rs: https://hastebin.com/wufenahici.php

[2018-03-02 08:34] sbourdeauducq commented on #854
With the current FPGA code, this media converter kinda works but produces a ~6% packet loss rate in a ping test.
I have double-checked that the packet loss is triggered by this media converter; without touching anything else (no board reboot, etc.) I have swapped it with the RJ45 transceiver that was working before, and the packet loss rate dropped to 0.

[2018-03-02 08:36] sbourdeauducq commented on #854
Packet loss rate with this media converter and Kasli is 0.

[2018-03-02 08:58] jordens opened #937 "artiq_flash/slave_fpga/mkmscimg: unify header format"
Unified header proposal:

* 4 byte image ID/name (SRTM or FIRM e.g.)
* 4 byte crc32 big endian of the payload
* 4 byte payload length, big endian
* payload

* [ ] package images without header
* [ ] add header in artiq_flash on the fly
* [ ] update slave_fpga
* [ ] update bootloader

https://irclog.whitequark.org/m-labs/2018-03-02

[2018-03-02 09:39] cjbe opened #938 "Positive slack RTIO underflows with external clock"
I see frequent RTIO underflows with a significant (>10us) *positive* slack reported, only when using the external clock.

For example, the below experiment runs without error using the internal clock, but gives this error within a few seconds of running on the external clock:
[code]
[code]

I am switching from internal to external clock via the "external_clock" option to the core device in the dev

[2018-03-02 10:13] #930 closed

[2018-03-02 10:27] hartytp commented on #930
Thanks!

[2018-03-02 10:52] cjbe opened #939 "Urukul FTW and attenuator update rate"
I am surprised at how long it takes to update the attenuator and FTW on Urukul. Using an AD9910 Urukul on Kasli, and running an underflow test experiment (https://hastebin.com/qonukomaku.py), I find that the following brackets in mu (here 1mu=1ns):
[code]
So it takes ~50us to update the FTW if it is provided as a float, or 8us if it is provided in mu. Similarly 35us / 2us to update the attenuator

[2018-03-02 11:07] cjbe opened #940 "Urukul AD9910 AUX_DAC mismatch on init"
If a kernel ends abnormally (force terminated, RTIO underflow etc) it can leave the Urukul in a error state, such that a subsequent init() gives an "Urukul AD9910 AUX_DAC mismatch" error. A second init after this succeeds.

I would expect the init to succeed regardless of the previous command history. I guess this may be due to the AD9910 SPI state machine being left in an odd state, and an IO_RES

[2018-03-02 11:09] jordens commented on #939
Yes. The compiler sometimes does not fold constants for reasons I don't understand either.
Yes. Raw 64 bit RTIO events tend to be around the 6-10µs mark. Same as the old DDS bus.

#535 #636 #661 #667 and maybe #624

[2018-03-02 11:12] jordens commented on #940
An IO_RST pulse is already done on `Urukul.init()`:

https://github.com/m-labs/artiq/blob/master/artiq/coredevice/urukul.py#L172

[2018-03-02 12:14] hartytp commented on #854
any thoughts @gkasprow? Can you try one of those media converters on your Sayma with the Xilinx core to verify that it's not a HW/MMC problem?

[2018-03-02 13:13] gkasprow commented on #854
@hartytp I know this problem because we had one in the past. It is related probably with PAUSE setting I described before. By default the PAUSE negotiation is disabled so enabling it should solve the issue. I didn't have time to investigate it.

[2018-03-02 13:17] sbourdeauducq commented on #854
During autonegociation, the Ethernet core in Kasli says it wants nothing to do with PAUSE, and this seems to work fine. Also I did the test with a rather low packet rate (dozen per second) so there should be no PAUSEs.

[2018-03-02 13:18] gkasprow commented on #854
Yes, but the difference is that in Kasli you use your PHY implementation while in Sayma we use PHY IC with some default settings...

[2018-03-02 13:52] hartytp commented on #854
@gkasprow Okay, well let's remember to look into this before moving on to Sayma v2.0.

In the meantime, this isn't blocking progress on debugging the rest of Sayma, so it's not a high priority right now.

Let's first focus on the SDRAM and getting Booster ready for production and then come back to this.

[2018-03-02 15:35] whitequark commented on #939
LLVM's IR is not powerful enough to express all invariants that we have, thus sometimes it does not recognize that it can hoist instructions out of loops. This is #655. There is a proper solution (adding metadata on GEP, as described in the linked review.llvm.org page) but it's not trivial.

[2018-03-02 16:15] cjbe opened #941 "Startup kernels with DRTIO"
Startup kernels are currently problematic with DRTIO. The startup kernel runs before the DRTIO link(s) are up. If the startup kernel uses remote RTIO it locks up until the link(s) are up, then gives an underflow error. If the link(s) do not come up, no error is emitted and the master hangs.

Startup kernels that use remote RTIO are very useful for initialising hardware (e.g. Urukul, TTL states, et

[2018-03-02 16:26] cjbe opened #942 "report DRTIO loss-of-link when a kernel is running"
If a kernel is running and the DRTIO link is lost, the kernel hangs until the link is back up, at which point it underflows. If the link does not come back, the kernel hangs indefinitely.

It would be useful to have some way of signalling this catastrophic error state to the user.

[2018-03-02 17:50] cjbe commented on #941
I appreciate the difficulty here.

How about:
1) For the time being, DRTIO operational means all links defined at compile time are up
2) In the future: A coreconfig entry defines the desired tree.

[2018-03-02 18:02] jordens commented on #941
Or maybe expose that info to kernels.

[2018-03-02 18:11] cjbe commented on #938
I also see this issue using the Kasli DRTIO (master+satellite) gateware

[2018-03-02 22:44] jbqubit commented on #908
@enjoy-digital Could you reproduce @hartytp's success? If this is a workable solution for the near term please add use of ddram_32 to master.

[2018-03-02 23:50] enjoy-digital commented on #908
@jbqubit: done (https://github.com/m-labs/misoc/commit/45614bc96a454d3f792c63fdc00377e94ae94aea).

[2018-03-03 02:43] dnadlinger opened #943 "try/finally on kernel corrupts passed-through host exception name"
[code]

gives (on 3505878)

[code]

This is because the exception `name` is `n:ValueError` instead of the exception id (i.e. `0:ValueError`). I haven't investigated further – memory corruption?

[2018-03-03 02:45] whitequark commented on #943
Probably [this](https://github.com/m-labs/artiq/blob/master/artiq/firmware/ksupport/eh.rs#L403-L405).

[2018-03-03 02:49] whitequark commented on #943
This is exceptionally (no pun intended) annoying to fix. We already take a copy of the exception itself but it's not easily possible to take a copy of data without an allocation of some sort. Maybe put the data into runtime (not kernel) memory...

[2018-03-03 05:20] sbourdeauducq commented on #942
Planning to introduce a ``RTIOLinkError`` exception when attempting a RTIO operation that involves a link that is down. It cannot be precise (since we usually don't wait for feedback from the satellite devices for latency/throughput reasons) but it should catch most cases.

[2018-03-03 05:21] sbourdeauducq commented on #941
Yes, maybe the startup kernel can explicitly wait for all relevant links to be up. I propose introducing a separate API call to check for link status, which will be cleaner than attempting RTIO operations until ``RTIOLinkError`` (#942) is no longer raised.

[2018-03-04 14:51] jbqubit opened #944 "Sayma_AMC with SAWG congestion Level 5"
I don't know when this started but Vivado reports [congestion level 5](https://www.xilinx.com/support/answers/66314.html). This looks to increase build time and Vivado says it can "impact timing closure."

[code]

[2018-03-04 16:02] sbourdeauducq commented on #944
Yes, we know about this. Did it not meet timing?

[2018-03-04 16:24] #941 closed

[2018-03-04 16:24] sbourdeauducq commented on #942
done.

[2018-03-04 16:24] #942 closed

[2018-03-05 12:31] cjbe opened #945 "Handle out-of-memory errors during DMA sequence recording"
Trying to record a DMA sequence that is too large to fit into memory results in the core device falling over - it would be useful if the kernel error-ed out with a descriptive exception.

[code]

Experiment, running on a Kasli DRTIO master (a274af7)
[code]

[2018-03-05 12:37] whitequark commented on #945
Rust doesn't have fallible allocation. This is [a longstanding issue](https://github.com/rust-lang/rfcs/pull/2116) and [is being implemented](https://github.com/rust-lang/rust/issues/48043), until then this can't be fixed at a reasonable cost.

[2018-03-05 13:30] marmeladapk commented on #908
[code]

[2018-03-05 13:36] enjoy-digital commented on #908
@marmeladapk: thanks, this seems clean, what are you testing?

[2018-03-05 14:02] hartytp commented on #908
Yes, what *are* you testing? That's the first one of those that I've seen looking good.

Can you send me binaries?

FWIW, I had another go with the 32-bit SDRAM last week (rebuilt the gateware and re-flashed it) and it stopped working. So, there seems to be something non-deterministic going int...

[2018-03-05 14:10] gkasprow commented on #908
@hartytp @sbourdeauducq
I did some observations today with 5GHz diff probe and 20GS/s scope.
The clock on 64 bit SDRAM observed at the end of the multi-drop line:
![020101_041128000](https://user-images.githubusercontent.com/4325054/36979227-1d9b024a-2087-11e8-9d77-00f8dd9ec45b.png)

A10 address line:
![020101_041128001](https://user-images.githubusercontent.com/4325054/36979256-36f4f304-2087-11e8

[2018-03-05 14:12] hartytp commented on #908
@gkasprow Nice. No SI issue there. I assume this is with the fixed Exar settings and default drive settings on all SDRAM pins?

[2018-03-05 14:14] gkasprow commented on #908
I run the ARTIQ gateware on it.

[2018-03-05 14:15] hartytp commented on #908
@gkasprow 64-bit SDRAM, with SAWG?

[2018-03-05 14:16] gkasprow commented on #908
I can also test data lines but need to scratch the silkscreen to gain access. And single-ended measurement won't work  in my lab due to amount of EMC caused by nearby TV and radio transmitter.

[2018-03-05 14:48] hartytp commented on #908
@gkasprow Before you do that, I'd like to understand more about your setup. The eyes that @marmeladapk posted look good, so I'm not surprised that the scope traces look good.

Why are the eye scans so much better than before? What's different about your setup that's improved those eyes? Is this related to the PSU issues after all?

[2018-03-05 15:11] marmeladapk commented on #908
@hartytp AFAIK this the same gateware I used here https://github.com/m-labs/artiq/issues/908#issuecomment-367975869. Built from master, but I can't remember if it's with sawg or without. It was beforce @gkasprow patched exar chip.

[gateware.tar.gz](https://github.com/m-labs/artiq/files/1781352/gateware.tar.gz)

[2018-03-05 15:14] cjbe opened #946 "Kasli DMA sustained event rate"
The sustained DMA event rate is surprisingly low on Kasli. Using the below experiment, I find that shortest pulse-delay time without underflow for a TTL output is:
* Opticlock: 530mu
* DRTIO local TTL: 1150mu
* DRTIO remote TTL: 490mu

For comparison, with the current KC705 gateware this is 128mu, and sb0 believes this should be closer to 48mu (3 clock cycles per event, https://irclog.whitequark.o

[2018-03-05 15:15] jbqubit commented on #908
I've also built and flashed version with 32-bit SDRAM and SAWG. Twice. Still same problem.

@gkasprow's recent tests indicate that there's not an obvious SI problem. Prior to shipping Sayma v1 @gkasprow tested SDRAM using Xilinx IP and found that it worked. That was July 2017. Debugging of M-Labs IP has been underway for at least six weeks now and is a 100% roadblock to testing Sayma v1. Sayma v1

[2018-03-05 15:17] whitequark commented on #946
Remote TTL is faster than local TTL?

[2018-03-05 15:22] cjbe commented on #946
yes - remote is faster than local. I was surprised by this too, but verified that when there is no underflow I get the correct sequence (number of pulses on a counter) out of both the master and slave.

[2018-03-05 15:24] hartytp commented on #908
@marmeladapk Okay, I'm a bit confused now.

- You posted one eye scan before that looked bad https://github.com/m-labs/artiq/issues/908#issuecomment-367259430 and one that looked good https://github.com/m-labs/artiq/issues/908#issuecomment-367002731
- Both eye scans were taken *after* @sbourdeauducq fixed the timing errors in the DDR3 PHY.
- After @sbourdeauducq's changes, you posted a UART output

[2018-03-05 15:25] hartytp commented on #908
Basically, can you try to reproduce the conditions you had before that gave memtest errors/bad eyes and then have a look at the traces with a scope?

[2018-03-05 15:26] hartytp commented on #908
Or, @sbourdeauducq can you suggest another test what other tests you would like to see don with the hardware to determine whether this is a gateware or hardware problem?

[2018-03-05 15:28] sbourdeauducq commented on #908
No, what [you suggested](https://github.com/m-labs/artiq/issues/908#issuecomment-370454371) sounds good.

[2018-03-05 15:28] marmeladapk commented on #908
@hartytp Right now I'm building sayma amc with SAWG against a274af7. We'll check if we have errors then on two amc boards we have in our lab. If not, you want us to build last not working version?

[2018-03-05 15:29] jbqubit commented on #908
If M-Labs reproduces the DDR3 test that @gkasprow did this summer using Xilinx IP it would establish if there's a hardware problem or not.

[2018-03-05 15:30] sbourdeauducq commented on #908
@jbqubit DDR3 is usually working correctly on our boards with the MiSoC core. What does this tell us if we run the Xilinx core a few times and it also works correctly?

[2018-03-05 15:34] hartytp commented on #908
@marmeladapk Well, I guess the question is: "what is the most direct measurement we can do to verify whether this is a hardware problem or not?"

I can think of the following:
- Take a non-working bitstream and verify that it still does not work once the Exar chip is updated. This demonstrates that the problem is/is not the power supply lines
- Take a non-working bitstream and verify with a scope

[2018-03-05 15:38] marmeladapk commented on #908
@gkasprow has bitstream with DDR3 tester at 800 MHz. We could upload these bitstreams and you could run thesetests on your boards.

[2018-03-05 15:38] gkasprow commented on #908
Yes, but these tests were done with just the SDRAM IP-core loaded.

[2018-03-05 15:40] sbourdeauducq commented on #908
@hartytp sounds good.

[2018-03-05 15:41] marmeladapk commented on #908
@hartytp Could you upload then your non-working bitstream? We still have at least 40 minutes until gateware with SAWG builds on our machine.

[2018-03-05 15:41] hartytp commented on #908
@marmeladapk yes, please do upload your SDRAM test. It might be good to confirm that this still passes (although, I would be extremely surprised if it didn't!).

[2018-03-05 15:42] hartytp commented on #908
Sorry, I think it got built over (my workflow for Sayma is horrible atm). Will upload one when I have the chance.

[2018-03-05 15:43] hartytp commented on #908
@sbourdeauducq @marmeladapk @gkasprow okay, so it sounds like we have an agreement on the tests that need to be done on Sayma. @gkasprow if you possibly can, it would be great to look at the data and clock lines at the same time to verify the jitter.

[2018-03-05 15:43] jbqubit commented on #908
Running the Xilinx tests with no dependence on MiSoC is a check for hardware problems. It's polite to reproduce this test prior to assuming that there's a hardware problem.

If M-Labs has a MiSoC-only DDR3 memory test we could run that on our respective hardware.

[2018-03-05 15:47] hartytp commented on #908
@jbquibt the tests outlined above shouldn't take @gkasprow and @marmeladapk too long to complete and will resolve the hw/gateware issue to everyone's satisfaction. Let's use that as a starting point.

If we agree that this is not a hardware issue then I'd prefer to leave it up to M-Labs to decide how to resolve it (I think we all agree that it is their responsibility to resolve this in a timely fa

[2018-03-05 16:10] cjbe opened #947 "Intermittent DRTIO write underflows"
I occasionally (a few times a day) see a stream of 'write underflow' errors from the Kasli satellite (using a branch of Artiq a274af77).

I seem to get them most frequently with an (underflowing) DMA sequence like the below experiment, but I have seen them without using DMA. The probability of seeing this error seems to be changed by restarting the master+satellite - i.e. sometimes I don't see thi

[2018-03-05 16:11] sbourdeauducq commented on #947
How are you clocking the master and satellite?

[2018-03-05 16:14] jbqubit commented on #908
@hartytp OK. I'll shelve my use-the-vendor-IP banner for the interim.

[2018-03-05 16:26] cjbe commented on #947
The master is running from an external 150 MHz. The slave is starting off on the external 150 MHz and switching to the recovered clock when the DRTIO link is up.

[2018-03-05 16:27] sbourdeauducq commented on #947
Data corruption from the Si5324 non-deterministic skew? Let's revisit this issue after the latter is fixed.

[2018-03-05 17:04] marmeladapk commented on #908
a274af7 with SAWG
[code]
Now it's much worse:
[code]

[2018-03-05 17:44] sbourdeauducq commented on #908
Can someone also double check the DRAM timings (e.g. activate-to-read delay, precharge-to-activate, etc.)?

[2018-03-05 18:16] gkasprow commented on #908
@sbourdeauducq do you operate this DDR3 memory at 100MHz intentionally? The clock period is 10ns...

[2018-03-05 20:19] enjoy-digital commented on #908
@gkasprow: the clock should be 500MHz.

[2018-03-05 20:43] jordens commented on #908
@gaskprow are you sure the 10ns/div don't refer to the upper window?

[2018-03-05 20:46] gkasprow commented on #908
@jordens I will check it. On my other 4k series Tek scopes, all settings apply to the lower window. The upper one is just preview. But this is very old scope with Windows XP and the interface is different . The lower window is controlled by "magnification" knob so you may be right :D

[2018-03-05 20:51] gkasprow commented on #908
@jordens You are right. The rise times don't look like it was 100MHz signal...

[2018-03-05 21:36] gkasprow commented on #908
@sbourdeauducq do you use the impedance calibration resistor in your IP-core? On some boards it may not be installed which was already mentioned [here](https://github.com/m-labs/sinara/issues/209#issuecomment-332611147)

[2018-03-05 22:14] hartytp commented on #908
@gkasprow @marmeladapk Amazing, thanks for doing that, it's a **huge** help!

So long as @marmeladapk has confirmed that the bad eyes/memtest errors still occur on this board, thats great!

Sounds like a good plan, that should rule out PI as the issue.

@gkasprow Use the bitstream compiled with SAWG. The bad eyes/memory errors occur during startup with this bitstream, so you should be able to diag

[2018-03-05 22:16] hartytp commented on #908
Someone, as in @enjoy-digital or as in @gkasprow ? What exactly do you want done? Do you want @gkasprow to compare the timings he measures on a scope to the data sheet values? Under what circumstances? I'd like to wrap these hardware tests up asap, so please post concrete and detailed descriptions of any measurements you want made...

[2018-03-05 22:22] gkasprow commented on #908
@sbourdeauducq in depth analysis of the DDR timing using the scope is problematic due to the nature of the measurement. 1..2 pf of the probe disturbs the signal phase in significant way and scope channel to channel matching is far worse than time margin required by the DDR chip. So I can observe the signal integrity, power integrity but for in-depth inspection I use Hyperlynx simulation that inclu

[2018-03-06 00:00] gkasprow commented on #908
It's quite simple
The bit file and Chipscope config file are [here](https://www.dropbox.com/sh/6of5ifnta87mbla/AADfquocXz7gNerjfCNZeNDya?dl=0)
Then once you load it, there is Virtual IO with 3 control lines. Among them are reset and start.
So you toggle reset and set start and the core starts running and testing the memory
One should observe the error line, i.e. by setting the trigger on it.
I kep

[2018-03-06 05:20] whitequark commented on #945
You'd need to "just" rewrite Vec to support specifying allocators explicitly. It seems more straightforward to wait a few days for the RFC to be implemented.

[2018-03-06 10:22] enjoy-digital commented on #934
We are now using GTH parameters from the Xilinx wizard, it will maybe improve things.

[2018-03-06 11:16] jordens commented on #938
I can reproduce this with the current opticlock variant (right now, in that variant, `external_clock=True` means using the si5324 in free_run mode).

[2018-03-06 12:38] hartytp commented on #908
@marmeladapk @gkasprow What's the status of this? Are you waiting for my binaries, or can you do the tests with binaries you have?

For the binaries, I'll use the latest ARTIQ, built with SAWG but with (64-bit RAM IIRC, @enjoy-digital recently changed this to 32-bit). I won't add the eye scan to the firmware, but feel free to add that yourself!

[2018-03-06 13:02] marmeladapk commented on #908
Use Vivado 2016.4 for Greg's bitstream.

[2018-03-06 13:04] marmeladapk commented on #908
@hartytp Eye scan patch: https://github.com/m-labs/artiq/issues/908#issuecomment-369850757

[2018-03-06 13:07] hartytp commented on #908
I'm already building with 2017.4 and don't have 2016.4 installed. Is there a reason for me to stop and rebuild with 2016.4? AFIACT, all that matters is that you take my binaries and verify that there are no SI or PI issues, but that ARTIQ still gives bad eyes. That should show that this is not a HW problem, but actually a gateware/vivado/firmware/etc problem.

Okay, I'll patch the firmware for you

[2018-03-06 13:09] hartytp commented on #908
Well, if your gateware produces that eye scan then you don't need my gateware, right? That eye scan shows a clear problem, even if the mem test does happen to pass by chance. There should be no gaps in the middle of the working region; any gaps away from the transition region are an indication of a problem that needs to be fixed, even if the firmware does get lucky and find a working region...

[2018-03-06 13:10] marmeladapk commented on #908
Yes, that's what I was saying. And my comment about 2016.4 was about https://github.com/m-labs/artiq/issues/908#issuecomment-370611410

[2018-03-06 13:10] hartytp commented on #908
So, unless @sbourdeauducq objects, I think that all you need to do @gkasprow @marmeladapk is to take the ARTIQ build that gives those bad eyes and:
- Apply the Exar patch
- Probe all power supply lines while the mem test is running
- Probe the data and clock lines while the mem test is running

If you find no SI/PI issues then I think we're done with HW tests.

[2018-03-06 13:20] hartytp commented on #908
@marmeladapk Remind me, those binaries:
- Are built after @sbourdeauducq's fix of the timing errors
- are built *with* the SAWG

@sbourdeauducq are you happy that this configuration is the appropriate one to test? Once those tests have been done, are you happy to sign off on the fact that no more HW testing is needed?

[2018-03-06 13:21] marmeladapk commented on #908
@hartytp

Yes and yes.

[2018-03-06 13:35] marmeladapk commented on #908
@hartytp Further information about Greg's DDR3 tester:

- Load bitstream and debug nets using Vivado 2016.4

- Connect 200 MHz differential clock:
![img_20180306_142811](https://user-images.githubusercontent.com/24512604/37034816-ccbd198e-214a-11e8-94ab-d2c837caff88.jpg)

- In hw_vio_1 set vio_win_start to 0, vio_sdram_rst_n to 0 then to 1, then set vio_win_start to 1:
![przechwytywanie](https://u

[2018-03-06 13:38] gkasprow commented on #908
In addition one can set trigger to the rising edge of the dbg_data_compare_error_1 and leave it working for hours.

[2018-03-06 13:49] gkasprow commented on #908
We did power supply ripples measurement during SDRAM tester running at 800MHz.
32bit DDR bank:
![tek00008](https://user-images.githubusercontent.com/4325054/37035669-95eee5ba-214d-11e8-90d7-b39e7d1022c6.png)

64bit DDR bank:
![tek00009](https://user-images.githubusercontent.com/4325054/37035684-9c69cfb8-214d-11e8-8d90-ff14bdad23f3.png)

[2018-03-06 14:21] hartytp commented on #908
Thanks @gkasprow! To check I understand you:
- Were those traces taken with ARTIQ running? It's conceivable that some PI/SI bug is triggered by the heavier FPGA load presented by ARTIQ, so we should make sure to do all tests with ARTIQ running and not your SDRAM tester.
- Did you look at all FPGA power supplies, or only the SDRAM 1V5 supply (one can imagine a PI issue that affects the SDRAM SERDES

[2018-03-06 14:39] marmeladapk commented on #908
@hartytp We only looked at 1,5 V while Xilinx IPcore was running. Now we'll retake those measurements with Artiq.

[2018-03-06 14:41] jordens opened #948 "exception speed"
[code]

[code]

Current master, kasli, opticlock.
Why does raising and catching a plain exception in the kernel take 11 ms? Can we do something about that? It makes exceptions mostly useless as a tool.

[2018-03-06 14:53] hartytp commented on #908
Cool, thanks.

[2018-03-06 15:01] cjbe opened #949 "Satman 'aux packet error' on DRTIO link initialisation"
Whenever a DRTIO link is initialised (by reboot or unplugging/replugging a fiber) the satellite emits a warning.

A typical log:
[code]

The satman warning seems to happen at roughly the same time as the master reports 'link initialisation complete'. These warnings only seem to occur on link startup - I have never seen them at any other time.

[2018-03-06 15:04] whitequark commented on #948
Exceptions are for exceptional control flow, not for arbitrary nonlocal jumps. As implemented, that is using the C++ zero-cost exception handling, the common case (normal control flow) is zero overhead, and more importantly, LLVM can optimize normal control flow without any regard to the exceptional control flow.

I'm pretty sure exceptions as they are, are reporting exceptional conditions just fi

[2018-03-06 15:12] jordens commented on #948
Ack. It makes the usecase of reacting to exceptions with the usual speed (µs) impossible. I think it also means that any cleanup or rescue action (be it within the experiment or the idle kernel) is already 11 ms late before e.g. it can even start to try saving the ion by turning on cooling lasers. That's probably my biggest worry.

[2018-03-06 15:15] sbourdeauducq commented on #949
Yes, that's pretty harmless - during link initialization the master keeps pinging the satellite on the aux channel until it is able to answer packets correctly, after which the link is declared up. What is happening is the satellite gateware receives a ping packet while the firmware is busy-waiting on the Si5324 lock, then another that causes an error as the buffer was already full (the firmware i

[2018-03-06 15:15] whitequark commented on #948
Indeed, I haven't considered that when designing the current system. What we could do fairly easily is allowing to register a callback that runs immediately after an exception is raised, but before it's bubbled up the stack or really processed in any way. That's not very Pythonic, but reacting to events in µs is also not very Pythonic, so I guess that cancels out.

[2018-03-06 15:19] whitequark commented on #948
I think the right thing to do if you really need µs-scale exception handling is to go the CPS route, since it can be seen as the generalization of the callback technique I just proposed. But I'm very worried about the impact on backtraces. It's also a rather substantial change to the compiler.

[2018-03-06 15:27] jordens commented on #948
Well. For the idle kernel this is on top of loading, linking, and starting it. Maybe that's half the bottleneck.

[2018-03-06 15:31] marmeladapk commented on #908
@enjoy-digital How can we run this test in loop?

[2018-03-06 15:47] enjoy-digital commented on #908
@marmeladapk: you can create a loop here:
https://github.com/m-labs/artiq/blob/80cbef0031db4e874ed8688e06cf23c064ab5d68/artiq/firmware/bootloader/main.rs#L100

[2018-03-06 18:06] gkasprow commented on #908
We measured the power supply rail of SDRAM just before and after ARTIQ does memory test.
When it starts, the voltage drops for a while by 30mV, when it finishes it gets similar overshoot. I have scope traces on the pen-drive which is plugged to the scope, will publish it once I get to the lab.

[2018-03-06 18:16] gkasprow commented on #908
I measured it directly under the FPGA bank.

[2018-03-06 21:25] hartytp commented on #908
@gkasprow okay, good, so the 1v5 rail isn't the cause of the bad eyes with artiq. Are there any other rails we need to check? 1v8 for the fpga?

[2018-03-06 23:35] hartytp commented on #908
I know there is a huge amount going on atm but please can we prioritise finishing the pi and si measurements tomorrow?

[2018-03-07 01:02] sbourdeauducq commented on #908
That's a bit strange considering that MiSoC/ARTIQ doesn't load the SDRAM that much - it's just traffic generated by that little CPU! Things like the DMA core would use a lot more.

Many years ago I developed a core that generates a lot of pseudo-random traffic with the SDRAM, but this would have to be refreshed and ported. https://github.com/m-labs/misoc/blob/master/misoc/cores/sdram_tester.py

[2018-03-07 03:04] sbourdeauducq commented on #933
Confirmed that enabling multilink no longer breaks channel 0.

[2018-03-07 07:39] enjoy-digital commented on #908
@sbourdeauducq: i'm going to do more tests with a simple design (https://github.com/enjoy-digital/sayma_test/blob/master/sayma_amc.py#L312), see if i'm able to reproduce the eye scan issue and try to understand how it could be related to the gateware. I'll also do some tests with the gateware traffic generator/checker that is in the design.

[2018-03-07 07:46] sbourdeauducq commented on #933
The other channel (second SFP) is also OK, including the DRTIO protocol.

[2018-03-07 07:46] #933 closed

[2018-03-07 07:46] sbourdeauducq commented on #933
Thanks.

[2018-03-07 07:47] sbourdeauducq commented on #934
Looking good now.

[2018-03-07 07:47] #934 closed

[2018-03-07 08:59] sbourdeauducq commented on #932
@philipkent Are there still flashing problems?

[2018-03-07 09:00] #932 closed

[2018-03-07 11:36] jordens commented on #938
a6d1b030c1f1697755a081f671c571d734a96187

[code]

[2018-03-07 11:36] #938 closed

[2018-03-07 11:45] hartytp commented on #908
@gkasprow @marmeladapk What's the timeline for finishing this work? AFAICT, what needs doing is:
- [ ] Confirm that you're using a version of ARTIQ that gives bad eye scans for your measurements
- [ ] Confirm that updating the Exar firmware does not affect the eye scan
- [ ] Confirm that the 30mV drop you measured on the 1V5 SDRAM line is expected, within spec and won't cause problems in the futur

[2018-03-07 11:53] marmeladapk commented on #908
@hartytp We're now doing measurements with Artiq memory test running in loop. This Sayma has updated Exar firmware.

[2018-03-07 11:55] hartytp commented on #908
Great! This is with the ARTIQ build that gave bad eye scans, right? (One built after @sbourdeauducq fixed the timing errors?)

[2018-03-07 11:57] marmeladapk commented on #908
Yes, it's this one: https://github.com/m-labs/artiq/issues/908#issuecomment-370489356

[2018-03-07 12:17] hartytp commented on #908
Thanks for confirming. Just to check, but that still gives the bad eye scans at the moment?

[2018-03-07 12:19] marmeladapk commented on #908
@hartytp Yes.

[2018-03-07 12:46] hartytp commented on #908
Great! Thanks. Both @marmeladapk and I have gateware that gives bad eye scans, which you can use for your tests if that helps?

[2018-03-07 12:54] jordens commented on #946
* When RAM bound, then the throughput ratio of 4:1 (kc705:kasli) is expected from the data width.
* The overall slowdown by a factor of 5 is unexpected.
* The factor of ~2 when doing DRTIO on local TTL is also unexpected.

[2018-03-07 13:29] sbourdeauducq commented on #908
@enjoy-digital That's probably not the problem, but shouldn't DQS have a preamble and a postamble (time when it is driven at a fixed value after leaving hi-Z and before entering hi-Z)? I don't see that on the trace, it is toggling all the time when driving.

[2018-03-07 13:53] enjoy-digital commented on #908
@sbourdeauducq: this is similar to what we are doing on Kintex7, so as you are saying this is probably not the issue, but i'll try to add that.

[2018-03-07 13:53] hartytp commented on #908
@gkasprow @marmeladapk Thanks again for doing all that! I know those measurements weren't easy or fun to perform.

[2018-03-07 13:55] hartytp commented on #908
@sbourdeauducq if there are any other measurements you want @gkasprow to make then please suggest them now. Otherwise, as agreed, let's work on the assumption that this is a gateware/firmware/vivado issue for M-Labs to deal with. Can you make it top priority, please?

[2018-03-07 13:56] hartytp commented on #908
@enjoy-digital not telling you how to suck eggs, but did you try reading the SDRAM datasheet and checking for anything unexpected? Might also be worth double checking Ultra-scale clocking etc to look for differences from the 7 series.

[2018-03-07 13:58] gkasprow commented on #908
Here is how the SDRAM P1V5 looks like when the ARTIQ starts and stops testing the SDRAM
![tek00011](https://user-images.githubusercontent.com/4325054/37096096-ee232780-2217-11e8-9c3e-d3a8a1d2cf12.png)
![tek00010](https://user-images.githubusercontent.com/4325054/37096117-fa78d494-2217-11e8-8aea-fc7c3ea6e6ae.png)

[2018-03-07 14:03] gkasprow commented on #908
The SDRAM supply voltage range is 1.425 to 1.575 so this is not an issue. We have 1.5003V idle and 1.459Vwith ARTIQ testing it.

[2018-03-07 14:07] sbourdeauducq commented on #908
Well, as I said the memtest in the MiSoC/ARTIQ bootloader is only loading it very lightly. What happens with high-bandwidth transfers? @enjoy-digital do I get it right that you already have bitstreams that do that?

For a proper test we should also load the FPGA at the same time (maybe just put some very long shift registers in it, fed by a LFSR).

[2018-03-07 14:10] enjoy-digital commented on #908
@sbourdeauducq: i don't have it yet

[2018-03-07 14:17] hartytp commented on #908
@sbourdeauducq Before we get carried away with endless hardware tests, let's agree on one thing: that neither PI nor SI issues are responsible for the bad eye scans/memtest issues we're currently seeing on Sayma.

Greg already ran long stress tests on the SDRAM using the Xilinx cores and found no errors. He also simulated it carefully at the design stage. So, let's focus on looking for issues with

[2018-03-07 14:21] sbourdeauducq commented on #908
That again may not be the problem, but the voltage drop with very light loading does sound a bit weird.

[2018-03-07 14:24] gkasprow commented on #908
@sbourdeauducq but it does not pass the test even with light load where both supply and signals look good.

[2018-03-07 15:04] hartytp commented on #908
Right. The immediate issue (mem test failures on startup) does not seem to be a HW issue. I think we all agree that.

@gkasprow is this voltage drop what you'd expect from your simulations given the relatively light load used during these tests? When you stress tested the SDRAM using the Xilinx core with a heavy load, what voltage drop did you see?

Correct me if I'm wrong, but IIRC, the SDRAM is

[2018-03-07 17:47] jordens commented on #940
@cjbe ping. What do you mean by `init()`?

[2018-03-07 21:08] gkasprow commented on #908
@hartytp the 1.5V rail supplies both SDRAM and relevant bank of FPGA.  So the current consumption is related only with SDRAM transactions. That's why we observe small transients when the memory cycles start. We will measure it once again with the Xilinx IP core tester. Tomorrow I go for a conference, @marmeladapk could you please measure the DC voltage on some cap under one of the SDRAM chips plea

[2018-03-07 22:44] cjbe commented on #940
The init() on the AD9910 class fails. My Urukul initialisation kernel does:
[code]
The error is (sometimes) thrown in one of the AD9910 channel init() calls, if the previous kernel does not end gracefully.

[2018-03-08 07:41] #949 closed

[2018-03-08 08:20] sbourdeauducq commented on #947
Reproduced.

[2018-03-08 09:19] enjoy-digital commented on #908
I just did some changes to operate the ODELAYE3/IDELAYE3 in "TIME" mode instead of "COUNT" mode. I was using "COUNT" mode since was not able to get the DELAY_VALUE reseted correctly in "TIME" mode but i added a workaround for that. Phase shift between DQ and DQS should now always be guaranted to be 500ps.

[2018-03-08 09:48] enjoy-digital commented on #908
@sbourdeauducq: https://github.com/m-labs/misoc/commit/dfacdb6f570923404d7cd5df1edf0df7f389e396 adds preamble/postamble on DQS.

[2018-03-08 10:01] hartytp commented on #908
Thanks! I'll rebuild the gateware and try that out.

[2018-03-08 10:18] marmeladapk commented on #908
I measured 1,49 V idle (while holding core on reset) and 1,47 V with self-test.

[2018-03-08 10:21] hartytp commented on #908
@marmeladapk So, the voltage drop with the Xilinx stress test is less than the voltage drop with the M-Labs core at a light load? Or is this just the measurement accuracy?

In either case, there doesn't seem to be a problem here.

[2018-03-08 11:13] jordens commented on #797
#675

[2018-03-08 11:13] #797 closed

[2018-03-08 13:08] enjoy-digital commented on #908
Here is a test design ([ddram_64_test.zip](https://github.com/m-labs/artiq/files/1793233/ddram_64_test.zip)) that can do:
- mem_init: write/read leveling with eyescan for both.
- mem_test: software memory test
- mem_stress: continuous hardware memory test (53Gbps) with speed/errors report.

If you still have DDR3 issues with ARTIQ, please run this and provide mem_init/mem_test/mem_stress results.

[2018-03-08 13:17] hartytp commented on #908
@marmeladapk is it worth you running this and checking the 1V5 voltage drop?

[2018-03-08 14:08] marmeladapk commented on #908
@enjoy-digital Maybe stupid question but...

JTAG port or UART port?

[2018-03-08 14:13] marmeladapk commented on #908
@jordens said:

(ttyUSB1 in my case)
My measurement: 1,4(6) V

[2018-03-08 14:53] jordens commented on #911
Anecdotal solutions are either `conda install libcurl` or checking for proper recursive git checkouts.

[2018-03-08 15:27] jordens commented on #939
You could also shave off one `rtio_output()`, i.e. one event, by not updating the spi config each time between two writes to the attenuators or the same DDS. But you'd do that in a separate API.

[2018-03-08 15:40] hartytp commented on #908
? You measured 1.4V on the 1V5 line, or you measured 1.46V?

[2018-03-08 15:45] marmeladapk commented on #908
1,466667 V

[2018-03-08 15:46] hartytp commented on #908
Okay, so still well in spec. No problem PI here then...

[2018-03-08 16:07] hartytp commented on #908
@enjoy-digital

[code]

[2018-03-08 16:18] enjoy-digital commented on #908
@hartytp: thanks for the results (even if i was expecting better ones). I need to do more tests with our boards. If you have time, you can test the test bistream i send to see if you have good result with it.

[2018-03-08 16:20] hartytp commented on #908
I'm loading your bitstream atm.

[2018-03-08 16:34] hartytp commented on #908
[code]

[2018-03-08 16:35] hartytp commented on #908
[code]

[2018-03-08 16:35] hartytp commented on #908
[code]

[2018-03-08 16:37] hartytp commented on #908
Those eyes look really nice!

[2018-03-08 16:40] hartytp commented on #908
[code]

So...nothing suspicious there.

[2018-03-08 16:51] hartytp commented on #908
@marmeladapk can you do an eye scan using the latest version of ARTIQ/misoc (after Florent's recent patch) and see what it looks like on your board that was giving mem test errors? Otherwise, I'll do it on my board some time tomorrow.

[2018-03-08 16:53] hartytp commented on #908
@enjoy-digital have you checked recently that Sayma is definitely meeting timing with Sawg and that there is nothing suspicious in the Vivado output that could be responsible for this?

[2018-03-08 17:00] marmeladapk commented on #908
@hartytp: I'll do it tommorow.

[2018-03-08 17:05] hartytp commented on #908
@enjoy-digital I assume it's not related to this, but there are definitely timing violations around the ethmac (IIRC @jordens already pointed that out).

@marmeladapk thanks!

[2018-03-08 17:07] sbourdeauducq commented on #947
Ran the repro several hundred times after the fix without any error.
What kind of fiber lengths are you going to use DRTIO with? If they vary a lot we should do a RTT measurement and compute the underflow limit value in the firmware.

[2018-03-08 17:12] sbourdeauducq commented on #947
(The value we had before was for GTX+62.5MHz clock with a short fiber, which is why we are seeing this problem now with the 150MHz clock)

[2018-03-08 21:17] cjbe commented on #947
My preference would be for an RTT measurement. As @klickverbot says, links will typically be 2m - 15m, but up to (at least) 30m on occasion.

[2018-03-08 21:51] hartytp commented on #908
@enjoy-digital happy to post binaries I used which give memtest errors if that helps?

[2018-03-08 21:55] enjoy-digital commented on #908
@hartytp: yes all the build directory if possible, thanks.

[2018-03-08 21:57] hartytp commented on #908
Will do in the am.

[2018-03-09 02:34] sbourdeauducq commented on #947
Thinking more about this, it's not that simple:
* The timestamp sent during TSC synchronization goes the same way as the writes, so it's already compensated.
* Correcting the timestamp automatically based on RTT measurements (so that both the satellite and the master have the same TSC, not a delayed version of it) is subject to +/- 1 cycle non-determinism.
* Timestamp correction at the DRTIO level

[2018-03-09 04:24] sbourdeauducq commented on #946
That's due to the analyzer interfering (it is writing back to the memory the full DMA sequence, using IO bandwidth, causing bus arbitration delays, DRAM page cycles, etc.). With the analyzer disabled I get 207mu instead of ~1150mu.
No need to modify gateware, disabling it in the firmware is sufficient:
[code]

[2018-03-09 04:28] sbourdeauducq commented on #946
The KC705 is less affected because the wider DRAM words make linear transfers (which is what the DMA core and the analyzer are doing) more efficient. We could reach similar efficiency on Kasli by implementing optional long bursts in the DRAM controller.

[2018-03-09 08:22] cjbe commented on #946
@sbourdeauducq  I don't see how this should make local and remote TTL transactions take different time - could you reproduce this aspect?

[2018-03-09 09:00] jordens opened #950 "sequence errors after kernel eviction/errors"
* Single channel, led0 only
* Continuously increasing timestamps
* Idle kernel and experiment are the same
* When idle kernel is interrupted and experiment kernel start *or* when experiment kernel is ctrl-c-ed and when idle kernel starts, there is a sequence error on channel 32 (led0).
* Current master, opticlock, Kasli/v1.1, Si5324 clock.

[code]

[code]

[code]

[2018-03-09 09:01] jordens commented on #950
Might also be underlying #940.

[2018-03-09 09:02] cjbe commented on #946
Right - if I am reading the SDRAM core correctly, it is currently not buffering reads and writes, or optimising access patterns. So on Kasli during a DMA sequence, in worst case of DMA and analyser data in same bank:
* open row (2 cycles)
* we do a read burst or two of 2*8=16 bytes, each of which has a latency of ~6 cycles (through phy etc)
then by a round robin arbiter, we accept the analyser wri

[2018-03-09 09:35] sbourdeauducq commented on #946
Here are the results I got:
* With the original design, I get ``t_mu=650`` for local, and ``t_mu=510`` for remote. I see a difference but it is not as marked as in your case. Perhaps the difference is due to the CPUs making different DRAM accesses.
* With the analyzer disabled, they both take about the same time: ``t_mu=~210``
* With the analyzer enabled and the patch below, also about the same ti

[2018-03-09 10:01] hartytp commented on #908
Send binaries in email.

[2018-03-09 11:29] marmeladapk commented on #908
Artiq 3fbcf5f with SAWG
[code]
[code]
Why are there only 4 modules?

[2018-03-09 11:30] sbourdeauducq commented on #908
Florent switched to the 32-bit SDRAM to try to work around the problem.

[2018-03-09 11:43] marmeladapk commented on #908
@hartytp
[code]

[2018-03-09 11:57] hartytp commented on #908
odd. That one fails on my board.

[2018-03-09 12:40] marmeladapk commented on #908
Second Sayma Board (without Exar patch), same build as https://github.com/m-labs/artiq/issues/908#issuecomment-371787973
[code]
[code]

@hartytp's build
[code]

[2018-03-09 12:41] hartytp commented on #908
Thanks! Let's put this on hold until the timing issues are fixed.

[2018-03-09 13:01] sbourdeauducq commented on #908
I have implemented the first Xilinx-recommended fix for when the IOSERDES clocking continues to break:
https://github.com/m-labs/misoc/commit/eb9c8a17784baa3116981d7f62911ef0937a116b
But since I cannot reproduce the timing failure (timing passes on my builds for unknown reasons) I cannot tell if this improved things or not.
I have also eased the timing path that @jordens reported was failing on Et

[2018-03-09 13:03] hartytp commented on #908
I'm happy to try rebuilding. But, it looks like @enjoy-digital is still doing some work. Should I wait for him to finish that first?

[2018-03-09 13:09] enjoy-digital commented on #908
@hartytp: i did some changes on the IO constraints (to try to match MIG constraints) and integrated the eyescan in the firmware. I'm stopping for today, you can rebuild if you want.

[2018-03-09 13:10] hartytp commented on #908
okay, building now.

Out of curiosity, are there other things you think we should fix as well? Or, have you implemented all the changes on your to do list?

[2018-03-09 13:14] marmeladapk commented on #908
Rebuilding as well.

[2018-03-09 13:27] enjoy-digital commented on #908
@hartytp: no, i don't have others ideas for now. On your last bistream that was failing, you had stranges values for write leveling: (140* 147* 173* 164*). I don't explain it. If you are able to reproduce it, we will maybe have a better idea with the scan that is now done for write leveling.

[2018-03-09 13:59] hartytp opened #951 "Sayma: assorted vivado warnings"
A few things from the vivado output. Not sure if any are actually relevant/a cause for concern. Would be great if someone with more experience (@enjoy-digital, @sbourdeauducq or @jordens) could go through the vivado outputs in more detail and see if they can spot anything interesting...

AMC:

``` WARNING: [Place 30-568] A LUT 'IDDRE1_i_1' is driving clock pin of 5 registers. This could lead to la

[2018-03-09 14:05] sbourdeauducq commented on #951
Ah. I was surprised that the examples in https://www.xilinx.com/support/answers/67885.html worked correctly - of course they did not. Somehow I missed those warnings. Will check.

The SLEW and DRIVE ones are harmless.

[2018-03-09 14:06] hartytp commented on #951
Thanks!

[2018-03-09 14:08] hartytp commented on #951
Is it worth adding some basic scraping to the build scripts to flag up critical warnings and timing violations?

[2018-03-09 14:09] sbourdeauducq commented on #951
Seems it should be ``-of_objects`` and not ``of`` contrary to what the AR says.

[2018-03-09 14:10] marmeladapk commented on #951
@hartytp There's myriad of warnings and critical warnings you can get. If we could for example suppress some levels of information they would stand out more.

[2018-03-09 14:13] whitequark commented on #951
@hartytp We already flag the build on timing violations (it's a warning in buildbot). Not for critical warnings because there are so many for bullshit reasons, like adding files with multiple TCL commands and not one...

[2018-03-09 14:35] hartytp commented on #951
@whitequark Sure, but it's not hard to do some basic filtering to remove the more BS ones.

Anyway, in the meantime, I'd really appreciate it if someone who knows what to look for could go over all the vivado outputs carefully and see if they can spot anything I'd miss. It's tedious and time consuming, but worthwhile given how much of everyone's time this issue has consumed...

[2018-03-09 14:39] sbourdeauducq commented on #951
It seems to be ``-of``, which is not documented but appears in other examples and application notes. Vivado no longer complains about the command.

[2018-03-09 15:02] hartytp commented on #951
Also:
```WARNING: [Power 33-332] Found switching activity that implies high-fanout reset nets being asserted for excessive periods of time which may result in inaccurate power analysis.```

[2018-03-09 15:04] marmeladapk commented on #908
8f6f830
[code]

[2018-03-09 15:13] hartytp commented on #908
Also https://github.com/m-labs/artiq/commit/8f6f83029cd376d33f707d61d08763c5689433c2

[code]

[2018-03-09 15:27] dtcallcock commented on #951
You must construct additional pylons!

[2018-03-09 15:59] enjoy-digital commented on #908
@hartytp: it seems your board has different write leveling behaviour that the others. I'll try to artificially reproduce this behaviour on our board (by adding additionnal initial delay to dq/dqs) to see if it's handled correctly by the gateware/firmware.

[2018-03-09 16:01] hartytp commented on #908
Any idea what could cause that?

[2018-03-09 16:13] marmeladapk commented on #908
Same build as last time, this time on another Sayma with exar patch + RTM connected (if it matters)
[code]

[2018-03-09 16:17] hartytp commented on #908
That looks quite a bit worse than your other Sayma, doesn't it...

[2018-03-09 16:19] hartytp commented on #908
Any ideas why?

[2018-03-09 16:20] hartytp commented on #908
Or, is this just not reproducible across reloading the FPGA/thermal variations/something else horrible?

[2018-03-09 16:23] marmeladapk commented on #908
I checked few times without RTM, it looks similar.

[2018-03-09 16:37] marmeladapk commented on #908
@hartytp This one was checked (all screenshots Greg posted are from this one).

[2018-03-09 16:38] hartytp commented on #908
okay, well I'm a bit stumped. Any idea why the board-board variations? Just marginal timing in something combined with standard PVT?

[2018-03-09 16:47] hartytp commented on #908
And, with @sbourdeauducq's latest patch:

`` __  __ _ ____         ____
|  \/  (_) ___|  ___  / ___|
| |\/| | \___ \ / _ \| |
| |  | | |___) | (_) | |___
|_|  |_|_|____/ \___/ \____|

MiSoC Bootloader
Copyright (c) 2017 M-Labs Limited

Bootloader CRC passed
Initializing SDRAM...
DQS initial delay: 88 taps
Write leveling scan:
Module 3:
00000000000000000010001111111111111111111111111111111111111111

[2018-03-09 17:02] enjoy-digital commented on #908
@hartytp: i don't have idea for board-board variations but with your traces, i see that the firmware is not doing write leveling correctly: On your last capture the firmware is selecting 184* for Module 0 where it should select something like 346. It does that because we have some oscillation at the end of the 1 to 0 zone and are not robust to that. I'm going to implement something to fix that and

[2018-03-09 17:10] hartytp commented on #908
@enjoy-digital sounds like a plan.

To be honest, I'm not sure how good the eyes should actually be. Is this variation within spec for standard board to board variations? If so, all we need to do is tweak the leveling algorithm and we're done. It would be interesting to hear from someone with more experience (@gkasprow) about what we should expect.

[2018-03-09 17:12] hartytp commented on #908
@enjoy-digital worth playing with the drive level as well?

[2018-03-09 17:17] enjoy-digital commented on #908
@hartytp: i see two things:
- write/read leveling variation between boards, for this i'm not able to say if it's specific to board or PVT.
- oscillations happening in the transitions zones. For this i think we should at least be robust to some oscillations which is actually the case for read leveling, but not for write leveling.

[2018-03-09 18:15] enjoy-digital commented on #908
@hartytp:
https://github.com/m-labs/artiq/commit/a95cd423cc1320968a678ab0c01fd7471e133940 adds a gap for write leveling, it should improve things on your board. I've been able to test with artificial high skew on our board.

The second region you see is in fact the first one, just that the delay, it means that the total length of the region = number or taps for DDR clock cycle: you have 88 taps fo

[2018-03-09 18:29] hartytp commented on #908
[code]

[2018-03-09 18:29] hartytp commented on #908
wtf?

[2018-03-09 19:57] enjoy-digital commented on #908
@hartytp: https://github.com/m-labs/misoc/commit/d167deff278f773107c9fd61181a92841de97f3c should give you better results, but you need to rebuild...

[2018-03-09 20:59] hartytp commented on #908
Thanks. Will do that on Monday. Fingers crossed! Thanks again for all the hard work on on this. We've fixed quite a few potential issued so hopefully we're getting there.

[2018-03-10 12:28] hartytp commented on #951
@sbourdeauducq The critical warnings have now gone, as have the timing violations. Thanks!

If none of the other vivado warnings here concern you then feel free to close the issue.

[2018-03-10 13:41] sbourdeauducq commented on #951
That one is somewhat concerning - the name (``{``) of the register is changing at every run and is often binary garbage arising from Vivado memory corruption...

[2018-03-10 14:45] hartytp commented on #951
Hmm...any suggestions how we track that down? Does this only appear on Sayma? Worth a bit of old fashioned comment stuff out until the error goes so we can localize it? Suggestions about where to begin?

[2018-03-10 14:51] sbourdeauducq commented on #951
Maybe @jbqubit's Xilinx contacts can look into that one, since this is clearly a Vivado bug.
It doesn't occur only on Sayma, I know someone who also has this bug with a completely different FPGA project.

[2018-03-10 15:16] hartytp commented on #951
The garbled output is clearly a vibado bug, but isn't it still pointing at a real gateware issue that we should fix?

[2018-03-10 15:20] sbourdeauducq commented on #951
That looks like a minor detail that is sub-optimal; as long as Vivado produces a correct netlist (despite the memory corruption) and it passes timing then it's fine.

[2018-03-10 15:22] hartytp commented on #951
Or is the apparent memory corruption in vivado the only thing that worries you about that message? If so then I agree there isn't much we can do about it.

[2018-03-10 15:24] hartytp commented on #951
Okay. Well if there isn't anything else in the vivado output for sayma  which we need to look at further then feel free to close this.

[2018-03-10 15:27] sbourdeauducq commented on #951
Yes.
Well there's that, and this one on the RTM should be fixed:

[2018-03-10 15:29] sbourdeauducq commented on #944
#951

[2018-03-10 15:29] #944 closed

[2018-03-10 15:39] hartytp commented on #951
My thinking here is that the sdram issue could be vivado doing sonethibg silly in response to struggling to neet timing on the complex sawg desing. So, tripple checking all the cobstraints and fixing issues like this whuch are upsetting vivado could be a big help even if the warnings aren't directly related to the sdram.

[2018-03-10 15:45] sbourdeauducq opened #952 "kc705-phaser conda build broken on release-3"

[2018-03-11 03:36] sbourdeauducq commented on #908
* With those binaries: http://m-labs.hk/sayma/artiq_sayma_44277c5b7e.zip
* SAWG is enabled
* Timing is met, no critical warnings, no complaints about gated clocks.
* Memory test passes on Sayma-1 (log below).
* Sayma-3 has developed a new bug that breaks JTAG (Error: JTAG scan chain interrogation failed: all zeroes) and is not resolved by power cycling, and could not be tested yet.
* Sayma-2 is no

[2018-03-11 03:43] sbourdeauducq commented on #908
After a few more power cycles, Sayma-3 behaved itself. Log below:
[code]

[2018-03-11 07:55] mingshenli opened #953 "setting 'artiq_run device_db.py'"

[2018-03-11 09:20] mingshenli commented on #953
and the only parameter I should change is the core_addr if I want to run the `led.py` using `artiq_run`?

[2018-03-11 10:04] jordens commented on #953
Depends. The `device_db.py` is correct if it corresponds to your firmware, gateware, and hardware. IP address is only one parameter there. Are you really using the KC705 with the NIST backplane and the AD9914 DDSs (since that's where you copied that device database from)?

[2018-03-11 10:41] mingshenli commented on #953
No,we only have a kc705 board.And now the board can not be found, that may also due to the `device_db.py`
![qq 20180311180555](https://user-images.githubusercontent.com/35680445/37252101-6abe1dea-2556-11e8-9503-187b66727d4e.png)
We have run `artiq_flash -t [board] -m [adapter] -f flash_storage.img proxy storage start` containing the IP adderss successfully.

[2018-03-11 11:00] jordens commented on #953
Can you ping the board?
What are the messages on the serial port?

[2018-03-11 13:00] marmeladapk commented on #908
a04bd5a, seems there are no timing violations in my build.
[code]

[2018-03-11 20:28] whitequark commented on #952
Fixed

[2018-03-11 20:28] #952 closed

[2018-03-11 21:06] cjbe commented on #947
With fc3d97f I still see infrequent write underflows. With the following experiment, I see a write underflow every 5 minutes or so.

[code]

[code]

[2018-03-11 21:16] jordens commented on #939
No new issue here.

[2018-03-11 21:16] #939 closed

[2018-03-11 21:22] jordens commented on #891
Currently a frequent offender is the interrupt path (timer especially) to the dcache. Maybe we can add some pipelining at the beginning.

[2018-03-12 03:12] sbourdeauducq commented on #947
@cjbe Are the two local TTLs necessary to reproduce the bug?

[2018-03-12 08:43] cjbe commented on #947
Removing the local TTLs and making the remote output events more frequent increases the rate of errors to ~ 1/s on my setup, which consists of 2x Kasli v1.0 connected by a 10m fiber:
[code]

[code]

[2018-03-12 09:50] hartytp commented on #908
@sbourdeauducq This is what I get with the binaries you posted:

[code]

[2018-03-12 09:51] hartytp commented on #908
Note that while the mem test does pass on @marmeladapk's board, the eyes look really quite bad. So, I suspect it's really just a matter of luck that it works on his board and not on mine. Neither really look like eye scans on a working board AFAICT.

[2018-03-12 09:55] hartytp commented on #908
My best guess here is that there is something wrong like a missing/incorrect timing constraint, an output drive not being set optimally, etc. AFAICT, Vivado is struggling to meet timing with the SAWG in place, so I wouldn't be surprised if it's doing something funny here, so it's important to have everything optimally set up and fully constrained. Also, if there is anything we can do to make timin

[2018-03-12 09:55] hartytp commented on #908
As always, if you can think of anything you want me to try/look at then let me know.

[2018-03-12 11:24] mingshenli commented on #953
I ping the IP address and it reply 'Unable to access the target host '

[2018-03-12 12:43] sbourdeauducq commented on #908
Does it pass on your board (and everything looks good) when SAWG is disabled?

[2018-03-12 12:51] hartytp commented on #908
Did last time I checked. Can rebuild and recheck if that helps

[2018-03-12 14:04] hartytp commented on #908
@sbourdeauducq Without SAWG https://hastebin.com/qagicibita.sql

No mem test errors.

No errors in the middle of the working region AFAICS.

[2018-03-12 14:20] hartytp commented on #908
Looking again at the "bad" eyes, with errors in the working region, AFAICS, the problems are all with the read leveling rather than the write leveling. I wonder if there is something wrong with the IDELAY code. Could we fuz this by looping an OSERDES to an ISERDES and sweeping the IDELAY for different ODELAYs?

[2018-03-12 15:09] jbqubit commented on #944
Vivado is working very hard to achieve closure and seems on the edge of not finding a solution. If the Xilinx model for Kintex UltraScale were slightly off, Vivado may claim timing closure but produce a .bit that is borderline. Do you have reason to suspect this?

I'm uncomfortable with Sayma's reliance on a gateware design that's so brittle. What are the prospects for reducing congestion in Sayma

[2018-03-12 15:19] sbourdeauducq commented on #944
Kintex-7 doesn't seem to have this problem; at least we did not observe it (though the SAWG on KC705 has fewer channels).

[2018-03-12 15:21] hartytp commented on #944
Shouldn't do if everything is correctly constrained. Vivado is supposed to perform a conservative timing analysis that provides a complete guarantee over PVT. There is always the possibility of a Vivado bug, but we have used a few different versions.

I still suspect we're missing something obvious and that there is a relatively simple gateware solution.

Bigger FPGA probably not the way to go (th

[2018-03-12 16:04] sbourdeauducq commented on #947
I can reproduce this bug; interestingly the underflows have positive slack:
[code]

[2018-03-12 16:36] sbourdeauducq commented on #947
Been running for a few minutes without any error - before that commit there was an error every few seconds.

[2018-03-12 16:36] #947 closed

[2018-03-13 10:33] cjbe commented on #947
This works for me - I see no errors over 12 hours.

[2018-03-13 10:56] cjbe opened #955 "Kasli: use default MAC address from EEPROM"
As Kasli v1.1 has an EEPROM with a MAC address pre-programmed, it would be nice if the default MAC address was read from this.

[2018-03-13 10:57] hartytp commented on #955
:+1:

[2018-03-13 13:15] jordens commented on #955
Yeah. Maybe a nice tweak. But you still need to set all kinds of other information. And commissioning Kasli is more than that. Write the FT4232H eeprom with the serial number and correct settings, set the writable part of the eeprom, commission the other devices on the tree.

[2018-03-13 14:26] #953 closed

[2018-03-13 14:32] mingshenli opened #956 "the kc705 board can not be found through Internet"
![image](https://user-images.githubusercontent.com/35680445/37347787-9569adc6-270d-11e8-9d97-d0ddb891131a.png)
and when I ping the IP address, it reply that 'Unable to access the target host '
I have set the IP address using `artiq_mkfs flash_storage.img -s mac 00:0A:35:03:33:45 -s ip 192.168.1.170
`and ` artiq_flash -t kc705 -m nist_clock -f flash_storage.img proxy storage start` successfully.

[2018-03-13 14:41] cjbe commented on #956
@mingshenli you can debug this by checking the following:
* The network parameters are correct, i.e. the KC705 is on the same subnet as your computer
* Your computer is connected to the KC705 by a switch / hub that you manage (i.e. not someone elses switch that is filtering out your traffic)
* The KC705 is booting properly, and the configuration is correct - use flterm on the appropriate USB port

[2018-03-13 14:50] mingshenli commented on #956
the IP address is corect and hub is fine too.  What is 'use flterm on the appropriate USB port' means and how to make sure that 'The KC705 is booting properly, and the configuration is correct '?

[2018-03-13 15:08] cjbe commented on #956
If you run `python -m serial.tools.list_ports -v` you should see an entry `CP2103 USB to UART Bridge Controller` - this is the KC705 serial terminal. If you don't see this, make sure you have a USB mini cable connected to the UART port on the KC705, and that the driver is installed (https://www.silabs.com/products/development-tools/software/usb-to-uart-bridge-vcp-drivers)

For me, on Linux, it is

[2018-03-13 15:10] mingshenli commented on #956
ok,I will have a try, thanks.

[2018-03-13 17:46] whitequark commented on #845
@kesht123 It seems highly likely that the recent liteeth fix would solve this issue. Can you please upgrade to the latest release in 3.x series (or master) and retry?

[2018-03-13 18:17] cjbe commented on #940
With the below experiment (which runs for a while and then underflows) I see the error once every 5 or so runs. There is no startup or idle kernel, and there are no errors in the core log. I am using Artiq 2edf65f57b86fa9797d5f9cb300191cec31e50ba.

[code]

[2018-03-13 18:59] cjbe opened #957 "Kasli v1.1 I2C error on reset"
Using a Kasli v1.1 with a derivative of DRTIO satellite gateware from 2edf65f57b86fa9797d5f9cb300191cec31e50ba, I see the following error every 1 in ~10 resets:

[code]

[2018-03-13 19:44] cjbe opened #958 "DRTIO Master-Satellite fine timing alignment on Kasli"
Using a Kasli master and satellite based off 2edf65f57b86fa9797d5f9cb300191cec31e50ba, I see that the timing of SERDES outputs on the satellite relative to the master changes over restarts across a window of 8ns.

The phase relationship of the master and satellite si5234 outputs stays the same over restarts.

If I replace the serdes outputs with ttl_simple outputs, the timing alignment does *not*

[2018-03-15 09:14] sbourdeauducq opened #959 "flterm broken on windows"
indentation issue with args

[2018-03-15 09:16] sbourdeauducq opened #960 "board packages no longer installable on windows"
They are linux64 and not noarch anymore.

[2018-03-15 09:52] sbourdeauducq commented on #956
Went there and fixed it.

[2018-03-15 09:52] #956 closed

[2018-03-15 11:01] JKiethe opened #961 "o1rk-linux-ld cannot open output file"
directory exists
user can write to directory

[code]

[2018-03-15 11:05] JKiethe commented on #961
(filed for @jordens)
@whitequark any idea?

[2018-03-15 12:10] sbourdeauducq commented on #959
https://github.com/m-labs/misoc/commit/103bb3a8421852d486e6e48477634967aea293c8

[2018-03-15 12:19] sbourdeauducq commented on #935
No, it doesn't.

[2018-03-15 12:20] sbourdeauducq commented on #935
Still happens with binutils-or1k-linux 2.27 5.

[2018-03-15 17:44] jordens commented on #961
Potentially #935

[2018-03-15 20:57] whitequark commented on #935
No, it doesn't. I have provisioned a completely fresh Windows machine just now and installed only the binutils-or1k-linux package, and it doesn't crash because of `cygwin1.dll`:
![screenshot_20180315_205616](https://user-images.githubusercontent.com/54771/37490750-77a85ecc-2893-11e8-9527-45190a263e08.png)

[2018-03-15 20:57] #935 closed

[2018-03-15 21:02] whitequark commented on #961
@jordens Unlikely, this is probably caused by the 8.3 path: `C:\Users\MULTI-~1\...`

[2018-03-15 22:21] #961 closed

[2018-03-15 22:24] whitequark commented on #935
And I can actually `artiq_compile` code with these binutils.

[2018-03-15 23:17] #960 closed

[2018-03-16 01:27] sbourdeauducq commented on #935
Well @mingshenli does have a Windows machine on which this package is installed, and ``ld`` fails due to missing cygwin1.dll. Interestingly, this only happens when the experiment is run by the master, ``artiq_run`` and ``artiq_compile`` are working correctly. I thought ``ld`` was now completely independent from cygwin?

[2018-03-16 01:41] sbourdeauducq commented on #935
Though that behavior may be due to the ``cygwin1.dll`` he put in the device db directory as a workaround.

[2018-03-16 01:52] sbourdeauducq commented on #935
@mingshenli To double-check: can you activate the artiq conda environment, go to ``d:\artiq1`` and run ``or1k-linux-ld --version``?

[2018-03-16 05:12] whitequark commented on #935
It is completely independent from cygwin. It is compiled as a MinGW application, which means it's windows native. What you're describing seems like the result of master being run from a different conda environment with older binutils package.

[2018-03-16 05:52] mingshenli commented on #935
yes, I find the or1k-linux-ld.exe and run it, but failed because " the cygwin1.ddl can not be found."

[2018-03-16 05:54] whitequark commented on #935
This must be an old conda package. If all else fails, you can remove your entire conda install and start over.

[2018-03-16 06:24] sbourdeauducq commented on #935
@whitequark same conda environment that makes artiq_run work.

[2018-03-16 06:27] whitequark commented on #935
Is there another miniconda installation in PATH?

[2018-03-16 08:13] mingshenli commented on #935
Now it seems work.

[2018-03-16 09:06] sbourdeauducq commented on #935
@mingshenli Still, what is the output of ``or1k-linux-ld --version``?

[2018-03-16 09:16] mingshenli commented on #935
nothing happened after I run `start C:\ProgramData\Anaconda3\envs\artiq-3.5\bin\or1k-linux-ld.exe `  except a cmd window flash.
I only have those on  my computer.
![qq 20180316172049](https://user-images.githubusercontent.com/35680445/37512649-b77fee34-293d-11e8-87d0-a37e7b9e2302.png)

[2018-03-16 09:18] sbourdeauducq commented on #935
Please follow the instructions carefully:

Do this in an already open cmd window.

[2018-03-16 12:15] mingshenli commented on #935
do as  follow?

 `activate artiq-3.5`
`cd D:\artiq1`
`or1k-linux-ld --version`

[2018-03-16 12:44] sbourdeauducq commented on #935
Yes.

[2018-03-16 12:45] mingshenli commented on #935
but it didn't work because 'or1k-linux-ld --version' is not a command or file

[2018-03-16 12:47] sbourdeauducq commented on #935
Strange, if you see this screenshot it works:
https://github.com/m-labs/artiq/issues/935#issuecomment-373520539

[2018-03-16 12:50] mingshenli commented on #935
is it have any influence on  running  `artiq_run` or other command uploading the python file to the kc-705 board?

[2018-03-17 12:06] whitequark commented on #957
I've did some investigation. Reinitializing Si5324 in a loop never results in stuck SDA. Neither does rebooting the board in a loop when done at safe points, i.e. when there is no I2C communication. As far as I can tell, what's happening is, when the I2C bus is not properly reset, such as if abruptly resetting the core device, the slave doesn't see any SCL pulses and holds SDA low.

PCA9548 has a

[2018-03-17 12:12] jordens commented on #957
Try doing a bunch of SCL cycles (with SDA deasserted) as initialization. Unless there is a hardware issue pulling SDA/SCL this will recover it.

[2018-03-17 12:37] sbourdeauducq commented on #957
We have those boards out there right now, so whatever technique is implemented has to work without the hardware reset. Are there any ill effects from using SCL pulses when SDA is stuck instead of a dedicated reset anyway? We are initializing the I2C switches and resetting the Si5324 afterwards.

[2018-03-17 12:49] sbourdeauducq commented on #957
The dedicated hardware reset would also be partial anyway unless we connect a reset line to every I2C slave.

[2018-03-17 12:59] whitequark commented on #957
That's a good point, there's no room on the extension connectors for that anyway.

[2018-03-17 13:31] gkasprow commented on #957
There are pin-compatible MAXIM [chips](https://www.maximintegrated.com/en/products/analog/analog-switches-multiplexers/MAX7358.html) that have bus stuck detection which causes disconnection of problematic branch

[2018-03-17 15:45] jordens commented on #747
No plans yet.

[2018-03-19 06:23] #957 closed

[2018-03-19 13:15] whitequark commented on #919
I've compared migen pin assignment with schematics and everything matches.

[2018-03-19 19:03] jordens commented on #908
Could everyone who currently has access to a board with this issue try the current artiq/misoc/migen with sawg (and otherwise presumed and/or known worst case conditions) and report the console messages? @jbqubit @enjoy-digital @marmeladapk

[2018-03-20 13:52] cjbe commented on #940
@jordens have you managed to reproduce this?

[2018-03-20 16:26] #940 closed

[2018-03-20 16:29] jordens commented on #940
Yes. I added a workaround. The MASTER_RESET pulse leads to the AD9910 not responding every other time that experiment is run (and errors). It is related to the activity after the cpld and dds init and it is also related to the underflow error. The IO_RST pulse is benign but also does not help. I don't understand yet why the AD9910 gets messed up if and only if there is the master reset.

[2018-03-20 16:32] sbourdeauducq commented on #940
The AD9914 on the NIST hardware also gets messed up if you reset it (with the hardware reset pin). Related?

[2018-03-20 16:38] jordens commented on #940
Don't know.

[2018-03-20 16:47] r-srinivas opened #965 "Backup for artiq_dashboard.pyon file"
We are using artiq 2 on Windows and recently encountered a gui crash that made our artiq_dashboard.pyon file blank. That's probably a separate issue that I am still trying to replicate but it resulted in all our information about the gui such as positions of docks and more importantly applet information to be erased.

Fortunately, we had a backup from the previous day so it didn't really cost us.

[2018-03-20 17:42] jordens commented on #965
Writing the new state file should be atomic. And when a file can't be read (but exists) it should not be cleared/overwritten. AFAICT that's the case.

https://github.com/m-labs/artiq/blob/9ad1fd8f25328c35a92e67ceac95c93d6d3dddab/artiq/gui/state.py#L71

https://github.com/m-labs/artiq/blob/9ad1fd8f25328c35a92e67ceac95c93d6d3dddab/artiq/protocols/pyon.py#L213

Unrelated: remind me why you can't upgr

[2018-03-20 17:46] jordens commented on #908
From @enjoy-digital with @hartytp 's board and SAWG. That's just fine.

[code]

[2018-03-20 18:04] enjoy-digital commented on #908
@jordens: i'm doing more tests with @hartytp's board:
- flashed the board with gateware/bootloader that was failing with @hartytp. I'm able to reproduce memtest errors (4 errors for 500 startups).
- flashed the board with last gateware/bootloader (32 bits DRAM), doing startup tests. (no memtest errors on 600 startups for now, i'll stop at 1000 and will have the log if you are interested).

I also

[2018-03-20 19:10] jordens commented on #908
I'd just do the memtests in a loop. That's much faster and it isolates problems. If those work, then there is little left to check (other than the eye location algorithm but i don't see how that could be improved) on that board.

[2018-03-20 20:16] r-srinivas commented on #965
The file got overwritten with a blank file. I forget the error message but it was something along the lines of not being to load a pyon file with null bytes.

We've been trying to finish some experiments and don't really want to refactor code to do the upgrade currently.

[2018-03-20 21:04] jordens commented on #965
I can't see how that could happen given the code. Unless there are hard disk problems or windows was particularly unhelpful. Or if the error causing the generation of a new cleared settings file is somewhere else. But maybe there is some feature that could be added to recover from that.
Also applets should be defined using `ccb`.

Ack. Please let us know if there are other issues preventing you fr

[2018-03-20 21:15] hartytp commented on #908
Great work all! That eye scan looks really good. Given the build-build variations we've seen, it's hard to be 100% sure that this is fixed properly, but that does look extremely encouraging. Will be interested to hear from the other people with Sayma about how this looks on their boards.

I'd be really interested to know which of the recent gateware changes did the trick/what the problem actually

[2018-03-20 21:17] cjbe commented on #908
@hartytp if I understand correctly, with the gateware you were using @enjoy-digital sees ~1% failures - IIRC you were seeing a rate much higher than this (i.e. >90%). Could this difference be a power supply issue at your end?

[2018-03-20 21:27] hartytp commented on #908
@cjbe

Not likely. I'm running by board from a good 5A linear PSU and Sayma only draws something like 1.7A IIRC. I'm using a short cable to connect the PSU to the board and measured the voltage on the PCB to be something like 11.9V (again, from memory, but that was one of the first things I checked when we had issues, having been stung by that before on a different design).

Also, my setup passed

[2018-03-20 21:45] whitequark commented on #908
I've calculated the maximum rated power draw based on the values in the schematics just today. AMC alone is 2.9A and AMC+RTM are 11.5A.

[2018-03-20 22:31] hartytp commented on #908
Thinking about this more, the board where @gkasprow and @marmeladapk carefully verified the PI also showed bad eye scans, which also suggests that this isn't related to the PSU I'm using (we looked into all that carefully before M-Labs started their thorough gateware investigation....)

[2018-03-20 22:43] whitequark commented on #908
If I'm reading it right, the latter. It's a very conservative number, of course, I calculated it while trying to figure out why a power connector burned up in the lab.

[2018-03-20 22:46] hartytp commented on #908
ack.

Well, for a very conservative estimate, that's probably consistent with what I see then. There is a tonne of stuff we're not using (clock mezzanine, ADCs etc). Plus, I think that budgeted for a *lot* of power consumption in the AFEs, which I don't even have atm. Good reminder though to keep an eye on this once we start plugging more things into Sayma.

[2018-03-21 04:26] sbourdeauducq opened #966 "inconsistent serwb behavior when RTM FPGA is not loaded"
Sometimes when the RTM FPGA is not loaded and the AMC starts, it prints several times:
[code]
and sometimes it just waits for it to be loaded. Why are there those two different behaviors at random?

[2018-03-21 04:31] sbourdeauducq opened #967 "fix/simplify serwb clocking"
The serwb clocking is needlessly complicated (too many clock domains) and precludes the use of Xilinx-recommended clocking schemes for the IOSERDES:
https://www.xilinx.com/support/documentation/application_notes/xapp1324-design-selectio-component-primitives.pdf
https://www.xilinx.com/support/answers/67885.html

I suggest the following:
* move all clocking (MMCMs etc.) out of serwb, make them part

[2018-03-21 04:40] sbourdeauducq commented on #925
I suggest focusing 4.0 on supporting the new hardware - there are enough issues with it already and this compiler change doesn't seem simple. Let's move it to 5.0?

[2018-03-21 08:14] enjoy-digital commented on #908
With @hartytp AMC (no RTM) and last gateware/bootloader i get:
- 32 bits ddram: no calibration/memtest error on 1000 consecutive startups.
- 64 bits ddram: no calibration/memtest error on 1000 consecutive startups.
I'm now going to test continuous memtests with the 64 bits ddram gateware.

[sayma_hartytp_ddram_startup_test.zip](https://github.com/m-labs/artiq/files/1832424/sayma_hartytp_ddram_star

[2018-03-21 13:36] jordens commented on #687
Sampler is done. 97918447a3426c39f23d3766049c7fb644c0a33e

[2018-03-21 16:18] enjoy-digital commented on #908
@hartytp: your board has been running memtest (64 bits ddram) continuously today without errors (>8h).
It would be good to have results from @marmeladapk and @jbqubit to know if all boards are now working correctly. (building also things on their side if possible to be sure results are the same between builds, if it's too long to rebuild, i can provide the bistreams) Do you want i send your board

[2018-03-21 21:51] hartytp commented on #908
@enjoy-digital feel free to hang on to that board a bit longer if it helps - I have to work on other things for the next week or so.

Id still be interested to know which of the gw changes fixed this issue.

[2018-03-22 03:17] #959 closed

[2018-03-22 07:44] sbourdeauducq commented on #845
Please upgrade to 3.6 and reopen if the problem persists.

[2018-03-22 07:44] #845 closed

[2018-03-22 07:46] sbourdeauducq commented on #958
@cjbe Does it work correctly now?

[2018-03-22 08:01] sbourdeauducq commented on #951
I don't see those (nor do I see something in the code that could cause them - we also use that local CLKB inversion for the SDRAM PHY on Kasli and this is the correct way to do it AFAIK). @hartytp what Vivado version are you using? 2017.4 here.

[2018-03-22 08:11] cjbe commented on #958
I tested ce2b5a97cba06cb3c4b1d869ae116fbe5702a934 - this did not fix the issue.
I could not see any relevant commits since then.

[2018-03-22 08:31] sbourdeauducq commented on #958
I suppose that you tested between a SERDES TTL on the master and a SERDES TTL on the satellite, correct?

[2018-03-22 09:01] cjbe commented on #958
@sbourdeauducq correct

[2018-03-22 09:21] #927 closed

[2018-03-22 09:45] sbourdeauducq commented on #958
The satellite was resetting the SERDES, but the master was not (this may also cause problems on non-DRTIO targets). Hopefully fixed now!

[2018-03-22 11:42] marmeladapk commented on #908
@jbqubit has (or will soon get) one of our Saymas which had worse results. Our second Sayma is in use by wizath at the moment (he's working on MMC).

[2018-03-22 12:26] mingshenli opened #968 "the kc705 board memory bar may be broken"
the kc705 board can not function and it is believed that the memory bar is broken. However, we change a new 2G memory but it still can not be connect. @sbourdeauducq

the above is new and below is the original one.
![477780476110960315](https://user-images.githubusercontent.com/35680445/37770269-d06273ba-2e0e-11e8-9da6-58ef940234de.jpg)

![538664690862815004](https://user-images.githubusercontent.

[2018-03-23 03:15] jbqubit commented on #908
Built from master with SAWG. Loaded onto board that I've had for many months -- not the one that @marmeladapk mentioned is in the mail.
[code]

[2018-03-23 03:21] jbqubit commented on #908
In subsequent load.... success.

[code]

[2018-03-23 08:02] sbourdeauducq commented on #950
Reproducible on the SYSU target. An idle kernel does not appear to be necessary; I can make the error appear by interrupting one regular kernel with another regular kernel (e.g. running ``artiq_run`` while another instance was already running).

[2018-03-23 08:03] sbourdeauducq commented on #950
KC705 is also affected.

[2018-03-23 08:15] sbourdeauducq commented on #950
I guess what happens is simple: there are events programmed far into the future by the first kernel (since the LED frequency is low). When the second kernel takes over, the value of ``now_mu`` given by ``break_realtime`` is the value of the RTIO counter plus some delta, which is less than the timestamp of some already programmed events.

We should be able to fix that either:
* by querying the RTIO

[2018-03-23 08:26] whitequark commented on #950
Or just maintaining a counter somewhere in the runtime that records the maximum timestamp seen.

[2018-03-23 08:31] sbourdeauducq commented on #950
No, the runtime is slow enough already, and this would not work with DMA.

[2018-03-23 09:10] jordens commented on #950
Pinning the timestamp (`now_mu`) to the timestamp CSR would also make it survive across kernel evictions/crashes.

[2018-03-23 09:26] sbourdeauducq commented on #950
The timestamp CSR does not necessarily contain the highest value submitted.

[2018-03-23 09:32] hartytp commented on #951
2017.4 here, although I've subsequently upgraded to 2017.4.1

I haven't rebuilt for a while so those messages may no longer be there.

Once I get my board back from @enjoy-digital I'll rebuild and look at what warnings remain.

[2018-03-23 09:34] sbourdeauducq commented on #950
It might be good enough though (and simple and quite consistent with the current break_realtime behavior within a kernel).

[2018-03-23 09:39] sbourdeauducq commented on #951
According to Xilinx the .1 does not make a difference for Ultrascale.

[2018-03-23 09:40] sbourdeauducq commented on #951
(the one we have at least)

[2018-03-23 09:46] enjoy-digital commented on #908
@jbqubit: thanks for testing.

[2018-03-23 09:49] jordens commented on #950
Yes. Pinning `now` to the CSR might also be a speed advantage (https://github.com/m-labs/artiq/issues/636). The only issue might be atomicity. But it would be an improvement in any case.

[2018-03-23 11:57] whitequark commented on #950
This would work with DMA of course, since the kernel knows how long every DMA trace is already.

Right now LLVM is free to eliminate consecutive loads and stores to `now` with no function calls in between, so this will have to be somehow preserved. I don't think it can do that for an integer cast to pointer. We might need to write a custom LLVM pass. And since the CSR is 64-bit, then every store t

[2018-03-23 12:01] sbourdeauducq commented on #950
The commit part can be done by the gateware when one given 32-bit part of the 64-bit word is written. LLVM would have to know about this, though.

[2018-03-23 12:12] jordens commented on #950
Maybe just use the timestamp csr instead of the global and drop the kernel protocol to store/load now. That would be a start.

[2018-03-23 15:55] cjbe commented on #958
@sbourdeauducq this fixes it. I observe no change in timing alignment between master and satellite serdes outputs over 30 restarts.

[2018-03-23 15:55] #958 closed

[2018-03-24 00:08] jordens commented on #936
Lets try to figure out aravis. I suspect it will work fine. Will build and install the Debian package and then we can give the gobject stuff a spin.
https://ftp-master.debian.org/new/aravis_0.5.11-1.html

[2018-03-24 15:50] jordens commented on #687
Zotino done as well a992a672 up to a20dfd9c

[2018-03-24 15:50] #687 closed

[2018-03-26 15:26] hartytp commented on #908
Is there anything else to do here, or can we close this (we can re-open if the issue resurfaces)? AFAICT, the eye scans now look good on all boards that we have access to.

Did you plan to track down which commit/change fixed this problem for future reference? Or, is it not worth the hassle?

[2018-03-26 15:27] hartytp commented on #967
What's the timeline for this? If the mem test now works, the SER WB is the main source of unreliability on Sayma from the ARTIQ side of things AFAICT. It would be great to have this working more robustly.

[2018-03-26 17:10] enjoy-digital commented on #967
@hartytp: i'll work on that on wednesday.

[2018-03-26 17:42] jbqubit commented on #908
Seems like adding a unit test based on the eye-diagram would be a good measure. Especially in light of recent experience that modifying other parts of the UltraScale gateware (eg SAWG) can impact SDRAM timing.

[2018-03-27 06:37] sbourdeauducq commented on #908
The bootloader memory test is now extended, which should catch more subtle problems.

Let's do this once we are absolutely certain that it works correctly on all boards with the current code. Otherwise, if we change the code there, we're adding more loose screws.

[2018-03-27 06:37] #908 closed

[2018-03-27 06:38] sbourdeauducq commented on #854
@jbqubit @gkasprow (@hartytp when you get it back) Any luck with ARTIQ Ethernet on your boards? Can we close this?

[2018-03-27 09:14] sbourdeauducq opened #970 "Vivado outputs garbled message - memory corruption?"
* Download https://m-labs.hk/sayma/vivado_6040.zip (this is the Verilog for Sayma AMC with SAWG)
* Run ``bash build_top.sh``
* Vivado produces the following message
[code]

The name of the register is obviously incorrect and varies between runs, which can be a sign of memory corruption that might have more serious effects.

[2018-03-27 09:17] sbourdeauducq commented on #951
https://github.com/m-labs/artiq/issues/970 - reporting to Xilinx.
Other messages are fixed or not a cause for concern.

[2018-03-27 09:17] #951 closed

[2018-03-27 16:14] cjbe opened #971 "core.reset() touches phy state"
Calling core.reset() resets the direction of all InOut TTLs to inputs - previously the phy state has been untouched by core.reset().

Observed using a Kasli and Artiq 1553fc8c7df7150c00ce853dea71fc6840606f7e

[2018-03-27 17:38] jordens commented on #971
To be clear, those are SERDES TTLs? Or simple TTLs?

[2018-03-27 17:39] cjbe commented on #971
@jordens I observe this on SERDES TTLs, I have not tried this on simple TTLs

[2018-03-27 19:45] jbqubit commented on #854
I've not been able to reproduce. Here's what I've done.
- White wire modifications [here](https://github.com/sinara-hw/sinara/issues/484)
- USB-powered https://github.com/sinara-hw/sinara/wiki/SATA-SFP
    - dip switches: 1234 = 0100
    - attached to SATA PORT0
    - Sayma on bench top
- Using an SFP setup that lets me ping Kasli so its unlikely it's an SFP, switch or firewall problem

[2018-03-27 20:34] gkasprow commented on #854
What SFP-RJ45 module did you use?

[2018-03-27 22:03] jbqubit commented on #854
Link light on network switch is on.

I've tried two configurations that work with Kasli:
- SFP-GB-GE-T 1000BASE-T (SFP-RJ45 to copper to RJ45-SFP to SFP slot on switch)
- [this](https://github.com/sinara-hw/sinara/wiki/SFP#core-device-to-ethernet-switch) configuration

[2018-03-28 01:52] sbourdeauducq commented on #854
How did you test?
What is on the Sayma serial console?

[2018-03-28 02:07] sbourdeauducq commented on #970
Without mor1kx dependency: https://m-labs.hk/sayma/vivado_6040_nomor1kx.zip

[2018-03-28 02:51] #971 closed

[2018-03-28 17:18] sbourdeauducq commented on #891
This patch makes it pass timing on both opticlock and sysu variants:
[code]

* We do not use interrupts in ARTIQ, though other MiSoC designs might, so that needs to be parameterizable.
* We do not use the FFL1 instructions anywhere.
* We use the atomic instructions (l.lwa, l.swa) but I cannot see why the runtime requires them. @whitequark can we get rid of them?
* There is a performance penalty as

[2018-03-28 17:31] sbourdeauducq commented on #891
Unfortunately, it is very difficult to meet timing.

[2018-03-28 17:32] sbourdeauducq commented on #891
Where and how would you use interrupts exactly?

[2018-03-28 18:10] jordens commented on #891
MiSoC UART and Timer had interrupts. https://github.com/m-labs/misoc/blob/3388e6ba70545c77b399ced30ca9b9536963a44f/misoc/integration/soc_core.py#L109

[2018-03-28 19:21] jbqubit commented on #854
I've added the SFP-GB-GE-T p/n to the wiki: https://github.com/sinara-hw/sinara/wiki/SFP#other-configurations.

Ping from ARTIQ master running on Linux. I can ping a Kasli on same network switch.

[code]

[2018-03-29 01:35] sbourdeauducq commented on #854
Likely the board is not receiving any packets at all, enable net_trace to make sure.
Check your rework.
Check the SATA connection and that the link is detected by the Sayma.
Try other switches; the PHY on Sayma is picky and also likes to drop packets with some switches as I mentioned before.

[2018-03-29 01:58] whitequark commented on #891
We do actually have them enabled in the compiler, and I vaguely recall LLVM taking advantage of them for some RTIO-related computation, but these can be easily turned off as LLVM has a (reasonably slow) software fallback.

`l.lwa` and `l.swa` are not *just* atomic instructions, but they are LL/SC instructions. Aligned atomic loads are translated into `l.lwz` and aligned atomic stores into `l.sw`.

[2018-03-29 13:23] sbourdeauducq commented on #636
@jordens Do you confirm that a 8-bit address is still sufficient for SAWG and all foreseen needs?

[2018-03-29 13:24] sbourdeauducq commented on #636
@whitequark What do you think of ``now`` pinning to the CSR with atomicity implemented in gateware by committing the value when the 32 least significant bits are written?

[2018-03-29 14:32] jordens commented on #636
I don't see anything that would need more than 8 bit address space.

[2018-03-29 15:36] jbqubit commented on #919
@sbourdeauducq Did you try to trick that @gkasprow suggested on Feb 9? What is scope of IO error for Slots 3 and 4? Single IO line or all the IO lines?

[2018-03-29 15:41] sbourdeauducq commented on #636
Are bus errors working correctly with mor1kx and do they result in exceptions that can be traced?

[2018-03-29 15:45] whitequark commented on #636
IIRC, bus errors work properly but only on writes, on reads error cycles are silently ignored.

On March 29, 2018 11:41:12 PM GMT+08:00, "Sébastien Bourdeauducq" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-03-29 15:46] sbourdeauducq commented on #636
OK, that would be acceptable.

[2018-03-29 15:55] whitequark commented on #636
This needs to be rechecked before committing to this implementation though, it was a while ago when I looked at it.

[2018-03-29 15:57] enjoy-digital commented on #967
@sbourdeauducq: i just want to check things with you before implementing:
- serwb_serdes_20x_clk would be sys4x_clk
- serwb_serdes_5x_clk would be sys_clk
- serwb_serdes would be removed, we would use sys_clk with stb/ack dataflow control.

If so, should i keep specific serwb_serdes clock domains (ie serwb_serdes_4x/serwb_serdes) or should i use sys4x_clk/sys_clk?

[2018-03-29 15:59] sbourdeauducq commented on #636
Current plan:
* pin ``now`` to the CSR with atomicity implemented in gateware (commit when one given half-word is written, needs LLVM support).
* this also takes care of #950 and obsoletes the ``now`` save/restore mechanism.
* note: modifiying ``now`` will clear the CRI master ``o_data`` register (see comments in ``cri.py``), this should not cause any problem.
* merge address with core/channel to

[2018-03-29 16:15] whitequark commented on #636
Are you sure about this? Without nontrivial work it'll result in redundant reads/writes of `now`.

[2018-03-29 16:17] sbourdeauducq commented on #967
Use sys4x_clk/sys_clk - the Wishbone side is in the sys_clk domain and synchronous to the SERDES.

[2018-03-29 16:19] whitequark commented on #919
@jbqubit I'm working on this. I will check that tomorrow or the next day; so far I've not been able to get any output from DACs whatsoever because of serwb hangs.

[2018-03-29 16:19] sbourdeauducq commented on #636
How bad is the redundancy? Typically a ``now`` modification is followed by a RTIO write.

[2018-03-29 16:20] jbqubit commented on #860
@sbourdeauducq @hartytp What's next step on this? It's one of the last bits to nail down before moving on to next revision of Sayma.

[2018-03-29 16:24] jbqubit commented on #861
For same .bit loaded into RTM and AMC FPGAs sometimes I see varied behavior for repeatedly issuing artiq_flash -t sayma start.
- In some cases configuration happens quickly.
- In some cases configuration attempts exceed 100 before other errors.
- These two cases can be observed in rapid succession with no other changes to setup.

[2018-03-29 16:25] sbourdeauducq commented on #636
And LLVM will not go mad if the memory location doesn't behave like normal memory - the two locations are only updated at once when one of them is written?

[2018-03-29 16:27] jbqubit commented on #801
@jordens What's the status of this?

[2018-03-29 16:27] whitequark commented on #636
If we never treat that location as anything other than `i64*` then LLVM will never write only one half of it. Of course, if you manually cast either half to an `i32*` (which is only possible in Rust) without marking it as volatile then you will get a "miscompilation". The solution is to, well, not do that.

[2018-03-29 16:28] jbqubit commented on #795
@sbourdeauducq Has this been tested on the M-Labs setup?

[2018-03-29 16:43] sbourdeauducq opened #973 "test mor1kx bus error handling"
https://github.com/m-labs/artiq/issues/636#issuecomment-377283395

[2018-03-29 16:53] sbourdeauducq commented on #919
Even with the AMC/RTM combination that I had working? (Florent's AMC and RTM with the resistor in DAC_CLK_N)
Like everything in Sayma, there is a lot of board-to-board variation...

[2018-03-29 16:55] whitequark commented on #919
On that board I got past JESD initialization (unlike with the other AMC), but I think it still hung somewhere.

[2018-03-29 16:56] sbourdeauducq commented on #919
Also I wonder if the RTM connector sometimes make poor contact.

[2018-03-29 16:56] whitequark commented on #919
What's the point in that complicated expensive connector if it doesn't even work well?

[2018-03-29 17:05] sbourdeauducq commented on #919
I'm not sure if it's really a source of problems, just something to check - sometimes, problems disappeared when reconnecting the rtm, but it could have been just chance.

[2018-03-29 17:13] hartytp commented on #919
Although that reminds me that we should fit the guide pun to the boards. @gkasprow can you post one for each Sayma?

[2018-03-29 17:16] hartytp commented on #860
@jbqubit I'll look at it again after Easter.

[2018-03-29 17:17] hartytp commented on #860
Next step is to run Greg's code on my board and see if it works.

[2018-03-29 17:25] gkasprow commented on #860
I ordered the HMC chip long time ago but still didn't get it to my hands.
WIll probably get it next week and do a try.

[2018-03-29 17:29] gkasprow commented on #919
I assembled them on most of the boards.
I still have one or two pieces in my lab. Who else is missing the guiding pun?

[2018-03-29 18:19] dhslichter commented on #636
@jordens just to confirm, the 8-bit address limitation will mean we get max 256 channels on any given DDS or SPI bus?  Does address correspond to branches for SAWG?  I just want to confirm the meanings of core (indicating DRTIO device - e.g. a single Kasli or Sayma), channel (a single RTIO channel on that core, e.g. a TTL or a DDS bus or an SPI or a SAWG channel), and address (n/a for TTL, bus add

[2018-03-29 21:47] philipkent opened #974 "String comparisons by value using != on core"
I tried looking around to see if this was covered in an earlier issue but couldn't find any...

On Artiq version 2.4 on windows 64 bit, I have the following experiment:

     from artiq.experiment import *

     class StrComp(EnvExperiment):

         def build(self):
             self.setattr_device('core')

         @kernel
         def run(self):
             if 'a' != '':
                 prin

[2018-03-30 01:58] sbourdeauducq commented on #636
No, the address is internal to the RTIO PHY; for example for TTL PHYs there is one address to set the direction and one to set the level when the direction is output, for SPI PHYs there is one address for the SPI data and another one for configuring the bus, etc.
There is no direct mapping between the RTIO addresses and the number of devices downstream the PHY.

With the new scheme, a RTIO transac

[2018-03-30 03:46] sbourdeauducq commented on #919
@whitequark I suspect your problems are due to incompatible or outdated RTM gateware. I just updated everything and it worked. The RTM gateware that you had loaded into the board was quite old.
[code]

[2018-03-30 08:11] whitequark commented on #919
@sbourdeauducq No, I've built the gateware for the master branch at the time when I was testing after you told me that it was too old. Seems like random breakage.

[2018-03-30 08:18] whitequark commented on #974
Seems like a bug.

[2018-03-30 08:32] whitequark commented on #965
@jordens According to a Microsoft employee Windows provides no guarantees of atomicity for `MoveFile`/`MoveFileEx` (what Python uses for `os.replace` on Windows), see [this](https://social.msdn.microsoft.com/Forums/windowsdesktop/en-US/449bb49d-8acc-48dc-a46f-0760ceddbfc3/movefileexmovefilereplaceexisting-ntfs-same-volume-atomic?forum=windowssdk#a239bc26-eaf0-4920-9f21-440bd2be9cc8).

[2018-03-30 09:01] whitequark commented on #667
Before:

[code]

After:

[code]

[2018-03-30 14:26] dhslichter commented on #636
@sbourdeauducq ack, thanks.

[2018-03-30 15:34] whitequark commented on #636
@sbourdeauducq What do you think about mapping the RTIO registers to OR1K SPRs? I've just thought of a good way to expose those to LLVM; we can add a new address space so that accesses to SPRs are just pointer accesses and most optimizations still apply to them.

[2018-03-30 15:36] sbourdeauducq commented on #636
Why does that help, single-cycle access? What kind of interface would that have? Wouldn't that cause problems with ``now`` pinning? Wouldn't that cause timing issues in the FPGA? Also that contributes to breaking compatibility with other CPUs. Is it really worth it?

[2018-03-30 15:41] whitequark commented on #636
Yes.

Interface where? To software? More or less the same, just use mfspr/mtspr in Rust and slightly different codegen in ARTIQ Python.

Quite the opposite, it will eliminate some inefficiency from `now` pinning (if pinned via the linker all accesses to `now` will still have to go via the GOT offset, which adds a few setup instructions and increases register pressure).

I think you have more insig

[2018-03-30 15:43] sbourdeauducq commented on #636
Interface to gateware.
How many of those registers can we have anyway? The RTIO data register is quite large.

[2018-03-30 15:45] sbourdeauducq commented on #636
That would shave 4 cycles (32ns) and seems quite complicated to do.

[2018-03-30 15:48] dhslichter commented on #636
It seems to me that ARTIQ is pretty heavily invested in mor1kx, and that changing to a different CPU (even if there were a better option, which it seems at present there isn't) would involve a great deal of work anyway.

[2018-03-30 15:48] whitequark commented on #636
[code]

At least 32K.

[2018-03-30 15:49] dhslichter commented on #636
In my experience this is one of the main pain points for ARTIQ users, and whatever improvements we can squeeze out in a reasonable fashion are really welcome for all users.

[2018-03-30 15:51] whitequark commented on #636
@dhslichter Something you can do to advance this is submit realistic benchmark code that I can profile. There might be inefficiencies that I don't currently expect in different parts of the stack.

[2018-03-30 15:51] dhslichter commented on #636
@sbourdeauducq I assume that the proposals for shaving time off RTIO submissions would also shave time off RTIO retrieval (i.e. from reading timestamps from an input FIFO).  Is this accurate?

[2018-03-30 15:51] dhslichter commented on #636
@whitequark ack, I will send along some code for sideband cooling to give a sense of what we're up against.

[2018-03-30 15:58] sbourdeauducq commented on #636
Not really, apart from ``now`` pinning this only applies to outputs.

Not *that* much, it's basically a bit of system code, the exception handling/unwinder, and dealing with rustc/LLVM breakage that I cannot imagine will miss the opportunity to manifest itself. A lot of things are portable.

@whitequark instead of SPRs, we can maybe do Wishbone combinatorial feedback for writes; would that work (i

[2018-03-30 16:11] sbourdeauducq commented on #919
Problem is not consistent, https://github.com/sinara-hw/sinara/issues/536#issuecomment-377556508
@whitequark Have you reproduced it?

[2018-03-30 16:12] whitequark commented on #636
I don't imagine we're going to migrate to LM32 at this point because of the time investment for the LLVM backend and more importantly the lack of features in the CPU core, so the only option is RISC-V. I've just looked at RISC-V status in LLVM and it's somewhat underwhelming compared to what I expected.

As far as I can tell they have a decently working LLVM backend but very little of it is upstre

[2018-03-30 16:17] sbourdeauducq commented on #636
For inputs, we can shave 1 programming register access, plus another one and (in the fast code path) some tests by using Wishbone bus wait/error states.

[2018-03-30 16:26] dhslichter commented on #636
@sbourdeauducq ack, thanks.

[2018-03-30 16:26] whitequark commented on #919
@sbourdeauducq Maybe I'm doing something wrong but I can't see any output from DACs right now.

[2018-03-30 16:39] whitequark commented on #919
I confirm that on M-Labs Sayma 3 all eight DAC channels have sawtooth output on both P and N SMAs.

[2018-03-30 17:25] jbqubit commented on #919
@whitequark Great! Can you also set RF attenuators and switchs?

[2018-03-30 17:43] whitequark commented on #919
@jbqubit It was too late to check that today, I plan to do it tomorrow.

[2018-03-30 17:48] jbqubit commented on #854
OK. This is what I'm doing.

```artiq_mkfs -s net_trace 1 -s panic_reset 1 -s mac 00:0a:35:03:1e:75 -s ip 192.168.1.75 -f startup_kernel startup_kernel.elf -f idle_kernel idle_kernel.elf sayma.config```

When I ping .1.75 I see no additional output on MiSoC serial.

I did rework on one AMC and @gkasprow did rework on a second AMC. Both look ok by visual inspection.

Yes. LEDs are on.

Link LED on

[2018-03-30 17:50] whitequark commented on #854
`net_trace` printing is unconditional so this conclusively rules out the MAC receiving any packets.

[2018-03-30 21:28] jbqubit commented on #854
This part arrived. All the LEDs on the converter are Illuminated; Lnk/act are blinking.

I added note on LED and dip switch settings to wiki for [SATA-SFP adapter](https://github.com/sinara-hw/sinara/wiki/SATA-SFP). @gkasprow  please check. Here's what LEDs are doing on my board.

LD1 is off indicating SFP module is present
LD2 is on indicating transmitter fault (TX_FAULT) <==== IS THIS A PROBLEM?

[2018-03-30 21:32] jbqubit commented on #854
I've also looked with wireshark for the IP and MAC address of the Sayma board.

[2018-03-31 00:01] sbourdeauducq commented on #854
mmc firmware?

[2018-04-01 03:04] sbourdeauducq commented on #636
Currently, RTIO CSR writes go through the write buffer, and each <=32-bit write takes 2 cycles to complete, which (thanks to the write buffer) is done in parallel with the CPU preparing the next operation.

The problem with this scheme is, write error exceptions become asynchronous (raised some instructions after the write), so race conditions can occur. For example, a RTIOUnderflow can potentiall

[2018-04-01 03:06] sbourdeauducq commented on #636
Maybe the best solution is to dig into the CPU pipeline and implement custom instructions for RTIO operations. But that's significantly more complicated than the other optimizations proposed here.

[2018-04-01 03:27] sbourdeauducq commented on #636
Such instructions, on the other hand, could be pretty fast. With optimized assembly (the production of which by the compiler is another issue), producing a square waveform on a TTL would be something like (@whitequark correct me if I am wrong):
* increment 64-bit timestamp: 2 cycles
* invert level (RTIO data): 1 cycle
* wait for the data to be available in the CPU pipeline: 3 cycles
* RTIO write:

[2018-04-01 07:49] sbourdeauducq commented on #636
I know, but I think it's marginally faster than reading the status register and a lot more complicated.

[2018-04-01 15:32] sbourdeauducq commented on #891
With LM32 and without any special care: opticlock, sysu and satellite meet timing easily. The DRTIO master fails timing (a bit inexplicably) in the RTIO core, by 24ps for the worst path.

[2018-04-01 15:56] whitequark commented on #891
Okay. Do you want me to prototype an LM32 backend in my free time? I'm mildly interested in that.

On April 1, 2018 11:32:47 PM GMT+08:00, "Sébastien Bourdeauducq" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-04-01 17:44] whitequark commented on #973
Since we know these exceptions are not immediate, does this still require testing on actual gateware?

[2018-04-01 23:21] sbourdeauducq commented on #973
No.

[2018-04-01 23:21] #973 closed

[2018-04-01 23:32] joeshardow opened #975 "not any files are installed when install artiq-3.6 version"
![20180402 artiq3 6](https://user-images.githubusercontent.com/31177110/38178549-d0c1b802-3647-11e8-98d5-6f25656c2aaf.jpg)
![20180402 artiq3 6 2](https://user-images.githubusercontent.com/31177110/38178550-d117415a-3647-11e8-9b64-831eb44e1ad0.jpg)
There are not any files when i install artiq 3.6. How can I build a normal environment?

[2018-04-01 23:55] whitequark commented on #975
You also need to install the `artiq` package.

[2018-04-02 00:02] joeshardow commented on #975
How to install artiq package now? The command "conda create -n artiq-main artiq-kc705-nist_clock"  is install everything before.

[2018-04-02 00:18] whitequark commented on #975
`activate artiq-main` then `conda install artiq`

[2018-04-02 04:35] sbourdeauducq commented on #919
@whitequark Any update?
When I reported this issue I wanted to have one Allaki on the first DAC chip and another on the second DAC chip, to test DAC synchronization. Are you able to get outputs from both DACs using two Allaki?

[2018-04-02 04:39] whitequark commented on #919
Not yet.

[2018-04-02 13:30] jbqubit commented on #919
@whitequark What exactly are the steps you've done to test on your board?

[2018-04-02 13:40] hartytp commented on #967
What's the status of this? It's been a while since the SDRAM was fixed, and I'd love to have a version of Sayma I can actually use.

[2018-04-02 17:00] enjoy-digital commented on #967
@hartytp: yes sorry, i started working on that but need to test and commit.

[2018-04-02 18:04] jbqubit commented on #854
I've tried using two network switches so far.
- sf.com S1130-8T2F
- Linksys WRT 1200AC

@sbourdeauducq @gkasprow What switchs are your labs using?

@gkasprow What is current thinking on 'pause' issue with some Ethernet switches? Is there an MMC patch that's been tested on a switch that elicits the pause behavior?

[2018-04-02 18:28] jbqubit commented on #854
I've also tried using an AMC delivered last week from WUT that has a very recent version of Open MMC firmware. And the Ethernet white wire was added by WUT.

[2018-04-03 01:03] sbourdeauducq commented on #854
I have never tried this openmmc firmware with Ethernet, and considering how everything goes with Sayma in general and the MMC in particular it is safe to assume it is broken. Please use the same firmware as me.
How are the link leds on the switch and sayma sides?

[2018-04-03 01:06] sbourdeauducq commented on #970
According to Xilinx tech support:
"The messaging bug in Vivado 2017.4 only affects the message itself, and not the resulting netlist coming from it. The netlist will be correct. The issue is due to the message receiving the pointer for the actual name, rather than just the actual name of the register, which is why the message looks so garbled. As Marc mentioned, this is corrected in the upcoming 2

[2018-04-03 01:06] #970 closed

[2018-04-03 01:17] sbourdeauducq commented on #854
Also, look at the RX clock (the reworked signal) with a scope.

[2018-04-03 01:19] sbourdeauducq commented on #854
Wireshark is not helpful, the board needs to receive a packet before it sends any. Use net_trace as advised.

[2018-04-03 03:09] sbourdeauducq commented on #919
@whitequark ping.

[2018-04-03 06:29] #891 closed

[2018-04-03 06:29] sbourdeauducq commented on #891
https://github.com/sinara-hw/sinara/issues/499#issuecomment-378141094

[2018-04-03 06:33] sbourdeauducq commented on #975
@whitequark Is there a problem with the dependency of the board packages?

[2018-04-03 06:35] sbourdeauducq commented on #860
@hartytp As I understand, this is blocked by you not having a board currently? @enjoy-digital do you still need it?

[2018-04-03 07:42] hartytp commented on #860
@sbourdeauducq atm there are a few things blocking this from my end:
- my board hadn't arrived yet because our department has been shut for Easter.
- last time I worked on the hmc830 frequent serwb crashes wasted a lot of my time. As it seems that serwb should be relatively quick to fix id rather wait for that to be done first
- Greg had some problems with the hmc830 on one of his boards, which he

[2018-04-03 07:43] cjbe opened #976 "Duplicate imports of experiments with identical module name"
If an experiment repository contains modules with the same name, the experiments in all previously imported modules of the same name appear under the path for the currently imported module.

E.g. if scanning a repository:
[code]
in the repository explorer the folder `a` would contain the experiments from `a/x.py`, the `b` directory
 would contain `a/x.py` and `b/x.py`, and `c` `a/x.py`, `b/x.py`,

[2018-04-03 07:45] sbourdeauducq commented on #975
@whitequark Can be reproduced (on Linux); the board package no longer installs artiq.

[2018-04-03 12:14] mingshenli opened #977 "the dashboard raise error"
I open the dashboard as the documentation  says, and successfully makes it print ''hello world''
![qq 20180403200814](https://user-images.githubusercontent.com/35680445/38248156-0cb4d6d6-377a-11e8-8692-e40a8ae0d214.png)
however, when I create a file which hope the ttl windows on dashboard will react,(the file is in `~/artiq-master/repository` )
![qq 20180403200144](https://user-images.githubuserco

[2018-04-03 12:24] mingshenli commented on #977
ok. I will have a try. thanks

[2018-04-03 12:42] mingshenli commented on #977
no, now there is error
![qq 20180403204312](https://user-images.githubusercontent.com/35680445/38249645-f6d3af9a-377e-11e8-9d3d-72896f7148bc.png)
the`MgmtTutorial1` is the name it changed  from`rtio.py`, and `Mgmt_Tutorial.py`  is the name of the file I use to test the dashboard(print `hello world`)
and, can the dashboard function without the kc705 been connected through internet?

[2018-04-03 12:44] sbourdeauducq commented on #977
Right-click on the experiment list in the explorer and trigger a rescan.

Yes.

[2018-04-03 12:49] mingshenli commented on #977
it still raise the same error

[2018-04-03 12:51] sbourdeauducq commented on #977
Please post detailed steps explaining how I can reproduce the problem.

[2018-04-03 12:55] hartytp commented on #967
@sbourdeauducq With the caveat that I'm not aware of the precise details of any of the relevant contracts, and with apologies if this is treading on peoples' toes here, but...

If @enjoy-digital isn't able to complete this work in a reasonably timely fashion, can you take it over, please?

The impression I get is still that @enjoy-digital isn't able to put serious time into getting Sayma to work (

[2018-04-03 13:01] mingshenli commented on #977
after open the dashboard, and the cmd windows is same as upon pictures shows,
![10](https://user-images.githubusercontent.com/35680445/38250624-d88c8ba8-3781-11e8-8ee0-e7c825a1cf2b.png)

I click `scan repository HEAD`
because it says `Renaming class 'MgmtTutorial' in 'rtio.py' to 'Management tutorial1'`, then I chose the
Management tutorial1 and click submit, and then the cmd of artiq_master shows

[2018-04-03 13:04] sbourdeauducq commented on #977
That's not enough for me to reproduce it, e.g. I don't have your experiments. I need detailed instructions that start from a *blank* ARTIQ installation.

[2018-04-03 13:09] mingshenli commented on #977
![qq 20180403211021](https://user-images.githubusercontent.com/35680445/38250967-b29cb020-3782-11e8-940c-5795c5dc2c75.png)
![qq 20180403211409](https://user-images.githubusercontent.com/35680445/38251151-3b5843ca-3783-11e8-8dc8-a05b29c168e6.png)

[2018-04-03 13:20] sbourdeauducq commented on #977
I see three experiments in your screenshot. Are they all needed to reproduce the problem? if yes then I need all three. If no then please delete the other ones and give me minimal instructions.

[2018-04-03 13:21] sbourdeauducq commented on #977
And please post the *text* of experiments, not a screenshot, so I can copy-paste it.

[2018-04-03 13:23] mingshenli commented on #977
the rtio.py:
from artiq.experiment import *

class Tutorial(EnvExperiment):
    def build(self):
        self.setattr_device("core")
        self.setattr_device("ttl0")

    @kernel
    def run(self):
        self.core.reset()
        self.ttl0.output()
        for i in range(1000000):
            delay(2000000*us)
            self.ttl0.pulse(2000000*us)

[2018-04-03 13:24] mingshenli commented on #977
the mgmt_tutorial.py
from artiq.experiment import *

class MgmtTutorial(EnvExperiment):
    """Management tutorial"""
    def build(self):
        pass  # no devices used

    def run(self):
        print("Hello World")

[2018-04-03 13:25] mingshenli commented on #977
and it is strange that I only put these two experiments in repository

[2018-04-03 13:38] mingshenli commented on #977
and, about the problem on ubuntu, I do as the guide says 'making a py35 environment' the same as I do on windows.
![qq 20180403212549](https://user-images.githubusercontent.com/35680445/38251728-da6d28e4-3784-11e8-8bf1-bc81f44d2301.png)

and we have pay the fee for Technical consultation when we buy the sinara

[2018-04-03 13:49] sbourdeauducq commented on #977
What is your email address?

[2018-04-03 13:53] mingshenli commented on #977
limsh9@mail2.sysu.edu.cn

[2018-04-03 14:25] mingshenli commented on #977
no. actually I make a python3.5 environment as the documentation says. should I create a python 3.6 environment use `conda create -n py36 python=3.6 anaconda`?

[2018-04-03 14:26] sbourdeauducq commented on #977
I meant **ARTIQ*** 3.6, not Python 3.6.

[2018-04-03 14:29] mingshenli commented on #977
no, I use artiq3.4. how to update?
![qq 20180403223347](https://user-images.githubusercontent.com/35680445/38255446-5c8ddc5c-378e-11e8-86b4-62c1207d1973.png)
the order can not be used for a long time, says files can not be found.

[2018-04-03 14:40] sbourdeauducq commented on #977
``conda create -n artiq-new artiq=3.6 artiq-kc705-nist_clock=3.6``

[2018-04-03 14:48] mingshenli commented on #977
ok. after installing 3.6 as the order you give,  I will try it on a new version, hoping the new version will solve the problem. the installing will take a long time, I will let you know once I reproduce the step above.
thanks alot.

[2018-04-03 14:48] sbourdeauducq commented on #977
The software also behaves correctly when I make a copy of the experiment ``Management tutorial`` (renames one of them, they both can still run, and there is no bug when rescanning the repository).

[2018-04-03 14:49] sbourdeauducq commented on #977
Also reflash the board after upgrading.

[2018-04-03 14:51] mingshenli commented on #977
ok. hope the upgrading will solve the problem.
thanks.

[2018-04-03 14:52] sbourdeauducq commented on #977
It should fix the cygwin one, but nothing has changed regarding repository management, so I think the experiment name issue will persist.

[2018-04-03 14:55] enjoy-digital commented on #967
Here is what i did:
https://github.com/enjoy-digital/artiq/commit/2e61649ba230aefd788dced5cce21bf1fcc2e5c4
https://github.com/enjoy-digital/artiq/commit/3c02cc5f9eea901d6d58bef88b9e00b2b218ef42
https://github.com/enjoy-digital/misoc/commit/4b460283d6ec2335436c71241e868a6bf42ece3a

I was doing some tests with a simple design but crashed JTAG on sayma3 with CTRL-C...

@sbourdeauducq: can you integra

[2018-04-03 14:57] sbourdeauducq commented on #967
Doesn't @whitequark's usbreset.c work around this bug?

[2018-04-03 15:04] jbqubit commented on #854
@sbourdeauducq Please upload copy of your .hex and I'll give it a try. What Ethernet switch are you using? Is [this](https://github.com/sinara-hw/sinara/wiki/SFP#core-device-to-ethernet-switch) the SFP setup you're using?

On Switch side link LED is on and blinking in response to pings. On Sayma side middle LED of SFP-SATA adapter is illuminated but never flashes.

[2018-04-03 15:06] jbqubit commented on #970
Thanks for tracking this down @sbourdeauducq. Glad the conduit to Xilinx tech support is now open.

[2018-04-03 15:18] enjoy-digital commented on #967
@sbourdeauducq: i'm going to try, can you review the code to tell me if that's what you want?

[2018-04-03 15:18] kesht123 opened #978 "TTL event replacement not working correctly"
I am running the following experiment with gateware and software at commit [f077176](https://github.com/m-labs/artiq/commit/f0771765c17c53ded102d7d06ed09b609b316528), and looking at the SERDES TTL signals 422l and 422u on a scope. Our target is based off the kc705 NIST clock with some additional TTLs

[code]
The expected behaviour is that both the 422u and 422l TTLs should pulse together for 1 ms

[2018-04-03 15:47] jordens commented on #978
Thanks! Also for the clean repro. I think I have seen this as well in December with Kasli. So likely reproduced/ible (back then there were more pressing issues so I didn't isolate it).

[2018-04-03 16:11] sbourdeauducq commented on #854
[mmc.zip](https://github.com/m-labs/artiq/files/1872343/mmc.zip)
I use a SFP-RJ45 transceiver in Greg's board, I don't have the model right now. Media converters are problematic as I posted earlier: https://github.com/m-labs/artiq/issues/854#issuecomment-367624844

[2018-04-03 16:16] jbqubit commented on #854
Is there somebody at your lab that can tell me the model number for the SFP-RJ45 transceiver and Ethernet switch? If I can't reproduce your setup exactly we can't move beyond blaming the parts external to Sayma.

[2018-04-03 16:18] jordens commented on #854
Also try with https://github.com/m-labs/artiq/commit/7afb23e8be261686330586c739bc858669d5c47d reverted to get a bit more info out of the MAC.

[2018-04-03 16:18] sbourdeauducq commented on #854
It's 12.17am in Hong Kong right now, maybe @whitequark is there,
otherwise I'll look tomorrow.

[2018-04-03 17:10] gkasprow commented on #854
I'd like to collect all problematic transceivers to check what is really going on there.
I confirm, fist try to use the old "blinking" MMC firmware.

[2018-04-03 17:13] gkasprow commented on #854
@jbqubit  on Sayma there is LINK LED that should be on.

[2018-04-03 17:13] jordens commented on #854
I don't think that's needed for the tri-mode xceivers. There, we'd probably have to implement/fiddle with autonegotiation.

[2018-04-03 17:18] sbourdeauducq commented on #967
No, that's not what was described here: https://github.com/m-labs/artiq/issues/967#issuecomment-377282994
We should not need a 25MHz clock, or any additional clock for that matter.

What I was thinking was:
* the SERDES is in 8:1 mode and operates at 1Gbps line rate.
* a "gearbox", running at 125MHz, takes 8-bit words from the ISERDES and turns them into 10-bit words (with a strobe signal indicati

[2018-04-03 17:25] sbourdeauducq commented on #967
Do we have a HP or HR bank?
HR is limited to 1.00Gbps. If we have HP, maybe we can instead keep 1.25Gbps, replace that stupid Ultrascale IOSERDES with IODDR (from my experience with RGMII, that one component wasn't lousy with bugs and misfeatures, though there may be surprises at high speeds), and do 5:10 in fabric.
Or even drop the special IOs completely and operate at a speed attainable by the r

[2018-04-03 17:30] gkasprow commented on #860
@hartytp I got the HMC chip on Friday. I will solder it tomorrow and let you know what is going on.

[2018-04-03 20:57] jbqubit commented on #854
Which LED? Does it have a name on layout? Is this on Sayma PCB or on the SATA-SFP?

I understand that everyone has transceivers. I need to know exact part numbers so I can buy to reproduce your setup. Also need to know which Ethernet switch you're using.

[2018-04-03 21:54] gkasprow commented on #854
This is the LINK UP LED (LD6) on Sayma.
The transceiver I use is some  GLC-T Cisco clone ( branded
FT3401 Xgiga) so I cannot guarantee that even original one will work.
The ones I used are based on Marvell  88E1111 chip, but may differ with default pin straps.
Let me play with PAUSE settings, this solved similar issue with media converters in the past.

[2018-04-03 22:04] enjoy-digital commented on #967
I've implemented something and will test it tomorrow.

[2018-04-04 06:31] mingshenli commented on #977
here is every move:
`activate artiq-new`;   `cd C:\Users\18926\AppData\Local\conda\conda\envs\artiq-new\artiq-master`
`artiq_master`;  and open a new cmd, activate the artiq-new, ` cd C:\Users\18926\AppData\Local\conda\conda\envs\artiq-new\artiq-master` ; `artiq_dashboard`

![qq 20180404142418](https://user-images.githubusercontent.com/35680445/38291638-29d3c756-3813-11e8-9591-b273d9f61749.png)
an

[2018-04-04 06:51] sbourdeauducq commented on #977
So, it seems that the first problem you were reporting is resolved: There are no more incorrect names in the explorer, and the experiment starts when you submit it.

The two errors you now have are:
1. the dashboard failing to connect to the core device for moninj (i.e. TTL and DDS panels)
2. the experiment, once started, failing to connect to the core device.

Is the core device (the KC705 board)

[2018-04-04 06:54] mingshenli commented on #977
well, we didn't connect to the kc705(as you said it do not have to)
and the problem is ''get worker exception'', and, the ttl window has no respons

[2018-04-04 06:56] sbourdeauducq commented on #977
What I meant is, if your experiment does not need a core device, then you do not need a core device for the dashboard either. The experiment you are currently running needs a core device.

[2018-04-04 06:57] mingshenli commented on #977
so the dashboard can not simulate the board?

[2018-04-04 07:00] sbourdeauducq commented on #977
There is limited simulation support (see ``artiq/examples/no_hardware/repository/simple_simulation.py``), but no one finds it very useful, so it is not very developed and in particular not integrated with the dashboard.

[2018-04-04 07:02] sbourdeauducq commented on #977
Arguably, blinking the TTL panel when no device is connected and an experiment with the core device is run is not a useful feature.

[2018-04-04 07:03] mingshenli commented on #977
all right, I will get a kc705 and test it.(unluckily I have to wait for few days and that is why I hope the dashboard can simulate the board).

[2018-04-04 07:06] sbourdeauducq commented on #977
Try experiments that do not need the core device and play with the datasets and applets, see e.g. ``artiq/examples/no_hardware/repository/flopping_f_simulation.py``.

[2018-04-04 07:14] mingshenli commented on #977
that seems work well.

[2018-04-04 07:17] mingshenli commented on #977
by the way, where can I find the pin setting in the documentation so that I can know where to use a Oscilloscope to detect the ttl out? Did the documentation online say it?

[2018-04-04 08:15] sbourdeauducq commented on #977
https://github.com/m-labs/artiq/blob/master/artiq/gateware/nist_clock.py
https://github.com/m-labs/artiq/blob/master/artiq/gateware/nist_qc2.py
and the manual.

[2018-04-04 08:16] sbourdeauducq commented on #977
Note that ttl, 0 in nist_clock is not necessarily ttl0 in the device database (check the manual).

[2018-04-04 14:54] cjbe opened #979 "Runtime panic after device has been up for a long time"
I occasionally see runtime panics like the below on Kasli. These only seem to occur after the device has been up for a while (23 hours in this case). At the same time I see some sort of slow-down of the core device - normally the experiment below takes 0.8s to run, just before it crashed it was taking ~5s to run, the majority of which occurred after the "Mismatch between gateware and software" war